/* Resets
========================================================================== */

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, dl, dd {
	@include reset;
}

a {
	text-decoration: none;
}

/* Base styles
========================================================================== */

html, body {
	width: 100%;
	min-height: 100%; 
}

body { 
	height: 100%;
	background: $color-03; 	
}

a {
    @include transition(color, 0.3s, ease-in-out);
}

.wrapper {
	margin: 0 auto;
	max-width: 1320px;
	width: auto;
	padding: 0 20px;
}

.cf {
	&:before, &:after {
		content: '';
		display: table;
		zoom: 1;
	}
	&:after {
		clear: both;
	}
}