/* Header - Top Bar
========================================================================== */

#top-bar {
	background: $color-03;
	padding: 10px 0;
	box-shadow: inset 0px -4px 6px rgba(0,0,0,0.40);
	.wrapper {
		@include flex(row nowrap);
		align-items: center;
		.social-media, .search-bar {
			flex: 1;
		}
		.social-media {
			margin: 0 -4px;
			a {
				&, .custom-icon {
					display: inline-block;
				}
				vertical-align: middle;
				padding: 0 4px;
				.fa, .custom-icon {
					@include transition(all 0.3s ease-in-out);
				}
				.fa {
					color: $color-06;
					font-size: 1.34em;
				}
				.custom-icon {
					height: 20px;
					position: relative;
					top: 3px;
					background-position: center center;
					background-repeat: no-repeat;
					&.goodreads {
						width: 14px;
						background-image: url($images + 'gr-icon-small-pink.png');
					}
					&.library-thing {
						width: 21px;
						background-image: url($images + 'lt-icon-small-pink.png');
					}										
				}
				&:hover {
					.fa {
						color: $color-01;
					}
					.custom-icon {
						&.goodreads {
							background-image: url($images + 'gr-icon-small-white.png');
						}
						&.library-thing {
							background-image: url($images + 'lt-icon-small-white.png');
						}										
					}
				}
			}
		}
		.search-bar {
			font-size: 0.94em;
			text-align: right;
		}
	}
}

/* Header - Main
========================================================================== */

#header {
	background: $color-03;
	height: 320px;
	.wrapper {
		background: url($images + 'muses-header.png') left center no-repeat;
		height: 440px;
		position: relative;
		top: -60px;
		z-index: 1;
		.header-content {
			height: 100%;
			@include flex(column nowrap);
			justify-content: center;
			align-items: flex-end;
			.site-name {
				font-size: 5.0em;
				line-height: 0.75;
				text-shadow: 1px 3px 0 rgba(0,0,0,0.85);
			}
			.site-description {
				font-size: 1.14em;
				text-shadow: 1px 1px 0 rgba(0,0,0,0.85);
			}
		}
	}
}