/* Navigation - General
========================================================================== */

.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Navigation - Main menu
========================================================================== */

#header-nav {
	background: url($images + 'muses-bg.png') 0 0 repeat-x;
	border-top: 1px solid $color-05 + #000;
	border-bottom: 1px solid $color-08;
	font-size: 0.94em;
	.wrapper {
		text-align: right;
		.menu-main-menu-container {	
			display: inline-block;
			position: relative;
			z-index: 2;
			a {
				color: $color-01;
			}	
			.menu {
				@include flex(row wrap);
				border-left: 1px solid $color-05 + #000;
				border-right: 1px solid $color-05 - #222;
				& > li {
					position: relative;	
					border-right: 1px solid $color-05 + #000;
					border-left: 1px solid $color-05 - #222;
					text-align: center;			
					& > a, .toggle-submenu {
						vertical-align: middle;
						&:hover {
							color: $color-07;
						}						
					}
					& > a {
						display: inline-block;
						height: 60px;
						line-height: 60px;
						overflow: hidden;
						padding: 0 20px;
						text-align: center;
						text-shadow: 1px 1px 0 rgba(0,0,0,0.85);						
					}
					&.menu-item-has-children {
						& > a {
							padding: 0 5px 0 20px;
						}
						.toggle-submenu {
							padding: 0 20px 0 5px;
							cursor: pointer;
							@include transition(color 0.3s ease-in-out);
							&:before {
								content: '\f078';
							}
							&.show:before {
								content: '\f077';
							}
						}
					}
					.sub-menu {
						position: absolute;
						top: 60px;	
						left: 0;
						z-index: 3;
						min-width: 200px;					
						background: $color-06;
						padding: 10px;						
						opacity: 0;
						@include transition(opacity 0.3s ease-in-out);
						text-align: left;
						&.show {
							opacity: 1;
						}
						li {			
							a {
								display: block;
								margin: 0 0 5px 0;
								&:hover {
									color: $color-02;
								}
							}
							&:last-child a {
								margin: 0
							}
							ul {
								display: none;
							}
						}											
					}						
				}
			}
		}
	}
}