/* Paths
========================================================================== */

$assets: '../themusescircle/assets';
$fonts: $assets + '/fonts/';

/* Fonts
========================================================================== */

$serif-fb: garamond, times new roman, serif;
$sans-serif-fb: arial, sans-serif;