/* Resets
========================================================================== */

* {
	box-sizing: border-box;
}

/* Base styles
========================================================================== */

html, body {
	width: 100%;
	min-height: 100%; 
}

body { 
	height: 100%;
	background: $color-04; 	
}

img {
	max-width: 100%;
	@include sizing(auto, auto);
}

h1, h2, h3, h4, h5, h6, p, figure, pre, code {
    margin: 0 0 20px 0;
}

ul, ol, dl {
	padding: 0;
	margin: 0 0 20px 40px;
}

pre, code {
	white-space: normal;
	display: block;
	@include font-size(14px);
	font-family: 'Courier New', monospace;
	background: $color-14;	
	color: $color-02;
	border: 2px solid $color-06;
	padding: 20px;
}

blockquote {
	width: 75%;
	margin: 0 auto 20px auto;
	padding: 0 50px;
	font-style: italic;
	position: relative;
	&:before, &:after {
		position: absolute;		
		@include muses-icons(25px);
	}
	&:before {
		content: $icon-quotes-left;
		top: 0;
		left: 0;
	}
	&:after {
		content: $icon-quotes-right;
		right: 0;
		bottom: 0;
	}
}

hr {
	margin: 30px 0; 
	@include sizing(100%, 0);
	border: 0;
	border-bottom: 1px dashed $color-05;
	clear: both;
}

/* WordPress specific (For page/post editor mostly)
========================================================================== */

.wp-caption, .gallery {
	margin: 0 0 20px 0;
	.wp-caption-text {
		font-style: italic;
		@include font-size(14px);	
	}
}

.wp-caption {
	line-height: 0;	
	border: 1px solid $color-05;	
	.wp-caption-text {
		@include muses-bg;
		border-top: 0;
		padding: 10px;
		line-height: 1.5;
	}
}

.gallery {	
	@include flex(row wrap);
	@include muses-bg(true);
	padding: 5px;
	margin: 0 auto 20px auto;
	figure {
		margin: 0;
		.gallery-icon {
			padding: 5px;
			margin: 5px;
			background: $color-12;
			a {
				display: block;
				@include sizing(100%, 0);
				padding: 0 0 100% 0;
				position: relative;
				overflow: hidden;
				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}
			}
		}
		.wp-caption-text {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}
	&.gallery-columns-1 {
		@include gallery-columns(1);
	}
	&.gallery-columns-2 {
		@include gallery-columns(2);
	}
	&.gallery-columns-3 {
		@include gallery-columns(3);
	}
	&.gallery-columns-4 {
		@include gallery-columns(4);
	}
	&.gallery-columns-5 {
		@include gallery-columns(5);
	}
	&.gallery-columns-6 {
		@include gallery-columns(6);
	}
	&.gallery-columns-7 {
		@include gallery-columns(7);
	}
	&.gallery-columns-8 {
		@include gallery-columns(8);
	}
	&.gallery-columns-9 {
		@include gallery-columns(9);
	}			
}

.alignleft {
	float: left;
	clear: left;
	margin: 0 20px 20px 0;
}
 
.alignright {
	float: right;
	clear: right;
	margin: 0 0 20px 20px;
}

.aligncenter {
	display: block;
	margin: 0 auto 20px auto;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

/* Theme shortcodes
========================================================================== */

.clearfix {
	clear: both;
}

.spoiler {
	.spoiler-close, .spoiler-open {
		cursor: pointer;
		font-weight: bold;
	    color: $color-07;
	    @include transition(color 0.3s ease-in-out);
	    &:hover {
	        color: $color-01;
	    }
	}
	.spoiler-hide {
		display: none;
	}	
}

.signature {
	margin: 30px 0;
	overflow: hidden;
	.signature-wrapper {
		background: url($images + 'textured-bg.png') center center no-repeat;
		max-width: 500px;
		height: 175px;
		margin: 0 auto;
		position: relative;
		.signature-fairy, .signature-greeting, .signature-name {
			position: absolute;
			width: 100%;
			text-align: center;			
		}
		.signature-fairy {
			line-height: 0;
			z-index: 1;
			top: 0;
			right: -50px;
			img {
				max-height: 175px;
			}
		}
		.signature-greeting, .signature-name {
			font-family: $font-02;
			z-index: 2;
			text-shadow: 1px 3px 0 rgba(0,0,0,0.85);
			transform: rotate(-5deg);
		}
		.signature-greeting {
			left: -60px;
			top: 35px;
			@include font-size(40px);
		}
		.signature-name {
			left: 0;
			top: 40px;
			@include font-size(125px);
			color: $color-07;
		}
	}
}

.countdown {
	text-align: center;
	margin: 0 0 20px 0;
	.countdown-timer {
		margin: 0 -5px 10px -5px;
		& > div {
			@include inline-block(middle);
			margin: 0 5px;
			& > span {
				display: block;
			}
			.countdown-value {
				@include sizing(75px, 75px);
				line-height: 65px;
				margin: 0 0 5px 0;
				@include font-size(20px);
			    border: 5px solid $color-06;
			    background: $color-05;
			    box-shadow: inset 3px 3px 10px rgba(0,0,0,0.55);			
				border-radius: 100%;
			}
			.countdown-label {
				font-family: $font-02;
				@include font-size(30px);
			}
		}
	}
	.countdown-message p {
		margin: 0;
	}
}