/* Resets
========================================================================== */

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, dl, dd {
	@include reset;
}

/* Base styles
========================================================================== */

html, body {
	width: 100%;
	min-height: 100%; 
}

body { 
	height: 100%;
	background: $color-04; 	
}

img {
	max-width: 100%;
	@include sizing(auto, auto);
}