/* Entry - Layout
========================================================================== */

.entry-multiple {
	@include flex(row wrap);
	margin: 0 -10px 30px -10px;
	&, .entry {
		@include flex(row wrap);
	}
	.entry {
		flex: 1 1 50%;
		padding: 0 10px;
		margin: 0 0 30px 0;
		.entry-wrapper {
			flex: 1;
		}
	}
}

/* Entry - Thumbnail
========================================================================== */

.flex-extend {
	flex: 0 0 160px;
	margin: 0 20px 0 0;	
}

.thumbnail-extend {
	.image-wrap {
		line-height: 0;
		border: 5px solid $color-06;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
}

.entry-multiple .entry {
	&.post .entry-thumbnail {
		@extend .flex-extend;
		@extend .thumbnail-extend;
	}
	&.insprvw-review {
		.entry-item-reviewed {
			@extend .flex-extend;
			.entry-thumbnail {
				@extend .thumbnail-extend;
			}
		}
	}
} 

.entry-single .entry {
	&.post, &.page {
		.entry-thumbnail {
			@include sizing(100%, 200px);
			margin: 0 0 20px 0;
			border: 1px solid $color-03;
			.image-wrap {
				@include sizing(100%, 100%);
				background-repeat: no-repeat;
				background-position: center 35%;
				background-size: cover;
			}
		}
	}
}

/* Entry - Header
========================================================================== */

.entry-multiple .entry .entry-header h3 {
	@include font-size(18px);
	font-family: $font-01;
	line-height: inherit;
	margin: 0 0 5px 0;
	a {
		color: $color-07;
		&:hover {
			color: $color-01;
		}
	}
}

/* Entry - Meta
========================================================================== */

.entry .entry-meta {	
	.author, .date, .bullet {
		@include inline-block(middle);
	}
	.author, .date, .categories {
		margin: 0 0 2px 0;
	}
	.bullet {
		margin: 0 5px 2px 5px;
	}	
}

.entry-multiple .entry .entry-meta {
	margin: 0 0 8px 0;
}

.entry-single .entry .entry-meta {
	margin: 0 0 20px 0;
	@include font-size(18px);
}

/* Entry - Multiple (aka Archives) - Posts and Reviews
========================================================================== */

.entry-multiple {
	.entry {
		.entry-content {
			& > p:last-of-type, .read-more {
				display: inline;
			}
			& > p:last-of-type {
				margin: 0;
				display: inline;
			}
			.read-more {
				padding: 0 0 0 5px;
			}
		}
	}	
}

/* Entry - Multiple (aka Archives) - Reviews
========================================================================== */

.entry-multiple .entry.insprvw-review {
	.entry-meta .rating {		
		margin: 0 0 2px 0;  
		strong, .rating-wrapper, .rating-out-of, .rating-value {
			@include inline-block(middle);
		}
		.rating-text {
			@include font-size(0px);
			text-index: -9999;
		}
		.rating-out-of {
			position: relative;
			background: $color-04;
			.icon-star {
				margin: 0 1px;
				@include font-size(16px);
			}
			.rating-value {
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;	
				white-space: nowrap;
				overflow: hidden;
				background: inherit;							
				.icon-star {
					color: $color-07;
				}				
			}
		}
	}
}