/* Entry - Layout
========================================================================== */

.entry-multiple {
	@include flex(row wrap);
	margin: 0 -10px 30px -10px;
	&, .entry {
		@include flex(row wrap);
	}
	.entry {
		flex: 1 1 50%;
		padding: 0 10px;
		margin: 0 0 30px 0;
		.entry-wrapper {
			flex: 1;
		}		
	}
}

/* Entry - Thumbnail
========================================================================== */

.entry-multiple .entry {
	&.post .entry-thumbnail, &.insprvw-review .entry-item-reviewed {
		flex: 0 0 160px;
		margin: 0 20px 0 0;			
	}
	&.post .entry-thumbnail, &.insprvw-review .entry-item-reviewed .entry-thumbnail {
		.image-wrap img {
			width: 100%;
		}	
	}	
} 

.entry-single .entry {
	&.post, &.page {
		position: relative;
		.entry-thumbnail {
			@include sizing(125px, 125px);
			position: absolute;
			top: -220px;
			left: 0;
			.image-wrap {
				@include sizing(100%, 100%);
				border-radius: 100%;
			}
		}
	}
	&.insprvw-review .entry-item-reviewed {
		&:before, &:after {
			content: '';
			display: block;
			clear: both;
		}
		.entry-thumbnail {
			float: left;
			max-width: 300px;
			margin: 0 20px 20px 0;
		}
	}
}

/* Entry - Header
========================================================================== */

.entry-multiple .entry .entry-header h3 {
	font-size: rem(18px);
	font-family: $font-01;
	line-height: inherit;
	margin: 0 0 5px 0;
	a {
		color: $color-07;
		&:hover {
			color: $color-01;
		}
	}
}

/* Entry - Meta
========================================================================== */

.entry .entry-meta {	
	p {
		margin: 0 0 2px 0;
	}
	.bullet {
		margin: 0 5px 2px 5px;
	}	
}

.entry-multiple .entry .entry-meta {
	margin: 0 0 8px 0;
	.author, .date, .bullet {
		@include inline-block(middle);
	}
}

.entry-single .entry .entry-meta {
	margin: 0 0 18px 0;
	font-size: rem(18px);
	p, .bullet {
		@include inline-block(middle);
	}
}

/* Entry - Rating
========================================================================== */

.entry.insprvw-review .entry-meta .rating {
	strong, .rating-wrapper, .rating-out-of, .rating-value {
		@include inline-block(middle);
	}	
	.rating-text {
		font-size: rem(0);
		text-index: -9999;
	}
	.rating-out-of {
		position: relative;
		background: $color-04;
		.icon-star {
			margin: 0 1px;
		}
		.rating-value {
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;	
			white-space: nowrap;
			overflow: hidden;
			background: inherit;							
			.icon-star {
				color: $color-07;
			}				
		}
	}		
}

.entry-multiple .entry.insprvw-review .entry-meta .rating .rating-out-of .icon-star {
	font-size: rem(16px);
}

.entry-single .entry.insprvw-review .entry-meta .rating .rating-out-of {
	top: -3px;
	.icon-star {
		font-size: rem(18px);
	}
}

/* Entry - Author
========================================================================== */

.entry-author, .book-author {
	@include flex(row wrap);
	align-items: flex-start;
	margin: 0 0 20px 0;
	h3 {
		flex: 100%;
		margin: 0 0 10px 0;
	}
}

.entry-author .entry-author-thumbnail, .book-author .book-author-thumbnail {	
	margin: 0 20px 0 0;
}

.archive {
	.entry-author .entry-author-thumbnail, .book-author .book-author-thumbnail {
		flex: 0 0 160px;
		.image-wrap img {
			width: 100%;
		}		
	}
}

.entry-single .entry.insprvw-review .book-author .book-author-thumbnail {
	flex: 0 1 auto;
	max-width: 200px;
}

.entry-author .entry-author-details, .book-author .book-author-details {	
	flex: 1;
}

.entry-author .entry-author-details .entry-author-social, .book-author .book-author-details .book-author-social {	
	strong, .menu {
		@include inline-block(middle);
	}
	strong {
		padding: 0 5px 0 0;
	}
}



/* Entry - Review Details
========================================================================== */

.entry-single .entry.insprvw-review .entry-item-reviewed {
	.entry-details {
		.review-information {
			position: relative;
			left: 20px;
			li .review-label {
				font-weight: bold;
			}
		}
		.review-synopsis {
			@include muses-bg(true);	
			margin: 0 0 20px 20px;
			padding: 20px;
			p:last-child {
				margin: 0;
			}
		}
	}
}

.no-thumbnail .entry-single .entry.insprvw-review .entry-item-reviewed .entry-details {
	.review-information {
		margin: 0 0 20px 20px;
		left: -3px;
	}
	.review-synopsis {
		margin: 0 0 20px 0;
	}
}

/* Entry - Content
========================================================================== */

.entry-multiple .entry .entry-content {
	& > p:last-of-type, .read-more {
		display: inline;
	}
	& > p:last-of-type {
		margin: 0;
		display: inline;
	}
	.read-more {
		padding: 0 0 0 5px;
	}
}

.entry-single .entry .entry-content {
	&:before, &:after {
		content: '';
		display: block;
		clear: both;
	}	
	img[class*='wp-image-'] {
		display: block;
	}
}

/* Entry - Footer
========================================================================== */

.entry-single .entry {
	.entry-footer {
		margin: 0 0 18px 0;
		border-top: 1px solid $color-05;
		border-bottom: 1px solid $color-05;
		padding: 10px 0;
		p {
			margin: 0 0 2px 0;
		}
		.tags, .categories {
			strong {
				padding: 0 5px 0 0;
			}
		}
		&.edit-allowed {
			position: relative;
			padding: 10px 90px 10px 0;
			min-height: 47px;
			.edit {
				position: absolute;
				top: 10px;
				right: 0;
			}
		}	
	}
	.edit {
		text-align: right;
	}
}

/* Entry - Comments List
========================================================================== */

#comments {
	 .comments-list ul {
		margin: 0;
		list-style: none;
		li {
			@include flex(row wrap);
			align-items: flex-start;				
			.comment-thumbnail {
			    flex: 0 0 54px;
			    margin: 0 20px 0 0;	
			    .image-wrap {
				    border: 2px solid $color-06;				    			
				}
			}
			.comment-wrapper {
				flex: 1;
				margin: 0 0 20px 0;
				.comment-meta, .comment-footer {
					p {
						@include inline-block(middle);
						margin: 0;
					}
				}
				.comment-meta, .comment-content p {
					margin: 0 0 10px 0;
				}
				.comment-meta {
					font-style: italic;
					&:before, &:after {		
						@include muses-icons(14px);
					}
					&:before {
						margin: -10px 10px 0 0;
						content: $icon-quotes-left;
					}
					&:after {
						margin: 0 0 -10px 10px;
						content: $icon-quotes-right;
					}						
				}
				.comment-footer .bullet {
					@include inline-block(middle);
					margin: 0 5px;
				}					
			}
			.children {
				margin: 0 0 0 74px;
				flex: 1 1 100%;
			}
		}
	}
	.pagination {
		margin: 0 0 20px 0;
		text-align: left;
		&:before {
			content: 'More comments:';
			margin:  0 0 5px 0;
			display: block;
		}
		ul li {
			text-align: center;
		}
	}
}

/* Entry - Comments Respond
========================================================================== */

#respond {
	border-bottom: 1px solid $color-05;
	margin: 0 0 20px 0;
	form {
		@include flex(row wrap);
		margin: 0 -5px;
		p {
			margin: 0 5px 20px 5px;
		}
		.comment-form-author, .comment-form-email, .comment-form-url {
			flex: 3;
		}
		.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment {
			label:after {
				content: ':';
			}
		}
		.comment-notes, .comment-form-comment, .form-submit {
			flex: 1 1 100%;
		}
		.comment-form-comment {
			order: 5;
		}
		.form-submit {
			order: 6;
		}
	}
}

/* Entry - Attachment
========================================================================== */

.attachment {
	.entry-single .entry.attachment .entry-content .attachment-file {
		.attachment-text {
			margin: 0 0 2px 0;
		}
		.wp-caption-text {
			font-style: italic;
			font-size: rem(14px);
		}
	}
	.navigation-links {
		padding: 20px 0 0 0;
		border-top: 1px solid $color-05;
	}
}