/* Footer
========================================================================== */

#footer {
	background: url($images + 'muses-bg.png') 0 0 repeat-x;
	border-top: 1px solid $color-05 + #000;
	padding: 30px 0;
	.row .column {
		h4 {
			margin: 0 0 10px 0;
		}
		.widget_nav_menu > div {
			@include font-size(16px);
			.menu {
				@include flex(row wrap);
				& > li {
					flex: 1 1 50%;
					& > a {
						display: block;
						color: $color-01;
						padding: 0 0 5px 0;
						&:hover {
							color: $color-07;
						}
					}
					&.menu-item-has-children .sub-menu {
						display: none;
					}
				}
			}
		}
		.search-form {
			@include inline-form(100%, none, 100px);
		}		
	}
}