/* Form fields
========================================================================== */

@include placeholder {
	color: $color-13;
	font-style: italic;
	@include transition(color 0.3s ease-in-out);
}

:focus{@include placeholder {
	color: $color-01;
}}

input[type='text'], input[type='button'], input[type='reset'], input[type='submit'], button, textarea {
	outline: 0;
}

input[type='text'], input[type='button'], input[type='reset'], input[type='submit'], select, button, .button, .insprvw-recent-reviews .review .read-more a, #about-site .read-more a {
	line-height: 35px;
	height: 35px;
	border: 0;
}

input[type='text'], select {
	background: $color-12;
	border-radius: 4px;
	color: $color-01;
}

input[type='text'], select {
	padding: 0 10px;
}

textarea {
	padding: 10px;
}

select option {
	color: $color-02;
}

input[type='button'], input[type='reset'], input[type='submit'], button, .button, .insprvw-recent-reviews .review .read-more a, #about-site .read-more a {
	background: $color-05;
	border-bottom: 3px solid $color-06;
	color: $color-01;
	padding: 0 30px;
	text-transform: uppercase;
	@include transition(background 0.3s ease-in-out);
	@include font-size(14px);
	&:hover {
		background: $color-06;
	}
}

a.button, .insprvw-recent-reviews .review .read-more a, #about-site .read-more a {
	@include inline-block(middle);
}

.inline-button {
	&, &:hover {
		background: none;
	}
	border: none;
	line-height: normal;
	@include sizing(auto, auto);
	padding: 0;
}

/* Search form
========================================================================== */

.search-form {
	position: relative;
	margin: 0 0 20px 0;
	input[type='text'] {
		width: 100%;
		padding: 0 40px 0 10px;
		&:focus ~ button .icon {
			color: $color-01;				
		}
	}
	button {
		position: absolute;
		right: 10px;
		top: 6px;
		.icon {
			color: $color-13;
			@include transition(color 0.3s ease-in-out);
			&:hover {
				color: $color-01;
			}
		}
	}			
}	

#top-bar .search-bar .search-form {
	margin: 0;
	input[type='text'] {
		@include sizing(50%, 30px);
	}
}