/* Front page
========================================================================== */

#front-page-sections {
	section {
		padding: 30px 0;
		&:nth-child(even) {
			background: $color-03;
		}
		h2 {
			text-align: center;
		}
	}
}

/* Front page - About Site
========================================================================== */

#front-page-sections #about-site {
	.row {
		@include flex(row nowrap);
		margin: 0 -10px;
		.column {
			flex: 1;
			padding: 0 10px;
		}
	}
	.read-more {
		text-align: right;
	}
}

/* Front page - Recent Reviews
========================================================================== */

#front-page-sections #recent-reviews {
	.insprvw-recent-reviews .insprvw-review {
		text-align: center;
		position: relative;
		padding: 0 20px;
		.review-thumbnail .image-wrap, .review-date {
			border-radius: 100%;
		}
		.review-thumbnail {
			margin: 0 0 10px 0;
			.image-wrap {
				border: 10px solid $color-06;
				@include sizing(220px, 220px);
				overflow: hidden;	
				margin: 0 auto;
			}
		}
		.review-date {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			text-transform: uppercase;
			border: 5px solid $color-06;
			padding: 10px;
			@include sizing(75px, 75px);
			background: $color-05;
			box-shadow: inset 3px 3px 10px rgba(0,0,0,0.55);
			font-size: 0.875em;
			line-height: 1.4;
			.month, .day {
				@include inline-block(middle);
			}
			.month {
				margin: 5px 2.5px 0 0;
			}
			.day {
				margin: 5px 0 0 2.5px;
			}
			.year {
				display: block;
			}
		}
		.entry-title h4 {
			margin: 0;
			a {
				color: $color-01;
				.main-title, .sub-title {
					display: block;
					font-family: 'Source Sans Pro';
					font-weight: 300;
				}
				.main-title {
					font-size: 0.55em;
					margin: 0 0 10px 0;
				}
				.sub-title {
					font-size: 0.43em;
				}
			}
		}
		hr {
			@include sizing(100%, 0);
			margin: 10px 0;
			border: 0;
			border-bottom: 1px dashed $color-06;
		}
	}
}