/* Front page
========================================================================== */

#front-page-sections {
	section {
		padding: 30px 0;
		&:nth-child(even) {
			background: $color-03;
		}
		h2 {
			text-align: center;
		}
	}
}

/* Front page - About Site
========================================================================== */

#front-page-sections #about-site {
	.row {
		@include flex(row nowrap);
		margin: 0 -10px;
		.column {
			flex: 1;
			padding: 0 10px;
		}
	}
	.read-more {
		text-align: right;
	}
}

/* Front page - Recent Reviews (More styles in _recent-revies.scss)
========================================================================== */

#front-page-sections #recent-reviews .owl-carousel {
	padding: 0 40px;	
	.owl-controls {
		.owl-prev, .owl-next {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			@include sizing(40px, 40px);
			border-radius: 100%;
			background: $color-06;
			padding: 10px;
			text-align: center;
			svg {
				@include sizing(auto, 100%);
				fill: $color-01;
				@include transition(fill 0.3s ease-in-out);				
			}
			&:hover svg {
				fill: $color-05;
			}			
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
}