/* Header - Top bar
========================================================================== */

#top-bar {
	background: $color-03;
	padding: 10px 0;
	box-shadow: inset 0px -4px 6px rgba(0,0,0,0.40);
	.wrapper {
		@include flex(row nowrap);
		align-items: center;
		.menu-social-container, .search-bar {
			flex: 1;
		}
	}
}

/* Header - Social media
========================================================================== */

#top-bar .wrapper .menu-social-container ul {
	margin: 0 -3px;
	li {
		@include inline-block(middle);
		padding: 0 3px;
		a { 	
			color: $color-01;
			&:hover {
				color: $color-07;
			}
			&, .social-icon, .social-text {
				display: block;
			}
			.social-icon {
				@include sizing(auto, 20px);
				min-width: 22px;
				text-align: center;
				svg {
					fill: currentColor;
					height: 100%;
				}
			}
			.social-text {
				text-indent: -9999px;
				@include sizing(0,0);
			}														
		}		
	}
}

/* Header - Search bar
========================================================================== */

#top-bar .wrapper .search-bar {
	font-size: 0.94em;
	text-align: right;
	.search-form {
		input[type='text'] {
			margin: 0 4px 0 0;
			width: 65%;
			max-width: 450px;
		}
	}
}

/* Header - Main
========================================================================== */

#header {
	background: $color-03;
	height: 320px;
	margin: 0 0 30px 0;
	.wrapper {
		background: url($images + 'muses-header.png') left center no-repeat;
		height: 440px;
		position: relative;
		top: -60px;
		left: 0;
		.header-content {
			height: 100%;
			@include flex(column nowrap);
			justify-content: center;
			align-items: flex-end;
			.site-name {
				font-size: 5.0em;
				line-height: 0.75;
				margin: 0;
			}
			.site-description {
				font-size: 1.14em;
			}
		}
	}
}