/* Top bar
========================================================================== */

#top-bar {
	background: $color-03;
	padding: 10px 0;
	box-shadow: inset 0px -4px 6px rgba(0,0,0,0.40);
	.wrapper {
		@include flex(row nowrap);
		align-items: center;
	}
	.menu-social-container, .search-bar {
		flex: 1;
	}	
}

/* Top bar - Search bar
========================================================================== */

#top-bar .search-bar {	
	text-align: right;
	.search-form {
		position: relative;
		input[type='text'] {
			@include sizing(50%, 30px);
			line-height: 30px;
			@include font-size(14px);
			padding: 0 35px 0 10px;
			&:focus ~ button .icon {
				color: $color-01;				
			}
		}
		button {
			position: absolute;
			right: 10px;
			top: 6px;
			.icon {
				@include font-size(14px);
				color: $color-13;
				@include transition(color 0.3s ease-in-out);
				&:hover {
					color: $color-01;
				}
			}
		}
	}
}

/* Top bar - Home link
========================================================================== */

#top-bar .home-link {
	@include sizing(auto, 20px);
	min-width: 22px;
	margin: 0 0 0 10px;
	.icon {
		@include font-size(18px);
		color: $color-13;
		@include transition(color 0.3s ease-in-out);
		&:hover {
			color: $color-01;
		}
	}	
}

/* Header navigation - Main menu
========================================================================== */

#header-nav {
	background: url($images + 'muses-bg.png') 0 0 repeat-x;
	border-top: 1px solid $color-05 + #000;
	border-bottom: 1px solid $color-08;
	@include font-size(14px);
	.wrapper {
		@include flex(row nowrap);
		align-items: center;
	}
}

/* Header navigation - Main menu
========================================================================== */

#header-nav .menu-main-container {	
	position: relative;
	z-index: 2;
	margin: 0 0 0 auto;
	a {
		color: $color-01;
	}	
	.menu {
		@include flex(row wrap);
		border-left: 1px solid $color-05 + #000;
		border-right: 1px solid $color-05 - #222;
		& > li {
			position: relative;	
			border-right: 1px solid $color-05 + #000;
			border-left: 1px solid $color-05 - #222;
			text-align: center;			
			& > a, .toggle-submenu {
				&:hover {
					color: $color-07;
				}						
			}
			& > a {
				display: block;
				height: 60px;
				line-height: 60px;
				overflow: hidden;
				padding: 0 20px;
				text-align: center;
				text-shadow: 1px 1px 0 rgba(0,0,0,0.85);						
			}
			&.menu-item-has-children {
				& > a {
					padding: 0 50px 0 20px;
				}
				.toggle-submenu {
					position: absolute;
					right: 20px;
					top: 20px;
					z-index: 10;
					cursor: pointer;
					@include transition(all 0.8s ease-in-out);
				  	transform: rotate(0deg);							
					&.show {
						transform: rotate(180deg);
					}
				}
			}
			.sub-menu {
				position: absolute;
				top: 60px;	
				left: 0;
				z-index: 3;
				min-width: 200px;					
				background: $color-06;
				padding: 10px;						
				opacity: 0;
				@include transition(opacity 0.5s ease-in-out);
				text-align: left;
				&.show {
					opacity: 1;
				}
				li {			
					a {
						display: block;
						margin: 0 0 5px 0;
						&:hover {
							color: $color-02;
						}
					}
					&:last-child a {
						margin: 0
					}
					ul {
						display: none;
					}
				}											
			}						
		}
	}
}

/* Navigation - Site Name
========================================================================== */

#header-nav .site-name {
	margin: 0;
	@include font-size(40px);
	height: 35px;
	line-height: 1;
	overflow: hidden;
}

/* Header - Front Page
========================================================================== */

#header.front-page-header {
	background: $color-03;
	height: 320px;
	margin: 0 0 30px 0;
	.wrapper {
		background: url($images + 'muses-header.png') -30px center no-repeat;
		height: 440px;
		position: relative;
		top: -60px;
		left: 0;
	}
	.header-content {
		height: 100%;
		@include flex(column nowrap);
		justify-content: center;
		align-items: flex-end;
		.site-name {
			@include font-size(80px);
			line-height: 0.75;
			margin: 0;
		}
		.site-description {
			@include font-size(18px);
		}
	}
}

/* Header - Main
========================================================================== */

#header.main-header {
	background: $color-03;
	height: 240px;
	margin: 0 0 30px 0;
	.wrapper {
		background: url($images + 'muses-forest.png') left center no-repeat;
		height: 100%;
	}
	h1 {
		height: 100%;
		@include flex(column nowrap);
		justify-content: center;
		@include font-size(75px);
	}
}