/* Social media
========================================================================== */

.menu-social-container ul {
	margin: 0 -5px;
	li {
		@include inline-block(middle);		
		a { 	
			color: $color-01;
			display: block;
			font-size: 0;
			text-align: center;
			padding: 0 5px;
			&:before {
				@include muses-icons(18px);
				color: $color-13;
				content: $icon-heart;
				@include transition(color 0.3s ease-in-out);
			}
			&[href*='facebook']:before {
				content: $icon-facebook;
			}
			&[href*='plus.google']:before {
				content: $icon-google-plus;
			}
			&[href*='linkedin']:before {
				content: $icon-linkedin;
			}
			&[href*='twitter']:before {
				content: $icon-twitter;
			}
			&[href*='instagram']:before {
				content: $icon-instagram;
			}
			&[href*='youtube']:before {
				content: $icon-youtube-play;
			}
			&[href*='pinterest']:before {
				content: $icon-pinterest;
			}
			&[href*='tumblr']:before {
				content: $icon-tumblr;
			}			
			&[href*='goodreads']:before {
				content: $icon-goodreads;
			}
			&[href*='librarything']:before {
				content: $icon-library-thing;
			}
			&[href*='goodreads']:before, &[href*='librarything']:before {
				@include font-size(16px);
			}												
			&:hover:before {
				color: $color-01;
			}								
		}		
	}
}

/* Layout
========================================================================== */

.wrapper {
	margin: 0 auto;
	max-width: 1320px;
	width: auto;
	padding: 0 20px;
}

.row {
	@include flex(row nowrap);
	margin: 0 -20px;
	.column {
		flex: 1;
		padding: 0 20px;
	}
}

.menu, .pagination > .page-numbers, .navigation-links ul {
	&, li, ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

/* Layout - Content - Two columns
========================================================================== */

.content {
	margin: 30px 0;
	.wrapper {
		@include flex(row nowrap);
	}
	article {
		flex: 1;
	}
	aside {
		flex: 0 0 270px;
		margin: 0 0 0 30px;
		padding: 0 0 0 30px;
		border-left: 1px dashed $color-05;
	}
}

/* Layout - Content - Two columns - Article
========================================================================== */

.content article {
	.category-description {
		margin: 0 0 50px 0;
	}
	.pagination > .page-numbers, .navigation-links ul {
		li {
			@include inline-block(middle);			
			a {
				color: $color-01;
				background: $color-06;
				@include transition(background 0.3s ease-in-out);
				&:hover {
					background: $color-05;
				}				
			}
		}
	}
	.pagination {
		text-align: center;
		& > .page-numbers {
			margin: 0 -2.5px;
			li {
				min-width: 32px;
				line-height: 32px;
				margin: 0 2.5px;
				.page-numbers {
					display: block;
					padding: 0 5px;
					@include sizing(100%, 100%);	
					border-radius: 4px;					
				}
				span.current {
					background: $color-01;
					color: $color-07;
					font-weight: bold;
				}
				.icon {
					@include font-size(12px);
				}
			}
		}
	}
	.navigation-links {
		margin: 0 0 20px 0;
		text-align: center;
		ul {
			@include inline-block(middle);
			margin: 0 auto;
			li {
				a {
					@include inline-block(middle);
					padding: 5px 10px;
					border-radius: 4px;					
				}
				&.prev {
					padding: 0 2.5px 0 0;
					a .icon {
						margin: 0 10px 0 0;
					}
				}
				&.next {
					padding: 0 0 0 2.5px;
					text-align: right;
					a .icon {
						margin: 0 0 0 10px;
					}
				}
			}
		}
	}
}

/* Layout - Content - Two columns - Aside
========================================================================== */

.content aside .widget-area .widget-container {
	h3 {
		text-align: center;
		&:after {
			content: '';
			display: block;
			margin: -5px auto 0 auto;
			@include sizing(75%, 1px);
			background: $color-01;
		}
	}
	ul, select {
		margin: 0 0 20px 0;
	}
	select {
		width: 100%;
	}
	ul {
		margin: 0 0 20px 0;
		list-style: none;
		li {
			position: relative;
			padding: 0 0 0 20px;
			margin: 0 0 2px 0;
			&:before {
				@include muses-icons;
				color: $color-01;
				content: $icon-angle-right;
				position: absolute;
				top: 2px;
				left: 0;
			}
			ul {
				margin: 2px 0 0 0;
			}
		}
	}
	&.widget_archive, &.widget_categories, &.widget_recent_comments, &.widget_pages, &.widget_recent_entries {
		ul li {
			padding: 0 0 0 25px;
			&:before {
				@include font-size(14px);
			}
		}
	}
	&.widget_archive ul li:before {
		content: $icon-inbox;
	}
	&.widget_categories ul li:before {
		content: $icon-folder-open;
	}	
	&.widget_recent_comments ul li:before {
		content: $icon-comment;
	}
	&.widget_pages ul li:before, &.widget_recent_entries ul li:before {
		content: $icon-quill;
		top: 4px;
	}
	&.widget_tag_cloud .tagcloud {
		margin: 0 -2.5px 15px -2.5px;
		a {
			@include inline-block(middle);
			margin: 0 2.5px 5px 2.5px;
			background: $color-06;
			color: $color-01;
			padding: 5px 5px 5px 25px;
			border-radius: 5px;
			position: relative;
			&:before {
				@include muses-icons(14px);
				color: $color-01;
				content: $icon-tag;
				position: absolute;
				top: 6px;
				left: 5px;
			}
			&[style*='8pt'] {
				@include font-size(11px, important);
			}
			&[style*='11.6pt'] {
				@include font-size(12px, important);
			}
			&[style*='14pt'] {
				@include font-size(13px, important);
			}	
			&[style*='16pt'] {
				@include font-size(14px, important);
			}
			&[style*='19pt'] {
				@include font-size(15px, important);
				&:before {
					top: 8px;
				}
			}						
			&[style*='21pt'] {
				@include font-size(17px, important);
				&:before {
					top: 10px;
				}				
			}	
			&[style*='22pt'] {
				@include font-size(18px, important);
				&:before {
					top: 12px;
				}				
			}							
		}
	}
	&.widget_calendar .calendar_wrap table {
		margin: 0 0 20px 0;
		width: 100%;
		@include font-size(14px);
		caption, tbody td, tfoot td {
			border: 1px solid $color-06;
		}
		caption, tfoot {
			background: $color-06;
		}
		thead, tbody td a {
			background: $color-05;
		}
		caption, td {
			padding: 2px;
		}
		tbody td a, tfoot td a {
			color: $color-01;
			&:hover {
				color: $color-13;
			}			
		}
		caption {
			text-transform: uppercase;
		}
		td {
			text-align: center;
			vertical-align: middle;
		}		
		thead th {
			font-weight: bold;
			border: 1px solid $color-05;
		}
		tbody {
			td a {
				display: block;
				@include sizing(100%, 100%);
				box-shadow: 0 0 0 2px $color-05;
			}
			tr:first-child td {
				border-top: 1px solid $color-07;
			}			
		}
	}
	&.widget_nav_menu {
		.menu-social-container .menu {
			text-align: center;
			&, li {
				margin: 0 0 10px 0;
			}
			li {
				padding: 0;
				&:before {
					display: none;
				}
				a {
					&:before {
						color: $color-01;
					}
					&:hover:before {
						color: $color-07;
					}
				}
			}
		}
	}
}