// Flex 
@mixin flex($flow) {
	display: flex;
	flex-flow: $flow;
}

// Font size conversion
@mixin font-size($size) {
	font-size: #{$size / 16px}rem;
}

// Inline block
@mixin inline-block($vertical-align) {
	display: inline-block;
	vertical-align: $vertical-align;
}

// Placeholder 
// Examples: @include placeholder {}, :focus{@include placeholder {}}, or input {@include placeholder {}}
@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}  
}
// Quick reset
@mixin reset {
	margin: 0;
	padding: 0;
}

// Responsive max-width media query
@mixin respond($breakpoint) {
	@media only screen and (max-width: $breakpoint + px) {
		@content;
	}
}

// Defining size for elements
@mixin sizing($width, $height) {
	width: $width;
	height: $height;
}

// Transition
@mixin transition($value) {
	-webkit-transition: $value;	
	-moz-transition: $value;	
	-o-transition: $value;	
	transition: $value;
}