/* 1340 Breakpoint
========================================================================== */

@include respond(em(1340)) {
	// header.scss
	#header-nav {
		.wrapper {
			padding: 0 0 0 20px;
		}
		.menu-main-container .menu {
			&, & > li:last-child  {
				border-right: 0;
			}
			& > li .sub-menu {
				left: auto;
				right: 0;
			}
		}
	}
}

/* 1199 Breakpoint
========================================================================== */

@include respond(em(1199)) {
	// entry.scss
	.content:not(.full-width), #front-page-sections:not(.full-width) {
		.entry-multiple {
			display: block;
		}
	}
}

/* 1099 Breakpoint
========================================================================== */

@include respond(em(1099)) {
	// header.scss
	#top-bar .search-bar {	
		flex: 0 0 200px;
	}
	#header-nav .menu-main-container .menu > li {
		& > a {
			padding: 0 15px;
		}
		&.menu-item-has-children > a {
			padding: 0 45px 0 15px;
		}
	}
	#header.front-page-header {
		height: 240px;
		.wrapper {
			background-position: -100px center;
			background-size: auto 324px;
			height: 324px;
			top: -42px;
		}
		.header-content {
			.site-name {
				font-size: rem(70px);
			}
			.site-description {
				font-size: rem(16px);
			}
		}
	}
}

/* 899 Breakpoint
========================================================================== */

@include respond(em(899)) {
	// header.scss
	#header.front-page-header, #header.main-header {
		height: 190px;
	}
	#header.front-page-header .header-content .site-name, #header.main-header .header-content h1 {
		font-size: rem(45px);
	}
	#header.front-page-header .wrapper {
		background-size: auto 256px;
		height: 256px;
		top: -33px;
	}
	#header.main-header .wrapper {
		background-size: auto 190px;
	}	

	// layout.scss
	.row .column {
		flex: 1 1 50%;
	}	

	// entry.scss
	.entry-single {
		.entry.post .entry-thumbnail, .entry.page .entry-thumbnail {
			top: -190px;
		}
		.entry.insprvw-review .entry-meta {
			.date ~ .bullet {
				display: none;
			}
			.rating {
				display: block;
			}
		}		
	}
	.single .book-author .book-author-thumbnail {
		flex: 0 0 160px;
		max-width: none;
		.image-wrap img {
			width: 100%;
		}		
	}
	.content.full-width, #front-page-sections.full-width {
		.entry-multiple {
			display: block;
		}
	}

	// font-page.scss
	#front-page-sections #review-buttons {
		h3 {
			margin: 0;
		}
		.row .column {
			max-width: none;
			margin: 20px 0 0 0;
		}
	}
}

/* 768 Breakpoint
========================================================================== */

@include respond(em(768)) {
	// header.scss
	#top-bar {
		.menu-social-container {
			flex: 1 1 100%;
			text-align: center;
			margin: 0 -5px 10px -5px;
		}
		.search-bar {
			flex: 1;
			margin: 0;
		}
	}
	#header-nav {
		height: 50px;
		text-align: center;
		.wrapper {
			display: block;
			padding: 0 20px;
		}
		.site-name {
			line-height: 55px;
			height: auto;
		}
	}
	#header.front-page-header {
		margin: -7px 0 23px 0;
		.wrapper {
			background: url($images + 'muses-header-centered.png') center center no-repeat;
			background-size: auto 256px;
		}
		.header-content {
			align-items: center;
		}
	}
	#header.main-header {
		.wrapper {
			background-position: center center;
		}
		.header-content h1 {
			text-align: center;
		}
	}
	.has-thumbnail.single-post, .has-thumbnail.page {
		#header.main-header .header-content {
			padding: 0 0 30px 0;
			h1 {
				padding: 0 0 10px 0;
				max-height: 102px;
				overflow: hidden;
			}
		}
	}
	.mobile-menu-button {
	    display: block;
	}
	.mobile-open {
		overflow: hidden;
	}

	// layout.scss
	.content {
		.wrapper {
			display: block;
		}
		aside {
			margin: 30px 0 0 0;
			padding: 30px 0 0 0;
			border-left: 0;
			border-top: 1px dashed $color-05;
		}
	}

	// entry.scss
	.entry-single .entry {
		&.post .entry-thumbnail, &.page .entry-thumbnail {
			top: -80px;
			right: 0;
			margin: auto;
			@include sizing(100px, 100px);
		}
		&.insprvw-review .entry-meta {
			.date ~ .bullet, .rating {
				display: inline-block;
			}
		}		
		.entry-content {
			overflow: hidden;			
			img[class*='wp-image-'] {
				max-width: 300px;
			}
		}
	}
	.has-thumbnail .entry-single .entry {
		&.post, &.page {
			padding: 40px 0 0 0;
		}
	}
}

/* 699 Breakpoint
========================================================================== */

@include respond(em(699)) {
	// layout.scss
	.row {
		display: block;
	}	

	// entry.scss 
	.entry-multiple .entry.post .entry-thumbnail, .entry-multiple .entry.insprvw-review .entry-item-reviewed,
	.archive .entry-author .entry-author-thumbnail, .archive .book-author .book-author-thumbnail,
	.single .book-author .book-author-thumbnail {
		flex: 0 0 130px;
	}
	.entry-single .entry .entry-content {
		img[class*='wp-image-'] {
			max-width: 250px;
		}
	}

	// front-page.scss 
	#front-page-sections #about-site .read-more {
		text-align: center;
	}

	// recent-reviews.scss
	.insprvw-recent-reviews .insprvw-review .review-meta {
		.review-thumbnail {
			border: 6px solid $color-06;
		}
		.review-date {
			top: 16px;
			padding: 8px;
			@include sizing(60px, 60px);
			font-size: rem(11px);
			line-height: 1.6;
			border: 3px solid $color-06;
		}
	}
}

/* 499 Breakpoint
========================================================================== */

@include respond(em(499)) {
	// base.scss
	.alignleft, .alignright {
		float: none;
		margin: 0 0 20px 0;
	}

	// entry.scss 
	.entry-multiple	.entry, .entry-author, .book-author {
		display: block;
	}
	.entry-multiple .entry.post .entry-thumbnail, .entry-multiple .entry.insprvw-review .entry-item-reviewed,
	.entry-author .entry-author-thumbnail, .book-author .book-author-thumbnail {
		margin: 0 0 10px 0;
		.image-wrap {
			max-height: 200px;	
		}			
	}
	.entry-multiple {
		.entry.post .entry-thumbnail, .entry.insprvw-review .entry-item-reviewed {
			.image-wrap img {
				margin: -30% 0 0 0;;
			}			
		}		
	}
	.entry-author .entry-author-thumbnail, .book-author .book-author-thumbnail {
		.image-wrap img {
			margin: -20% 0 0 0;
		}		
	}
	.entry-single {
		.entry .entry-content {
			img[class*='wp-image-'] {
				max-width: 100%;
			}
		}
		.entry.insprvw-review .entry-meta {
			.date ~ .bullet {
				display: none;
			}
			.rating {
				display: block;
			}
		}
	}		
}