/* Font kits
========================================================================== */

@font-face {
    font-family: 'Source Sans Pro';
    src: url($fonts + 'sourcesanspro.woff2') format('woff2'),
         url($fonts + 'sourcesanspro.woff') format('woff'),
         url($fonts + 'sourcesanspro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url($fonts + 'sourcesanspro-bold.woff2') format('woff2'),
         url($fonts + 'sourcesanspro-bold.woff') format('woff'),
         url($fonts + 'sourcesanspro-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url($fonts + 'sourcesanspro-bolditalic.woff2') format('woff2'),
         url($fonts + 'sourcesanspro-bolditalic.woff') format('woff'),
         url($fonts + 'sourcesanspro-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url($fonts + 'sourcesanspro-italic.woff2') format('woff2'),
         url($fonts + 'sourcesanspro-italic.woff') format('woff'),
         url($fonts + 'sourcesanspro-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url($fonts + 'sourcesanspro-light.woff2') format('woff2'),
         url($fonts + 'sourcesanspro-light.woff') format('woff'),
         url($fonts + 'sourcesanspro-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url($fonts + 'sourcesanspro-lightitalic.woff2') format('woff2'),
         url($fonts + 'sourcesanspro-lightitalic.woff') format('woff'),
         url($fonts + 'sourcesanspro-lightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Qwigley';
    src: url($fonts + 'qwigley.woff2') format('woff2'),
         url($fonts + 'qwigley.woff') format('woff'),
         url($fonts + 'qwigley.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General text elements
========================================================================== */

html {
    font-size: 100%;
}

body {
    font-family: $font-01;
    @include font-size(15px);
    line-height: 1.5;
    font-weight: 300;
    color: $color-01;
}

a {
    color: $color-07;
    @include transition(color 0.3s ease-in-out);
    text-decoration: none;
    &:hover {
        color: $color-01;
    }
}

/* Headers
========================================================================== */

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-02;  
    font-weight: normal;  
    line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
    a {
        color: $color-01;
        &:hover {
            color: $color-07
        }
    }
}

h1 {
    @include font-size(50px);
}

h2 {
    @include font-size(45px);
}

h3 {
    @include font-size(40px);
}

h4 {
    @include font-size(35px);
}

h5, h6 {
    @include font-size(30px);
}