/* Paths
========================================================================== */

$assets: '../musescircle/assets';
$fonts: $assets + '/fonts/';
$images: $assets + '/images/';

/* Colors
========================================================================== */

$color-01: #ffffff; // white
$color-02: #000000; // black
$color-03: #100a16; // dark purple
$color-04: #191020; // medium purple
$color-05: #421031; // dark pink
$color-06: #722558; // medium pink
$color-07: #b24b8f; // light pink
$color-08: #2b1b3b; // light purple
$color-09: #333333; // blackish
$color-10: #999999; // gray
$color-11: #bbbbbb; // gray

/* Fonts
========================================================================== */

$serif-fb: garamond, times new roman, serif;
$sans-serif-fb: arial, sans-serif;
$font-01: 'Source Sans Pro', $sans-serif-fb;
$font-02: 'Qwigley', $serif-fb;
