/* WordPress Styles (For page/post editor mostly)
========================================================================== */

pre, code {
	white-space: normal;
	display: block;
	@include font-size(14px);
	font-family: 'Courier New', monospace;
	background: $color-14;	
	color: $color-02;
	border-radius: 4px;
	border: 2px solid $color-06;
	padding: 20px;
	margin: 0 0 20px 0;
}