// Helpers
@import '../imports/variables';
@import '../imports/colors';
@import '../imports/mixins';

/* Root colors
============================================== */

@import url('//fonts.googleapis.com/css?family=Spectral|Fira+Sans:300,300i,500,500i');

* {
	&, &:before, &:after {
		box-sizing: border-box;
	}
}

html {
	font-size: $base-font-size + px;
	background-color: $color-02;
}

body {
	font-family: $font-01;
	font-size: rem($global-font-size);
	line-height: 1.5;
	font-weight: 300;
}

html, label, .brand-logo, .betatag, .chatmessage, .chatusername, .chattimestamp, #curuser_discrim, #chatcontent span.reactions .reaction, .side-nav, .side-nav .subheader, .side-nav li > a, .channel-hash,
input[type='text']:not(.browser-default):focus:not([readonly]) + label, .wdt-emoji-popup h3, .wdt-emoji-popup #wdt-emoji-preview-bundle, .wdt-emoji-popup #wdt-emoji-preview-text, .wdt-emoji-popup #wdt-emoji-preview-name, #usercard .roles .text, #members-nav li > a {
	color: $color-00;
}

nav, nav a, #footercontainer #curuser_name, #footercontainer #visitor_mode_message {
	color: $light-01;
}

/* Resets
============================================== */

textarea.materialize-textarea, input[type='text'], input[type=text]:not(.browser-default), .btn, .btn-large, #wdt-emoji-search, #wdt-emoji-search:focus, .navbar-fixed, nav, nav a.button-collapse, nav a.button-collapse i, .side-nav li, .side-nav li > a, footer, #footercontainer #messageboxouter, #wdt-emoji-preview #wdt-emoji-preview-img, #mention-picker .mention-choice {
	height: auto;
}

textarea.materialize-textarea, input[type='text'], input[type=text]:not(.browser-default), #mention-picker {
	min-height: 0;
}

.side-nav li > a, .side-nav .userView, #members-nav li > a.subheader, .membername, #footercontainer .currentuserchip, #wdt-emoji-preview, #wdt-emoji-preview #wdt-emoji-preview-img, .modal #authfields .row .col {
	padding: 0;
}

.membercircle, #chatcontent > p, #footercontainer .currentuserchip, #footercontainer .currentuserchip #currentuserimage_parent, .modal #authfields .row, #userembedmodal .select-wrapper + p {
	margin: 0;
}

.navbar-fixed nav .brand-logo, #chatcontent .chatusername .authorhash, #chatcontent .chatusername .authordiscriminator, #footercontainer .currentuserchip #currentusername #curuser_discrim, #usercard .identity .hash, #usercard .identity .discriminator, #usercard .avatar + br, .realname {
	display: none;
}

/* Typography
============================================== */

html, #usercard .game .text, .side-nav li > a, .wdt-emoji-popup #wdt-emoji-preview-bundle {
	font-weight: 300;
}

b, strong, optgroup, .chatusername, p.mentioned, .richembed .field-name, #usercard .bottag, #usercard .game, .wdt-emoji-popup h3, .wdt-emoji-popup #wdt-emoji-preview-name, .modal #guestlogin_box:before {
	font-weight: 500;
}

#discord-members > li > a.subheader, #members-nav > li:nth-child(1) > a, #discord-members-count, #embed-discord-members-count, #members-nav > li:nth-child(4) > a, #guest-members-count, #members-nav > li:nth-child(6) > a {
	text-transform: none;
}

/* Form fields
============================================== */

textarea.materialize-textarea, input[type='text'], input[type='text']:not(.browser-default), .btn, .btn-large, #wdt-emoji-search, #wdt-emoji-search:focus {
	line-height: 1.45;
	border-radius: 3px;
	font-size: rem(14px);
}

textarea.materialize-textarea, input[type='text'], input[type='text']:not(.browser-default), #wdt-emoji-search, #wdt-emoji-search:focus {
	background: $light-04;
	color: $color-06;
	width: 100%;
	box-sizing: border-box;
	border: 0;
	padding: 10px;
	margin: 0;
}

textarea {
	height: auto !important;
}

input[type='text'] {
	&:focus, &:not(.browser-default):focus, &:not(.browser-default):focus:not([readonly]), &:disabled, &:not(.browser-default):disabled {
		border: 0;
	}
	&:focus, &:not(.browser-default):focus, &:not(.browser-default):focus:not([readonly]) {
		box-shadow: none;
	}
	&:disabled, &:not(.browser-default):disabled {
		color: map-get($color-set-11, dark-00);
		background: $color-11;
		& + label {
			color: $color-11;
		}
	}
}

input[type='radio']:not(:checked) + label:before, input[type='checkbox'].filled-in:checked + label:after, input[type='checkbox'].filled-in:not(:checked) + label:after, #messagebox-filemodal {
	border: 0;
	background-color: $light-04;
}

input[type='radio']:not(:checked) + label, input[type='radio']:checked + label, input[type='checkbox'] + label {
	padding: 0 10px 0 25px;
}

input[type='radio'] {
	& + label:before,  & + label:after {
		margin-left: 0;
		margin-right: 0;
	}
	&:not(:checked) + label, &:checked + label {
		font-size: inherit;
	}
	&:checked  + label:after {
		background-color: $color-05;
		border: 3px solid $light-04;
	}
}

input[type='checkbox'] {
	&.filled-in:checked + label:after, &.filled-in:not(:checked) + label:after {
		@include sizing(16px, 16px);
		margin-top: 3px;
	}
	&.filled-in:checked + label:before {
		@include sizing(5px, 10px);
		@include position($top: 3.5px, $left: 2px);
		border-right-color: $color-05;
		border-bottom-color: $color-05;
	}
}

@include placeholder {
	color: $dark-01;
}

.btn, .btn-large, #logout_btn, #proceed_nsfw_btn {
	font-size: rem(13px);
 	background: $color-05;
	&:hover {
		background: $color-01;
	}
}

.btn, .btn-large {
	padding: 10px 20px;
	text-transform: none;
	letter-spacing: 1px;
	&, &:hover {
		box-shadow: none;
	}
}

#logout_btn {
	@include small-form-ele($padding: 5px);
}

#usercard-mention-btn, #modal_invite_btn, #modal_invite_btn_invite_link {
	width: 100%;
	padding: 10px 0;
}

/* Avatars
============================================== */

.circle:hover {
	border-radius: 50%;
	background: none;
}

#usercard .avatar, #loginmodal #modal_guildiconcircle {
	max-height: 100px;
	max-width: 100%;
	width: auto;
	margin: 0 auto 10px auto;
}

/* Header nav
============================================== */

.navbar-fixed nav {
	background: $color-01;
	padding: 10px 20px;
	min-height: 44px;
	&, a.button-collapse, a.button-collapse i {
		line-height: 1;
	}
	a.button-collapse {
		margin: 0;
	}
	.nav-wrapper > .container:before {
		@include spectral-common;
		font-size: rem(20px);
		content: 'Chat With Us';
		@include position($type: absolute, $top: 2px, $left: 0, $right: 0);
		display: block;
		text-align: center;
	}
}

/* Side nav
============================================== */

#guild-nav, #members-nav {
	padding: 20px;
	background-color: $color-02;
}

#members-nav li > a.subheader {
	text-transform: none;
	&.role-title {
		font-size: 14px !important;
		margin-bottom: 0 !important;
	}
}

.side-nav {
	box-shadow: none;
	li, #channeltopic {
		margin: 0 0 10px 0;
	}
	li {
		&, & > a {
			line-height: 1.5;
		}
		& > a[id^=channel] {
			margin: 0 0 0 20px;
		}
	}
	.userView .name {
		font-size: rem(22px);
	}
	.userView .name, .subheader {
		@include spectral-common;
	}
	.subheader.channel-category, .subheader.role-title, #channeltopic {
		font-size: inherit;
	}
	.subheader {
		line-height: normal;
		font-size: rem(18px);
		&.channel-category, &.role-title {
			font-family: $font-01;
			font-variant: none;
		}
	}
	div.divider {
		margin: 0 -20px;
		border-bottom: 1px dashed $color-01;
		background: none;
	}
	#channeltopic {
		width: auto;
	}
	img[src=''] + .membername {
		padding-left: 0;
		top: 6px;
	}
}

.membername {
	position: static;
}

.membercircle {
	height: 30px;
	& + .membername {
		@include position($type: absolute, $left: 40px, $top: 5px);
	}
}

/* Chat
============================================== */

#chatcontent {
	padding: 44px 0 10px;
	& > p {
		border-top: 1px dashed $color-01;
		width: auto;
		padding: 10px 20px;
		&:first-child {
			border-top: 0;
		}
		&.collapsed .chatmessage {
			margin-top: 0;
		}
	}
	.chatusername {
		font-size: inherit;
	}
	.chatmessage {
		margin-top: 10px;
	}
	span.reactions {
		margin: 0 -2.5px -5px -2.5px;
		.reaction {
			background: map-get($dark-set, dark-06);
			margin: 0 2.5px 5px 2.5px;
			padding: 5px;
			height: auto;
			font-size: rem(12px);
			img, .count {
				display: inline-block;
			}
			.count {
				float: none;
				vertical-align: middle;
				margin: 0 0 0 5px;
			}
		}
	}
}

/* Footer
============================================== */

footer {
	background: $color-01;
}

#footercontainer {
	border: 0;
	margin: 0 -5px;
	padding: 10px 20px;
	align-items: center;
	&, #messageboxouter, #visitor_mode_message {
		width: auto;
	}
	& > div, #nameplate {
		margin: 0;
		padding: 0 5px;
		top: 0;
	}
	.currentuserchip #currentusername, #messageboxouter #visitor_login_btn {
		margin: 0 0 0 10px;
	}
	.currentuserchip #currentuserimage_parent, #messageboxouter {
		line-height: 0;
	}
	.currentuserchip {
		#currentuserimage_parent, #currentusername {
			vertical-align: middle;
		}
		#currentusername {
			left: 0;
		}
		#currentuserimage_parent #currentuserimage {
			margin-right: 0;
		}
	}
	#messageboxouter {
		@include flex(full);
		overflow: visible;
		#messagebox {
			padding-right: 35px;
		}
	}
	.wdt-emoji-picker {
		top: 14px;
	}
}

/* Emoji Popup
============================================== */

.wdt-emoji-popup {
	height: 220px;
	@include position($bottom: 0, $top: 0 !important, $right: 30px, $left: auto !important);
	margin: auto;
	overflow: hidden;
	border: 0;
	border-radius: 0;
	&, h3 {
		background: $color-02;
	}
	h3, #wdt-emoji-footer, #wdt-emoji-menu-header, .wdt-emoji {
		padding: 5px;
	}
	h3, #wdt-emoji-preview-bundle,  {
		font-size: inherit;
	}
	.wdt-emoji-tab.active {
		border-bottom-color: $color-17;
	}
	span.emoji-outer {
		@include sizing(16px, 16px);
	}
	#wdt-emoji-menu-header, #wdt-emoji-footer {
		background: $color-01;
		border: 0;
	}
	.wdt-emoji-scroll-wrapper {
		border-left: 1px solid $color-01;
		border-right: 1px solid $color-01;
	}
	#wdt-emoji-search {
		margin: 10px;
		width: 95%;
	}
	#wdt-emoji-preview-bundle {
		bottom: 12px;
	}
	#wdt-emoji-preview {
		#wdt-emoji-preview-text {
			top: 0;
		}
		#wdt-emoji-preview-img span.emoji-outer.emoji-sizer {
			@include sizing(24px, 24px);
		}
	}
}

/* Mention Picker
============================================== */

#mention-picker {
	@include position($bottom: 55px, $right: 20px);
	max-width: 89.2%;
	color: $color-06;
	background: $light-04;
	overflow: visible;
	border-radius: 3px;
	.mention-choice {
		justify-content: flex-start;
		&.selected {
			background-color: transparent;
		}
	}
}

/* Dropdown Content
============================================== */

.dropdown-content {
	border-radius: 0 0 3px 3px;
	box-shadow: none;
	li {
		min-height: 1px;
		& > a, & > span {
			font-size: rem(12px);
			color: $color-06;
			padding: 5px 10px;
		}
	}
}

/* Modal
============================================== */

.modal {
	background-color: $color-02;
	@include position($bottom: 0 !important, $top: 0 !important);
	border-radius: 0;
	box-shadow: none;
	max-height: 85%;
	&, &.bottom-sheet {
		margin: auto;
		width: 85%;
	}
	&.bottom-sheet {
		max-height: 60%;
	}
	p, #discordlogin_btn, #guest_login_instr, input[type='text'], #guestlogin_box:before {
		margin: 0 0 10px 0;
	}
	h4, #loginmodal h4 {
		font-size: rem(20px);
	}
	label, #discordlogin_btn_warn {
		font-size: rem(12px);
	}
	h4 {
		@include spectral-common;
		margin: 0 0 10px 0;
	}
	.modal-content {
		padding: 20px;
	}
	.row {
		margin: 0 -10px;
		& > .col, #modal_guildinfobox {
			padding: 0 10px;
			margin: 0 0 10px 0;
		}
	}
	#discordlogin_btn_warn, #guestlogin_box:before {
		font-style: italic;
	}
	#authfields .row .col {
		float: none;
		width: auto;
	}
	#guestlogin_box:before {
		content: '- OR -';
		display: block;
		font-size: rem(14px);
	}
	#modal_guildinfobox {
		background-color: transparent;
		border-right: 1px dashed $color-02;
	}
}

/* Login Modal
============================================== */

#loginmodal {
	&, .flow-text {
		font-size: rem(12px);
	}
}

/* User Embed Modal
============================================== */

#userembedmodal {
	.modal-content > .row {
		&:last-child {
			margin: 0;
		}
		&:nth-child(2) > div {
			padding: 0 10px;
		}
	}
	label[for='change_username_field'] {
		display: block;
		margin: 0 0 10px 0;
	}
	#logout_btn {
		padding: 6px 5px 3px 5px;
	}
}

/* NSFW Modal
============================================== */

#nsfwmodal i {
	color: $color-08;
}

/* File Modal
============================================== */

#filemodal {
	.progress {
		background-color: $color-05;
		.determinate {
			background-color: map-get($color-set-05, light-00);
		}
	}
	#filemodal-body {
		#filemodal-right {
			width: 100%;
		}
		#filemodal-left {
			margin: 0 10px 0 0;
		}
		#messagebox-filemodal {
			@include placeholder {
				color: $dark-01;
			}
		}
	}
}

/* User Card
============================================== */

#usercard {
	.row .col {
		&.m2 {
			width: 25%;
			text-align: center;
		}
		&.m10 {
			width: 75%;
		}
	}
	.badges {
		margin: 0 0 10px 0;
	}
	.identity, .bottag, .role .bubble {
		display: inline-block;
	}
	.identity, .bottag {
		vertical-align: middle;
	}
	.bottag {
		margin: 0 0 10px 10px;
	}
	.roles {
		padding-left: 5px;
		.bubble {
			margin: 0 5px 10px 5px;
			vertical-align: top;
		}
	}
}


/* Resets
============================================== */

@include respond(767px) {
	.modal .row > .col, #usercard .row .col.m2, #usercard .row .col.m10 {
		width: auto;
	}
	.modal .row > .col {
		float: none;
	}
}

@include respond(600px) {
	.btn, .btn-large {
		width: 100%;
	}
	.btn, .btn-large, #loginmodal #modal_invite_btn, #loginmodal #modal_invite_btn_invite_link, #loginmodal #discordlogin_btn {
		padding: 10px;
		height: auto;
		line-height: 1.45;
		font-size: rem(13px);
	}
	.navbar-fixed nav a.button-collapse, #footercontainer #visitor_mode_message_note, #footercontainer #nameplate {
		display: none;
	}
	.side-nav {
		max-width: 75%;
	}
	#footercontainer #messageboxouter #visitor_login_btn {
		margin: 0;
	}
	#loginmodal #authfield-choosetxt.flow-text, #loginmodal #custom_username_field, #nsfwmodal #dismiss_nsfw_btn {
		margin: 0 0 10px 0;
	}
	#loginmodal {
		h4, #guest_login_instr, #discordlogin_btn_warn, #authfield-choosetxt {
			display: block;
		}
		h4 {
			font-size: rem(20px);
		}
		#custom_username_field_label {
			font-size: rem(12px);
		}
		#authfields {
			margin-top: 0;
		}
	}
}

@include respond(500px) {
	#loginmodal {
		#modal_guildiconcircle {
			max-width: 55px;
		}
		#modal_guildname {
			text-align: left;
			margin: 0 0 0 65px;
		}
	}
}
