{% import 'utilities/macros.html' as function %}

<div class="sitemap">
	{% if KHY_NAV_LINKS %}
		{% for key, link in KHY_NAV_LINKS %}
			<section id="sitemap-{{ key }}" class="sitemap-section">
				<h3><a href="{{ ROOT_PATH }}{{ link.url }}">{{ link.name }}</a></h3>
				{% if link.children %}
					<ul class="sitemap-menu" role="menu">
						{% for key2, link2 in link.children %}
							{{ function.create_nav_li(ROOT_PATH ~ link2.url, link2.name) }}
							{% if link2.children %}
								{% for key3, link3 in link2.children %}
									{{ function.create_nav_li(ROOT_PATH ~ link3.url, link3.name, 'sub-link') }}
								{% endfor %}
							{% endif %}
						{% endfor %}
						{% if key == 'about' %}
							{% include 'partials/nav_menu_about.html' %}
						{% elseif key == 'members' && not S_IS_BOT && (S_DISPLAY_MEMBERLIST || U_TEAM) %}
							{% include 'partials/nav_menu_quick_links.html' %}
						{% endif %}
					</ul>
				{% endif %}
			</section>
		{% endfor %}
	{% endif %}
	{% if S_DISPLAY_SEARCH %}
		<section id="sitemap-search" class="sitemap-section">
			<h3><a href="{{ U_SEARCH }}">{{ lang('SEARCH') }}</a></h3>
		</section>
	{% endif %}
</div>
