{% set max_level = 60 %}
{% set level_mods = range(25, 50, 0.5) %}

{% set card_objects = [] %}

{% for i in range(1, max_level) %}
	{% set modifier_index = ((i / 5) | round(0, 'ceil') - 1) %}

	{% if KHY_USER_LEVEL && i <= KHY_USER_LEVEL %}
		{% set icon = 'icon-bg-green fa-heart' %}
	{% else %}
		{% set icon = 'icon-bg-red fa-close' %}
	{% endif %}

	{% set experience = (level_mods[modifier_index] * i * (i - 1)) | number_format(0, '.', ',') %}

	{% if i % 10 == 0 %}
		{% set bonus = 'HP and MP increase.' %}
	{% else %}
		{% set bonus = 'No bonus.' %}
	{% endif %}

	{% set cards_add = [{
		title : 'Level ' ~ ((i < 10) ? '0' : '') ~ i,
		icon : icon,
		experience : experience ? experience : '&#48;',
		bonus : bonus
	}] %}

	{% set card_objects = card_objects | merge(cards_add) %}
{% endfor %}

{% set new_cards = {
	'Levels' : card_objects
} %}

{% set completed_cards = [] %}
{% if KHY_USER_LEVEL %}
	{% for i in range(1, KHY_USER_LEVEL) %}
		{% set completed_cards = completed_cards | merge(['levels-level-' ~ ((i < 10) ? '0' : '') ~ i]) %}
	{% endfor %}
{% endif %}

{{ function.loop_cards(new_cards, completed_cards, KHY_SCRIPT_NAME) }}
