{% import 'utilities/macros.html' as function %}

{% if KHY_HALF_BREED %}
	{% apply spaceless %}
		{% set cards = KHY_HALF_BREED %}

		{% set race_filters = ['Dwarf', 'Elemental', 'Fae', 'Human', 'Kerasoka', 'Lumeacia', 'Shapeshifter', 'Ue\'drahc'] %}
		{% set card_filters = {
			'Race'            : race_filters,
			'Compatible With' : race_filters,
			'Status'          : ['Compatible', 'In compatible']
		} %}

		{% set card_object = '' %}
	{% endapply %}

	{{ function.create_filters(KHY_USER_ACCOUNT_TYPE, 'Races', card_filters) }}

	{% for key, card in cards %}
		<section id="{{ key }}" class="page-content-section toggleable-section" data-quick-name="{{ card.name }}">
			<h3>
				<button class="toggle-button button-link" type="button" data-toggle-type="half-breed" data-toggle-id="{{ loop.index }}" data-toggle-name="{{ key }}" data-toggle-state="true" data-toggle-mobile="false"><i class="icon icon-xl fa-angle-up menu-trigger"></i></button> {{ card.name }}
			</h3>
			{% if card.desc %}
				<p>{{ card.desc }}</p>
			{% endif %}
			<div class="card-grid">
				{% for item_key, item in card.items %}
					{% set card_id = key  ~ '-' ~ item_key %}
					{% set card_changed = ('card-trigger' in item.icon) ? true : false %}
					<div id="{{ card_id }}" class="card-block{% if item.name == 'Not Applicable'%} card-full{% endif %}">
						<h5 class="card-title">{{ item.name }}</h5>
						<div class="icon-wrapper">
							<i class="icon icon-round {{ item.icon }}" aria-hidden="true"></i>
						</div>
						<div class="card-description">
							<span class="card-description-wrapper">{{ item.desc }}</span>
						</div>
						<div class="card-clear"></div>
					</div>
					{% set card_data %}{% apply spaceless %}
						{% set compatible_with = '' %}
						{% if 'fa-heart' in item.icon %}
							{% set compatible_with = 'compatible-with=' ~ item.name ~ ', ' %}
						{% endif %}
						{'id' : '#{{ card_id }}', 'filters' : 'race={{ function.create_handle(item.name) }}, {{ function.create_handle(compatible_with) }} status={{ card_changed ? 'in-compatible' : 'compatible' }}', 'applied' : 0}{% if (!loop.last && key == 'Ue\'drahc') || (key != 'Ue\'drahc') %},{% endif %}
					{% endapply %}{% endset %}
					{% set card_object = card_object ~ card_data %}
				{% endfor %}
			</div>
		</section>
	{% endfor %}

	<script>
		var cardBlocks = [{{ card_object }}];
	</script>
{% else %}
	<section class="page-content-section">
		<p>There are no active half-breed races.</p>
	</section>
{% endif %}
