{% import 'utilities/macros.html' as function %}

{% if KHY_BADGES %}
	{% apply spaceless %}
		{% set cards = KHY_BADGES %}
	{% endapply %}

	{% for key, card in cards if card.items %}
		<section id="{{ key }}" class="page-content-section toggleable-section" data-quick-name="{{ card.name }}">
			<h3>
				<button class="toggle-button button-link" type="button" data-toggle-type="badges" data-toggle-id="{{ loop.index }}" data-toggle-name="{{ key }}" data-toggle-state="true" data-toggle-mobile="false"><i class="icon icon-xl fa-angle-up menu-trigger"></i></button> {{ card.name }}
			</h3>
			{% if card.desc %}
				<p>{{ card.desc }}</p>
			{% endif %}
			<div class="card-grid">
				{% for item_key, item in card.items %}
					{% set card_id = key  ~ '-' ~ item_key %}
					<div id="{{ card_id }}" class="card-block">
						<h5 class="card-title">
							<a href="{{ ROOT_PATH }}{{ item.details.link }}">{{ item.name }}</a>
						</h5>
						<div class="icon-wrapper">
							<div class="icon-badge">
								<img src="{{ ROOT_PATH }}{{ item.icon }}" alt="{{ item.name }}" title="{{ item.name }}" />
							</div>
						</div>
						<div class="card-description">
							<span class="card-description-wrapper">{{ item.desc }}</span>
						</div>
						<div class="card-clear"></div>
						{% if item.recipients %}
							<dl class="details details-small">
								<dt>Recipients:</dt>
								<dd>
									{% for recipient in item.recipients %}
										<a href="{{ ROOT_PATH }}{{ recipient.profile }}">{{ recipient.name }}</a>{% if !loop.last %}, {% endif %}
									{% endfor %}
								</dd>
							</dl>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</section>
	{% endfor %}
{% else %}
	<section class="page-content-section">
		<p>There are no active badge categories.</p>
	</section>
{% endif %}
