{% set footer_links = {
	'Listed At' : [
		{
			name : 'RPG Initiative',
			url :  '//rpginitiative.com',
			image : './images/content/misc/banner-rpginitiative.png'
		},
		{
			name : 'RPG-Directory',
			url :  '//rpg-directory.com/index.php',
			image : '//files.jcink.net/uploads/rpgdirectory/RPGD_Buttons/rpgdbutton2.png'
		},
		{
			name : 'RPG Rating System',
			url :  '//rpgrating.com',
			image : './images/content/misc/banner-rpgrating-333.png'
		}
	],
	'Affiliates' : []
} %}

{% if footer_links %}
	{% for key, link in footer_links %}
		<h4>{{ key }}</h4>
		{% if (link | length) > 0 %}
			<div class="button-wrapper">
				{% for detail in link %}
					<a class="button-link" href="{{ detail.url }}" target="_blank">
						<img src="{{ detail.image }}" alt="{{ detail.name }}" title="{{ detail.name }}" />
					</a>
				{% endfor %}
			</div>
		{% else %}
			<p><em>Coming soon...!</em></p>
		{% endif %}
	{% endfor %}
{% endif %}
