{% macro create_footer_links(link_set, path) %}
	{% if link_set && link_set.items %}
		<h4>{{ link_set.name }}</h4>
		<div class="listed-at-wrapper">
			{% for item_key, item in link_set.items %}
				<a class="listed-at-link" href="{{ item.link }}" target="_blank">
					<img src="{% if 'images/' in item.image %}{{ path }}{% endif %}{{ item.image }}" alt="{{ item.name }}" title="{{ item.name }}" />
				</a>
			{% endfor %}
		</div>
	{% endif %}
{% endmacro %}

{% if KHY_LAYOUT['footer-listed-at'] || KHY_LAYOUT['footer-affiliates'] %}
	{{ _self.create_footer_links(KHY_LAYOUT['footer-listed-at'], ROOT_PATH) }}
	{{ _self.create_footer_links(KHY_LAYOUT['footer-affiliates'], ROOT_PATH) }}
{% endif %}
