{% set header_links = {
	'Announcements' : [
		{
			name : 'Officially Open!',
			date : 'May 19, 2019',
			url : 'viewtopic.php?f=9&t=47&p=90#p90'
		},
		{
			name : 'Roadmap',
			date : 'May 18, 2019',
			url : 'viewtopic.php?f=9&t=46'
		}
	]
} %}

{% if header_links %}
	{% set textlimit = ((header_links | length) > 1) ? 25 : 55 %}
	<div class="site-links">
		<div class="flex-row flex-row-10">
			{% for key, link in header_links %}
				{% if (link | length) > 0 %}
					<div class="flex-column">
						<h5>{{ key }}</h5>
						<ul>
							{% for detail in link %}
								<li>
									<a href="{{ ROOT_PATH }}{{ detail.url }}">
										{{ ((detail.name | length) > textlimit) ? (detail.name[:textlimit] ~ '...') : detail.name }}
									</a> posted {{ detail.date }}
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endif %}
