{% if KHY_LAYOUT['featured-blocks'] && KHY_LAYOUT['featured-blocks'].items %}
	<section id="featured-content" class="featured-content">
		<div class="wrapper">
			<div class="featured-title">
				<h4>
					<i class="icon rpg-icon rpg-stars-stack" aria-hidden="true"></i>{{ KHY_LAYOUT['featured-blocks'].name }}<i class="icon rpg-icon rpg-stars-stack" aria-hidden="true"></i>
				</h4>
			</div>
			<div class="flex-row flex-row-05">
				{% for item_key, item in KHY_LAYOUT['featured-blocks'].items %}
					<div class="flex-column featured-{{ item_key }}">
						<a href="{{ ROOT_PATH }}{{ item.link }}">
							<div class="featured-details">
								<div class="image-wrap">
									<img src="{{ ROOT_PATH }}images/content/misc/feature-{{ item_key }}.jpg" alt="{{ item.name }}" />
								</div>
								<p>{{ item.name }}</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
