{% set featured_blocks = [
	{
		url  : 'members-character-census',
		type : 'character-census',
		text : 'Character Census'
	},
	{
		url  : 'members-character-listing',
		type : 'character-listing',
		text : 'Character Listing'
	},
	{
		url  : 'about-getting-started#creating-a-character',
		type : 'profiles',
		text : 'New Profile Fields'
	},
	{
		url  : 'setting',
		type : 'setting',
		text : 'Expanded Locations'
	}
] %}

{% if featured_blocks && (featured_blocks | length) > 0 %}
	<section id="featured-content" class="featured-content">
		<div class="wrapper">
			<div class="featured-title">
				<h4>
					<i class="icon rpg-icon rpg-stars-stack" aria-hidden="true"></i>Featured<i class="icon rpg-icon rpg-stars-stack" aria-hidden="true"></i>
				</h4>
			</div>
			<div class="flex-row flex-row-05">
				{% for feature in featured_blocks %}
					<div class="flex-column featured-{{ feature.type }}">
						<a href="{{ ROOT_PATH }}{{ feature.url }}">
							<div class="featured-details">
								<div class="image-wrap">
									<img src="{{ ROOT_PATH }}images/content/misc/feature-{{ feature.type }}.jpg" alt="{{ feature.text }}" />
								</div>
								<p>{{ feature.text }}</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
