{% set quotes = [
	{
		text : 'Someone had once called Toa impulsive and while she had responded to this by slapping them in the face in retrospect they may have had a point.',
		author : '<a href="./viewtopic.php?f=15&p=296#p296">Toa</a>'
	},
	{
		text : 'When the smoke vanished from the falling entity, a cat had taken the place of the hawk. Silvery coat, with black spots and large, tufted ears; Loxiel\'s cat form was the only chance he had at surviving this fall. A cat always landed on its feet... right?',
		author : '<a href="./viewtopic.php?f=15&t=143#p526">Loxiel</a>'
	},
	{
		text : '"I... uh. I guess you saw that." Cass began nervously, offering the other a sheepish smile. "You\'re shorter than I thought."',
		author : '<a href="./viewtopic.php?f=13&t=138&p=542#p522">Cassian Thander</a>'
	},
	{
		text : 'With a shake of his now massive head, Harrroc planted his paws firmly and let loose a bone-rattling howl. The mournful wail seemed to pierce through the jungle and leave silence behind. After several moments of silence, far off replies could be heard. They wove together and became uncountable before finally fading away.',
		author : '<a href="./viewtopic.php?f=14&t=124&p=548#p430">Harroc Crownegrove</a>'
	},
	{
		text : '"Well, can\'t pretend I ever knew Lilian all that well, but I dare to say you\'re far more of a looker than she ever was; if you\'re still needing comfort in the dead of night, I\'ve received splendid reviews about my bedside." Was it inappropriate? Maybe. Would Katarya disapprove of Val leaning over the counter with far more spirit than before and eyeing her black outfit up and down? Almost certainly, but try explaining good manners and empathy to a bard.',
		author : '<a href="./viewtopic.php?f=12&t=122#p468">Val Bellamy</a>'
	},
	{
		text : '"If you\'re so berry talented, then lettuce hear you sweeten your tune to plumb the depths of our hearts as well as our coin purses, hmm? Give it another try, darling, and this time try to make it a-peel-ing instead of appalling." There was a lilt to his accent, an obvious blending of vowels and lingering on certain consonants that marked him just as much from Ninraih as his stature and his wings, as his color and flair marked him as a glorious jungle flower far from home.',
		author : '<a href="./viewtopic.php?f=12&t=125#p441">Roan Mohan</a>'
	},
	{
		text : '"Did you know," Mara began, abruptly breaking the silence, "there is a love story about Ristgir and Ny\'tha? It was said that Ixaziel did tell them to rule the heavens equally, instructing them to march across the sky in an endless parade of day into night, night into day. They follow after one another, always just out of reach."',
		author : '<a href="./viewtopic.php?f=14&t=124#p711">Mara Whitewood</a>'
	},
	{
		text : '"Did he draw you in with some tale about his \'dear old nan\' or was he just pathetic?" She opened her eyes wide, innocently. "Artemis can be rather manipulative, so I do hope you\'re staying on your toes."',
		author : '<a href="./viewtopic.php?f=12&t=162&start=10#p771">Ksenia</a>'
	},
	{
		text : '"Mm," she hummed, her distracted tone verging on dismissive. Peering sidelong at her Lanae continued, adding more softly, "Hide while you can, but like calls to like; your fangs are not invisible either - to those who know how to look."',
		author : '<a href="./viewtopic.php?f=11&p=860#p860">Lanae Ofnowhere</a>'
	},
	{
		text : 'Swearing colourfully in his mother tongue, D&aacute;ire tried to wriggle out from under the flailing limbs of the wizard, was the man drunk? After managing to scramble to his feet, he could detect no lingering scents of stale liquor on the man, who was still on the ground. No longer flailing, just sitting quietly, squinting up at D&aacute;ire as he watched him.',
		author : '<a href="./viewtopic.php?f=12&t=169#p874">D&aacute;ire</a>'
	},
	{
		text : 'I hate coming up with smart ass comments and not being able to use them, so instead, I made my way over to the fallen woman and said, "I believe the store is closed. You may want to try back during normal business hours." And I reached out a hand to offer her a hand up.<br /><br />I really hoped this lady wasn\'t actually trying to rob the place, otherwise this could get awkward real fast.',
		author : '<a href="./viewtopic.php?f=12&t=48#p110">Victor Sage</a>'
	},
	{
		text : '"What do you want? Congratulations on your vocal performance last night? Gotta say, the soprano screams at about three in the morning knocked me right off my bedroll. And the fortissimo groaning set it off so nicely, I hardly have room to mention that really lovely aria that seemed to consist of Artemis\'s name - and every idol and eidolon, ever."',
		author : '<a href="./viewtopic.php?f=12&t=168&start=20#p910">Ksenia</a>'
	},
	{
		text : 'Maggie seemed kind and proud. A formidable old woman with a steely resolve and a warm heart. She might practice the Arts rather then wield a sword, but in his eyes she held every caliber of a knight.',
		author : '<a href="./viewtopic.php?f=12&t=157&start=20#p990">Arthur Claymore</a>'
	},
	{
		text : 'Reputation was the only real currency that mattered when you dealt in the lawless and dangerous. Gold can be taken, forged, or simply never appear. Reputation took time to build, and could be destroyed in a moment. A man without it had less than the alleyways; they could be relied upon to stink.',
		author : '<a href="./viewtopic.php?f=12&t=177&p=1190#p1190">Artemis Black</a>'
	},
	{
		text : '"Hey, no pushing now." He chided two kids as they tried to get closer. He stepped aside regardless; children should have fun; as much fun as is possible, especially since they were Human and would be dead soon anyway. Raen shrugged.',
		author : '<a href="./viewtopic.php?f=12&t=188#p1278">Raen Silver</a>'
	},
	{
		text : 'It was seldom the wolf was wrong in her assessments of threats, her extrasensory perceptions bordering on otherworldly. Khan had to wonder if she possessed the magic he had been robbed of, hundreds of years ago. It was a terrible thing to remember what was lost, particularly when it was intertwined with one\'s literal being.',
		author : '<a href="./viewtopic.php?f=17&t=194#p1426">Galynhun-Khan Tinnudir</a>'
	},
	{
		text : 'The wolf had started bouncing around excitedly by this point and he decided it was either a very lost companion to some sort of ranger, or had some terrible brain parasite. He\'d heard of those once, they lived in the water. It\'s why you always boiled it.',
		author : '<a href="./viewtopic.php?f=15&t=205#p1626">Malcolm Rhodes</a>'
	},
	{
		text : 'When the crafter started showing all the signs of a creator possessed, Artemis knew he\'d chosen correctly. Most people who made things from thin air tended to have similar monologues when approached with an opportunity. It meant they weren\'t paying any attention at all to silly details like their own safety or getting paid a fair amount.',
		author : '<a href="./viewtopic.php?f=12&t=132#p565">Artemis Black</a>'
	},
	{
		text : 'The flying squirrel didn\'t respond. As usual. But it did happily take a few berries from her as she snacked on her way. Tika thought it was funny to feed berries to Tok, as the berries stained the creatures mouth and made her look carnivorous. Honestly, a carnivorous flying squirrel was a scary concept!',
		author : '<a href="./viewtopic.php?t=199#p1645">Tika</a>'
	},
	{
		text : 'She picked up one that looked promising - "Pyromancy for Halfwits" was the title, blazoned across a bright yellow cover. She tucked it under her arm and kept looking.',
		author : '<a href="./viewtopic.php?f=15&t=240#p1965">Roridula Lunatus</a>'
	},
	{
		text : 'If nothing else, at least admiring the buildings were interesting. He couldn\'t help but wonder if Cecilia had lived in one of these many houses, or maybe some other one of the many Idols, considering the absolute prestige in this area. Or did exciting things happen to ordinary folk? "Maybe even... someone like me?"',
		author : '<a href="./viewtopic.php?f=12&t=275#p2217">Calem Sabathe</a>'
	},
	{
		text : '"My teacher calls me Dez, and I\'m looking for a performer." The dragon gave his best smile following his words.<br /><br />"Oh really aren\'t we all? Isn\'t that right soldiers?" The three other warriors nodded in unison. The youngest gave an extra wink. "Right, but you look like a thief to me. So watch yourself kid. We take pride in our job. Stay out of trouble and move along."',
		author : '<a href="./viewtopic.php?f=12&t=250#p2055">Dessrexin</a>'
	}
] %}

<div id="site-description" class="site-description">
	<h1>
		<a href="{% if U_SITE_HOME %}{{ U_SITE_HOME }}{% else %}{{ U_INDEX }}{% endif %}" title="{% if U_SITE_HOME %}{{ lang('SITE_HOME') }}{% else %}{{ lang('INDEX') }}{% endif %}">{{ SITENAME }}</a>
	</h1>
	<h3>{{ SITE_DESCRIPTION }}</h3>
	<p class="skiplink"><a href="#start_here">{{ lang('SKIP') }}</a></p>
</div>

{% if quotes && (quotes | length) > 0 %}
	{% set quote_num = random((quotes | length) - 1) %}
	{% set textlimit = 330 %}
	<div class="header-divider"></div>
	<div id="site-quotes" class="site-quotes">
		<p>
			{{ ((quotes[quote_num].text | length) > textlimit) ? (quotes[quote_num].text[:textlimit] ~ '...') : quotes[quote_num].text }}
		</p>
		{% if quotes[quote_num].author %}
			<p class="quote-author"><em>- {{ quotes[quote_num].author }}</em></p>
		{% endif %}
	</div>
{% endif %}
