<div id="site-description" class="site-description">
	<h1>
		<a href="{% if U_SITE_HOME %}{{ U_SITE_HOME }}{% else %}{{ U_INDEX }}{% endif %}" title="{% if U_SITE_HOME %}{{ L_SITE_HOME }}{% else %}{{ L_INDEX }}{% endif %}">{{ SITENAME }}</a>
	</h1>
	<h3>{{ SITE_DESCRIPTION }}</h3>
	<p class="skiplink"><a href="#start_here">{{ lang('SKIP') }}</a></p>
</div>

{% if KHY_LAYOUT['quotes'] && KHY_LAYOUT['quotes'].items %}
	{% set quotes = KHY_LAYOUT['quotes'].items %}
	{% set quote_num = random((quotes | length) - 1) %}
	{% set textlimit = 330 %}
	<div class="header-divider"></div>
	<div id="site-quotes" class="site-quotes">
		<p>
			{{ ((quotes[quote_num].desc | length) > textlimit) ? (quotes[quote_num].desc[:textlimit] ~ '...') : quotes[quote_num].desc }}
		</p>
		{% if quotes[quote_num].author %}
			<p class="quote-author"><em>- {{ quotes[quote_num].author }}</em></p>
		{% endif %}
	</div>
{% endif %}
