{% import 'utilities/macros.html' as function %}
{% set show_character_details = 'false' %}

{% set character_fields = {
	(PROFILE_C_EXPERIENCE_NAME)  : (PROFILE_C_EXPERIENCE_VALUE ? PROFILE_C_EXPERIENCE_VALUE : '&#48;'),
	(PROFILE_C_RACE_OPTS_NAME)   : function.replace_comma(PROFILE_C_RACE_OPTS_VALUE),
	(PROFILE_C_CLASS_OPTS_NAME)  : function.replace_comma(PROFILE_C_CLASS_OPTS_VALUE),
	(PROFILE_C_LANGUAGES_NAME)   : PROFILE_C_LANGUAGES_VALUE,
	(PROFILE_C_PROFESSION_NAME)  : PROFILE_C_PROFESSION_VALUE,
	(PROFILE_C_GENDER_NAME)      : PROFILE_C_GENDER_VALUE,
	(PROFILE_PRONUNCIATION_NAME) : PROFILE_PRONUNCIATION_VALUE
} %}
{% set character_all_fields = character_fields %}

{% if function.show_details(character_all_fields) == 'true' %}
	{% set show_character_details = 'true' %}
	<dl class="details{{ character_class }}">
		{% for name, value in character_fields if value %}
			<dt>{{ name }}{{ lang('COLON') }}</dt>
			<dd>{{ value }}</dd>
		{% endfor %}
	</dl>
{% endif %}
