{% import 'utilities/macros.html' as function %}
{% set show_character_desc = 'false' %}

<div class="character-description{{ character_class }}">
	{% set feature_fields = {
		(PROFILE_C_HEIGHT_NAME)     : PROFILE_C_HEIGHT_VALUE,
		(PROFILE_C_WEIGHT_NAME)     : PROFILE_C_WEIGHT_VALUE,
		(PROFILE_C_FIGURE_NAME)     : PROFILE_C_FIGURE_VALUE,
		(PROFILE_C_TORSO_NAME)      : PROFILE_C_TORSO_VALUE,
		(PROFILE_C_COMPLEXION_NAME) : PROFILE_C_COMPLEXION_VALUE,
		(PROFILE_C_FACE_NAME)       : PROFILE_C_FACE_VALUE,
		(PROFILE_C_HAIR_NAME)       : PROFILE_C_HAIR_VALUE,
		(PROFILE_C_EYES_NAME)       : PROFILE_C_EYES_VALUE,
		(PROFILE_C_EARS_NAME)       : PROFILE_C_EARS_VALUE,
		(PROFILE_C_VOICE_NAME)      : PROFILE_C_VOICE_VALUE
	} %}
	{% set feature_other_fields = {
		(PROFILE_C_FEATURES_NAME) : PROFILE_C_FEATURES_VALUE
	} %}
	{% set feature_all_fields = feature_fields | merge(feature_other_fields) %}

	{% if function.show_details(feature_all_fields) == 'true' %}
		{% set show_character_desc = 'true' %}
		<section class="page-content-section">
			<h3>Physical Features</h3>

			{% if function.show_details(feature_fields) == 'true' %}
				{{ function.create_details(feature_fields) }}
			{% endif %}

			{% if PROFILE_C_FEATURES_VALUE %}
				<h5>Other Features</h5>
				<p>{{ function.replace_breaks(PROFILE_C_FEATURES_VALUE) }}</p>
			{% endif %}
		</section>
	{% endif %}

	{% set social_fields = {
		(PROFILE_C_ROMANTIC_NAME) : PROFILE_C_ROMANTIC_VALUE,
		(PROFILE_C_SEXUAL_NAME)   : PROFILE_C_SEXUAL_VALUE
	} %}
	{% set social_other_fields = {
		(PROFILE_C_RELATIONSHIPS_NAME) : PROFILE_C_RELATIONSHIPS_VALUE,
		(PROFILE_C_PERSONALITY_NAME)   : PROFILE_C_PERSONALITY_VALUE
	} %}
	{% set social_all_fields = social_fields | merge(social_other_fields) %}

	{% if function.show_details(social_all_fields) == 'true' %}
		{% set show_character_desc = 'true' %}
		<section class="page-content-section">
			<h3>Social Interactions</h3>

			{% if function.show_details(social_fields) == 'true' %}
				{{ function.create_details(social_fields) }}
			{% endif %}

			{% if PROFILE_C_RELATIONSHIPS_VALUE %}
				<h5>{{ PROFILE_C_RELATIONSHIPS_NAME }}</h5>
				<p>{{ function.replace_breaks(PROFILE_C_RELATIONSHIPS_VALUE) }}</p>
			{% endif %}

			{% if PROFILE_C_PERSONALITY_VALUE %}
				<h5>{{ PROFILE_C_PERSONALITY_NAME }}</h5>
				<p>{{ function.replace_breaks(PROFILE_C_PERSONALITY_VALUE) }}</p>
			{% endif %}
		</section>
	{% endif %}

	{% set deity_label = 'None' %}
	{% if PROFILE_C_RELIGION_TYPE_VALUE == 'Archaicism' %}
		{% set deity_label = 'Archaics' %}
	{% elseif PROFILE_C_RELIGION_TYPE_VALUE == 'Idolism' %}
		{% set deity_label = 'Idols' %}
	{% endif %}

	{% set religion_fields = {
		'Belief'      : PROFILE_C_RELIGION_TYPE_VALUE,
		(deity_label) : PROFILE_C_RELIGION_OPTS_VALUE
	} %}
	{% set religion_other_fields = {
		(PROFILE_C_RELIGION_HIST_NAME) : PROFILE_C_RELIGION_HIST_VALUE
	} %}
	{% set religion_all_fields = religion_fields | merge(religion_other_fields) %}

	{% if function.show_details(religion_all_fields) == 'true' %}
		{% set show_character_desc = 'true' %}
		<section class="page-content-section">
			<h3>Religion</h3>

			{% if function.show_details(religion_fields) == 'true' %}
				{{ function.create_details(religion_fields) }}
			{% endif %}

			{% if PROFILE_C_RELIGION_HIST_VALUE %}
				<h5>History</h5>
				<p>{{ function.replace_breaks(PROFILE_C_RELIGION_HIST_VALUE) }}</p>
			{% endif %}
		</section>
	{% endif %}

	{% set background_fields = {
		(PROFILE_C_BIRTHDAY_NAME)  : PROFILE_C_BIRTHDAY_VALUE,
		(PROFILE_C_AGE_NAME)       : PROFILE_C_AGE_VALUE,
		(PROFILE_C_ORIGIN_NAME)    : PROFILE_C_ORIGIN_VALUE,
		(PROFILE_C_RESIDENCE_NAME) : PROFILE_C_RESIDENCE_VALUE
	} %}
	{% set background_other_fields = {
		(PROFILE_C_BACKGROUND_NAME) : PROFILE_C_BACKGROUND_VALUE
	} %}
	{% set background_all_fields = background_fields | merge(background_other_fields) %}

	{% if function.show_details(background_all_fields) == 'true' %}
		{% set show_character_desc = 'true' %}
		<section class="page-content-section">
			<h3>Background</h3>

			{% if function.show_details(background_fields) == 'true' %}
				{{ function.create_details(background_fields) }}
			{% endif %}

			{% if PROFILE_C_BACKGROUND_VALUE %}
				<h5>History</h5>
				<p>{{ function.replace_breaks(PROFILE_C_BACKGROUND_VALUE) }}</p>
			{% endif %}
		</section>
	{% endif %}

	{% if show_character_desc == 'false' %}
		<section class="page-content-section">
			<h3>Nothing Here Yet</h3>
			<p>This character is filling out their profile. Check back later!</p>
		</section>
	{% endif %}
</div>
