<ul class="menu nav-menu" role="menu">
	{% if KHY_LINKS %}
		{% for key, link in KHY_LINKS if !link.parent %}
			<li class="dropdown-container">
				{{ function.create_nav_main(ROOT_PATH ~ key, link.label) }}
				<div class="dropdown">
					<ul class="dropdown-contents" role="menu">
						{% for map_key, map_link in KHY_LINKS if (key ~ '-') in map_key && map_link.parent && map_link.parent is not iterable && map_key != 'lore-short-history' %}
							{{ function.create_nav_li(ROOT_PATH ~ map_key, map_link.label) }}
						{% endfor %}
						{% if key == 'about' %}
							{% include 'partials/nav_menu_about.html' %}
						{% endif %}
					</ul>
				</div>
			</li>
		{% endfor %}
	{% endif %}
	{% if not S_IS_BOT && (S_DISPLAY_MEMBERLIST || U_TEAM) %}
		<li class="dropdown-container">
			{{ function.create_nav_main(U_MEMBERLIST, lang('MEMBERLIST')) }}
			<div class="dropdown">
				<ul class="dropdown-contents" role="menu">
					{% include 'partials/nav_menu_quick_links.html' %}
				</ul>
			</div>
		</li>
	{% endif %}
	{% EVENT overall_header_searchbox_before %}
	{% if S_DISPLAY_SEARCH %}
		<li class="dropdown-container">
			{{ function.create_nav_main(U_SEARCH, lang('SEARCH')) }}
			<div id="search-box" class="search-box search-header dropdown" role="search">
				<ul class="dropdown-contents">
					<li>
						<form action="{{ U_SEARCH }}" method="get" id="search">
							<fieldset>
								<input name="keywords" id="keywords" type="search" maxlength="128" title="{{ lang('SEARCH_KEYWORDS') }}" class="inputbox search tiny" size="20" value="{{ SEARCH_WORDS }}" placeholder="{{ lang('SEARCH_MINI') }}" />
								<button class="button button-search" type="submit" title="{{ lang('SEARCH') }}">
									<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>
								</button>
								<a href="{{ U_SEARCH }}" title="{{ lang('SEARCH_ADV') }}" class="button button-search-end">
									<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH_ADV') }}</span>
								</a>
								{{ S_SEARCH_HIDDEN_FIELDS }}
							</fieldset>
						</form>
					</li>
				</ul>
			</div>
		</li>
	{% endif %}
	{% EVENT overall_header_searchbox_after %}
	{% EVENT overall_header_navigation_prepend %}
	{% EVENT overall_header_navigation_append %}
</ul>
