<ul class="menu nav-menu" role="menu">
	{% if KHY_NAV_LINKS %}
		{% for key, link in KHY_NAV_LINKS if link.is_nav %}
			<li {% if link.children %}class="dropdown-container"{% endif %}>
				{% if key != 'members' %}
					{{ function.create_nav_main(ROOT_PATH ~ link.url, link.name, link.children) }}
				{% elseif not S_IS_BOT && (S_DISPLAY_MEMBERLIST || U_TEAM) %}
					{{ function.create_nav_main(U_MEMBERLIST, lang('MEMBERLIST'), link.children) }}
				{% endif %}
				{% if link.children %}
					<div class="dropdown">
						<ul class="dropdown-contents" role="menu">
							{% for key2, link2 in link.children %}
								{{ function.create_nav_li(ROOT_PATH ~ link2.url, link2.name) }}
							{% endfor %}
							{% if key == 'about' %}
								{% include 'partials/nav_menu_about.html' %}
							{% elseif key == 'members' && not S_IS_BOT && (S_DISPLAY_MEMBERLIST || U_TEAM) %}
								{% include 'partials/nav_menu_quick_links.html' %}
							{% endif %}
						</ul>
					</div>
				{% endif %}
			</li>
		{% endfor %}
	{% endif %}
	{% EVENT overall_header_searchbox_before %}
	{% if S_DISPLAY_SEARCH %}
		<li class="dropdown-container">
			{{ function.create_nav_main(U_SEARCH, lang('SEARCH'), true) }}
			<div id="search-box" class="search-box search-header dropdown" role="search">
				<ul class="dropdown-contents">
					<li>
						<form action="{{ U_SEARCH }}" method="get" id="search">
							<fieldset>
								<input name="keywords" id="keywords" type="search" maxlength="128" title="{{ lang('SEARCH_KEYWORDS') }}" class="inputbox search tiny" size="20" value="{{ SEARCH_WORDS }}" placeholder="{{ lang('SEARCH_MINI') }}" />
								<button class="button button-search" type="submit" title="{{ lang('SEARCH') }}">
									<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>
								</button>
								<a href="{{ U_SEARCH }}" title="{{ lang('SEARCH_ADV') }}" class="button button-search-end">
									<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH_ADV') }}</span>
								</a>
								{{ S_SEARCH_HIDDEN_FIELDS }}
							</fieldset>
						</form>
					</li>
				</ul>
			</div>
		</li>
	{% endif %}
	{% EVENT overall_header_searchbox_after %}
	{% EVENT overall_header_navigation_prepend %}
	{% EVENT overall_header_navigation_append %}
</ul>
