{% macro breadcrumb(crumb) %}
	{% set crumb_url = (crumb | replace({' ': '-'}) | lower) %}
	{% set crumb_label = (crumb | replace({'Lore ': '', 'Setting ': ''})) %}
	<li class="crumb" {$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->>
		<i class="icon fa-chevron-right fa-fw"></i>
		<a href="{BOARD_URL}{{ crumb_url }}" itemprop="url">
			<span itemprop="title">{{ crumb_label }}</span>
		</a>
	</li>
{% endmacro %}

{% set first_crumb = '' %}

{% if 'app/about-' in SCRIPT_NAME %}
	{% set first_crumb = 'About' %}
{% elseif 'app/lore-' in SCRIPT_NAME %}
	{% set first_crumb = 'Lore' %}
{% elseif 'app/setting-' in SCRIPT_NAME %}
	{% set first_crumb = 'Setting' %}
{% elseif 'app/gameplay-' in SCRIPT_NAME %}
	{% set first_crumb = 'Gameplay' %}
{% endif %}

{% if first_crumb %}
	{{ _self.breadcrumb(first_crumb) }}
{% endif %}

{% set second_crumb = '' %}

{% if 'app/lore-races-' in SCRIPT_NAME %}
	{% set second_crumb = 'Lore Races' %}
{% elseif 'app/lore-religion-' in SCRIPT_NAME %}
	{% set second_crumb = 'Lore Religion' %}
{% elseif 'app/lore-classes-' in SCRIPT_NAME %}
	{% set second_crumb = 'Lore Classes' %}
{% endif %}

{% if second_crumb %}
	{{ _self.breadcrumb(second_crumb) }}
{% endif %}

{% set third_crumb = '' %}

{% if 'app/setting-tviyr-' in SCRIPT_NAME %}
	{% set third_crumb = 'Setting Tviyr' %}
{% elseif 'app/setting-ninraih-' in SCRIPT_NAME %}
	{% set third_crumb = 'Setting Ninraih' %}
{% elseif 'app/setting-irtuen-reaches-' in SCRIPT_NAME %}
	{% set third_crumb = 'Setting Irtuen Reaches' %}
{% endif %}

{% if third_crumb %}
	{{ _self.breadcrumb(third_crumb) }}
{% endif %}
