{% set footer_links = {
	'Listed At' : [
		{
			name : 'Listing #02',
			url :  '//www.google.com',
			image : '//via.placeholder.com/88x31'
		},
		{
			name : 'Listing #03',
			url :  '//www.google.com',
			image : '//via.placeholder.com/88x31'
		},
		{
			name : 'RPG Rating',
			url :  '//rpgrating.com',
			image : '//rpgrating.com/ratings/333.png'
		}
	],
	'Affiliates' : [
		{
			name : 'Affiliate #01',
			url :  '//www.google.com',
			image : '//via.placeholder.com/88x31'
		},
		{
			name : 'Affiliate #02',
			url :  '//www.google.com',
			image : '//via.placeholder.com/88x31'
		},
		{
			name : 'Affiliate #03',
			url :  '//www.google.com',
			image : '//via.placeholder.com/88x31'
		},
		{
			name : 'Affiliate #03',
			url :  '//www.google.com',
			image : '//via.placeholder.com/88x31'
		},
		{
			name : 'Affiliate #03',
			url :  '//www.google.com',
			image : '//via.placeholder.com/88x31'
		},
		{
			name : 'Affiliate #03',
			url :  '//www.google.com',
			image : '//via.placeholder.com/88x31'
		},
		{
			name : 'Affiliate #03',
			url :  '//www.google.com',
			image : '//via.placeholder.com/88x31'
		},
		{
			name : 'Affiliate #03',
			url :  '//www.google.com',
			image : '//via.placeholder.com/88x31'
		},
		{
			name : 'Affiliate #03',
			url :  '//www.google.com',
			image : '//via.placeholder.com/88x31'
		}
	]
} %}

{% if footer_links %}
	{% for key, link in footer_links %}
		{% if (link | length) > 0 %}
			<h4>{{ key }}</h4>
			<div class="button-wrapper">
				{% for detail in link %}
					<a class="button-link" href="{{ detail.url }}" target="_blank">
						<img src="{{ detail.image }}" alt="{{ detail.name }}" title="{{ detail.name }}" />
					</a>
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
{% endif %}
