<!-- DEFINE $DISPLAY_TIME -->
	<p class="date-and-time"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF -->.<!-- IF S_USER_LOGGED_IN --> {CURRENT_TIME}.<!-- ENDIF --></p>
<!-- ENDDEFINE -->

<!-- DEFINE $DISPLAY_AVATAR -->
	<div class="user-avatar">
		<div class="image-wrap">
			<!-- IF CURRENT_USER_AVATAR -->
				{CURRENT_USER_AVATAR}
			<!-- ELSE -->
				<img src="{T_THEME_PATH}/images/no_avatar.gif" alt="Default Avatar" />
			<!-- ENDIF -->
		</div>
	</div>
<!-- ENDDEFINE -->

<!-- DEFINE $DISPLAY_USERNAME -->
	<!-- IF S_REGISTERED_USER -->
		<!-- EVENT navbar_header_user_profile_prepend -->
		<!-- EVENT navbar_header_username_prepend -->
		<h5 class="welcome-header">Welcome, <a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}">{CURRENT_USERNAME_SIMPLE}</a>.</h5>
		<!-- EVENT navbar_header_username_append -->
	<!-- ELSE -->
		<h5 class="welcome-header">Welcome, <a href="{U_REGISTER}" class="guest-register" title="{L_REGISTER}">{L_GUEST}</a>.</h5>
	<!-- ENDIF -->
<!-- ENDDEFINE -->
