<ul class="menu nav-menu" role="menu">
	<li class="dropdown-container">
		<div class="menu-label">
			<a href="{BOARD_URL}about" title="About" role="menuitem"><span>About</span></a>
			<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
		</div>
		<div class="dropdown">
			<ul class="dropdown-contents" role="menu">
				<li>
					<a href="{BOARD_URL}about-rules" title="Rules" role="menuitem"><span>Rules</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}about-managing-your-account" title="Managing Your Account" role="menuitem"><span>Managing Your Account</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}about-getting-started" title="Getting Started" role="menuitem"><span>Getting Started</span></a>
				</li>
				<li>
					<a href="{U_FAQ}" title="{L_FORUM} {L_FAQ}" role="menuitem"><span>{L_FORUM} {L_FAQ}</span></a>
				</li>
				<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
					<!-- IF U_TEAM -->
						<li>
							<a href="{U_TEAM}" title="{L_THE_TEAM}" role="menuitem"><span>{L_THE_TEAM}</span></a>
						</li>
					<!-- ENDIF -->
				<!-- ENDIF -->
				<!-- IF U_CONTACT_US -->
					<li>
						<a href="{U_CONTACT_US}" title="{L_CONTACT_US}" role="menuitem"><span>{L_CONTACT_US}</span></a>
					</li>
				<!-- ENDIF -->
			</ul>
		</div>
	</li>
	<li class="dropdown-container">
		<div class="menu-label">
			<a href="{BOARD_URL}lore" title="Lore" role="menuitem"><span>Lore</span></a>
			<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
		</div>
		<div class="dropdown">
			<ul class="dropdown-contents" role="menu">
				<li>
					<a href="{BOARD_URL}lore-history" title="History" role="menuitem"><span>History</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}lore-timeline" title="Timeline" role="menuitem"><span>Timeline</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}lore-glossary" title="Glossary" role="menuitem"><span>Glossary</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}lore-races" title="Races" role="menuitem"><span>Races</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}lore-races-half-breed" title="Half-Breed" role="menuitem"><span>Half-Breed</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}lore-religion" title="Religion" role="menuitem"><span>Religion</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}lore-classes" title="Classes" role="menuitem"><span>Classes</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}lore-magic" title="Magic" role="menuitem"><span>Magic</span></a>
				</li>
			</ul>
		</div>
	</li>
	<li class="dropdown-container">
		<div class="menu-label">
			<a href="{BOARD_URL}setting" title="Setting" role="menuitem"><span>Setting</span></a>
			<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
		</div>
		<div class="dropdown">
			<ul class="dropdown-contents" role="menu">
				<li>
					<a href="{BOARD_URL}setting-tviyr" title="Tviyr" role="menuitem"><span>Tviyr</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}setting-ninraih" title="Ninraih" role="menuitem"><span>Ninraih</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}setting-irtuen-reaches" title="Irtuen Reaches" role="menuitem"><span>Irtuen Reaches</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}setting-map" title="Map" role="menuitem"><span>Map</span></a>
				</li>
			</ul>
		</div>
	</li>
	<li class="dropdown-container">
		<div class="menu-label">
			<a href="{BOARD_URL}gameplay" title="Gameplay" role="menuitem"><span>Gameplay</span></a>
			<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
		</div>
		<div class="dropdown">
			<ul class="dropdown-contents" role="menu">
				<li>
					<a href="{BOARD_URL}gameplay-leveling" title="Leveling" role="menuitem"><span>Leveling</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}gameplay-achievements" title="Achievements" role="menuitem"><span>Achievements</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}gameplay-stats" title="Stats" role="menuitem"><span>Stats</span></a>
				</li>
				<li>
					<a href="{BOARD_URL}gameplay-currency" title="Currency" role="menuitem"><span>Currency</span></a>
				</li>
			</ul>
		</div>
	</li>
	<li class="dropdown-container">
		<div class="menu-label">
			{% set community_header %}
				<a title="Community" role="menuitem"><span>Community</span></a>
			{% endset %}
			<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
				<!-- IF S_DISPLAY_MEMBERLIST -->
					<a href="{U_MEMBERLIST}" title="{L_MEMBERLIST}" role="menuitem"><span>{L_MEMBERLIST}</span></a>
				<!-- ELSE -->
						{{ community_header }}
				<!-- ENDIF -->
			<!-- ELSE -->
				{{ community_header }}
			<!-- ENDIF -->
			<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
		</div>
		<div class="dropdown">
			<ul class="dropdown-contents" role="menu">
				<!-- EVENT navbar_header_quick_links_before -->
				<!-- IF S_DISPLAY_SEARCH -->
					<!-- IF S_USER_LOGGED_IN -->
						<li>
							<a href="{U_SEARCH_NEW}" title="{L_SEARCH_NEW}" role="menuitem"><span>{L_SEARCH_NEW}</span></a>
						</li>
					<!-- ENDIF -->
					<!-- IF S_LOAD_UNREADS -->
						<li>
							<a href="{U_SEARCH_UNREAD}" title="{L_SEARCH_UNREAD}" role="menuitem"><span>{L_SEARCH_UNREAD}</span></a>
						</li>
					<!-- ENDIF -->
						<li>
							<a href="{U_SEARCH_UNANSWERED}" title="{L_SEARCH_UNANSWERED}" role="menuitem"><span>{L_SEARCH_UNANSWERED}</span></a>
						</li>
						<li>
							<a href="{U_SEARCH_ACTIVE_TOPICS}" title="{L_SEARCH_ACTIVE_TOPICS}" role="menuitem"><span>{L_SEARCH_ACTIVE_TOPICS}</span></a>
						</li>
				<!-- ENDIF -->
				<!-- IF U_WATCH_FORUM_LINK and not S_IS_BOT -->
					<li>
						<a href="{U_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}" title="{S_WATCH_FORUM_TITLE}"><span>{S_WATCH_FORUM_TITLE}</span></a>
					</li>
				<!-- ENDIF -->
				<!-- EVENT navbar_header_quick_links_after -->
			</ul>
		</div>
	</li>
	<!-- EVENT overall_header_searchbox_before -->
	<!-- IF S_DISPLAY_SEARCH -->
		<li class="dropdown-container">
			<div class="menu-label">
				<a href="{U_SEARCH}" title="{L_SEARCH}" role="menuitem"><span>{L_SEARCH}</span></a>
				<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
			</div>
			<div id="search-box" class="search-box search-header dropdown" role="search">
				<ul class="dropdown-contents">
					<li>
						<form action="{U_SEARCH}" method="get" id="search">
							<fieldset>
								<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
								<button class="button button-search" type="submit" title="{L_SEARCH}">
									<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
								</button>
								<a href="{U_SEARCH}" title="{L_SEARCH_ADV}" class="button button-search-end">
									<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH_ADV}</span>
								</a>
								{S_SEARCH_HIDDEN_FIELDS}
							</fieldset>
						</form>
					</li>
				</ul>
			</div>
		</li>
	<!-- ENDIF -->
	<!-- EVENT overall_header_searchbox_after -->
	<!-- EVENT overall_header_navigation_prepend -->
	<!-- EVENT overall_header_navigation_append -->
</ul>
