{% macro create_nav(links) %}
	{% for key, link in links %}
		<li>
			<a href="{BOARD_URL}{{ link }}" title="{{ link }}" role="menuitem"><span>{{ key }}</span></a>
		</li>
	{% endfor %}
{% endmacro %}

{% set nav_links = {
	'About' : {
		'Rules' : 'about-rules',
		'Managing Your Account' : 'about-managing-your-account',
		'Getting Started' : 'about-getting-started'
	},
	'Lore' : {
		'History' : 'lore-history',
		'Timeline' : 'lore-timeline',
		'Glossary' : 'lore-glossary',
		'Races' : 'lore-races',
		'Half-Breed' : 'lore-races-half-breed',
		'Religion' : 'lore-religion',
		'Classes' : 'lore-classes',
		'Magic' : 'lore-magic'
	},
	'Setting' : {
		'Tviyr' : 'setting-tviyr',
		'Ninraih' : 'setting-ninraih',
		'Irtuen Reaches' : 'setting-irtuen-reaches',
		'Map' : 'setting-map'
	},
	'Gameplay' : {
		'Leveling' : 'gameplay-leveling',
		'Achievements' : 'gameplay-achievements',
		'Stats' : 'gameplay-stats',
		'Currency' : 'gameplay-currency'
	}
} %}

{{ NEW_NAV['About']['Managing Your Account'] }}

{{ KHY_TEST_POTATO }}

<ul class="menu nav-menu" role="menu">
	<li class="dropdown-container">
		<div class="menu-label">
			<a href="{BOARD_URL}about" title="About" role="menuitem"><span>About</span></a>
			<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
		</div>
		<div class="dropdown">
			<ul class="dropdown-contents" role="menu">
				{% if nav_links['About'] %}
					{{ _self.create_nav(nav_links['About']) }}
				{% endif %}
				<li>
					<a href="{U_FAQ}" title="{L_FORUM} {L_FAQ}" role="menuitem"><span>{L_FORUM} {L_FAQ}</span></a>
				</li>
				<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
					<!-- IF U_TEAM -->
						<li>
							<a href="{U_TEAM}" title="{L_THE_TEAM}" role="menuitem"><span>{L_THE_TEAM}</span></a>
						</li>
					<!-- ENDIF -->
				<!-- ENDIF -->
				<!-- IF U_CONTACT_US -->
					<li>
						<a href="{U_CONTACT_US}" title="{L_CONTACT_US}" role="menuitem"><span>{L_CONTACT_US}</span></a>
					</li>
				<!-- ENDIF -->
			</ul>
		</div>
	</li>
	{% if nav_links['Lore'] %}
		<li class="dropdown-container">
			<div class="menu-label">
				<a href="{BOARD_URL}lore" title="Lore" role="menuitem"><span>Lore</span></a>
				<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
			</div>
			<div class="dropdown">
				<ul class="dropdown-contents" role="menu">
					{{ _self.create_nav(nav_links['Lore']) }}
				</ul>
			</div>
		</li>
	{% endif %}
	{% if nav_links['Setting'] %}
		<li class="dropdown-container">
			<div class="menu-label">
				<a href="{BOARD_URL}setting" title="Setting" role="menuitem"><span>Setting</span></a>
				<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
			</div>
			<div class="dropdown">
				<ul class="dropdown-contents" role="menu">
					{{ _self.create_nav(nav_links['Setting']) }}
				</ul>
			</div>
		</li>
	{% endif %}
	{% if nav_links['Gameplay'] %}
		<li class="dropdown-container">
			<div class="menu-label">
				<a href="{BOARD_URL}gameplay" title="Gameplay" role="menuitem"><span>Gameplay</span></a>
				<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
			</div>
			<div class="dropdown">
				<ul class="dropdown-contents" role="menu">
					{{ _self.create_nav(nav_links['Gameplay']) }}
				</ul>
			</div>
		</li>
	{% endif %}
	<li class="dropdown-container">
		<div class="menu-label">
			{% set community_header %}
				<a title="Community" role="menuitem"><span>Community</span></a>
			{% endset %}
			<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
				<!-- IF S_DISPLAY_MEMBERLIST -->
					<a href="{U_MEMBERLIST}" title="{L_MEMBERLIST}" role="menuitem"><span>{L_MEMBERLIST}</span></a>
				<!-- ELSE -->
						{{ community_header }}
				<!-- ENDIF -->
			<!-- ELSE -->
				{{ community_header }}
			<!-- ENDIF -->
			<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
		</div>
		<div class="dropdown">
			<ul class="dropdown-contents" role="menu">
				<!-- EVENT navbar_header_quick_links_before -->
				<!-- IF S_DISPLAY_SEARCH -->
					<!-- IF S_USER_LOGGED_IN -->
						<li>
							<a href="{U_SEARCH_NEW}" title="{L_SEARCH_NEW}" role="menuitem"><span>{L_SEARCH_NEW}</span></a>
						</li>
					<!-- ENDIF -->
					<!-- IF S_LOAD_UNREADS -->
						<li>
							<a href="{U_SEARCH_UNREAD}" title="{L_SEARCH_UNREAD}" role="menuitem"><span>{L_SEARCH_UNREAD}</span></a>
						</li>
					<!-- ENDIF -->
						<li>
							<a href="{U_SEARCH_UNANSWERED}" title="{L_SEARCH_UNANSWERED}" role="menuitem"><span>{L_SEARCH_UNANSWERED}</span></a>
						</li>
						<li>
							<a href="{U_SEARCH_ACTIVE_TOPICS}" title="{L_SEARCH_ACTIVE_TOPICS}" role="menuitem"><span>{L_SEARCH_ACTIVE_TOPICS}</span></a>
						</li>
				<!-- ENDIF -->
				<!-- IF U_WATCH_FORUM_LINK and not S_IS_BOT -->
					<li>
						<a href="{U_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}" title="{S_WATCH_FORUM_TITLE}"><span>{S_WATCH_FORUM_TITLE}</span></a>
					</li>
				<!-- ENDIF -->
				<!-- EVENT navbar_header_quick_links_after -->
			</ul>
		</div>
	</li>
	<!-- EVENT overall_header_searchbox_before -->
	<!-- IF S_DISPLAY_SEARCH -->
		<li class="dropdown-container">
			<div class="menu-label">
				<a href="{U_SEARCH}" title="{L_SEARCH}" role="menuitem"><span>{L_SEARCH}</span></a>
				<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
			</div>
			<div id="search-box" class="search-box search-header dropdown" role="search">
				<ul class="dropdown-contents">
					<li>
						<form action="{U_SEARCH}" method="get" id="search">
							<fieldset>
								<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
								<button class="button button-search" type="submit" title="{L_SEARCH}">
									<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
								</button>
								<a href="{U_SEARCH}" title="{L_SEARCH_ADV}" class="button button-search-end">
									<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH_ADV}</span>
								</a>
								{S_SEARCH_HIDDEN_FIELDS}
							</fieldset>
						</form>
					</li>
				</ul>
			</div>
		</li>
	<!-- ENDIF -->
	<!-- EVENT overall_header_searchbox_after -->
	<!-- EVENT overall_header_navigation_prepend -->
	<!-- EVENT overall_header_navigation_append -->
</ul>
