<ul class="menu user-menu" role="menu">
	<!-- IF S_REGISTERED_USER -->
		<!-- IF S_DISPLAY_PM -->
			<li>
				<div class="menu-label">
					<a href="{U_PRIVATEMSGS}" title="{L_PRIVATE_MESSAGES}">
						<span>{L_PRIVATE_MESSAGES}</span>
						<!-- IF PRIVATE_MESSAGE_COUNT > 0 -->
							{{ pm_count }}
						<!-- ENDIF -->
					</a>
				</div>
			</li>
		<!-- ENDIF -->
		<!-- IF S_NOTIFICATIONS_DISPLAY -->
			<li class="dropdown-container notification-container">
				<div class="menu-label">
					<a id="notification_list_button" class="menu-trigger">
						<span>{L_NOTIFICATIONS}</span>
						<!-- IF NOTIFICATIONS_COUNT > 0 -->
							{{ notify_count }}
						<!-- ENDIF -->
					</a>
					<i class="icon icon-lg fa-chevron-down menu-trigger mobile-menu-trigger"></i>
				</div>
				<!-- INCLUDE notification_dropdown.html -->
			</li>
		<!-- ENDIF -->
		<li class="dropdown-container logged-in-info">
			<div class="menu-label">
				<a class="menu-trigger" title="Display Profile, Setting, and Logout Links" role="menuitem">
					<span class="user-name">{CURRENT_USERNAME_SIMPLE}</span>
					{{ display_avatar }}
				</a>
				<i class="icon icon-lg fa-chevron-down menu-trigger mobile-menu-trigger"></i>
			</div>
			<div class="dropdown">
				<ul class="dropdown-contents" role="menu">
					<!-- EVENT navbar_header_profile_list_before -->
					<!-- IF U_USER_PROFILE -->
						<li>
							<a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem"><span>{L_READ_PROFILE}</span></a>
						</li>
					<!-- ENDIF -->	
					<li>
						<a href="{U_SEARCH_SELF}" title="{L_SEARCH_SELF}" role="menuitem"><span>{L_SEARCH_SELF}</span></a>
					</li>
					<li>
						<a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem"><span>User CP</span></a>
					</li>
					<!-- IF U_ACP -->
						<li>
							<a href="{{ U_ACP }}" title="{{ lang('ACP') }}" role="menuitem"><span>Admin CP</span></a>
						</li>
					<!-- ENDIF -->
					<!-- IF U_MCP -->
						<li>
							<a href="{U_MCP}" title="{L_MCP}" role="menuitem"><span>Moderator CP</span></a>
						</li>
					<!-- ENDIF -->
					<!-- IF U_RESTORE_PERMISSIONS -->
						<li>
							<a href="{U_RESTORE_PERMISSIONS}" title="{L_RESTORE_PERMISSIONS}" role="menuitem"><span>{L_RESTORE_PERMISSIONS}</span></a>
						</li>
					<!-- ENDIF -->
					<li>
						<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem"><span>{L_LOGIN_LOGOUT}</span></a>
					</li>
					<!-- EVENT navbar_header_profile_list_after -->
				</ul>
			</div>
		</li>
	<!-- ELSE -->
		<li class="guest-info">
			<div class="menu-label">
				<span class="user-name">
					{L_GUEST}, why don't you <a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --> or <a href="{U_REGISTER}" title="{L_REGISTER}">{L_REGISTER}</a><!-- ENDIF -->?
				</span>
				{{ display_avatar }}
			</div>
		</li>
	<!-- ENDIF -->
</ul>
