{% if PAGE_TITLE == 'Edit profile' %}
	{% set FIELD_COMPARE = 'Discord' %}
{% else %}
	{% set FIELD_COMPARE = 'Account Type' %}
{% endif %}

<!-- IF .profile_fields -->
	</fieldset>
	<fieldset class="fields2 misc-fields">
		<h3>Miscellaneous Fields</h3>
		<p><strong>{L_ITEMS_REQUIRED}</strong></p>
		<!-- BEGIN profile_fields -->
			<dl>
				<dt><label<!-- IF profile_fields.FIELD_ID --> for="{profile_fields.FIELD_ID}"<!-- ENDIF -->>{profile_fields.LANG_NAME}{L_COLON}<!-- IF profile_fields.S_REQUIRED --> *<!-- ENDIF --></label>
				<!-- IF profile_fields.LANG_EXPLAIN --><br /><span>{profile_fields.LANG_EXPLAIN}</span><!-- ENDIF -->
				<!-- IF profile_fields.ERROR --><br /><span class="error">{profile_fields.ERROR}</span><!-- ENDIF --></dt>
				<dd>
					{profile_fields.FIELD}
				</dd>
				<!-- IF profile_fields.LANG_NAME == 'Account Type'-->
					<dd>
						<p class="error account-type">
							<i class="icon fa-exclamation fa-fw icon-red" aria-hidden="true"></i><strong>Note:</strong> Changing the "Account Type" dropdown during registration will erase information that has been entered into "Character" fields.
						</p>
					</dd>
				<!-- ENDIF -->
			</dl>
			<!-- IF profile_fields.LANG_NAME == FIELD_COMPARE -->
				</fieldset>
				<fieldset class="fields2 character-fields">
					<h3>Character Fields</h3>
					<p><strong>{L_ITEMS_REQUIRED}</strong></p>
			<!-- ENDIF -->
		<!-- END profile_fields -->
<!-- ENDIF -->
