<section id="page-welcome" class="page-welcome">
	<div class="wrapper">
		<div class="panel">
			<div class="inner">
				<div class="flex-row flex-row-10">
					<div class="user-profile flex-column">
						{$DISPLAY_AVATAR}
						{$DISPLAY_USERNAME}
						<!-- TO DO: LOGIC FOR ALL OF THIS -->
						<!-- GUEST BLOCK -->
						<!-- <p>
							Looks like you're not registered. Check out our boards, <a href="//google.com">read more on Khy'eras</a>, or <a href="{U_REGISTER}">sign up today</a>.
						</p> -->
						<!-- LOGGED IN USER BLOCK -->
						<!-- <p>
							Don't forget to check out the latest <a href="/viewforum.php?f=9">announcements</a> and <a href="//www.google.com">events</a>. Or, perhaps you're looking to add a new character? If so, don't forget to <a href="//www.google.com">link the account</a>.
						</p> -->
						<!-- CHARACTER BLOCK -->
						<p class="character-level">Level 01</p>
						<p class="character-stats">
							<i class="icon rpg-icon rpg-crossed-swords"></i>
							<span class="separator">/</span>
							<i class="icon rpg-icon rpg-fairy"></i>
						</p>
					</div>
					<div class="user-information flex-column">
						{$DISPLAY_TIME}
						<!-- INCLUDE header_buttons.html -->
						<!-- IF S_REGISTERED_USER -->
							<!-- EVENT navbar_header_user_profile_append -->
						<!-- ELSE -->
							<!-- EVENT navbar_header_logged_out_content -->
						<!-- ENDIF -->
					</div>
					<div class="site-callouts flex-column">
						<p class="introduction">Freed from Bhelest's nightmares and undead legions, the realm of Khy'eras – called "The Neverend" – unveiled vast reaches perfect for exploration. Create a character, craft unlimited adventures, and unlock the land's secrets. <a class="read-more" href="//google.com">Read more...</a></p>
							<!-- INCLUDE header_links.html -->
					</div>					
				</div>
			</div>
		</div>
	</div>
</section>
