{% import 'utilities/macros.html' as function %}

<!-- INCLUDE overall_header.html -->

{% if PROFILE_ACCOUNT_TYPE_VALUE == 'Character' %}
	{% set character_class = 'character-panel tab-panel show-panel' %}
	{% set writer_class = 'writer-panel tab-panel hide-panel' %}
{% endif %}

{% set nothing_here %}
	<p>There's nothing here yet...</p>
{% endset %}

<h2 class="memberlist-title">{PAGE_TITLE}</h2>

<form method="post" action="{S_PROFILE_ACTION}" id="viewprofile">
	<!-- IF PROFILE_ACCOUNT_TYPE_VALUE == 'Character' -->
		<div id="tabs" class="tabs profile-tabs sub-panels" role="tablist">
			<ul>
				<li class="tab activetab">
					<a data-tabname="character-panel" role="tab" aria-controls="character-panel">Character</a>
				</li>
				<li class="tab">
					<a data-tabname="writer-panel" role="tab" aria-controls="writer-panel">Writer</a>
				</li>
			</ul>
		</div>
	<!-- ENDIF -->

	<div class="panel bg1<!-- IF S_ONLINE --> online<!-- ENDIF --> profile-panel">
		<div class="inner">
			<div class="flex-row flex-row-10">
				<div class="flex-column profile-avatar<!-- IF PROFILE_ALT_AVATAR_VALUE --> has-alt-avatar<!-- ENDIF -->">
					<dl class="postprofile">
						<dt class="has-avatar">
							<!-- IF PROFILE_ALT_AVATAR_VALUE -->
								<div class="alt-avatar-container">
									<div class="alt-avatar">
										{{ PROFILE_ALT_AVATAR_VALUE }}
									</div>
								</div>
							<!-- ENDIF -->
							<div class="avatar-container">
								<div class="avatar">
									<!-- IF AVATAR_IMG -->
										{AVATAR_IMG}
									<!-- ELSE -->
										<img src="{T_THEME_PATH}/images/no_avatar.gif" alt="Default Avatar" />
									<!-- ENDIF -->
								</div>
							</div>
						</dt>
					</dl>
				</div>
				<div class="flex-column profile-details">
					<dl class="postprofile">
						<dt class="<!-- IF RANK_TITLE or RANK_IMG -->has-profile-rank<!-- ELSE -->no-profile-rank<!-- ENDIF -->">
							<!-- EVENT memberlist_view_username_prepend -->
							<!-- IF USER_COLOR --><span  class="username-coloured" style="color: {USER_COLOR};"><!-- ELSE --><span><!-- ENDIF -->{USERNAME}</span>
							{% if PROFILE_PRONUNCIATION_VALUE %}<em class="pronunciation">({{ PROFILE_PRONUNCIATION_VALUE }})</em>{% endif %}
							<!-- EVENT memberlist_view_username_append -->
						</dt>

						<!-- IF AVATAR_IMG -->
							<!-- EVENT memberlist_view_rank_avatar_before -->
						<!-- ELSE -->
							<!-- EVENT memberlist_view_rank_no_avatar_before -->
						<!-- ENDIF -->

						<!-- IF RANK_TITLE or RANK_IMG or PROFILE_TITLE_VALUE -->
							<dd class="profile-rank">
								<!-- IF RANK_TITLE or RANK_IMG -->
									<div class="rank-label">{RANK_TITLE}</div>
									<!-- IF RANK_IMG -->
										<div class="rank-image">{RANK_IMG}</div>
									<!-- ENDIF -->
								<!-- ENDIF -->
								<!-- IF PROFILE_TITLE_VALUE -->
									<div class="title-label">{PROFILE_TITLE_VALUE}</div>
								<!-- ENDIF -->
							</dd>
						<!-- ENDIF -->

						<!-- IF AVATAR_IMG -->
							<!-- EVENT memberlist_view_rank_avatar_after -->
						<!-- ELSE -->
							<!-- EVENT memberlist_view_rank_no_avatar_after -->
						<!-- ENDIF -->

						<!-- IF PROFILE_ACCOUNT_TYPE_VALUE == 'Character' -->
							<dd class="profile-character-details {{ character_class }}">
								<div class="character-card">
									{{ function.display_level(KHY_MEMBER_LEVEL, 'false') }}
									{{ function.display_stats(KHY_MEMBER_STATS.hp, KHY_MEMBER_STATS.mp, PROFILE_C_HP_VALUE, PROFILE_C_MP_VALUE, 'false') }}
								</div>
								{{ function.display_currency(KHY_MEMBER_CURRENCY) }}
							</dd>
						<!-- ENDIF -->
					</dl>

					<!-- IF PROFILE_ACCOUNT_TYPE_VALUE == 'Character' -->
						<!-- INCLUDE partials/memberlist_character_details.html -->
					<!-- ENDIF -->

					<!-- INCLUDE partials/memberlist_writer_details.html -->
				</div>
			</div>
			<!-- IF PROFILE_ACCOUNT_TYPE_VALUE == 'Character' -->
				<!-- INCLUDE partials/memberlist_character_desc.html -->
			<!-- ENDIF -->

			<!-- INCLUDE partials/memberlist_writer_desc.html -->
		</div>
	</div>

	<!-- IF SIGNATURE -->
		<div class="panel bg2">
			<div class="inner">
				<h3>{L_SIGNATURE}</h3>
				<div class="postbody"><div class="signature standalone">{SIGNATURE}</div></div>
			</div>
		</div>
	<!-- ENDIF -->
</form>

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->
