{% import 'utilities/macros.html' as function %}

<!-- INCLUDE overall_header.html -->

{% if PROFILE_ACCOUNT_TYPE_VALUE == 'Character' %}
	{% set character_class = 'character-panel tab-panel show-panel' %}
	{% set writer_class = 'writer-panel tab-panel hide-panel' %}
{% endif %}

{% set nothing_here %}
	<p>There's nothing here yet...</p>
{% endset %}

<h2 class="memberlist-title">{PAGE_TITLE}</h2>

<form method="post" action="{S_PROFILE_ACTION}" id="viewprofile">
	<!-- IF PROFILE_ACCOUNT_TYPE_VALUE == 'Character' -->
		<div id="tabs" class="tabs profile-tabs sub-panels" role="tablist">
			<ul>
				<li class="tab activetab">
					<a data-tabname="character-panel" role="tab" aria-controls="character-panel">Character</a>
				</li>
				<li class="tab">
					<a data-tabname="writer-panel" role="tab" aria-controls="writer-panel">Writer</a>
				</li>
			</ul>
		</div>
	<!-- ENDIF -->

	<div class="panel bg1<!-- IF S_ONLINE --> online<!-- ENDIF --> profile-panel">
		<div class="inner">
			<section class="section-test">
				<dl class="left-box postprofile">
					<dt class="<!-- IF RANK_TITLE or RANK_IMG -->has-profile-rank<!-- ELSE -->no-profile-rank<!-- ENDIF --> <!-- IF AVATAR_IMG -->has-avatar<!-- ELSE -->no-avatar<!-- ENDIF -->">
						<!-- IF AVATAR_IMG -->
							<div class="avatar-container">
								<div class="avatar">{AVATAR_IMG}</div>
							</div>
						<!-- ENDIF -->
						<!-- EVENT memberlist_view_username_prepend -->
						<!-- IF USER_COLOR --><span  class="username-coloured" style="color: {USER_COLOR};"><!-- ELSE --><span><!-- ENDIF -->{USERNAME}</span>
						<!-- EVENT memberlist_view_username_append -->
					</dt>
					<!-- IF AVATAR_IMG -->
						<!-- EVENT memberlist_view_rank_avatar_before -->
					<!-- ELSE -->
						<!-- EVENT memberlist_view_rank_no_avatar_before -->
					<!-- ENDIF -->
					<!-- IF RANK_TITLE or RANK_IMG or PROFILE_TITLE_VALUE -->
						<dd class="profile-rank">
							<!-- IF RANK_TITLE or RANK_IMG -->
								<div class="rank-label">{RANK_TITLE}</div>
								<!-- IF RANK_IMG -->
									<div class="rank-image">{RANK_IMG}</div>
								<!-- ENDIF -->
							<!-- ENDIF -->
							<!-- IF PROFILE_TITLE_VALUE -->
								<div class="title-label">{PROFILE_TITLE_VALUE}</div>
							<!-- ENDIF -->
						</dd>
					<!-- ENDIF -->
					<!-- IF AVATAR_IMG -->
						<!-- EVENT memberlist_view_rank_avatar_after -->
					<!-- ELSE -->
						<!-- EVENT memberlist_view_rank_no_avatar_after -->
					<!-- ENDIF -->
					<!-- IF U_EDIT_SELF or U_USER_ADMIN or U_USER_BAN or U_SWITCH_PERMISSIONS -->
						<dd class="profile-permissions">
							<!-- IF U_EDIT_SELF --> [ <a href="{U_EDIT_SELF}">{L_EDIT_PROFILE}</a> ]<!-- ENDIF -->
							<!-- IF U_USER_ADMIN --> [ <a href="{U_USER_ADMIN}">{L_USER_ADMIN}</a> ]<!-- ENDIF -->
							<!-- IF U_USER_BAN --> [ <a href="{U_USER_BAN}">{L_USER_BAN}</a> ]<!-- ENDIF -->
							<!-- IF U_SWITCH_PERMISSIONS --> [ <a href="{U_SWITCH_PERMISSIONS}">{L_USE_PERMISSIONS}</a> ]<!-- ENDIF -->
						</dd>
					<!-- ENDIF -->
				</dl>

				<!-- INCLUDE partials/memberlist_writer_details.html -->

				<!-- IF PROFILE_ACCOUNT_TYPE_VALUE == 'Character' -->
					<!-- INCLUDE partials/memberlist_character_details.html -->
				<!-- ENDIF -->
			</section>

			<!-- INCLUDE partials/memberlist_writer_desc.html -->

			<!-- IF PROFILE_ACCOUNT_TYPE_VALUE == 'Character' -->
				<!-- INCLUDE partials/memberlist_character_desc.html -->
			<!-- ENDIF -->
		</div>
	</div>

	<!-- IF SIGNATURE -->
		<div class="panel bg2">
			<div class="inner">
				<h3>{L_SIGNATURE}</h3>
				<div class="postbody"><div class="signature standalone">{SIGNATURE}</div></div>
			</div>
		</div>
	<!-- ENDIF -->
</form>

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->
