<nav class="navbar" role="navigation">
	<ul>
		<li class="dropdown-container">
			<a href="http://google.com"><span>About</span></a>
			<i class="icon icon-lg fa-chevron-down dropdown-trigger"></i>
			<div class="dropdown">
				<ul class="dropdown-contents" role="menu">
					<li>
						<a href="http://google.com" role="menuitem"><span>Rules</span></a>
					</li>				
					<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
						<!-- IF U_TEAM -->
							<li>
								<a href="{U_TEAM}" role="menuitem"><span>{L_THE_TEAM}</span></a>
							</li>
						<!-- ENDIF -->
					<!-- ENDIF -->				
					<!-- IF U_CONTACT_US -->
						<li>
							<a href="{U_CONTACT_US}" role="menuitem"><span>{L_CONTACT_US}</span></a>
						</li>
					<!-- ENDIF -->	
					<li>
						<a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}" role="menuitem"><span>{L_FORUM} {L_FAQ}</span></a>
					</li>															
				</ul>			
			</div>
		</li>
		<li class="dropdown-container">
			<a href="http://google.com"><span>Game Play</span></a>
			<i class="icon icon-lg fa-chevron-down dropdown-trigger"></i>
			<div class="dropdown">
				<ul class="dropdown-contents" role="menu">
					<li>
						<a href="http://google.com" role="menuitem"><span>Leveling</span></a>
					</li>
					<li>
						<a href="http://google.com" role="menuitem"><span>Classes</span></a>
					</li>	
				</ul>
			</div>
		</li>	
		<li class="dropdown-container">
			<a href="http://google.com"><span>Lore</span></a>
			<i class="icon icon-lg fa-chevron-down dropdown-trigger"></i>
			<div class="dropdown">
				<ul class="dropdown-contents" role="menu">
					<li>
						<a href="http://google.com" role="menuitem"><span>History</span></a>
					</li>
					<li>
						<a href="http://google.com" role="menuitem"><span>Short History</span></a>
					</li>					
					<li>
						<a href="http://google.com" role="menuitem"><span>Timeline</span></a>
					</li>
					<li>
						<a href="http://google.com" role="menuitem"><span>Races</span></a>
					</li>					
					<li>
						<a href="http://google.com" role="menuitem"><span>Religion</span></a>
					</li>
					<li>
						<a href="http://google.com" role="menuitem"><span>Magic</span></a>
					</li>
					<li>
						<a href="http://google.com" role="menuitem"><span>Glossary</span></a>
					</li>																										
				</ul>
			</div>
		</li>			
		<li class="dropdown-container">
			<a href="http://google.com"><span>Setting</span></a>
			<i class="icon icon-lg fa-chevron-down dropdown-trigger"></i>
			<div class="dropdown">
				<ul class="dropdown-contents" role="menu">
					<li>
						<a href="http://google.com" role="menuitem"><span>Map</span></a>
					</li>				
					<li>
						<a href="http://google.com" role="menuitem"><span>Tviyr</span></a>
					</li>
					<li>
						<a href="http://google.com" role="menuitem"><span>Ninraih</span></a>
					</li>
					<li>
						<a href="http://google.com" role="menuitem"><span>Irtuen Reaches</span></a>
					</li>				
				</ul>
			</div>
		</li>
		<li class="dropdown-container">
			<a href="#"><span>Community</span></a>
			<i class="icon icon-lg fa-chevron-down dropdown-trigger"></i>
			<div class="dropdown">
				<ul class="dropdown-contents" role="menu">
					<!-- EVENT navbar_header_quick_links_before -->	
					<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
						<!-- IF S_DISPLAY_MEMBERLIST -->
							<li>
								<a href="{U_MEMBERLIST}" role="menuitem"><span>{L_MEMBERLIST}</span></a>
							</li>
						<!-- ENDIF -->
					<!-- ENDIF -->					
					<!-- IF S_DISPLAY_SEARCH -->
						<!-- IF S_REGISTERED_USER -->
							<li>
								<a href="{U_SEARCH_SELF}" role="menuitem"><span>{L_SEARCH_SELF}</span></a>
							</li>
						<!-- ENDIF -->
						<!-- IF S_USER_LOGGED_IN -->
							<li>
								<a href="{U_SEARCH_NEW}" role="menuitem"><span>{L_SEARCH_NEW}</span></a>
							</li>
						<!-- ENDIF -->
						<!-- IF S_LOAD_UNREADS -->
							<li>
								<a href="{U_SEARCH_UNREAD}" role="menuitem"><span>{L_SEARCH_UNREAD}</span></a>
							</li>
						<!-- ENDIF -->
							<li>
								<a href="{U_SEARCH_UNANSWERED}" role="menuitem"><span>{L_SEARCH_UNANSWERED}</span></a>
							</li>
							<li>
								<a href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem"><span>{L_SEARCH_ACTIVE_TOPICS}</span></a>
							</li>
					<!-- ENDIF -->
					<!-- IF U_WATCH_FORUM_LINK and not S_IS_BOT -->
						<li>
							<a href="{U_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}"><span>{S_WATCH_FORUM_TITLE}</span></a>
						</li>
					<!-- ENDIF -->					
					<!-- EVENT navbar_header_quick_links_after -->
				</ul>
			</div>
		</li>
		<!-- EVENT overall_header_searchbox_before -->
		<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
			<li class="dropdown-container">
				<a href="{U_SEARCH}"><span>Search</span></a>
				<i class="icon icon-lg fa-chevron-down dropdown-trigger"></i>
				<div id="search-box" class="search-box search-header dropdown" role="search">				
					<div class="dropdown-contents">
						<form action="{U_SEARCH}" method="get" id="search">
							<fieldset>
								<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
								<button class="button button-search" type="submit" title="{L_SEARCH}">
									<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
								</button>
								<a href="{U_SEARCH}" class="button button-search-end" title="{L_SEARCH_ADV}">
									<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH_ADV}</span>
								</a>
								{S_SEARCH_HIDDEN_FIELDS}
							</fieldset>
						</form>
					</div>
				</div>
			</li>
		<!-- ENDIF -->
		<!-- EVENT overall_header_searchbox_after -->
		<!-- EVENT overall_header_navigation_prepend -->
		<!-- EVENT overall_header_navigation_append -->
	</ul>
</nav>