<nav class="navbar" role="navigation">
	<div class="wrapper">
		<div class="site-logo-text">
			<a href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->" title="<!-- IF U_SITE_HOME -->{L_SITE_HOME}<!-- ELSE -->{L_INDEX}<!-- ENDIF -->">{SITENAME}</a>
		</div>
		<div class="mobile-menu-button">
			<span class="mobile-menu-icon">
				<span class="lines"><span class="line"></span></span>
			</span>
			<span class="mobile-menu-text">Menu</span>
		</div>
		<!-- INCLUDE custom/header_menu_01.html -->
		<!-- INCLUDE custom/header_menu_02.html -->
	</div>
</nav>
