				<!-- EVENT overall_footer_content_after -->
			</div>
		</section>

		<!-- EVENT overall_footer_page_body_after -->

		<footer id="page-footer" class="page-footer" role="contentinfo">
			<div class="footer-inner">
				<div class="wrapper">
					<div class="flex-row flex-row-20">
						<div class="flex-column has-discord">
							<p class="discord-intro"><i class="icon misc-icon misc-discord" aria-hidden="true"></i>Don't like chat widgets or perhaps you're on a mobile device? <a href="//discord.gg/MXtzbmw">Join us on our Discord server</a>. Guests are welcome to chat in select channels.</p>
							<!-- <div id="discord-frame">
								<iframe src="//titanembeds.com/embed/482924002411806732?css=330" frameborder="0"></iframe>
							</div> -->
						</div>
						<div class="flex-column">
							<!-- INCLUDE custom/footer_links.html -->
							<p>
								<a class="button-link" href="//rpgrating.com" target="_blank">
									<!-- <img src="//rpgrating.com/ratings/333.png" alt="Rated 333 from RPGRating.com" title="Rated 333 from RPGRating.com" /> -->
								</a>
							</p>
							<p class="footer-text">
								&copy; 2018 Khy'eras RPG<br />
								Content and layout design by Adria/Memoria<br />
								<!-- EVENT overall_footer_copyright_prepend -->
								{{ CREDIT_LINE }}<br />
								<a class="footer-link" href="{{ U_PRIVACY }}" title="{{ lang('PRIVACY_LINK') }}" role="menuitem">
									<span class="footer-link-text">{{ lang('PRIVACY_LINK') }}</span>
								</a>
								<span class="bullet">&bull;</span>
								<a class="footer-link" href="{{ U_TERMS_USE }}" title="{{ lang('TERMS_LINK') }}" role="menuitem">
									<span class="footer-link-text">{{ lang('TERMS_LINK') }}</span>
								</a>
								<!-- IF TRANSLATION_INFO --><br />{{ TRANSLATION_INFO }}<!-- ENDIF -->
								<!-- EVENT overall_footer_copyright_append -->
								<!-- IF DEBUG_OUTPUT --><br />{{ DEBUG_OUTPUT }}<!-- ENDIF -->
							</p>
							<p class="footer-text">
								<!-- EVENT overall_footer_timezone_before -->
								<i class="icon icon-lg rpg-icon rpg-hourglass" aria-hidden="true"></i> {S_TIMEZONE}
								<!-- EVENT overall_footer_timezone_after -->
								<span class="bullet">&bull;</span>
								<!-- IF not S_IS_BOT -->
									<a href="{U_DELETE_COOKIES}">
										<i class="icon icon-lg rpg-icon rpg-burning-embers" aria-hidden="true"></i> {L_DELETE_COOKIES}
									</a>
								<!-- ENDIF -->
							</p>
						</div>
					</div>
					<!-- INCLUDE navbar_footer.html -->
				</div>
			</div>
		</footer>

		<div id="mobile-overlay"></div>

		<div id="darkenwrapper" class="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
			<div id="darken" class="darken">&nbsp;</div>
		</div>

		<div id="phpbb_alert" class="phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
			<a href="#" class="alert_close">
				<i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
			</a>
			<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
		</div>

		<div id="phpbb_confirm" class="phpbb_alert">
			<a href="#" class="alert_close">
				<i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
			</a>
			<div class="alert_text"></div>
		</div>

	</div>

	<div class="bottom-hidden">
		<a id="bottom" class="anchor" accesskey="z"></a>
		<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
	</div>

	<script type="text/javascript" src="{T_JQUERY_LINK}"></script>
	<!-- IF S_ALLOW_CDN -->
		<script type="text/javascript">window.jQuery || document.write('\x3Cscript src="{T_ASSETS_PATH}/javascript/jquery.min.js?assets_version={T_ASSETS_VERSION}">\x3C/script>');</script>
	<!-- ENDIF -->
	<script type="text/javascript" src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
	<!-- INCLUDEJS forum_fn.js -->
	<!-- INCLUDEJS ajax.js -->
	<!-- INCLUDEJS khyeras.js -->

	<!-- IF S_ALLOW_CDN -->
		<script type="text/javascript">
			(function($){
				var $fa_cdn = $('head').find('link[rel="stylesheet"]').first(),
					$span = $('<span class="fa" style="display:none"></span>').appendTo('body');
				if ($span.css('fontFamily') !== 'FontAwesome' ) {
					$fa_cdn.after('<link href="{T_ASSETS_PATH}/css/font-awesome.min.css" rel="stylesheet">');
					$fa_cdn.remove();
				}
				$span.remove();
			})(jQuery);
		</script>
	<!-- ENDIF -->

	<!-- IF S_COOKIE_NOTICE -->
		<script src="{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.js?assets_version={T_ASSETS_VERSION}"></script>
		<script>
			if (typeof window.cookieconsent === "object") {
				window.addEventListener("load", function(){
					window.cookieconsent.initialise({
						"palette": {
							"popup": {
								"background": "#0F538A"
							},
							"button": {
								"background": "#E5E5E5"
							}
						},
						"theme": "classic",
						"content": {
							"message": "{LA_COOKIE_CONSENT_MSG}",
							"dismiss": "{LA_COOKIE_CONSENT_OK}",
							"link": "{LA_COOKIE_CONSENT_INFO}",
							"href": "{UA_PRIVACY}"
						}
					});
				});
			}
		</script>
	<!-- ENDIF -->

	<!-- EVENT overall_footer_after -->

	<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->

	{$SCRIPTS}

	<!-- EVENT overall_footer_body_after -->

	<a href="#" class="scroll-to-top" title="Scroll to Top">
		<i class="icon icon-lg fa-chevron-up" aria-hidden="true"></i>
	</a>
	<a href="#" class="scroll-to-bottom" title="Scroll to Bottom">
		<i class="icon icon-lg fa-chevron-down" aria-hidden="true"></i>
	</a>
</body>
</html>
