/* Root colors
============================================== */
@import url("//fonts.googleapis.com/css?family=Spectral|Fira+Sans:300,300i,500,500i");
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: #0d171b;
}

body {
  font-family: "Fira Sans", arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 300;
}

html, label, .brand-logo, .betatag, .chatmessage, .chatusername, .chattimestamp, #curuser_discrim, #chatcontent span.reactions .reaction, .side-nav, .side-nav .subheader, .side-nav li > a, .channel-hash,
input[type='text']:not(.browser-default):focus:not([readonly]) + label, .wdt-emoji-popup h3, .wdt-emoji-popup #wdt-emoji-preview-bundle, .wdt-emoji-popup #wdt-emoji-preview-text, .wdt-emoji-popup #wdt-emoji-preview-name, #usercard .roles .text, #members-nav li > a {
  color: #ededed;
}

nav, nav a, #footercontainer #curuser_name, #footercontainer #visitor_mode_message {
  color: #ffffff;
}

/* Resets
============================================== */
textarea.materialize-textarea, input[type='text'], input[type=text]:not(.browser-default), .btn, .btn-large, #wdt-emoji-search, #wdt-emoji-search:focus, .navbar-fixed, nav, nav a.button-collapse, nav a.button-collapse i, .side-nav li, .side-nav li > a, footer, #footercontainer #messageboxouter, #wdt-emoji-preview #wdt-emoji-preview-img, #mention-picker .mention-choice {
  height: auto;
}

textarea.materialize-textarea, input[type='text'], input[type=text]:not(.browser-default), #mention-picker {
  min-height: 0;
}

.side-nav li > a, .side-nav .userView, #members-nav li > a.subheader, .membername, #footercontainer .currentuserchip, #wdt-emoji-preview, #wdt-emoji-preview #wdt-emoji-preview-img, .modal #authfields .row .col {
  padding: 0;
}

.membercircle, #chatcontent > p, #footercontainer .currentuserchip, #footercontainer .currentuserchip #currentuserimage_parent, .modal #authfields .row, #userembedmodal .select-wrapper + p {
  margin: 0;
}

.navbar-fixed nav .brand-logo, #chatcontent .chatusername .authorhash, #chatcontent .chatusername .authordiscriminator, #footercontainer .currentuserchip #currentusername #curuser_discrim, #usercard .identity .hash, #usercard .identity .discriminator, #usercard .avatar + br, .realname {
  display: none;
}

/* Typography
============================================== */
html, #usercard .game .text, .side-nav li > a, .wdt-emoji-popup #wdt-emoji-preview-bundle {
  font-weight: 300;
}

b, strong, optgroup, .chatusername, p.mentioned, .richembed .field-name, #usercard .bottag, #usercard .game, .wdt-emoji-popup h3, .wdt-emoji-popup #wdt-emoji-preview-name, .modal #guestlogin_box:before {
  font-weight: 500;
}

#discord-members > li > a.subheader, #members-nav > li:nth-child(1) > a, #discord-members-count, #embed-discord-members-count, #members-nav > li:nth-child(4) > a, #guest-members-count, #members-nav > li:nth-child(6) > a {
  text-transform: none;
}

/* Form fields
============================================== */
textarea.materialize-textarea, input[type='text'], input[type='text']:not(.browser-default), .btn, .btn-large, #wdt-emoji-search, #wdt-emoji-search:focus {
  line-height: 1.45;
  border-radius: 3px;
  font-size: 0.875rem;
}

textarea.materialize-textarea, input[type='text'], input[type='text']:not(.browser-default), #wdt-emoji-search, #wdt-emoji-search:focus {
  background: #ffffff;
  color: #333333;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 10px;
  margin: 0;
}

textarea {
  height: auto !important;
}

input[type='text']:focus, input[type='text']:not(.browser-default):focus, input[type='text']:not(.browser-default):focus:not([readonly]), input[type='text']:disabled, input[type='text']:not(.browser-default):disabled {
  border: 0;
}

input[type='text']:focus, input[type='text']:not(.browser-default):focus, input[type='text']:not(.browser-default):focus:not([readonly]) {
  box-shadow: none;
}

input[type='text']:disabled, input[type='text']:not(.browser-default):disabled {
  color: #666666;
  background: #aaaaaa;
}

input[type='text']:disabled + label, input[type='text']:not(.browser-default):disabled + label {
  color: #aaaaaa;
}

input[type='radio']:not(:checked) + label:before, input[type='checkbox'].filled-in:checked + label:after, input[type='checkbox'].filled-in:not(:checked) + label:after, #messagebox-filemodal {
  border: 0;
  background-color: #ffffff;
}

input[type='radio']:not(:checked) + label, input[type='radio']:checked + label, input[type='checkbox'] + label {
  padding: 0 10px 0 25px;
}

input[type='radio'] + label:before, input[type='radio'] + label:after {
  margin-left: 0;
  margin-right: 0;
}

input[type='radio']:not(:checked) + label, input[type='radio']:checked + label {
  font-size: inherit;
}

input[type='radio']:checked + label:after {
  background-color: #1c2f25;
  border: 3px solid #ffffff;
}

input[type='checkbox'].filled-in:checked + label:after, input[type='checkbox'].filled-in:not(:checked) + label:after {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

input[type='checkbox'].filled-in:checked + label:before {
  width: 5px;
  height: 10px;
  top: 3.5px;
  left: 2px;
  border-right-color: #1c2f25;
  border-bottom-color: #1c2f25;
}

::-webkit-input-placeholder {
  color: #000000;
}

:-moz-placeholder {
  color: #000000;
}

::-moz-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

.btn, .btn-large, #logout_btn, #proceed_nsfw_btn {
  font-size: 0.8125rem;
  background: #1c2f25;
}

.btn:hover, .btn-large:hover, #logout_btn:hover, #proceed_nsfw_btn:hover {
  background: #15212c;
}

.btn, .btn-large {
  padding: 10px 20px;
  text-transform: none;
  letter-spacing: 1px;
}

.btn, .btn:hover, .btn-large, .btn-large:hover {
  box-shadow: none;
}

#logout_btn {
  padding: 5px;
  line-height: 1;
}

#usercard-mention-btn, #modal_invite_btn, #modal_invite_btn_invite_link {
  width: 100%;
  padding: 10px 0;
}

/* Avatars
============================================== */
.circle:hover {
  border-radius: 50%;
  background: none;
}

#usercard .avatar, #loginmodal #modal_guildiconcircle {
  max-height: 100px;
  max-width: 100%;
  width: auto;
  margin: 0 auto 10px auto;
}

/* Header nav
============================================== */
.navbar-fixed nav {
  background: #15212c;
  padding: 10px 20px;
  min-height: 44px;
}

.navbar-fixed nav, .navbar-fixed nav a.button-collapse, .navbar-fixed nav a.button-collapse i {
  line-height: 1;
}

.navbar-fixed nav a.button-collapse {
  margin: 0;
}

.navbar-fixed nav .nav-wrapper > .container:before {
  line-height: 1.1;
  font-family: "Spectral", garamond, times new roman, serif;
  font-variant: small-caps;
  font-weight: normal;
  font-size: 1.25rem;
  content: 'Chat With Us';
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
}

/* Side nav
============================================== */
#guild-nav, #members-nav {
  padding: 20px;
  background-color: #0d171b;
}

#members-nav li > a.subheader {
  text-transform: none;
}

#members-nav li > a.subheader.role-title {
  font-size: 14px !important;
  margin-bottom: 0 !important;
}

.side-nav {
  box-shadow: none;
}

.side-nav li, .side-nav #channeltopic {
  margin: 0 0 10px 0;
}

.side-nav li, .side-nav li > a {
  line-height: 1.5;
}

.side-nav li > a[id^=channel] {
  margin: 0 0 0 20px;
}

.side-nav .userView .name {
  font-size: 1.375rem;
}

.side-nav .userView .name, .side-nav .subheader {
  line-height: 1.1;
  font-family: "Spectral", garamond, times new roman, serif;
  font-variant: small-caps;
  font-weight: normal;
}

.side-nav .subheader.channel-category, .side-nav .subheader.role-title, .side-nav #channeltopic {
  font-size: inherit;
}

.side-nav .subheader {
  line-height: normal;
  font-size: 1.125rem;
}

.side-nav .subheader.channel-category, .side-nav .subheader.role-title {
  font-family: "Fira Sans", arial, sans-serif;
  font-variant: none;
}

.side-nav div.divider {
  margin: 0 -20px;
  border-bottom: 1px dashed #15212c;
  background: none;
}

.side-nav #channeltopic {
  width: auto;
}

.side-nav img[src=''] + .membername {
  padding-left: 0;
  top: 6px;
}

.membername {
  position: static;
}

.membercircle {
  height: 30px;
}

.membercircle + .membername {
  position: absolute;
  top: 5px;
  left: 40px;
}

/* Chat
============================================== */
#chatcontent {
  padding: 44px 0 10px;
}

#chatcontent > p {
  border-top: 1px dashed #15212c;
  width: auto;
  padding: 10px 20px;
}

#chatcontent > p:first-child {
  border-top: 0;
}

#chatcontent > p.collapsed .chatmessage {
  margin-top: 0;
}

#chatcontent .chatusername {
  font-size: inherit;
}

#chatcontent .chatmessage {
  margin-top: 10px;
}

#chatcontent span.reactions {
  margin: 0 -2.5px -5px -2.5px;
}

#chatcontent span.reactions .reaction {
  background: rgba(0, 0, 0, 0.5);
  margin: 0 2.5px 5px 2.5px;
  padding: 5px;
  height: auto;
  font-size: 0.75rem;
}

#chatcontent span.reactions .reaction img, #chatcontent span.reactions .reaction .count {
  display: inline-block;
}

#chatcontent span.reactions .reaction .count {
  float: none;
  vertical-align: middle;
  margin: 0 0 0 5px;
}

/* Footer
============================================== */
footer {
  background: #15212c;
}

#footercontainer {
  border: 0;
  margin: 0 -5px;
  padding: 10px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

#footercontainer, #footercontainer #messageboxouter, #footercontainer #visitor_mode_message {
  width: auto;
}

#footercontainer > div, #footercontainer #nameplate {
  margin: 0;
  padding: 0 5px;
  top: 0;
}

#footercontainer .currentuserchip #currentusername, #footercontainer #messageboxouter #visitor_login_btn {
  margin: 0 0 0 10px;
}

#footercontainer .currentuserchip #currentuserimage_parent, #footercontainer #messageboxouter {
  line-height: 0;
}

#footercontainer .currentuserchip #currentuserimage_parent, #footercontainer .currentuserchip #currentusername {
  vertical-align: middle;
}

#footercontainer .currentuserchip #currentusername {
  left: 0;
}

#footercontainer .currentuserchip #currentuserimage_parent #currentuserimage {
  margin-right: 0;
}

#footercontainer #messageboxouter {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  overflow: visible;
}

#footercontainer #messageboxouter #messagebox {
  padding-right: 35px;
}

#footercontainer .wdt-emoji-picker {
  top: 14px;
}

/* Emoji Popup
============================================== */
.wdt-emoji-popup {
  height: 220px;
  top: 0 !important;
  bottom: 0;
  left: auto !important;
  right: 30px;
  margin: auto;
  overflow: hidden;
  border: 0;
  border-radius: 0;
}

.wdt-emoji-popup, .wdt-emoji-popup h3 {
  background: #0d171b;
}

.wdt-emoji-popup h3, .wdt-emoji-popup #wdt-emoji-footer, .wdt-emoji-popup #wdt-emoji-menu-header, .wdt-emoji-popup .wdt-emoji {
  padding: 5px;
}

.wdt-emoji-popup h3, .wdt-emoji-popup #wdt-emoji-preview-bundle {
  font-size: inherit;
}

.wdt-emoji-popup .wdt-emoji-tab.active {
  border-bottom-color: #73abd0;
}

.wdt-emoji-popup span.emoji-outer {
  width: 16px;
  height: 16px;
}

.wdt-emoji-popup #wdt-emoji-menu-header, .wdt-emoji-popup #wdt-emoji-footer {
  background: #15212c;
  border: 0;
}

.wdt-emoji-popup .wdt-emoji-scroll-wrapper {
  border-left: 1px solid #15212c;
  border-right: 1px solid #15212c;
}

.wdt-emoji-popup #wdt-emoji-search {
  margin: 10px;
  width: 95%;
}

.wdt-emoji-popup #wdt-emoji-preview-bundle {
  bottom: 12px;
}

.wdt-emoji-popup #wdt-emoji-preview #wdt-emoji-preview-text {
  top: 0;
}

.wdt-emoji-popup #wdt-emoji-preview #wdt-emoji-preview-img span.emoji-outer.emoji-sizer {
  width: 24px;
  height: 24px;
}

/* Mention Picker
============================================== */
#mention-picker {
  bottom: 55px;
  right: 20px;
  max-width: 89.2%;
  color: #333333;
  background: #ffffff;
  overflow: visible;
  border-radius: 3px;
}

#mention-picker .mention-choice {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#mention-picker .mention-choice.selected {
  background-color: transparent;
}

/* Dropdown Content
============================================== */
.dropdown-content {
  border-radius: 0 0 3px 3px;
  box-shadow: none;
}

.dropdown-content li {
  min-height: 1px;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 0.75rem;
  color: #333333;
  padding: 5px 10px;
}

/* Modal
============================================== */
.modal {
  background-color: #0d171b;
  top: 0 !important;
  bottom: 0 !important;
  border-radius: 0;
  box-shadow: none;
  max-height: 85%;
}

.modal, .modal.bottom-sheet {
  margin: auto;
  width: 85%;
}

.modal.bottom-sheet {
  max-height: 60%;
}

.modal p, .modal #discordlogin_btn, .modal #guest_login_instr, .modal input[type='text'], .modal #guestlogin_box:before {
  margin: 0 0 10px 0;
}

.modal h4, .modal #loginmodal h4 {
  font-size: 1.25rem;
}

.modal label, .modal #discordlogin_btn_warn {
  font-size: 0.75rem;
}

.modal h4 {
  line-height: 1.1;
  font-family: "Spectral", garamond, times new roman, serif;
  font-variant: small-caps;
  font-weight: normal;
  margin: 0 0 10px 0;
}

.modal .modal-content {
  padding: 20px;
}

.modal .row {
  margin: 0 -10px;
}

.modal .row > .col, .modal .row #modal_guildinfobox {
  padding: 0 10px;
  margin: 0 0 10px 0;
}

.modal #discordlogin_btn_warn, .modal #guestlogin_box:before {
  font-style: italic;
}

.modal #authfields .row .col {
  float: none;
  width: auto;
}

.modal #guestlogin_box:before {
  content: '- OR -';
  display: block;
  font-size: 0.875rem;
}

.modal #modal_guildinfobox {
  background-color: transparent;
  border-right: 1px dashed #0d171b;
}

/* Login Modal
============================================== */
#loginmodal, #loginmodal .flow-text {
  font-size: 0.75rem;
}

/* User Embed Modal
============================================== */
#userembedmodal .modal-content > .row:last-child {
  margin: 0;
}

#userembedmodal .modal-content > .row:nth-child(2) > div {
  padding: 0 10px;
}

#userembedmodal label[for='change_username_field'] {
  display: block;
  margin: 0 0 10px 0;
}

#userembedmodal #logout_btn {
  padding: 6px 5px 3px 5px;
}

/* NSFW Modal
============================================== */
#nsfwmodal i {
  color: #b13131;
}

/* File Modal
============================================== */
#filemodal .progress {
  background-color: #1c2f25;
}

#filemodal .progress .determinate {
  background-color: #33443b;
}

#filemodal #filemodal-body #filemodal-right {
  width: 100%;
}

#filemodal #filemodal-body #filemodal-left {
  margin: 0 10px 0 0;
}

#filemodal #filemodal-body #messagebox-filemodal::-webkit-input-placeholder {
  color: #000000;
}

#filemodal #filemodal-body #messagebox-filemodal:-moz-placeholder {
  color: #000000;
}

#filemodal #filemodal-body #messagebox-filemodal::-moz-placeholder {
  color: #000000;
}

#filemodal #filemodal-body #messagebox-filemodal:-ms-input-placeholder {
  color: #000000;
}

/* User Card
============================================== */
#usercard .row .col.m2 {
  width: 25%;
  text-align: center;
}

#usercard .row .col.m10 {
  width: 75%;
}

#usercard .badges {
  margin: 0 0 10px 0;
}

#usercard .identity, #usercard .bottag, #usercard .role .bubble {
  display: inline-block;
}

#usercard .identity, #usercard .bottag {
  vertical-align: middle;
}

#usercard .bottag {
  margin: 0 0 10px 10px;
}

#usercard .roles {
  padding-left: 5px;
}

#usercard .roles .bubble {
  margin: 0 5px 10px 5px;
  vertical-align: top;
}

/* Resets
============================================== */
@media only screen and (max-width: 767px) {
  .modal .row > .col, #usercard .row .col.m2, #usercard .row .col.m10 {
    width: auto;
  }
  .modal .row > .col {
    float: none;
  }
}

@media only screen and (max-width: 600px) {
  .btn, .btn-large {
    width: 100%;
  }
  .btn, .btn-large, #loginmodal #modal_invite_btn, #loginmodal #modal_invite_btn_invite_link, #loginmodal #discordlogin_btn {
    padding: 10px;
    height: auto;
    line-height: 1.45;
    font-size: 0.8125rem;
  }
  .navbar-fixed nav a.button-collapse, #footercontainer #visitor_mode_message_note, #footercontainer #nameplate {
    display: none;
  }
  .side-nav {
    max-width: 75%;
  }
  #footercontainer #messageboxouter #visitor_login_btn {
    margin: 0;
  }
  #loginmodal #authfield-choosetxt.flow-text, #loginmodal #custom_username_field, #nsfwmodal #dismiss_nsfw_btn {
    margin: 0 0 10px 0;
  }
  #loginmodal h4, #loginmodal #guest_login_instr, #loginmodal #discordlogin_btn_warn, #loginmodal #authfield-choosetxt {
    display: block;
  }
  #loginmodal h4 {
    font-size: 1.25rem;
  }
  #loginmodal #custom_username_field_label {
    font-size: 0.75rem;
  }
  #loginmodal #authfields {
    margin-top: 0;
  }
}

@media only screen and (max-width: 500px) {
  #loginmodal #modal_guildiconcircle {
    max-width: 55px;
  }
  #loginmodal #modal_guildname {
    text-align: left;
    margin: 0 0 0 65px;
  }
}
