/* Root colors
============================================== */
@import url("//fonts.googleapis.com/css?family=Spectral|Fira+Sans:300,300i,500,500i");
:root {
  --modal: #15212c;
  --noroleusers: #ff00ff;
  --main: #0d171b;
  --placeholder: #000000;
  --sidebardivider: #15212c;
  --leftsidebar: #0d171b;
  --rightsidebar: #0d171b;
  --header: #15212c;
  --chatmessage: #ff00ff;
  --discrim: #ff00ff;
  --chatbox: #15212c;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Fira Sans", arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 300;
}

html, label, nav a, nav .brand-logo, .betatag, .chattimestamp, #chatcontent span.reactions .reaction, .side-nav, .side-nav .subheader, .side-nav li > a, .channel-hash,
input[type='text']:not(.browser-default):focus:not([readonly]) + label {
  color: #ff00ff;
}

/* Resets
============================================== */
textarea.materialize-textarea, input[type='text'], input[type=text]:not(.browser-default), .btn, .btn-large, .navbar-fixed, nav, nav a.button-collapse, nav a.button-collapse i, .side-nav li, .side-nav li > a, footer, #footercontainer #messageboxouter {
  height: auto;
}

textarea.materialize-textarea, input[type='text'], input[type=text]:not(.browser-default) {
  min-height: 0;
}

.side-nav li > a, .side-nav .userView, #members-nav li > a.subheader, .membername {
  padding: 0;
}

.membercircle {
  margin: 0;
}

/* Typography
============================================== */
html, #usercard .game .text {
  font-weight: 300;
}

b, strong, optgroup, .chatusername, p.mentioned, .richembed .field-name, #usercard .bottag, #usercard .game {
  font-weight: 500;
}

#discord-members > li > a.subheader, #members-nav > li:nth-child(1) > a, #discord-members-count, #embed-discord-members-count, #members-nav > li:nth-child(4) > a, #guest-members-count, #members-nav > li:nth-child(6) > a {
  text-transform: none;
}

/* Form fields
============================================== */
textarea.materialize-textarea, input[type='text'], input[type='text']:not(.browser-default), .btn, .btn-large {
  line-height: 1.45;
  border-radius: 3px;
}

textarea.materialize-textarea, input[type='text'], input[type='text']:not(.browser-default) {
  background: #ffffff;
  color: #333333;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 10px;
  margin: 0;
}

input[type='text']:focus, input[type='text']:not(.browser-default):focus, input[type='text']:not(.browser-default):focus:not([readonly]), input[type='text']:disabled, input[type='text']:not(.browser-default):disabled {
  border: 0;
}

input[type='text']:focus, input[type='text']:not(.browser-default):focus, input[type='text']:not(.browser-default):focus:not([readonly]) {
  box-shadow: none;
}

input[type='text']:disabled, input[type='text']:not(.browser-default):disabled {
  color: #666666;
  background: #aaaaaa;
}

input[type='text']:disabled + label, input[type='text']:not(.browser-default):disabled + label {
  color: #aaaaaa;
}

input[type='radio']:not(:checked) + label:before, input[type='checkbox'].filled-in:checked + label:after, input[type='checkbox'].filled-in:not(:checked) + label:after {
  border: 0;
  background-color: #ffffff;
}

input[type='radio']:checked + label:after {
  background-color: #1c2f25;
  border: 3px solid #ffffff;
}

input[type='checkbox'].filled-in:checked + label:after, input[type='checkbox'].filled-in:not(:checked) + label:after {
  width: 16px;
  height: 16px;
}

input[type='checkbox'].filled-in:checked + label:before {
  width: 5px;
  height: 10px;
  top: 0.5px;
  left: 2px;
  border-right-color: #1c2f25;
  border-bottom-color: #1c2f25;
}

.btn, .btn-large, #logout_btn, #proceed_nsfw_btn {
  background: #1c2f25;
}

.btn:hover, .btn-large:hover, #logout_btn:hover, #proceed_nsfw_btn:hover {
  background: #0d171b;
}

.btn, .btn-large {
  padding: 10px 20px;
  text-transform: none;
  letter-spacing: 1px;
}

.btn, .btn:hover, .btn-large, .btn-large:hover {
  box-shadow: none;
}

#logout_btn {
  padding: 5px;
  line-height: 1;
}

#modal_invite_btn, #modal_invite_btn_invite_link {
  padding: 10px 5px;
  font-size: 0.75rem;
  display: block;
}

/* Header nav
============================================== */
.navbar-fixed nav {
  background: var(--header);
  padding: 10px 20px;
}

.navbar-fixed nav, .navbar-fixed nav a.button-collapse, .navbar-fixed nav a.button-collapse i {
  line-height: 1;
}

.navbar-fixed nav a.button-collapse {
  margin: 0;
}

.navbar-fixed nav .brand-logo {
  display: none;
}

.navbar-fixed nav .nav-wrapper > .container:before {
  font-family: "Spectral", garamond, times new roman, serif;
  font-variant: small-caps;
  font-size: 1.25rem;
  content: 'Chat With Us';
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
}

/* Side nav
============================================== */
#guild-nav, #members-nav {
  padding: 20px;
}

#members-nav li > a.subheader {
  text-transform: none;
}

#members-nav li > a.subheader.role-title {
  font-size: 14px !important;
  margin-bottom: 0 !important;
}

.side-nav li, .side-nav #channeltopic {
  margin: 0 0 10px 0;
}

.side-nav li, .side-nav li > a {
  line-height: 1.5;
}

.side-nav li > a {
  font-weight: 300;
}

.side-nav li > a[id^=channel] {
  margin: 0 0 0 20px;
}

.side-nav .userView .circle:hover {
  border-radius: 50%;
}

.side-nav .userView .name {
  font-size: 1.375rem;
}

.side-nav .userView .name, .side-nav .subheader {
  font-family: "Spectral", garamond, times new roman, serif;
  font-variant: small-caps;
}

.side-nav .subheader.channel-category, .side-nav .subheader.role-title, .side-nav #channeltopic {
  font-size: inherit;
}

.side-nav .subheader {
  line-height: normal;
  font-size: 1.125rem;
}

.side-nav .subheader.channel-category, .side-nav .subheader.role-title {
  font-family: "Fira Sans", arial, sans-serif;
  font-variant: none;
}

.side-nav div.divider {
  margin: 0 -20px;
  border-bottom: 1px dashed #15212c;
  background: none;
}

.side-nav #channeltopic {
  width: auto;
}

.side-nav img[src=''] + .membername {
  padding-left: 0;
  top: 6px;
}

.membername {
  position: static;
}

.membercircle {
  height: 30px;
}

.membercircle + .membername {
  position: absolute;
  top: 5px;
  left: 40px;
}
