@charset "UTF-8";
/*! Character Speech Colors
------------------------------------------------------------------
	Style name: Khy'eras (version 1.0)
------------------------------------------------------------------*/
.bbcode-character-speech[data-name='Aldri Yosbin'] {
  color: #6b8dc4;
}

.bbcode-character-speech[data-name='Aleida Farlight'] {
  color: #33b873;
}

.bbcode-character-speech[data-name='Amalia Hahn'] {
  color: #bf0040;
}

.bbcode-character-speech[data-name='Amelia Varanger'] {
  color: #ffa07a;
}

.bbcode-character-speech[data-name='Andrea Winslow'] {
  color: #d8bfd8;
}

.bbcode-character-speech[data-name='Ahtair Darwish'] {
  color: #40bfff;
}

.bbcode-character-speech[data-name='Artemis Black'] {
  color: #9aa7b3;
}

.bbcode-character-speech[data-name='Aurae'] {
  color: #ff8080;
}

.bbcode-character-speech[data-name='Borin Skyhammer'] {
  color: #cf7d1f;
}

.bbcode-character-speech[data-name='Bracken Olivefrost'] {
  color: #69bdd2;
}

.bbcode-character-speech[data-name='Braschanka Cloudbreaker'] {
  color: #cd7054;
}

.bbcode-character-speech[data-name='Calem Sabathe'] {
  color: #f75725;
}

.bbcode-character-speech[data-name='Charlotte'] {
  color: #a65300;
}

.bbcode-character-speech[data-name='Chloe Rasori'] {
  color: #60eeb7;
}

.bbcode-character-speech[data-name='Ciaran'] {
  color: #c499f8;
}

.bbcode-character-speech[data-name='Cithrel'] {
  color: #80ffff;
}

.bbcode-character-speech[data-name='Cleaver'] {
  color: #daa520;
}

.bbcode-character-speech[data-name='Colle Mellifera'] {
  color: #eed260;
}

.bbcode-character-speech[data-name='Dáire'] {
  color: #00bf80;
}

.bbcode-character-speech[data-name='Daniela'] {
  color: #d4734a;
}

.bbcode-character-speech[data-name='Dash ODell'] {
  color: #008040;
}

.bbcode-character-speech[data-name='Deborah'] {
  color: #ec489a;
}

.bbcode-character-speech[data-name='Elára Vëa'] {
  color: #bf4000;
}

.bbcode-character-speech[data-name='Farro'] {
  color: #5d6d7e;
}

.bbcode-character-speech[data-name='Galynhun-Khan Tinnudir'] {
  color: #778899;
}

.bbcode-character-speech[data-name='Gavin Tate'] {
  color: #a94c1d;
}

.bbcode-character-speech[data-name='Hannah Shaffer'] {
  color: #008b8b;
}

.bbcode-character-speech[data-name='Harroc Crownegrove'] {
  color: #40bf00;
}

.bbcode-character-speech[data-name='Helo'] {
  color: #8080ff;
}

.bbcode-character-speech[data-name='Heron'] {
  color: #ffff00;
}

.bbcode-character-speech[data-name='Inessa Marcant'] {
  color: #daf7f3;
}

.bbcode-character-speech[data-name='Inya'] {
  color: #bfbfbf;
}

.bbcode-character-speech[data-name='Jacobus Sandoval'] {
  color: #bfff00;
}

.bbcode-character-speech[data-name='Johnathan Lemound'] {
  color: #80bfff;
}

.bbcode-character-speech[data-name='Jourin Argall'] {
  color: #cc1100;
}

.bbcode-character-speech[data-name='Kat'] {
  color: #4080ff;
}

.bbcode-character-speech[data-name='Kent Doyle'] {
  color: #40bfbf;
}

.bbcode-character-speech[data-name='Kira'] {
  color: #8000ff;
}

.bbcode-character-speech[data-name='Ksenia'] {
  color: #c699f3;
}

.bbcode-character-speech[data-name='Lanae Ofnowhere'] {
  color: #687e5a;
}

.bbcode-character-speech[data-name='Leiven Loramrai'] {
  color: #4080ff;
}

.bbcode-character-speech[data-name='Lena Hawkins'] {
  color: #ef0050;
}

.bbcode-character-speech[data-name='Loxiel'] {
  color: #40ff80;
}

.bbcode-character-speech[data-name='Lynwood Mcneil'] {
  color: #408040;
}

.bbcode-character-speech[data-name='Malcolm Rhodes'] {
  color: #80bfbf;
}

.bbcode-character-speech[data-name='Mara Whitewood'] {
  color: #eedd82;
}

.bbcode-character-speech[data-name='Marcy Faen'] {
  color: #bf40bf;
}

.bbcode-character-speech[data-name='Mila'] {
  color: #80ffbf;
}

.bbcode-character-speech[data-name='Miss Turley'] {
  color: #bfffff;
}

.bbcode-character-speech[data-name='Nethra Cernuum'] {
  color: #c8a2c8;
}

.bbcode-character-speech[data-name='Poppy Dasylirion'] {
  color: #ff00ff;
}

.bbcode-character-speech[data-name='Raen'] {
  color: #80bfbf;
}

.bbcode-character-speech[data-name='Roan'] {
  color: #5cb27f;
}

.bbcode-character-speech[data-name='Robert Jenn'] {
  color: #ffdead;
}

.bbcode-character-speech[data-name='Rory Lunatus'] {
  color: #e77cef;
}

.bbcode-character-speech[data-name='Shahira Darwish'] {
  color: #7171C6;
}

.bbcode-character-speech[data-name='Sir Archibald'] {
  color: #8080ff;
}

.bbcode-character-speech[data-name='Soltaevar Velca'] {
  color: #ac44d4;
}

.bbcode-character-speech[data-name='Sterling'] {
  color: #e8e2c5;
}

.bbcode-character-speech[data-name='Terrance Khadar'] {
  color: #ff8c00;
}

.bbcode-character-speech[data-name='The Cook'] {
  color: #ff4040;
}

.bbcode-character-speech[data-name='Tommy'] {
  color: #ffff80;
}

.bbcode-character-speech[data-name='Vanessa LaNore'] {
  color: #8040ff;
}

.bbcode-character-speech[data-name='Velnise'] {
  color: #93b726;
}

.bbcode-character-speech[data-name='Verial'] {
  color: #999999;
}

.bbcode-character-speech[data-name='Wish Star'] {
  color: #55a3d6;
}

.bbcode-character-speech[data-name='Yonatan Razel'] {
  color: #8e673e;
}

.bbcode-character-speech[data-name='Zalai Mandari'] {
  color: #cc4444;
}
