/* RPG Icon Variables
============================================== */

$rpg-achievement: \e929;
$rpg-big-gear: \e902;
$rpg-book-cover: \e919;
$rpg-bookmarklet: \e91a;
$rpg-burning-embers: \e934;
$rpg-cash: \e932;
$rpg-castle: \e905;
$rpg-clockwork: \e90f;
$rpg-compass: \e911;
$rpg-crossed-swords: \e91e;
$rpg-cross-shield: \e924;
$rpg-dice-cubes: \e943;
$rpg-dice-cup: \e942;
$rpg-direction-sign: \e915;
$rpg-dragon-head: \e90c;
$rpg-dwarf-face: \e90d;
$rpg-elf-ear: \e90e;
$rpg-evil-hand: \e91b;
$rpg-fairy: \e91d;
$rpg-fangs: \e906;
$rpg-fire: \e93b;
$rpg-fire-silhouette: \e908;
$rpg-gavel: \e91f;
$rpg-ghost-ally: \e909;
$rpg-goose: \e941;
$rpg-harpy: \e907;
$rpg-holy-grail: \e930;
$rpg-hourglass: \e931;
$rpg-hunting-horn: \e920;
$rpg-key: \e913;
$rpg-old-lantern: \e93f;
$rpg-open-book: \e923;
$rpg-padlock: \e912;
$rpg-pocket-watch: \e93e;
$rpg-pokecog: \e926;
$rpg-portal: \e928;
$rpg-quill: \e901;
$rpg-quill-ink: \e900;
$rpg-run: \e90b;
$rpg-scroll-unfurled: \e921;
$rpg-secret-book: \e914;
$rpg-sewing-needle: \e944;
$rpg-shaking-hands: \e91c;
$rpg-ship-wheel: \e940;
$rpg-spell-book: \e918;
$rpg-stabbed-note: \e916;
$rpg-stag-head: \e945;
$rpg-stars-stack: \e92a;
$rpg-stone-crafting: \e925;
$rpg-thors-hammer: \e903;
$rpg-tied-scroll: \e922;
$rpg-tinker: \e904;
$rpg-transportation-rings: \e90a;
$rpg-trumpet-flag: \e910;
$rpg-two-coins: \e933;
$rpg-two-shadows: \e92f;
$rpg-violin: \e93c;
$rpg-white-book: \e917;
$rpg-wooden-door: \e927;
$rpg-zeppelin: \e93d;

/* RPG Icon Classes
============================================== */

.rpg-achievement:before {
	content: unicode($rpg-achievement);
}
.rpg-big-gear:before {
	content: unicode($rpg-big-gear);
}
.rpg-book-cover:before {
	content: unicode($rpg-book-cover);
}
.rpg-bookmarklet:before {
	content: unicode($rpg-bookmarklet);
}
.rpg-burning-embers:before {
	content: unicode($rpg-burning-embers);
}
.rpg-cash:before {
	content: unicode($rpg-cash);
}
.rpg-castle:before {
	content: unicode($rpg-castle);
}
.rpg-clockwork:before {
	content: unicode($rpg-clockwork);
}
.rpg-compass:before {
	content: unicode($rpg-compass);
}
.rpg-crossed-swords:before {
	content: unicode($rpg-crossed-swords);
}
.rpg-cross-shield:before {
	content: unicode($rpg-cross-shield);
}
.rpg-dice-cubes:before {
	content: unicode($rpg-dice-cubes);
}
.rpg-dice-cup:before {
	content: unicode($rpg-dice-cup);
}
.rpg-direction-sign:before {
	content: unicode($rpg-direction-sign);
}
.rpg-dragon-head:before {
	content: unicode($rpg-dragon-head);
}
.rpg-dwarf-face:before {
	content: unicode($rpg-dwarf-face);
}
.rpg-elf-ear:before {
	content: unicode($rpg-elf-ear);
}
.rpg-evil-hand:before {
	content: unicode($rpg-evil-hand);
}
.rpg-fairy:before {
	content: unicode($rpg-fairy);
}
.rpg-fangs:before {
	content: unicode($rpg-fangs);
}
.rpg-fire:before {
	content: unicode($rpg-fire);
}
.rpg-fire-silhouette:before {
	content: unicode($rpg-fire-silhouette);
}
.rpg-gavel:before {
	content: unicode($rpg-gavel);
}
.rpg-ghost-ally:before {
	content: unicode($rpg-ghost-ally);
}
.rpg-goose:before {
	content: unicode($rpg-goose);
}
.rpg-harpy:before {
	content: unicode($rpg-harpy);
}
.rpg-holy-grail:before {
	content: unicode($rpg-holy-grail);
}
.rpg-hourglass:before {
	content: unicode($rpg-hourglass);
}
.rpg-hunting-horn:before {
	content: unicode($rpg-hunting-horn);
}
.rpg-key:before {
	content: unicode($rpg-key);
}
.rpg-old-lantern:before {
	content: unicode($rpg-old-lantern);
}
.rpg-open-book:before {
	content: unicode($rpg-open-book);
}
.rpg-padlock:before {
	content: unicode($rpg-padlock);
}
.rpg-pocket-watch:before {
	content: unicode($rpg-pocket-watch);
}
.rpg-pokecog:before {
	content: unicode($rpg-pokecog);
}
.rpg-portal:before {
	content: unicode($rpg-portal);
}
.rpg-quill:before {
	content: unicode($rpg-quill);
}
.rpg-quill-ink:before {
	content: unicode($rpg-quill-ink);
}
.rpg-run:before {
	content: unicode($rpg-run);
}
.rpg-scroll-unfurled:before {
	content: unicode($rpg-scroll-unfurled);
}
.rpg-secret-book:before {
	content: unicode($rpg-secret-book);
}
.rpg-sewing-needle:before {
	content: unicode($rpg-sewing-needle);
}
.rpg-shaking-hands:before {
	content: unicode($rpg-shaking-hands);
}
.rpg-ship-wheel:before {
	content: unicode($rpg-ship-wheel);
}
.rpg-spell-book:before {
	content: unicode($rpg-spell-book);
}
.rpg-stabbed-note:before {
	content: unicode($rpg-stabbed-note);
}
.rpg-stag-head:before {
	content: unicode($rpg-stag-head);
}
.rpg-stars-stack:before {
	content: unicode($rpg-stars-stack);
}
.rpg-stone-crafting:before {
	content: unicode($rpg-stone-crafting);
}
.rpg-thors-hammer:before {
	content: unicode($rpg-thors-hammer);
}
.rpg-tied-scroll:before {
	content: unicode($rpg-tied-scroll);
}
.rpg-tinker:before {
	content: unicode($rpg-tinker);
}
.rpg-transportation-rings:before {
	content: unicode($rpg-transportation-rings);
}
.rpg-trumpet-flag:before {
	content: unicode($rpg-trumpet-flag);
}
.rpg-two-coins:before {
	content: unicode($rpg-two-coins);
}
.rpg-two-shadows:before {
	content: unicode($rpg-two-shadows);
}
.rpg-violin:before {
	content: unicode($rpg-violin);
}
.rpg-white-book:before {
	content: unicode($rpg-white-book);
}
.rpg-wooden-door:before {
	content: unicode($rpg-wooden-door);
}
.rpg-zeppelin:before {
	content: unicode($rpg-zeppelin);
}

/* Miscellaneous Icons - Uses RPG font
============================================== */

$misc-aim: \e92e;
$misc-check: \e935;
$misc-check-circle: \e936;
$misc-close: \e937;
$misc-close-circle: \e938;
$misc-discord: \e92d;
$misc-icq: \e92b;
$misc-jabber: \e92c;
$misc-minus: \e93a;
$misc-plus: \e939;

/* Miscellaneous Icon Classes
============================================== */

.misc-aim:before {
	content: unicode($misc-aim);
}
.misc-check:before {
	content: unicode($misc-check);
}
.misc-check-circle:before {
	content: unicode($misc-check-circle);
}
.misc-close:before {
	content: unicode($misc-close);
}
.misc-close-circle:before {
	content: unicode($misc-close-circle);
}
.misc-discord:before {
	content: unicode($misc-discord);
}
.misc-icq:before {
	content: unicode($misc-icq);
}
.misc-jabber:before {
	content: unicode($misc-jabber);
}
.misc-minus:before {
	content: unicode($misc-minus);
}
.misc-plus:before {
	content: unicode($misc-plus);
}

/* RPG & Miscellaneous Icon Overrides
============================================== */

.fa-bell, .fa-check, .fa-check-circle, .fa-clock-o, .fa-close, .fa-cog, .fa-cogs, .fa-file, .fa-file-o, .fa-gavel, .fa-home, .fa-inbox, .fa-lock, .fa-minus, .fa-pencil, .fa-sliders, .fa-pencil-square-o, .fa-plus, .fa-power-off, .fa-remove, .fa-reply, .fa-shield, .fa-times, .fa-times-circle, .fa-trash, .fa-wrench {
	font-family: 'Khyeras Icons';
}

.fa-bell:before {
	content: unicode($rpg-trumpet-flag);
}

.fa-check:before {
	content: unicode($misc-check);
}

.fa-check-circle:before {
	content: unicode($misc-check-circle);
}

.fa-clock-o:before {
	content: unicode($rpg-hourglass);
}

.fa-close:before, .fa-remove:before, .fa-times:before {
	content: unicode($misc-close);
}

.fa-cog:before, .fa-cogs:before {
	content: unicode($rpg-pokecog);
}

.fa-file:before, .fa-file-o:before {
	content: unicode($rpg-scroll-unfurled);
}

.fa-gavel:before {
	content: unicode($rpg-thors-hammer);
}

.fa-home:before {
	content: unicode($rpg-castle);
}

.fa-inbox:before {
	content: unicode($rpg-open-book);
}

.fa-lock:before {
	content: unicode($rpg-padlock);
}

.fa-minus:before {
	content: unicode($misc-minus);
}

.fa-pencil:before, .fa-pencil-square-o:before, .fa-reply:before {
	content: unicode($rpg-quill);
}

.fa-plus:before {
	content: unicode($misc-plus);
}

.fa-power-off:before {
	content: unicode($rpg-portal);
}

.fa-shield:before {
	content: unicode($rpg-cross-shield);
}

.fa-sliders:before {
	content: unicode($rpg-key);
}

.fa-times-circle:before {
	content: unicode($misc-close-circle);
}

.fa-trash:before {
	content: unicode($rpg-fire);
}

.fa-wrench:before {
	content: unicode($rpg-stone-crafting);
}
