# Files
.htaccess
/*.php
/*.json
/*.lock
/*.config

# Folders
adm/
assets/
bin/
cache/
config/
docs/
download/
ext/
files/
images/
includes/
install/
language/
phpbb/
store/
!styles/
vendor/

# Extensions

# Themes
styles/*
!styles/khyeras_v1
!styles/khyeras_v1/*
!styles/khyeras_v1/theme
!styles/khyeras_v1/theme/images/*
!_dev/styles/khyeras_v1/theme/images