# Files
.htaccess
/*.php
/*.json
/*.lock
/*.config

# Folders
adm/
assets/
bin/
cache/
/config/
docs/
download/
files/
images/
includes/
install/
/language/
phpbb/
store/
vendor/

# Extensions
ext/*
!ext/displaycoffee/

# Styles
styles/*
!styles/khyeras_v1/
