{% macro count_details(details) %}{% spaceless %}
	{% set count = 0 %}
	{% for name, value in details if value %}
		{% set count = count + 1 %}
	{% endfor %}
	{{ count }}
{% endspaceless %}{% endmacro %}

{% macro create_handle(value) %}{% spaceless %}
	{{ value | replace({'"' : '', '\'' : '', '(' : '', ')' : '', ',' : '', '!' : '', ' ' : '-'}) | lower }}
{% endspaceless %}{% endmacro %}

{% macro create_filters(account, title, filters) %}
	<section class="card-filters page-content-section">
		<div class="card-filter-row">
			<div class="card-filter-column card-filter-label">Filter {{ title }}:</div>
			{% for key, card in filters %}
				{% set show_filter = true %}
				{% if (title == 'Achievements' || title == 'Levels') && account == 'Writer' && key == 'Status' %}
					{% set show_filter = false %}
				{% endif %}
				{% if show_filter %}
					<div class="card-filter-column card-filter-menu">
						<div class="dropdown-container">
							<div class="dropdown-trigger">
								<span>{{ key }}</span><i class="icon icon-lg fa-angle-down"></i>
							</div>
							<div class="dropdown">
								<ul class="dropdown-contents" role="menu">
									{% for filter in card %}
										<li>
											<a class="card-filter" id="card-filter-{{ _self.create_handle(key) }}-{{ _self.create_handle(filter) }}" data-field="{{ _self.create_handle(key) }}" data-filter="{{ _self.create_handle(filter) }}" title="{{ filter }}" role="menuitem">{{ filter }}</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
			<div class="card-filter-column card-filter-button">
				<button class="card-filter-reset button" type="button">
					<i class="icon fa-close"></i>
					<span>Clear Filters</span>
				</button>
			</div>
		</div>
	</section>
{% endmacro %}

{% macro create_details(details) %}
	<dl class="details">
		{% for name, value in details %}
			{% if value %}
				<dt>{{ name }}{{ lang('COLON') }}</dt>
				<dd>{{ value }}</dd>
			{% endif %}
		{% endfor %}
	</dl>
{% endmacro %}

{% macro create_nav_main(url, label, children) %}
	<div class="menu-label">
		<a href="{{ url }}" title="{{ label }}" role="menuitem"><span>{{ label }}</span></a>
		{% if children %}
			<i class="icon icon-lg fa-angle-down menu-trigger"></i>
		{% endif %}
	</div>
{% endmacro %}

{% macro create_nav_li(url, label, class) %}
	<li{% if class %} class="{{ class }}"{% endif %}>
		<a href="{{ url }}" title="{{ label }}" role="menuitem"{% if label == 'Logout' %}  accesskey="x"{% endif %}><span>{{ label }}</span></a>
	</li>
{% endmacro %}

{% macro create_pie_chart(title, type, data, total) %}
	{% if data %}
		{% set previous_value = 0 %}
		<div class="pie-chart pie-chart-{{ type }} flex-column">
			<div class="pie-chart-circle">
				<div class="pie-chart-circle-wrapper">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" preserveAspectRatio="xMinYMid">
						{% for key, value in data %}
							{% if loop.index0 != 0 %}
								{% set previous_value = previous_value + percentage %}
							{% endif %}
							{% set percentage = ((100 / total) * value) | round(1, 'ceil') %}
							<circle class="pie-chart-slice pie-chart-slice-{{ loop.index0 }}" r="16" cx="16" cy="16" stroke-dashoffset="-{{ previous_value }}" stroke-dasharray="{{ percentage }} 100" data-circle-name="{{ key }}" />
						{% endfor %}
					</svg>
				</div>
			</div>
			<h5 class="pie-chart-title">{{ title }}</h5>
			<div class="pie-chart-key">
				<ul>
					{% for key, value in data %}
						<li>
							<span class="pie-chart-key-color pie-chart-key-color-{{ loop.index0 }}"></span><strong>{{ key }}:</strong> {{ value }}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}
{% endmacro %}

{% macro create_title(title, khy_data) %}{% spaceless %}
	{% if khy_data.self %}{{ khy_data.name }}{% else %}{{ title }}{% endif %}
{% endspaceless %}{% endmacro %}

{% macro display_avatar(avatar, theme_path) %}
	<div class="user-avatar">
		<div class="image-wrap">
			{% if avatar %}
				{{ avatar }}
			{% else %}
				<img src="{{ theme_path }}/images/no_avatar.gif" alt="Default Avatar" />
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro display_counts(count) %}
	{% if count > 0 %}
		{% if count < 100 %}
			<span class="badge">{{ count }}</span>
		{% else %}
			<span class="badge badge-plus">+</span>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro display_currency(currency) %}
	{% set separator = ' / ' %}
	<div class="character-currency">
		<i class="icon icon-xl rpg-icon rpg-two-coins" aria-hidden="true"></i>
		{% for key, value in currency%}
			{% set coin_value = key | first | lower %}
			{{ value }}<span class="currency-{{ coin_value }}">{{ coin_value }}</span>
			{% if !loop.last %}{{ separator }}{% endif %}
		{% endfor %}
	</div>
{% endmacro %}

{% macro display_level(level, small) %}
	<div class="level{% if small == 'true' %} level-small{% endif %}">
		<div class="level-wrap">
			<div class="level-name khy-text">Level</div>
			{% set zero = level < 10 ? '0' : ''  %}
			<div class="level-value khy-text">{{ zero }}{{ level }}</div>
		</div>
	</div>
{% endmacro %}

{% macro display_stats(hp, mp, hp_loss, mp_loss, small) %}
	{% if hp || mp %}
		{% set remaining_hp = hp - hp_loss %}
		{% set remaining_mp = mp - mp_loss %}
		<div class="stats{% if small == 'true' %} stats-small{% endif %}">
			{% if hp %}
				<div class="stat-bar stat-bar-small hp-bar">
					<div class="stat-bar-inner" style="width: {{ ((remaining_hp / hp) * 100) | number_format(2) }}%"></div>
					<div class="stat-bar-label khy-text">
						{{ remaining_hp }} / {{ hp }} HP
					</div>
				</div>
			{% endif %}
			{% if mp %}
				<div class="stat-bar stat-bar-small mp-bar">
					<div class="stat-bar-inner" style="width: {{ ((remaining_mp / mp) * 100) | number_format(2) }}%"></div>
					<div class="stat-bar-label khy-text">
						{{ remaining_mp }} / {{ mp }} MP
					</div>
				</div>
			{% endif %}
		</div>
	{% endif %}
{% endmacro %}

{% macro replace_breaks(value) %}
	{{ value | spaceless | replace({'<br><br>': '<\/p><p>'}) }}
{% endmacro %}

{% macro replace_comma(value) %}
	{{ value | spaceless | replace({', ': ' and '}) }}
{% endmacro %}

{% macro set_spellbook(spellbook, class_opts, race_opts) %}{% spaceless %}
	{% set spellbook = spellbook %}

	{% set magical = ['Paladin', 'Ranger', 'Druid', 'Sorcerer', 'Summoner', 'Wizard', 'Bard', 'Cleric', 'Physical', 'Magical', 'Restoration'] %}
	{% set non_magical = ['Barbarian', 'Fighter', 'Monk', 'Rogue', 'Alchemist'] %}
	{% set class_array = class_opts | split(', ') %}

	{% for class in class_array %}
		{% if class in non_magical %}
			{% set spellbook = 'false' %}
		{% elseif class in magical %}
			{% set spellbook = 'true' %}
		{% endif %}
	{% endfor %}

	{% if race_opts == 'Dwarf' || 'Kerasoka' in race_opts %}{% set spellbook = 'false' %}{% endif %}

	{{ spellbook }}
{% endspaceless %}{% endmacro %}
