{% set breadcrumb_id = '' %}

{% if 'app/races-' in SCRIPT_NAME %}
	{% set breadcrumb_id = 'Races' %}
{% elseif 'app/setting-' in SCRIPT_NAME %}
	{% set breadcrumb_id = 'Setting' %}
{% elseif 'app/religion-' in SCRIPT_NAME %}
	{% set breadcrumb_id = 'Religion' %}
{% elseif 'app/classes-' in SCRIPT_NAME %}
	{% set breadcrumb_id = 'Classes' %}
{% endif %}

{% if breadcrumb_id %}
	<li class="crumb" {$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->>
		<i class="icon fa-chevron-right fa-fw"></i>
		<a href="{ROOT_PATH}{{ breadcrumb_id | lower }}" itemprop="url">
			<span itemprop="title">{{ breadcrumb_id }}</span>
		</a>
	</li>
{% endif %}
