<ul class="user-menu" role="menu">
	<!-- IF S_REGISTERED_USER -->
		<li class="dropdown-container dropdown-user-info">
			<a class="dropdown-trigger" title="Show User Links" role="menuitem">
				<div class="user-avatar">
					<div class="image-wrap">{CURRENT_USER_AVATAR}</div>
				</div>
				<span class="user-name">{CURRENT_USERNAME_SIMPLE}</span>
			</a>
			<div class="dropdown">
				<ul class="dropdown-contents" role="menu">
					<!-- EVENT navbar_header_profile_list_before -->
					<li>
						<a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem"><span>{L_READ_PROFILE}</span></a>
					</li>
					<li>
						<a href="{U_SEARCH_SELF}" title="{L_SEARCH_SELF}" role="menuitem"><span>{L_SEARCH_SELF}</span></a>
					</li>
					<li>
						<a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem"><span>User CP</span></a>
					</li>
					<!-- IF U_ACP -->
						<li>
							<a href="{U_ACP}" title="{L_ACP}" role="menuitem"><span>Admin CP</span></a>
						</li>
					<!-- ENDIF -->
					<!-- IF U_MCP -->
						<li>
							<a href="{U_MCP}" title="{L_MCP}" role="menuitem"><span>Moderator CP</span></a>
						</li>
					<!-- ENDIF -->
					<!-- IF U_RESTORE_PERMISSIONS -->
						<li>
							<a href="{U_RESTORE_PERMISSIONS}" title="{L_RESTORE_PERMISSIONS}" role="menuitem"><span>{L_RESTORE_PERMISSIONS}</span></a>
						</li>
					<!-- ENDIF -->
					<li>
						<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem"><span>{L_LOGIN_LOGOUT}</span></a>
					</li>
					<!-- EVENT navbar_header_profile_list_after -->
				</ul>
			</div>
		</li>
		<!-- IF S_NOTIFICATIONS_DISPLAY -->
			<li class="dropdown-container notification-container">
				<a href="{U_VIEW_ALL_NOTIFICATIONS}" id="notification_list_button" class="dropdown-trigger dropdown-toggle">
					<span>{L_NOTIFICATIONS}</span>
					<strong class="badge<!-- IF not NOTIFICATIONS_COUNT --> hidden<!-- ENDIF -->">{NOTIFICATIONS_COUNT}</strong>
				</a>
				<!-- INCLUDE notification_dropdown.html -->
			</li>
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_PM -->
			<li>
				<a href="{U_PRIVATEMSGS}" title="{L_PRIVATE_MESSAGES}">
					<span>{L_PRIVATE_MESSAGES}</span>
					<strong class="badge<!-- IF not PRIVATE_MESSAGE_COUNT --> hidden<!-- ENDIF -->">{PRIVATE_MESSAGE_COUNT}</strong>
				</a>
			</li>
		<!-- ENDIF -->
	<!-- ELSE -->
		<li class="guest-info">
			<div class="user-avatar">
				<div class="image-wrap">
					<img src="{T_THEME_PATH}/images/no_avatar.gif" alt="Default Avatar" />
				</div>
			</div>
			<span class="user-name">
				{L_GUEST}, why don't you <a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --> or <a href="{U_REGISTER}" title="{L_REGISTER}">{L_REGISTER}</a><!-- ENDIF -->?
			</span>
		</li>
	<!-- ENDIF -->
</ul>
