<!-- {PROFILE_C_RACE_OPTS_VALUE}
{PROFILE_C_CLASS_OPTS_VALUE} -->

{% set headerlinks = {
	'Announcements': {
		link01: {
			name: 'Freed from Bhelests nightmares and undead legions, the realm of Khy\'eras',
			url:  '//www.google.com'
		},
		link02: {
			name: 'Announcement #02',
			url:  '//www.google.com'
		},
		link03: {
			name: 'Announcement #03',
			url:  '//www.google.com'
		}
	},
	'Events': {
		link04: {
			name: 'Event #01',
			url:  '//www.google.com'
		},
		link05: {
			name: 'Event #02',
			url:  '//www.google.com'
		},
		link06: {
			name: 'Event #03',
			url:  '//www.google.com'
		}
	}
} %}
