{% macro create_class(value) %}{{ value | replace({'"' : '', '\'' : '', ',' : '', ' ': '-'}) | lower }}{% endmacro %}

{% macro card_loop(cards, completed_cards, script_name) %}
	{% if cards %}
		{% if completed_cards %}
			<section class="page-content-section">
				<div class="card-filter">
					<a class="card-filter-button">
						<i class="icon rpg-icon rpg-pokecog"></i>
						{% if script_name == 'app/gameplay-achievements' %}
							<span>Show/hide completed achievements</span>
						{% elseif script_name == 'app/lore-races-half-breed' %}
							<span>Show/hide incompatible races</span>
						{% else %}
							<span>Show/hide cards</span>
						{% endif %}
					</a>
				</div>
			</section>
		{% endif %}
		{% for key, card in cards %}
			{% set section_id = _self.create_class(key) %}
			<section id="{{ section_id }}" class="page-content-section">
				<h3>{{ key }}</h3>
				<div class="card-grid">
					{% for detail in card %}
						{% set card_id = section_id  ~ '-' ~ _self.create_class(detail.title) %}
						{% set card_changed = false %}
						{% if (completed_cards && card_id in completed_cards) || ('fa-remove' in detail.icon) %}
							{% set card_changed = true %}
						{% endif %}
						<div id="{{ card_id }}" class="card-block{% if card_changed %} card-changed{% endif %}{% if detail.title == 'Not Applicable'%} card-full{% endif %}">
							<h5 class="card-title">{{ detail.title }}</h5>
							{% if card_changed && script_name == 'app/gameplay-achievements' %}
								<p class="card-completed-text"><i class="icon rpg-icon rpg-stars-stack" aria-hidden="true"></i>Achievement complete!</p>
							{% endif %}
							<div class="icon-wrapper">
								<i class="icon icon-round {{ detail.icon }}" aria-hidden="true"></i>
							</div>
							<p class="card-description">{{ detail.description }}</p>
							{% if detail.requirements || detail.reward %}
								<dl class="details details-small">
									{% if detail.requirements %}
										<dt>Requirements:</dt>
										<dd>{{ detail.requirements }}</dd>
									{% endif %}
									{% if detail.reward %}
										<dt>Rewards:</dt>
										<dd>{{ detail.reward }}</dd>
									{% endif %}
								</dl>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</section>
		{% endfor %}
	{% endif %}
{% endmacro %}
