{% set race_links = ['General', 'Physical Features', 'Traits', 'History'] %}
{% set class_links = ['General', 'Description'] %}
{% set setting_main_links = ['General', 'Description', 'Places of Interest'] %}
{% set setting_links = ['General', 'History', 'Culture', 'Housing', 'Transportation', 'Leadership', 'Views on Magic'] %}

{% set links = {
	'app/about-rules': ['General', 'On Writing', 'Mature Content'],
	'app/about-managing-your-account': ['General', 'Writer versus Character', 'Account Linking', 'Signatures and Avatars'],
	'app/about-getting-started': ['The "Not So Fun" Stuff', 'Creating a Character', 'Starting the Journey'],
	'app/lore-glossary': range('A', 'Z'),
	'app/lore-races': ['Beast', 'Changeling', 'Elf', 'Mortal', 'Mystic', 'Terra', 'Undead'],
	'app/lore-races-dragon': race_links,
	'app/lore-races-kerasoka': race_links,
	'app/lore-races-human': race_links,
	'app/lore-races-dwarf': race_links,
	'app/lore-races-shapeshifter': race_links,
	'app/lore-races-korcai': race_links,
	'app/lore-races-ghost': race_links,
	'app/lore-races-elemental': race_links,
	'app/lore-races-lumeacia': race_links,
	'app/lore-races-uedrahc': race_links,
	'app/lore-races-fae': race_links,
	'app/lore-races-half-breed': ['***'],
	'app/lore-religion-archaicism': ['Dainyil', 'Ixaziel', 'Ny\'tha', 'Pheriss', 'Ristgir'],
	'app/lore-religion-idolism': ['Ahm\'kela', 'Bhelest', 'Cecilia', 'Esyrax', 'Faryv', 'Faunir', 'Iodrah', 'Kaxitaki', 'Kelorha', 'Lahiel', 'Misanyt', 'Nilbein', 'Veditova'],
	'app/lore-religion-other': ['Agnosticism', 'Atheism'],
	'app/lore-classes': ['Combat', 'Magic', 'Supportive', 'Other Classes'],
	'app/lore-classes-draconic': class_links,
	'app/lore-classes-druid': class_links,
	'app/lore-classes-summoner': class_links,
	'app/lore-classes-sorcerer': class_links,
	'app/lore-classes-wizard': class_links,
	'app/lore-classes-cleric': class_links,
	'app/lore-classes-alchemist': class_links,
	'app/lore-classes-paladin': class_links,
	'app/lore-classes-monk': class_links,
	'app/lore-classes-rogue': class_links,
	'app/lore-classes-ranger': class_links,
	'app/lore-classes-fighter': class_links,
	'app/lore-classes-bard': class_links,
	'app/lore-classes-barbarian': class_links,
	'app/lore-magic': ['Invocation', 'Manipulation', 'Polarity', 'Primal', 'Other Magic'],
	'app/setting-tviyr': setting_main_links,
	'app/setting-tviyr-verdant-row': setting_links,
	'app/setting-tviyr-fellsgard': setting_links,
	'app/setting-ninraih': setting_main_links,
	'app/setting-ninraih-ajteire': setting_links,
	'app/setting-irtuen-reaches': setting_main_links,
	'app/setting-irtuen-reaches-domrhask': setting_links,
	'app/gameplay-achievements': ['***'],
	'app/gameplay-stats': ['Hit Points (or HP)', 'Magic Points (or MP)']
} %}

<p class="quick-links">
	{% if links[SCRIPT_NAME] %}
		{% if SCRIPT_NAME == 'app/lore-glossary' %}
			{% set prefix = 'letter-' %}
		{% endif %}
		<strong>Quick Links:</strong>
		{% for link in links[SCRIPT_NAME] %}
			{% set section_id = (link | replace({'"': '', '\'': '', '(': '', ')': '', ' ': '-'}) | lower) %}
			<a href="#{{ prefix }}{{ section_id }}">{{ link }}</a>
			{{ !loop.last ? '<span class="quick-links-separator">|</span>' : '' }}
		{% endfor %}
	{% endif %}
</p>
