{% import 'utilities/macros.html' as function %}
{% include 'overall_header.html' %}

{% set custom_faq = faq_block %}

{% if KHY_SCRIPT_NAME == 'help/bbcode' && KHY_BBCODE_FAQ %}
	{% set custom_faq = KHY_BBCODE_FAQ %}
{% elseif KHY_SCRIPT_NAME == 'about-khyeras-faq' && KHY_KHYERAS_FAQ %}
	{% set custom_faq = KHY_KHYERAS_FAQ %}
{% endif %}

<h2 class="faq-title">{{ function.create_title(PAGE_TITLE, KHY_LINKS[KHY_SCRIPT_NAME]) }}</h2>

<div id="faqlinks" class="panel bg1">
	<div class="inner">
		<div class="column1">
			{% for faq in custom_faq %}
				{% set block_count = loop.index0 %}
				{% if faq.SWITCH_COLUMN or (SWITCH_COLUMN_MANUALLY and faq.block_count == 4) %}
					</div>
					<div class="column2">
				{% endif %}
				<dl class="faq">
					<dt><strong>{faq.BLOCK_TITLE}</strong></dt>
					{% for row in faq.faq_row %}
						{% set row_count = loop.index0 %}
						<dd><a href="#f{{ block_count }}r{{ row_count }}">{{ row.FAQ_QUESTION }}</a></dd>
					{% endfor %}
				</dl>
			{% endfor %}
		</div>
	</div>
</div>

{% for faq in custom_faq %}
	{% set block_count = loop.index0 %}
	<div id="{{ function.create_handle(faq.BLOCK_TITLE) }}" class="panel {% if block_count is odd%}bg1{% else %}bg2{% endif %}" data-quick-name="{{ faq.BLOCK_TITLE }}">
		<div class="inner">
			<div class="content">
				<h2 class="faq-title">{faq.BLOCK_TITLE}</h2>
				{% for row in faq.faq_row %}
					{% set row_count = loop.index0 %}
					<dl class="faq">
						<dt id="f{{ block_count }}r{{ row_count }}"><strong>{{ row.FAQ_QUESTION }}</strong></dt>
						<dd>{{ row.FAQ_ANSWER }}</dd>
					</dl>
					<a href="#faqlinks" class="top">
						<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i><span>{{ lang('BACK_TO_TOP') }}</span>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
