<section id="page-welcome" class="page-welcome header-compact">
	<div class="wrapper">
		<div class="panel">
			<div class="inner">
				<div class="flex-row flex-row-20">
					<div class="flex-column">
						<!-- INCLUDE header_buttons.html -->
					</div>
					<div class="user-information flex-column">
						{$DISPLAY_USERNAME}
						{$DISPLAY_AVATAR}
						{$DISPLAY_TIME}
						<!-- IF S_REGISTERED_USER -->
							<!-- EVENT navbar_header_user_profile_append -->
						<!-- ELSE -->
							<!-- EVENT navbar_header_logged_out_content -->
						<!-- ENDIF -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
