<section id="featured-content" class="featured-content">
	<div class="wrapper">
		<div class="panel">
			<div class="inner">
				<div class="flex-row flex-row-10">
					<div class="flex-column featured-title"><h5>Featured</h5></div>
					<div class="flex-column featured-mvp">
						<a href="//google.com">
							<div class="image-wrap">
								<img src="{T_THEME_PATH}/images/featured-mvp.jpg" alt="MVP" />
							</div>
							<p>MVP: Deanna DiCorvino</p>
						</a>
					</div>
					<div class="flex-column featured-story">
						<a href="//google.com">
							<div class="image-wrap">
								<img src="{T_THEME_PATH}/images/featured-story.jpg" alt="Story" />
							</div>
							<p>Story: Best Thread Ever</p>
						</a>
					</div>
					<div class="flex-column featured-lore">
						<a href="//google.com">
							<div class="image-wrap">
								<img src="{T_THEME_PATH}/images/featured-lore.jpg" alt="Lore" />
							</div>
							<p>Lore: Dragons</p>
						</a>
					</div>
					<div class="flex-column featured-event">
						<a href="//google.com">
							<div class="image-wrap">
								<img src="{T_THEME_PATH}/images/featured-event.jpg" alt="Event" />
							</div>
							<p>Event: It's An Event</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
