{% import 'utilities/macros.html' as function %}

{% include 'overall_header.html' %}

{% if PROFILE_ACCOUNT_TYPE_VALUE == 'Character' %}
	{% set character_class = ' character-panel tab-panel show-panel' %}
	{% set inventory_class = ' inventory-panel tab-panel hide-panel' %}
	{% set writer_class = ' writer-panel tab-panel hide-panel' %}
{% endif %}

{% set member_avatar %}
	<div class="avatar-container">
		<div class="avatar">
			{% if AVATAR_IMG %}{{ AVATAR_IMG }}{% else %}<img src="{T_THEME_PATH}/images/no_avatar.gif" alt="Default Avatar" />{% endif %}
		</div>
	</div>
{% endset %}

{% set member_name %}
	{% EVENT memberlist_view_username_prepend %}
	{% if USER_COLOR %}<span class="username-coloured" style="color: {{ USER_COLOR }};">{% else %}<span>{% endif %}{{ USERNAME }}</span>
	{% EVENT memberlist_view_username_append %}
{% endset %}

{% set member_rank_title %}
	{% if AVATAR_IMG %}
		{% EVENT memberlist_view_rank_avatar_before %}
	{% else %}
		{% EVENT memberlist_view_rank_no_avatar_before %}
	{% endif %}
	{% if RANK_TITLE || RANK_IMG || PROFILE_TITLE_VALUE %}
		<dd class="profile-rank">
			{% if RANK_TITLE || RANK_IMG %}
				<div class="rank-label">{{ RANK_TITLE }}</div>
				{% if RANK_IMG %}
					<div class="rank-image">{{ RANK_IMG }}</div>
				{% endif %}
			{% endif %}
			{% if PROFILE_TITLE_VALUE %}
				<div class="title-label">{{ PROFILE_TITLE_VALUE }}</div>
			{% endif %}
		</dd>
	{% endif %}
	{% if AVATAR_IMG %}
		{% EVENT memberlist_view_rank_avatar_after %}
	{% else %}
		{% EVENT memberlist_view_rank_no_avatar_after %}
	{% endif %}
{% endset %}

<h2 class="memberlist-title">{{ PAGE_TITLE }}</h2>

<form method="post" action="{{ S_PROFILE_ACTION }}" id="viewprofile">
	{% if PROFILE_ACCOUNT_TYPE_VALUE == 'Character' %}
		<div id="tabs" class="tabs profile-tabs sub-panels" role="tablist">
			<ul>
				<li class="tab activetab">
					<a data-tabname="character-panel" role="tab" aria-controls="character-panel">Character</a>
				</li>
				<li class="tab">
					<a data-tabname="inventory-panel" role="tab" aria-controls="inventory-panel">Inventory</a>
				</li>
				<li class="tab">
					<a data-tabname="writer-panel" role="tab" aria-controls="writer-panel">Writer</a>
				</li>
			</ul>
		</div>
	{% endif %}

	<div class="panel bg1{% if S_ONLINE %} online{% endif %} profile-panel">
		<div class="inner">
			<div class="flex-row flex-row-10">
				<div class="flex-column flex-column-left{% if PROFILE_ALT_AVATAR_VALUE %} has-alt-avatar{% endif %}">
					<dl class="postprofile">
						<dt class="has-avatar {% if RANK_TITLE || RANK_IMG %}has-profile-rank{% else %}no-profile-rank{% endif %}">
							{% if PROFILE_ALT_AVATAR_VALUE %}
								<div class="alt-avatar-container">
									<div class="alt-avatar">
										{{ PROFILE_ALT_AVATAR_VALUE }}
									</div>
								</div>
							{% else %}
								{{ member_avatar }}
							{% endif %}
						</dt>
					</dl>
				</div>

				<div class="flex-column flex-column-right">
					<dl class="postprofile">
						<dt class="has-avatar {% if RANK_TITLE || RANK_IMG %}has-profile-rank{% else %}no-profile-rank{% endif %}">
							{{ member_avatar }}
							{{ member_name }}
						</dt>
						{{ member_rank_title }}

						{% if PROFILE_ACCOUNT_TYPE_VALUE == 'Character' %}
							<dd class="profile-character-details">
								<div class="character-card">
									{{ function.display_level(KHY_MEMBER_LEVEL, 'false') }}
									{{ function.display_stats(KHY_MEMBER_STATS.hp, KHY_MEMBER_STATS.mp, PROFILE_C_HP_VALUE, PROFILE_C_MP_VALUE, 'false') }}
								</div>
								{{ function.display_currency(KHY_MEMBER_CURRENCY) }}
							</dd>
						{% endif %}
					</dl>

					{% if PROFILE_ACCOUNT_TYPE_VALUE == 'Character' %}
						{% include 'partials/memberlist_character_details.html' %}
						{% include 'partials/memberlist_inventory_details.html' %}
					{% endif %}

					{% include 'partials/memberlist_writer_details.html' %}
				</div>
			</div>

			{% if PROFILE_ACCOUNT_TYPE_VALUE == 'Character' %}
				{% include 'partials/memberlist_character_desc.html' %}
				{% include 'partials/memberlist_inventory_desc.html' %}
			{% endif %}

			{% include 'partials/memberlist_writer_desc.html' %}
		</div>
	</div>

	{% if SIGNATURE %}
		<div class="panel bg2">
			<div class="inner">
				<h3>{{ lang('SIGNATURE') }}</h3>
				<div class="postbody"><div class="signature standalone">{{ SIGNATURE }}</div></div>
			</div>
		</div>
	{% endif %}
</form>

{% include 'jumpbox.html' %}

{% include 'overall_footer.html' %}
