{% import 'utilities/macros.html' as function %}

{% include 'overall_header.html' %}

{% set exclude_title = ['app/setting'] %}

{% if 'setting-' not in KHY_SCRIPT_NAME %}
	<h2 class="pages-title">{{ PAGE_TITLE }}</h2>
{% endif %}

{% if KHY_SCRIPT_NAME == 'setting-map' %}
	{% include 'partials/content_map.html' %}
{% endif %}

<div class="panel"{% if KHY_SCRIPT_NAME == 'about-khyeras-faq' %} id="khyeras-faq"{% endif %}>
	<div class="inner">
		<div class="content pages-content">
			{{ PAGE_CONTENT }}

			{% if KHY_SCRIPT_NAME == 'about-khyeras-faq' %}
				{% include 'partials/content_faq.html' %}
			{% endif %}

			{% if KHY_SCRIPT_NAME == 'lore-timeline' %}
				{% include 'partials/content_timeline.html' %}
			{% endif %}

			{% if KHY_SCRIPT_NAME == 'lore-races-half-breed' %}
				{% include 'partials/content_half_breed.html' %}
			{% endif %}

			{% if KHY_SCRIPT_NAME == 'gameplay-leveling' %}
				{% include 'partials/content_leveling.html' %}
			{% endif %}

			{% if KHY_SCRIPT_NAME == 'gameplay-achievements' %}
				{% include 'partials/content_achievements.html' %}
			{% endif %}

			{% if KHY_SCRIPT_NAME == 'sitemap' %}
				{% include 'partials/content_sitemap.html' %}
			{% endif %}
		</div>
		{% EVENT phpbb_pages_after_page_content %}
	</div>
</div>

{% include 'overall_footer.html' %}
