{% import 'utilities/macros.html' as function %}

{% include 'overall_header.html' %}

{% set exclude_title = ['app/setting'] %}

{% if 'setting-' not in KHY_SCRIPT_NAME %}
	<h2 class="pages-title">{{ PAGE_TITLE }}</h2>
{% endif %}

{% set quick_link = KHY_LINKS[KHY_SCRIPT_NAME].quick %}
{% if quick_link %}
	<p class="quick-links">
		<strong>Quick Links:</strong>
		{% set prefix = (KHY_SCRIPT_NAME == 'lore-glossary') ? 'letter-' : '' %}
		{% for link in quick_link %}
			{% set section_id = function.create_handle(link) %}
			<a href="#{{ prefix }}{{ section_id }}">{{ link }}</a>
			{{ !loop.last ? '<span class="quick-links-separator">|</span>' : '' }}
		{% endfor %}
	</p>
{% endif %}

{% if KHY_SCRIPT_NAME == 'setting-map' %}
	{% include 'partials/pages_map.html' %}
{% endif %}

<div class="panel">
	<div class="inner">
		<div class="content pages-content">
			{{ PAGE_CONTENT }}

			{% if KHY_SCRIPT_NAME == 'lore-races-half-breed' %}
				{% include 'partials/pages_half_breed.html' %}
			{% endif %}

			{% if KHY_SCRIPT_NAME == 'gameplay-leveling' %}
				{% include 'partials/pages_leveling.html' %}
			{% endif %}

			{% if KHY_SCRIPT_NAME == 'gameplay-achievements' %}
				{% include 'partials/pages_achievements.html' %}
			{% endif %}
		</div>
		{% EVENT phpbb_pages_after_page_content %}
	</div>
</div>

{% include 'overall_footer.html' %}
