{% include 'overall_header.html' %}

{% set max_level = 60 %}

{% set levels = {
	'25.0': range(01, 05),
	'25.5': range(06, 10),
	'26.0': range(11, 15),
	'26.5': range(16, 20),
	'27.0': range(21, 25),
	'27.5': range(26, 30),
	'28.0': range(31, 35),
	'28.5': range(36, 40),
	'29.0': range(41, 45),
	'29.5': range(46, 50),
	'30.0': range(51, 55),
	'30.5': range(56, max_level)
} %}

{% set leveling_header %}
	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt class="leveling-chart-level">Level</dt>
				<dd class="leveling-chart-exp">Experience</dd>
			</dl>
		</li>
	</ul>
{% endset %}

<h2 class="pages-title">{{ PAGE_TITLE }}</h2>
<div class="panel">
	<div class="inner">
		<div class="content pages-content">
			{{ PAGE_CONTENT }}

			{% if levels %}
				<div class="leveling-chart">
					<div class="leveling-chart-column">
						{{ leveling_header }}
						<ul class="topiclist">
							{% for key, level in levels %}
								{% for i in level %}
									{% set experience = key * i * (i - 1) %}
									<li class="row">
										<dl>
											<dt class="leveling-chart-level">{{ i }}</dt>
											<dd class="leveling-chart-exp">{{ experience }}</dd>
										</dl>
									</li>
									{% if i == 15 || i == 30 || i == 45 %}
											</ul>
										</div>
										<div class="leveling-chart-column">
											{{ leveling_header }}
											<ul class="topiclist">
									{% endif %}
								{% endfor %}
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
		</div>
		{% EVENT phpbb_pages_after_page_content %}
	</div>
</div>

{% include 'overall_footer.html' %}
