{% include 'overall_header.html' %}

<h2 class="pages-title">{{ PAGE_TITLE }}</h2>

<div id="tabs" class="tabs map-tabs sub-panels" role="tablist">
	<ul>
		<li class="tab">
			<a data-tabname="map-places-panel" role="tab" aria-controls="map-places-panel">Places</a>
		</li>
		<li class="tab">
			<a data-tabname="map-perimeters-panel" role="tab" aria-controls="map-perimeters-panel">Perimeters</a>
		</li>		
		<li class="tab">
			<a data-tabname="map-borders-panel" role="tab" aria-controls="map-borders-panel">Borders</a>
		</li>
		<li class="tab">
			<a data-tabname="map-grid-large-panel" role="tab" aria-controls="map-grid-large-panel">Large Grid</a>
		</li>
		<li class="tab">
			<a data-tabname="map-grid-small-panel" role="tab" aria-controls="map-grid-small-panel">Small Grid</a>
		</li>
	</ul>
</div>

<div class="panel">
	<div class="inner">
		<div class="content pages-content">
			{{ PAGE_CONTENT }}
		</div>
		{% EVENT phpbb_pages_after_page_content %}
	</div>
</div>

{% include 'overall_footer.html' %}
