{% if navlinks && (navlinks | length) > 0 %}
	{% macro breadcrumb(crumb_url, crumb_label, navdata) %}
		{% if crumb_label == 'Home' %}
			{% if 'index.php' in crumb_url %}
				{% set a_attr = ' accesskey="h" data-navbar-reference="index"' %}
			{% else %}
				{% set a_attr = ' data-navbar-reference="home"' %}
			{%endif %}
		{% endif %}
		{% spaceless %}
			<li class="crumb{% if crumb_label == 'Home' %} home{% endif %}" itemtype="http://schema.org/ListItem" itemprop="itemListElement" itemscope{{ navdata }}>
				<i class="icon {% if crumb_label == 'Home' %}rpg-icon rpg-castle{% else %}fa-chevron-right fa-fw{% endif %}"></i>
				<a href="{{ crumb_url }}" itemprop="url"{{ a_attr }}>
					<span itemprop="title">{{ crumb_label }}</span>
				</a>
			</li>
		{% endspaceless %}
	{% endmacro %}

	{% set rel = './' %}

	<nav id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
		<div class="wrapper">
			<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				{% EVENT overall_header_breadcrumbs_before %}
				{% if U_SITE_HOME %}
					{{ _self.breadcrumb(U_SITE_HOME, lang('SITE_HOME')) }}
				{% endif %}
				{% EVENT overall_header_breadcrumb_prepend %}
				{% if not U_SITE_HOME %}
					{{ _self.breadcrumb(U_INDEX, lang('INDEX')) }}
				{% endif %}

				{% set parent_link = KHY_LINKS[KHY_SCRIPT_NAME].parent %}
				{% if parent_link %}
					{% if parent_link is iterable %}
						{% for link in parent_link %}
							{{ _self.breadcrumb(rel ~ link, KHY_LINKS[link].label) }}
						{% endfor %}
					{% else %}
						{{ _self.breadcrumb(rel ~ parent_link, KHY_LINKS[parent_link].label) }}
					{% endif %}
				{% endif %}

				{% for nav in navlinks %}
					{% EVENT overall_header_navlink_prepend %}
					{% set nav_data = nav.MICRODATA ? (' ' ~ nav.MICRODATA) : '' %}
					{% set nav_url = nav.U_VIEW_FORUM | replace({'/sites/khyeras/' : rel}) %}
					{{ _self.breadcrumb(nav_url, nav.FORUM_NAME, nav_data) }}
					{% EVENT overall_header_navlink_append %}
				{% endfor %}

				{% EVENT overall_header_breadcrumb_append %}
				{% EVENT overall_header_breadcrumbs_after %}
			</ul>
		</div>
	</nav>
{% endif %}
