{% import 'utilities/macros.html' as function %}

{% if KHY_TIMELINE %}
	{% apply spaceless %}
		{% set cards = KHY_TIMELINE %}
	{% endapply %}

	<div class="timeline timeline-alternating">
		{% for key, card in cards if card.items %}
			<section id="{{ key }}" class="timeline-section" data-quick-name="{{ card.name }}">
				<div class="timeline-row flex-row flex-row-30">
					<div class="timeline-header">
						<h3>{{ card.name }}</h3>
						{% if card.desc %}
							<h4>{{ card.desc }}</h4>
						{% endif %}
					</div>
				</div>
				{% for item_key, item in card.items %}
					{% set card_id = key  ~ '-' ~ item_key %}
					<div id="{{ card_id }}" class="timeline-row flex-row flex-row-30">
						<div class="timeline-column timeline-detail-header flex-column">
							<div class="timeline-sub-title">
								<h5>{{ item.name }}</h5>
								<i class="icon icon-round icon-round-lg {{ item.icon }}" aria-hidden="true"></i>
							</div>
							<div class="bracket">}</div>
						</div>
						<div class="timeline-column timeline-detail-description flex-column">{{ item.desc }}</div>
					</div>
				{% endfor %}
			</section>
		{% endfor %}
	</div>
{% else %}
	<section class="page-content-section">
		<p>There are no active timeline events.</p>
	</section>
{% endif %}
