<div id="tabs" class="tabs map-tabs sub-panels" role="tablist">
	<ul>
		<li class="tab">
			<a data-tabname="map-places-panel">Places</a>
		</li>
		<li class="tab">
			<a data-tabname="map-perimeters-panel">Perimeters</a>
		</li>
		<li class="tab">
			<a data-tabname="map-borders-panel">Borders</a>
		</li>
		<li class="tab">
			<a data-tabname="map-grid-large-panel">Large Grid</a>
		</li>
		<li class="tab">
			<a data-tabname="map-grid-small-panel">Small Grid</a>
		</li>
	</ul>
</div>
