{% import 'utilities/macros.html' as function %}

{% if KHY_ACHIEVEMENTS %}
	{% apply spaceless %}
		{% set cards = KHY_ACHIEVEMENTS %}

		{% if KHY_USER_ACHIEVEMENTS %}
			{% set completed_cards = KHY_USER_ACHIEVEMENTS | replace({', ' : ','}) | split(',') %}
		{% endif %}

		{% set card_filters = {
			'Location' : ['Tviyr', 'Fellsgard', 'Verdant Row', 'Ninraih', 'Ajteire', 'Irtuen Reaches', 'Domrhask', 'Khy\'eras'],
			'Type'     : ['Architecture', 'Combat', 'Expedition', 'Lore', 'Magic', 'People', 'Special'],
			'Status'   : ['Completed', 'Not completed']
		} %}

		{% set card_object = '' %}
	{% endapply %}

	{{ function.create_filters(KHY_USER_ACCOUNT_TYPE, 'Achievements', card_filters) }}

	{% for key, card in cards %}
		<section id="{{ key }}" class="page-content-section toggleable-section" data-quick-name="{{ card.name }}">
			<h3>
				<button class="toggle-button button-link" type="button" data-toggle-type="achievement" data-toggle-id="{{ loop.index }}" data-toggle-name="{{ key }}" data-toggle-state="true" data-toggle-mobile="false"><i class="icon icon-xl fa-angle-up menu-trigger"></i></button> {{ card.name }}
			</h3>
			{% if card.desc %}
				<p>{{ card.desc }}</p>
			{% endif %}
			<div class="card-grid">
				{% for item_key, item in card.items %}
					{% set card_id = key  ~ '-' ~ item_key %}
					{% set card_completed_id = key  ~ '~' ~ item_key %}
					{% set card_changed = (completed_cards && card_completed_id in completed_cards) ? true : false %}
					<div id="{{ card_id }}" class="card-block{% if card_changed %} card-opacity{% endif %}">
						<h5 class="card-title">{{ item.name }}</h5>
						<div class="icon-wrapper">
							<i class="icon icon-round rpg-icon {{ item.icon }}" aria-hidden="true"></i>
						</div>
						<div class="card-description">
							{% if card_changed %}
								<span class="card-completed-text">
									<i class="icon rpg-icon rpg-stars-stack" aria-hidden="true"></i>Achievement complete!
								</span>
							{% endif %}
							<span class="card-description-wrapper">{{ item.desc }}</span>
						</div>
						<div class="card-clear"></div>
						{% set show_details = (item.requirements || item.reward) ? true : false %}
						{% if show_details %}
							<dl class="details details-small">
								{% if item.requirements %}
									<dt>Requirements:</dt>
									<dd>{{ item.requirements }}</dd>
								{% endif %}
								{% if item.reward %}
									<dt>Rewards:</dt>
									<dd>{{ item.reward }}</dd>
								{% endif %}
							</dl>
						{% endif %}
					</div>
					{% set card_data %}{% apply spaceless %}
						{'id' : '#{{ card_id }}', 'filters' : 'location={{ function.create_handle(key) }}, type={{ function.create_handle(item.type) }}, status={{ card_changed ? 'completed' : 'not-completed' }}', 'applied' : 0}{% if (!loop.last && key == 'Khy\'eras') || (key != 'Khy\'eras') %},{% endif %}
					{% endapply %}{% endset %}
					{% set card_object = card_object ~ card_data %}
				{% endfor %}
			</div>
		</section>
	{% endfor %}

	<script>
		var cardBlocks = [{{ card_object }}];
	</script>
{% else %}
	<section class="page-content-section">
		<p>There are no active achievements.</p>
	</section>
{% endif %}
