{% set featured_blocks = [
	{
		url : './about-rules',
		type : 'rules',
		text : 'About: Rules'
	},
	{
		url : './lore-history',
		type : 'history',
		text : 'Lore: History'
	},
	{
		url : './lore-races',
		type : 'races',
		text : 'Lore: Races'
	},
	{
		url : './setting-map',
		type : 'map',
		text : 'Setting: Map'
	}
] %}

{% if featured_blocks && (featured_blocks | length) > 0 %}
	<section id="featured-content" class="featured-content">
		<div class="wrapper">
			<div class="featured-title">
				<h4>
					<i class="icon rpg-icon rpg-stars-stack" aria-hidden="true"></i>Featured<i class="icon rpg-icon rpg-stars-stack" aria-hidden="true"></i>
				</h4>
			</div>
			<div class="flex-row flex-row-05">
				{% for feature in featured_blocks %}
					<div class="flex-column featured-{{ feature.type }}">
						<a href="{{ feature.url }}">
							<div class="featured-details">
								<div class="image-wrap">
									<img src="./images/content/misc/feature-{{ feature.type }}.jpg" alt="{{ feature.text }}" />
								</div>
								<p>{{ feature.text }}</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
