{% macro create_header_callouts(link_set, path) %}
	{% if link_set && link_set.items %}
		{% set textlimit = (( link_set.items | length) > 1) ? 25 : 55 %}
		<div class="flex-column">
			<h5>{{ link_set.name }}</h5>
			<ul>
				{% for item_key, item in link_set.items %}
					<li>
						<a href="{{ path }}{{ item.link }}">
							{{ ((item.name | length) > textlimit) ? (item.name[:textlimit] ~ '...') : item.name }}
						</a> posted {{ item.date }}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endmacro %}

{% if KHY_LAYOUT['header-announcements'] || KHY_LAYOUT['header-events'] %}
	<div class="site-links">
		<div class="flex-row flex-row-10">
			{{ _self.create_header_callouts(KHY_LAYOUT['header-announcements'], ROOT_PATH) }}
			{{ _self.create_header_callouts(KHY_LAYOUT['header-events'], ROOT_PATH) }}
		</div>
	</div>
{% endif %}
