{% import 'utilities/macros.html' as function %}
{% set show_character_inventory = 'false' %}

{% set spellbook = PROFILE_C_SPELLBOOK_VALUE ? 'true' : 'false' %}
{% if PROFILE_C_SPELLBOOK_VALUE %}
	{% set spellbook = function.set_spellbook(spellbook, PROFILE_C_CLASS_OPTS_VALUE, PROFILE_C_RACE_OPTS_VALUE) %}
{% endif %}

{% set inventory_fields = {
	(PROFILE_C_WEAPONS_NAME)      : PROFILE_C_WEAPONS_VALUE,
	(PROFILE_C_ARMOR_NAME)        : PROFILE_C_ARMOR_VALUE,
	(PROFILE_C_CLOTHING_ACC_NAME) : PROFILE_C_CLOTHING_ACC_VALUE,
	(PROFILE_C_SKILLS_NAME)       : PROFILE_C_SKILLS_VALUE,
	(PROFILE_C_SPELLBOOK_NAME)    : (spellbook == 'false') ? '' : spellbook,
	(PROFILE_C_COLLECTIONS_NAME)  : PROFILE_C_COLLECTIONS_VALUE
} %}
{% set inventory_all_fields = inventory_fields %}

<div class="character-inventory{{ inventory_class }}">
	{% if function.show_details(inventory_all_fields) == 'true' %}
		{% set show_character_inventory = 'true' %}
		{% if PROFILE_C_WEAPONS_VALUE %}
			<section class="page-content-section">
				<h3>{{ PROFILE_C_WEAPONS_NAME }}</h3>
				<p>{{ function.replace_breaks(PROFILE_C_WEAPONS_VALUE) }}</p>
			</section>
		{% endif %}

		{% if PROFILE_C_ARMOR_VALUE || PROFILE_C_CLOTHING_ACC_VALUE %}
			<section class="page-content-section clearfix">
				{% if PROFILE_C_ARMOR_VALUE && PROFILE_C_CLOTHING_ACC_VALUE %}
					<div class="column1">
				{% endif %}
				{% if PROFILE_C_ARMOR_VALUE %}
					<h3>{{ PROFILE_C_ARMOR_NAME }}</h3>
					<p>{{ function.replace_breaks(PROFILE_C_ARMOR_VALUE) }}</p>
				{% endif %}
				{% if PROFILE_C_ARMOR_VALUE && PROFILE_C_CLOTHING_ACC_VALUE %}
					</div>
					<div class="column2 column-border">
				{% endif %}
				{% if PROFILE_C_CLOTHING_ACC_VALUE %}
					<h3>{{ PROFILE_C_CLOTHING_ACC_NAME }}</h3>
					<p>{{ function.replace_breaks(PROFILE_C_CLOTHING_ACC_VALUE) }}</p>
				{% endif %}
				{% if S_PROFILE_C_CLOTHING_ACC && S_PROFILE_C_ARMOR %}
					</div>
				{% endif %}
			</section>
		{% endif %}

		{% if PROFILE_C_SKILLS_VALUE %}
			<section class="page-content-section">
				<h3>{{ PROFILE_C_SKILLS_NAME }}</h3>
				<p>{{ function.replace_breaks(PROFILE_C_SKILLS_VALUE) }}</p>
			</section>
		{% endif %}

		{% if spellbook == 'true' %}
			<section class="page-content-section">
				<h3>{{ PROFILE_C_SPELLBOOK_NAME }}</h3>
				<p>{{ function.replace_breaks(PROFILE_C_SPELLBOOK_VALUE) }}</p>
			</section>
		{% endif %}

		{% if PROFILE_C_COLLECTIONS_VALUE && KHY_COLLECTIONS %}
			<section class="page-content-section">
				<h3>{{ PROFILE_C_COLLECTIONS_NAME }}</h3>

				<div class="collection-list">
					{% for collection in (PROFILE_C_COLLECTIONS_VALUE | split(', ')) %}
						<div class="collection-item">
							{% set collection_id = collection | split('~') %}
							{% if collection_id | length > 1 %}
								{% set collection_type = collection_id[0] %}
								{% set collection_name= collection_id[1] %}
								{% if KHY_COLLECTIONS[collection_type]['items'][collection_name] %}
									<i class="icon rpg-icon {{ KHY_COLLECTIONS[collection_type]['items'][collection_name]['icon'] }}" aria-hidden="true"></i>
									<a href="{{ ROOT_PATH }}gameplay-collections#{{ collection_type }}-{{ collection_name }}" class="collection-value">{{ KHY_COLLECTIONS[collection_type]['items'][collection_name]['name'] }}</a>
								{% endif %}
							{% else %}
								<i class="icon fa-question-circle" aria-hidden="true"></i>
								<span class="collection-value">{{ collection }}<span>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</section>
		{% endif %}
	{% endif %}

	{% if show_character_inventory == 'false' %}
		<section class="page-content-section">
			<h3>Nothing Here Yet</h3>
			<p>This character is getting their gear together. Check back later!</p>
		</section>
	{% endif %}
</div>
