<dl class="details {{ character_class }}">
	{% set character_fields = {
		'Experience'                 : (PROFILE_C_EXPERIENCE_VALUE ? PROFILE_C_EXPERIENCE_VALUE : '&#48;'),
		(PROFILE_C_RACE_OPTS_NAME)   : PROFILE_C_RACE_OPTS_VALUE | replace({', ': ' and '}),
		(PROFILE_C_CLASS_OPTS_NAME)  : PROFILE_C_CLASS_OPTS_VALUE | replace({', ': ' and '}),
		(PROFILE_C_PROFESSION_NAME)  : PROFILE_C_PROFESSION_VALUE,
		(PROFILE_C_BIRTHDAY_NAME)    : PROFILE_C_BIRTHDAY_VALUE,
		(PROFILE_C_AGE_NAME)         : PROFILE_C_AGE_VALUE,
		(PROFILE_C_GENDER_NAME)      : PROFILE_C_GENDER_VALUE,
		(PROFILE_C_ORIGIN_NAME)      : PROFILE_C_ORIGIN_VALUE,
		(PROFILE_C_RESIDENCE_NAME)   : PROFILE_C_RESIDENCE_VALUE
	} %}

	{% if character_fields %}
		{% for name, value in character_fields %}
			{% if value %}
				<dt>{{ name }}{{ lang('COLON') }}</dt>
				<dd>{{ value }}</dd>
			{% endif %}
		{% endfor %}
	{% endif %}
</dl>
