{% set cards = {
	'Dragon' : [
		{
			title : 'Not Applicable',
			icon : 'icon-bg-red fa-remove',
			description : '<em>Cannot create a Half-Breed with this race!</em> Dragons limit reproduction to their own kind. They have experimented allowing humans to use their blood to create the Ue\'drahc, but this genesis is not utilized presently.'
		}
	],
	'Dwarf' : [
		{
			title : 'Elemental',
			icon : 'icon-bg-red fa-remove',
			description : 'No. This race contains too many arcane and whimsical properties.'
		},
		{
			title : 'Fae',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Not interested in races with heavy magical influence.'
		},
		{
			title : 'Human',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Dwarves can tolerate this race.'
		},
		{
			title : 'Kerasoka',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Ever since the Kerasoka lost magic, it hasn\'t been a problem.'
		},
		{
			title : 'Lumeacia',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Not interested in races with heavy magical influence.'
		},
		{
			title : 'Shapeshifter',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Dwarves can tolerate this race.'
		},
		{
			title : 'Ue\'drahc',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Reptilian humans are imposing, tall, and scaly.'
		}
	],
	'Elemental' : [
		{
			title : 'Dwarf',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Dwarves haven\'t made an alliance acceptable.'
		},
		{
			title : 'Fae',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. The Fae is welcomed because of enchanted bloodlines.'
		},
		{
			title : 'Human',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. While not overly exciting for the Elemental, there\'s nothing wrong with a Human friend.'
		},
		{
			title : 'Kerasoka',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Although most wish the Kerasoka possessed magic, they have established liaisons.'
		},
		{
			title : 'Lumeacia',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. The Lumeacia is welcomed because of enchanted bloodlines.'
		},
		{
			title : 'Shapeshifter',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Shapeshifters have abilities to transform into beings that make situations easier.'
		},
		{
			title : 'Ue\'drahc',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Though there are no ill feelings, the partnership is not considered.'
		}
	],
	'Fae' : [
		{
			title : 'Dwarf',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Dwarves haven\'t made an alliance acceptable.'
		},
		{
			title : 'Elemental',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Ties between the two can create exceptionally talented beings.'
		},
		{
			title : 'Human',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. A Human is almost like a wingless Fae in the end.'
		},
		{
			title : 'Kerasoka',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. This elven race shares habitat with the Fae, so bonds are common.'
		},
		{
			title : 'Lumeacia',
			icon : 'icon-bg-red fa-remove',
			description : 'No. There is tension due to the Kerasoka alliance.'
		},
		{
			title : 'Shapeshifter',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. The Fae have no historical problems with Shapeshifters.'
		},
		{
			title : 'Ue\'drahc',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Though there are no ill feelings, the partnership is not considered.'
		}
	],
	'Ghost' : [
		{
			title : 'Not Applicable',
			icon : 'icon-bg-red fa-remove',
			description : '<em>Cannot create a Half-Breed with this race!</em> A being is either dead or not-dead; there is no in-between. Ghosts derive from the passing of select races: Lumeacia, Kerasoka, Shapeshifter, Dwarf, or Human.'
		}
	],
	'Human' : [
		{
			title : 'Dwarf',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Humans are accepting and open to all types of exchanges.'
		},
		{
			title : 'Elemental',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Humans are accepting and open to all types of exchanges.'
		},
		{
			title : 'Fae',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Humans are accepting and open to all types of exchanges.'
		},
		{
			title : 'Kerasoka',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Humans are accepting and open to all types of exchanges.'
		},
		{
			title : 'Lumeacia',
			icon : 'icon-bg-red fa-remove',
			description : 'No. These elves see no benefit to coalescing with Humans.'
		},
		{
			title : 'Shapeshifter',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. This race is similar to Humans, but with bonus abilities.'
		},
		{
			title : 'Ue\'drahc',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Offspring are more dragon-like, therefore keeping the Ue\'drahc community strong.'
		}
	],
	'Kerasoka' : [
		{
			title : 'Dwarf',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Dwarves are on the gruff side, but do form stable and healthy affairs.'
		},
		{
			title : 'Elemental',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Few Kerasoka are keen to regain magic and this might help.'
		},
		{
			title : 'Fae',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. The Fae shares habitat with this elven race, so bonds are common.'
		},
		{
			title : 'Human',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. The pair is close in their composition and are agreeable.'
		},
		{
			title : 'Lumeacia',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Viewed as forbidden because of past events, but it does happen.'
		},
		{
			title : 'Shapeshifter',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. The pair is close in their composition and are agreeable.'
		},
		{
			title : 'Ue\'drahc',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Though there are no ill feelings, the partnership is not considered.'
		}
	],
	'Korcai' : [
		{
			title : 'Not Applicable',
			icon : 'icon-bg-red fa-remove',
			description : '<em>Cannot create a Half-Breed with this race!</em> Folk who are bitten and turned by the Korcai virus are completely altered. Once transformed, the infected lose any capabilities and appearances of their former race.'
		}
	],
	'Lumeacia' : [
		{
			title : 'Dwarf',
			icon : 'icon-bg-red fa-remove',
			description : 'No. The feeling of dislike is mutual between the two.'
		},
		{
			title : 'Elemental',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. The Lumeacia are positive when it relates to enhancing magical and intellectual knowledge.'
		},
		{
			title : 'Fae',
			icon : 'icon-bg-red fa-remove',
			description : 'No. There is tension due to the Kerasoka alliance.'
		},
		{
			title : 'Human',
			icon : 'icon-bg-red fa-remove',
			description : 'No. There is no curiosity or passion with races that may struggle with magic.'
		},
		{
			title : 'Kerasoka',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Viewed as forbidden because of past events, but it does happen.'
		},
		{
			title : 'Shapeshifter',
			icon : 'icon-bg-red fa-remove',
			description : 'No. There is no curiosity or passion with races that may struggle with magic.'
		},
		{
			title : 'Ue\'drahc',
			icon : 'icon-bg-red fa-remove',
			description : 'No. They do not detest Ue\'drahc, but the product of their union could be an abomination.'
		}
	],
	'Shapeshifter' : [
		{
			title : 'Dwarf',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Shapeshifters are accepting and open to all types of exchanges.'
		},
		{
			title : 'Elemental',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Shapeshifters are accepting and open to all types of exchanges.'
		},
		{
			title : 'Fae',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Shapeshifters are accepting and open to all types of exchanges.'
		},
		{
			title : 'Human',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. The roots of Shapeshifters orginated with Humans.'
		},
		{
			title : 'Kerasoka',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. The pair is close in their composition and are agreeable.'
		},
		{
			title : 'Lumeacia',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Largely because of Lumeacia opinion, these elves are avoided.'
		},
		{
			title : 'Ue\'drahc',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Though there are no ill feelings, the partnership is not considered.'
		}
	],
	'Ue\'drahc' : [
		{
			title : 'Dwarf',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Though there are no ill feelings, the partnership is not considered.'
		},
		{
			title : 'Elemental',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Though there are no ill feelings, the partnership is not considered.'
		},
		{
			title : 'Fae',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Though there are no ill feelings, the partnership is not considered.'
		},
		{
			title : 'Human',
			icon : 'icon-bg-green fa-heart',
			description : 'Yes. Humans are the only race where an affiliation permits them to extend the Ue\'drahc population.'
		},
		{
			title : 'Kerasoka',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Though there are no ill feelings, the partnership is not considered.'
		},
		{
			title : 'Lumeacia',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Though there are no ill feelings, the partnership is not considered.'
		},
		{
			title : 'Shapeshifter',
			icon : 'icon-bg-red fa-remove',
			description : 'No. Though there are no ill feelings, the partnership is not considered.'
		},
	]
} %}

{{ function.card_loop(cards, true, KHY_SCRIPT_NAME) }}
