{% import 'utilities/macros.html' as function %}
{% for post in postrow.khy %}
	<dd class="profile-character-details">
		<div class="character-card">
			{{ function.display_level(post.PROFILE_LEVEL, 'true') }}
			{{ function.display_stats(post.PROFILE_STATS['hp'], post.PROFILE_STATS['mp'], postrow.PROFILE_C_HP_VALUE, postrow.PROFILE_C_MP_VALUE, 'true') }}
		</div>
		{{ function.display_currency(post.PROFILE_CURRENCY) }}
	</dd>
{% endfor %}
{% if postrow.S_PROFILE_C_RACE_OPTS %}
	<dd class="profile-race">
		<strong>{{ postrow.PROFILE_C_RACE_OPTS_NAME }}{{ lang('COLON') }}</strong> {{ function.replace_comma(postrow.PROFILE_C_RACE_OPTS_VALUE) }}</dd>
{% endif %}
{% if postrow.PROFILE_C_CLASS_OPTS_VALUE %}
	<dd class="profile-class">
		<strong>{{ postrow.PROFILE_C_CLASS_OPTS_NAME }}{{ lang('COLON') }}</strong> {{ function.replace_comma(postrow.PROFILE_C_CLASS_OPTS_VALUE) }}
	</dd>
{% endif %}
