/* Forums */

.glowbug {
	li.row .subforums-wrapper {
		border-left: 0;
		margin-left: 0;
	}
	ul.topiclist li.row dt a.subforum {
		padding-left: em(25px);
		margin-right: em(25px);
		@include inline-block(top);
		&:before {
			width: auto;
			border-top: 0;
			@include fa-icon;
			content: '\f07b';
			top: em(7px);
		}
	}
}

/* Topics */

.glowbug {
	.post .postbody .sharing-buttons {
		text-align: right;
		margin: 0 -4px 15px -4px;
		strong, a {
			@include inline-block(middle);
			padding: 0 4px;
		}
		strong {
			margin-top: -4px;
		}
		i {
			font-size: rem(18px);
			width: auto;
		}
	}
}

/* Search Results */

#page-body > .search.post {
	& + form {
		margin-top: 15px;
	}
	&.bg2 {
		background: $color-01 !important;
	}
	.postprofile:before {
		border-left: 1px dotted $color-06;
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
	.postbody {
		width: 70%;
		padding: 0 15px 15px 0;
	}
	h3 {
		border-bottom: dotted 1px $color-06;
		float: none;
		margin: 0 -15px;
	    padding: 0 15px 10px;
	}
	.content {
		box-shadow: none;
	}
}

/* Directory */

.icon-directory a:before {
	font-family: FontAwesome;
    content: '\f07b';
}

body[class*='section-app/directory'] {
	.search-website-link {
		padding: 15px;
		border-bottom: 1px solid $color-06;
	}
	.post-buttons .feed-icon:before {
	    content: '\f09e';
		font-family: FontAwesome;
	}
	.site-flag {
		margin: 0 5px 0 0;
	}
	.dir_grid {
		margin: 0 -15px;
		padding: 15px 15px 0 15px;
		@include clearfix('&');
		.dir_grid_block {
			float: left;
			padding: 0 15px;
			margin: 0 0 15px 0;
		}
	}
	.cat-list .dir_grid .dir_grid_block {
		.icon_cat {
			width: 80px;
			float: left;
			margin: 0 10px 0 0;
			i.fa {
				font-size: rem(50px);
			}
		}
		.icon_info {
			overflow: hidden;
		}
		&:nth-child(2n+1) {
			clear: both;
		}
	}
	.recent-sites .dir_grid .dir_grid_block {
		width: 25%;
		.recent-thumbnail {
			width: 100%;
			height: 120px;
			.image-wrapper {
				position: relative;
				&, a {
					@include sizing(100%, 100%);
				}
				a {
					display: block;
				}
				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}
			}
		}
		.recent-info {
			text-align: center;
			h3 {
				margin: 0 0 5px 0;
			}
		}
	}
	.post {
		&.new {
			position: relative;
			&:before {
			    content: 'New';
				display: block;
				@include sizing(50px, 50px);
				line-height: 50px;
				border-radius: 100%;
				background: $color-03;
				color: $color-01;
				text-align: center;
				text-transform: uppercase;
				font-family: $font-01;
				font-size: rem(12px);
				font-weight: 600;
				position: absolute;
				top: 15px;
				right: 0;
			}
		}
		.postbody {
			padding: 0 15px 15px 0;
		    margin: 0;
		}
		.avatar-container, .submitted-by, .profile-custom-field {
			margin: 0 0 5px 0;
		}
		.profile-custom-field {
			a {
				font-weight: normal;
			}
			strong {
				font-weight: bold;
			}
		}
		#form_vote {
			margin: 10px 0 0 0;
		}
	}
	.post .signature, #postingbox {
		padding-top: 15px;
	}
	form[data-focus='keywords'] .bg2 {
		background: none;
	}
}

.directory-comments {
	font-size: 13px;
	#message-box textarea {
		width: 100%;
		min-width: 1px;
		box-sizing: border-box;
	}
	.comments-title {
		border-top: 1px solid $color-07;
		margin: 0 -30px;
		padding: 22px 30px 0 30px;
	}
	.action-bar + .post {
		margin-top: 0 !important;
	}
	.postbody {
		float: none;
		width: auto;
	}
	.post {
		border-left: 1px solid $color-06;
		border-right: 1px solid $color-06;
		margin: 0;
	}
}
