$base-font-size: 16;

// Colors
$color-01: #ffffff; // white
$color-02: #000000; // black
$color-03: #5d5aff; // blue
$color-04: #444444; // blackish
$color-05: #804080; // blue
$color-06: #eeeeee; // gray
$color-07: #dddddd; // gray

// Fonts
$font-01: 'Open Sans', Helvetica, Arial, sans-serif;
