/* Other */

.glowbug {
	&.section-index .stats-blocks {
		display: none;
	}
	.topbar .inner, #page-header {
		color: $color-04;
	}
	.topbar .inner a:hover, .topbar .inner a:focus, .topbar .inner a.header-avatar:hover > span, .topbar .inner a.header-avatar:focus > span {
		text-shadow: none;
	}
	.topbar .inner a:hover, .topbar .inner a:focus {
		color: $color-03;
	}
	.topbar .inner a.header-avatar:hover > span, .topbar .inner a.header-avatar:focus > span {
		color: $color-03 !important;
	}
	#page-header .header-bg {
		background-size: auto;
	}
	#site-description .logo {
		float: none;
		display: block;
		.imageset.site_logo {
			padding: 0 0 17.5% 0;
			@include sizing(100%, 0);
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: 0 center;
			display: block !important;
		}
		h1 {
			font-size: 0;
		}
		p {
			text-align: left;
			margin-top: 10px;
			font-style: italic;
		}
		&:hover {
			opacity: 1;
		}
	}
	#page-footer {
		background: mix(black, $color-03, 80%);
		.endbar {
			color: $color-04;
		}
	}
	span.select-parent {
		display: inline-block;
		&:before {
			top: 0;
			height: 100%;
		}
		&:after{
			top: 15px;
			right: 8px;
		}
	}
}

/* Forums */

.glowbug {
	li.row .subforums-wrapper {
		border-left: 0;
		margin-left: 0;
	}
	ul.topiclist li.row dt a.subforum {
		padding-left: em(25px);
		margin-right: em(25px);
		@include inline-block(top);
		&:before {
			width: auto;
			border-top: 0;
			@include fa-icon;
			content: unicode($folder-icon);
			top: em(7px);
		}
	}
}

/* Topics */

.glowbug {
	.post .postbody .sharing-buttons {
		text-align: right;
		margin: 0 -4px 15px -4px;
		strong, a {
			@include inline-block(middle);
			padding: 0 4px;
		}
		strong {
			margin-top: -4px;
		}
		i {
			font-size: rem(18px);
			width: auto;
		}
	}
}

/* Search Results */

#page-body > .search.post {
	& + form {
		margin-top: 15px;
	}
	&.bg2 {
		background: $color-01 !important;
	}
	.postprofile:before {
		border-left: 1px dotted $color-06;
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
	.postbody {
		width: 70%;
		padding: 0 15px 15px 0;
	}
	h3 {
		border-bottom: dotted 1px $color-06;
		float: none;
		margin: 0 -15px;
	    padding: 0 15px 10px;
	}
	.content {
		box-shadow: none;
	}
}

/* Directory */

.icon-directory a:before {
	font-family: FontAwesome;
    content: unicode($folder-icon);
}

body[class*='section-app/directory'] {
	.search-website-link {
		padding: 15px;
		border-bottom: 1px solid $color-06;
	}
	.post-buttons .feed-icon:before {
	    content: unicode($feed-icon);
		font-family: FontAwesome;
	}
	.directory-grid {
		margin: 0 -15px;
		padding: 15px 15px 0 15px;
		@include clearfix('&');
		.directory-grid-block {
			float: left;
			padding: 0 15px;
			margin: 0 0 15px 0;
		}
	}
	.cat-list {
		.topiclist.collapse:not(.in) {
			padding-top: 0;
			height: 0 !important;
		}
		.directory-grid .directory-grid-block {
			&:nth-child(2n+1) {
				clear: both;
			}
			.icon_cat {
				width: 80px;
				float: left;
				margin: 0 20px 0 0;
				i.fa {
					font-size: rem(50px);
					text-align: left;
				}
				img {
					max-width: 100%;
				}
			}
			.icon_info {
				overflow: hidden;
			}
		}
	}
	.recent-sites .directory-grid .directory-grid-block {
		width: 25%;
		&:nth-child(4n+1) {
			clear: both;
		}
		.recent-thumbnail {
			width: 100%;
			height: 120px;
			.image-wrapper {
				position: relative;
				&, a {
					@include sizing(100%, 100%);
				}
				a {
					display: block;
				}
				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}
			}
		}
		.recent-info {
			text-align: center;
			h3 {
				margin: 0 0 5px 0;
			}
		}
	}
	.post {
		&.new {
			position: relative;
			&:before {
			    content: 'New';
				display: block;
				@include sizing(50px, 50px);
				line-height: 50px;
				border-radius: 100%;
				background: $color-03;
				color: $color-01;
				text-align: center;
				text-transform: uppercase;
				font-family: $font-01;
				font-size: rem(12px);
				font-weight: 600;
				position: absolute;
				top: 15px;
				right: 15px;
				z-index: 20;
			}
		}
		.site-flag {
			margin: 0 5px 0 0;
			position: relative;
			top: -2px;
		}
		.postbody {
			padding: 0 15px 15px 0;
		    margin: 0;
		}
		&.profile-left {
			&.new:before {
				right: auto;
				left: 10px;
			}
			.postbody {
				padding-left: 15px;
			}
		}
		.avatar-container, .submitted-by {
			margin: 0 0 10px 0;
		}
		#form_vote {
			margin: 10px 0 0 0;
		}
	}
	.post .signature, #postingbox {
		padding-top: 15px;
	}
	form[data-focus='keywords'] .bg2 {
		background: none;
	}
}

.directory-comments {
	font-size: 13px;
	margin-top: -31px;
	#message-box textarea {
		width: 100%;
		min-width: 1px;
		box-sizing: border-box;
	}
	.comments-title {
		border-top: 1px solid $color-07;
		margin: 0 -30px;
		padding: 22px 30px 0 30px;
	}
	.action-bar + .post {
		margin-top: 0 !important;
	}
	.postbody {
		float: none;
		width: auto;
		.author {
			margin-right: -30px;
		}
	}
	.post {
		border-left: 1px solid $color-06;
		border-right: 1px solid $color-06;
		margin: 0;
	}
}

/* Responsive */

@include respond($respond-01) {
	.glowbug #site-description .logo .imageset.site_logo {
	    padding: 0 0 20% 0;
	}
	body[class*='section-app/directory'] .recent-sites .directory-grid .directory-grid-block {
		width: 33.3333%;
		&:nth-child(4n+1) {
			clear: none;
		}
		&:nth-child(3n+1) {
			clear: left;
		}
	}
}

@include respond($respond-02) {
	.glowbug #site-description .logo .imageset.site_logo {
	    padding: 0 0 25% 0;
	}
	#page-body > .search.pos .postbody {
		width: auto;
	}
	body[class*='section-app/directory'] {
		.post {
			&.new {
				&:before {
					top: 80px;
				}
				.postbody {
					h3, .author {
						padding-right: 70px;
					}
				}
			}
			&.profile-left.new:before {
				right: 15px;
				left: auto;
			}
			&.search {
				@include clearfix('&');
				.postprofile {
					.author {
						width: 100px;
						float: left;
						margin: 0 20px 0 0;
						.avatar-container img {
							max-width: 100px;
						}
					}
					dd {
						overflow: hidden;
					}
				}
			}
		}
		.recent-sites .directory-grid .directory-grid-block {
			width: 50%;
			&:nth-child(3n+1) {
				clear: none;
			}
			&:nth-child(2n+1) {
				clear: left;
			}
		}
	}
	.directory-comments {
		margin-top: -16px;
		.postbody .author {
			margin-right: -15px;
		}
	}
}

@include respond($respond-03) {
	.glowbug #site-description .logo .imageset.site_logo {
	    padding: 0 0 30% 0;
	}
	body[class*='section-app/directory'] {
		.cat-list, .recent-sites {
			.directory-grid .directory-grid-block {
				float: none;
				width: auto;
			}
		}
		.cat-list .directory-grid .directory-grid-block .icon_cat {
			width: 50px;
		}
		.recent-sites .directory-grid .directory-grid-block {
			.recent-thumbnail {
				float: left;
				margin: 0 20px 0 0;
				@include sizing(100px, auto);
				.image-wrapper img {
					max-width: 100%;
					position: relative;
					top: 4px;
				}
			}
			.recent-info {
				overflow: hidden;
				text-align: left;
			}
		}
	}
}

@include respond($respond-04) {
	.glowbug #site-description .logo .imageset.site_logo {
		padding: 0 0 33.33% 0;
		background-position: center center;
	}
}
