// Main Colors
// ============================================== //

$color-00: #ededed; // main font
$color-01: #15212c; // form headers, footer, image borders, read icon, button hover
$color-02: #0d171b; // mobile menu, sticky nav, dropdown containers, attachbox, pre/code
$color-03: #73abd0; // main link hover, sub-headers, icon blue
$color-04: #a4c27e; // main link, icon green
$color-05: #1c2f25; // buttons, tabs, icon bg green, online ribbon, unread icon, poll bar
$color-06: #333333; // form fields fonts, notice/error font
$color-07: #fcfcce; // browser upgrade, highlight, notices
$color-08: #b13131; // notify badge, icon red, hot icon, hp bar inner
$color-09: #266296; // mp bar inner
$color-10: #777777; // search-box icon, icon gray
$color-11: #aaaaaa; // disabled form field, search-box icon hover
$color-12: #f19051; // icon orange, star topic icon
$color-13: #5e6c85; // icon bluegray
$color-14: #e2c005; // icon yellow
$color-15: #603a6b; // icon purple
$color-16: #666666; // print.css main color
$color-17: #73abd0; // topic mention, user colors
$color-18: #a0b8e6; // platinum
$color-19: #f7b900; // gold
$color-20: #a9a9a9; // silver
$color-21: #b26f30; // copper
$color-22: #9c6837; // icon brown

// Color Sets
// ============================================== //

$white: #ffffff;
$black: #000000;

$color-set-00: (
	light-00 : $color-00 // optional nav color
);

$color-set-01: (
	dark-00 : mix($black, $color-01, 50%) // mobile menu border, sticky logo border
);

$color-set-02: (
	rgb-00 : rgba($color-02, .75), // navbar
);

$color-set-03: (
	light-00 : mix($white, $color-03, 80%) // question icon background, unapproved/post-blue, rules
);

$color-set-05: (
	light-00 : mix($white, $color-05, 10%), // pollbar5, file progress
	dark-00  : mix($black, $color-05, 10%), // pollbar3
	dark-01  : mix($black, $color-05, 20%), // pollbar2
	dark-02  : mix($black, $color-05, 30%), // pollbar1
	dark-03  : mix($black, $color-05, 35%), // online ribbon shadow
);

$color-set-07: (
	dark-00 : mix($black, $color-07, 10%) // browser upgrade border
);

$color-set-08: (
	light-00 : mix($white, $color-08, 80%), // register error, exclamation icon bg, reported/post-red
	dark-00  : mix($black, $color-08, 33.33%), // hp bar border
	dark-01  : mix($black, $color-08, 50%), // hp bar background
);

$color-set-09: (
	dark-00 : mix($black, $color-09, 33.33%), // mp bar border
	dark-01 : mix($black, $color-09, 50%) // mp bar background
);

$color-set-11: (
	dark-00 : mix($black, $color-11, 40%) // disabled field text
);

// Light Colors
// ============================================== //

$light-00: #ffffff; // rgb and mixes
$light-01: #ffffff; // forum headers, notification headers
$light-02: #ffffff; // footer
$light-03: #ffffff; // icons - alert, scroll, forum
$light-04: #ffffff; // input fields
$light-05: #ffffff; // button text, badge text, tabs, ribbon text
$light-06: #ffffff; // header text
$light-07: #ffffff; // mobile menu text

// Dark Colors
// ============================================== //

$dark-00: #000000; // rgb and mixes
$dark-01: #000000; // field placeholder
$dark-02: #000000; // color palette table
$dark-03: #000000; // print body color

$dark-set: (
	dark-00 : rgba($dark-00, .20), // main box background
	dark-01 : rgba($dark-00, .20), // cp postbody, attachbox, pre/code, big-column
	dark-02 : rgba($dark-00, .30), // divider shadow
	dark-03 : rgba($dark-00, .30), // main box border
	dark-04 : rgba($dark-00, .40), // stat bar box shadow
	dark-05 : rgba($dark-00, .40), // stat bar text shadow
	dark-06 : rgba($dark-00, .50), // darken overlay, discord reactions
	dark-07 : rgba($dark-00, .60), // featured overlay, black-bar, banner-content
	dark-08 : rgba($dark-00, .65), // header text shadow
	dark-09 : rgba($dark-00, .65), // loading indicator
	dark-10 : rgba($dark-00, .75) // header dark text shadow
);
