/* Resets
============================================== */

* {
	box-sizing: border-box;
}

/* Base styles
============================================== */

html, body {
	min-height: 100%;
}

body {
	height: 100%;
	-webkit-print-color-adjust: exact;
	-webkit-tap-highlight-color: rgba($light-00, 0.00);
	backface-visibility: hidden;
	background: url($images + 'background.png') 0 0 repeat;
}

img {
	max-width: 100%;
	@include sizing(auto, auto);
	display: block;
}

h1, h2, h3, h4, h5, h6, p, figure, pre, code, dl {
	margin: 0 0 20px 0;
}

ul, ol {
	padding: 0;
	margin: 0 0 20px 40px;
	&.list-mar-20 > li {
		margin: 0 0 20px 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.list-left-aligned {
		margin-left: 14px;
	}
	&.lower-alpha {
		list-style-type: lower-alpha;
	}
}

dt, dd {
	margin: 0;
}

dl.definition-list {
	dt {
		margin: 0 0 5px 0;
		strong {
			font-size: rem(20px);
			color: $color-03;
			@include spectral-common;
			font-weight: normal;
		}
	}
	dd {
		margin: 0 0 20px 30px;
		&:last-child {
			margin-bottom: 0;
		}
		.icon {
			margin: 0 0 0 5px;
		}
	}
}

code {
	white-space: pre;
	overflow: auto;
}

pre, code {
	display: block;
	font-family: 'Courier New', monospace;
	background: $color-02;
	color: $color-00;
	padding: 20px;
	white-space: pre-wrap;
}

pre code, code pre {
	padding: 0;
	margin: 0;
	border: 0;
}

.codebox {
	margin: 0 0 20px 0;
	& > p, pre {
		margin: 0;
	}
	& > p {
		margin: 0;
		padding: 10px 20px;
		background: $color-01;
		color: $light-01;
	}
}

blockquote {
	max-width: 90%;
	margin: 0 auto 20px auto;
	padding: 0 0 0 30px;
	position: relative;
	&:before {
		@include position($type: absolute, $top: 0, $left: 0);
		font-family: $font-02;
		@include quotes(30px);
		content: '\00201c';
	}
	blockquote {
		max-width: none;
	}
	cite {
		border-bottom: 1px solid $color-01;
		display: block;
		margin: 0 0 10px 0;
		padding: 0 0 10px 0;
	}
}

hr {
	margin: 0 0 20px 0;
	height: 0;
	border: 0;
	border-bottom: 1px solid $color-01;
	display: none;
	&.dashed {
		border-bottom-style: dashed;
	}
	&.clear {
		clear: both;
		border-bottom: none;
		margin: 0;
	}
}

[tabindex="-1"]:focus {
	outline: none !important;
}

abbr[title] {
	text-decoration: none;
}

.bullet {
	padding: 0 5px;
	font-family: $sans-serif-fb;
	font-size: rem(20px);
	line-height: 0;
	@include position($type: relative, $top: 4px);
}

a.anchor {
	display: block;
}

.mobile-content {
	display: none;
}

/* Remove List Style
============================================== */

.dropdown .dropdown-contents, #nav-breadcrumbs ul, .pagination ul,
.tabs ul, .minitabs ul, .topiclist, .postbody .post-buttons,
.section-search ul.searchresults, .cp-menu ul,
#pmheader-postingbox .recipients ul, #page-header ul, #page-welcome .user-buttons, #notification_list ul {
	list-style: none;
}

/* Utilities
============================================== */

.clearfix, .inner {
	@include clearfix('&');
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.skiplink {
	@include position($type: absolute, $left: -9999px);
	width: 990px;
}

.ellipsis-text {
	display: inline-block;
	@include ellipsis;
}

.top-anchor {
	display: block;
	@include position($type: absolute, $top: -20px);
}

/* Smilies and Emojis
============================================== */

.emoji, .smilies {
	@include inline-block(text-bottom);
	max-width: 20px;
	max-height: 20px;
}

.emoji {
	min-height: 16px;
	min-width: 16px;
}
