/* Resets
========================================================================== */

* {
	box-sizing: border-box;
}

/* Base styles
========================================================================== */

html, body {
	min-height: 100%; 
}

body { 
	height: 100%;
	-webkit-print-color-adjust: exact;
	-webkit-tap-highlight-color: rgba($color-01, 0);
	backface-visibility: hidden;
	background: url($images + 'background.png') 0 0 repeat;	
}

img {
	max-width: 100%;
	@include sizing(auto, auto);
	display: block;
}

h1, h2, h3, h4, h5, h6, p, figure, pre, code {
    margin: 0 0 20px 0;
}

ul, ol, dl {
	padding: 0;
	margin: 0 0 20px 40px;
}

pre, code {
	white-space: normal;
	display: block;
	font-family: 'Courier New', monospace;
	font-size: rem(15px);
	background: $color-01;	
	color: $color-08;
	border: 2px solid $color-04;
	padding: 20px;
}

blockquote {
	width: 75%;
	margin: 0 auto 20px auto;
	padding: 0 50px;
	font-style: italic;
	position: relative;
}

hr {
	margin: 30px 0; 
	@include sizing(100%, 0);
	border: 0;
	border-bottom: 1px solid $color-04;
	clear: both;
	&.divider {
		display: none;
	}
}

.dropdown-contents hr {
	border-bottom: 1px solid $color-03;
	margin: 10px 0;
}

[tabindex="-1"]:focus { 
	outline: none !important;
}

abbr[title] {
	text-decoration: none;
}

.bullet {
	display: inline-block;
	padding: 0 5px;
	font-family: $sans-serif-fb;
	font-size: rem(20px);
	line-height: 1;
	position: relative;
	top: 2px;
}

a.anchor {
	display: block;
}

/* Utilities (from prosilver utilities.css)
   Notes: did not add things like pull-left/right, hide, show, invisible, text-hide, affix
========================================================================== */

.sr-only {
	position: absolute;
	@include sizing(1px, 1px);
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable {
	&:active, &:focus {
		position: static;
		@include sizing(auto, auto);;
		margin: 0;
		overflow: visible;
		clip: auto;
	}
}

.clearfix {
	// TO DO: ADD THESE MAYBE? .container, .container-fluid, .row
	@include clearfix('&');
}

.hidden {
	display: none;
}

.skiplink {
	position: absolute;
	left: -999px;
	width: 990px;
}