/* Resets
========================================================================== */

* {
	box-sizing: border-box;
}

/* Base styles
========================================================================== */

html, body {
	min-height: 100%;
}

body {
	height: 100%;
	-webkit-print-color-adjust: exact;
	-webkit-tap-highlight-color: rgba($color-01, 0);
	backface-visibility: hidden;
	background: url($images + 'background.png') 0 0 repeat;
}

img {
	max-width: 100%;
	@include sizing(auto, auto);
	display: block;
}

h1, h2, h3, h4, h5, h6, p, figure, pre, code, dl {
    margin: 0 0 20px 0;
}

ul, ol {
	padding: 0;
	margin: 0 0 20px 40px;
}
dt, dd {
	margin: 0;
}

code {
	white-space: pre;
	overflow: auto;
}

pre, code {
	display: block;
	font-family: 'Courier New', monospace;
	background: $color-05;
	color: $color-01;
	padding: 20px;
	white-space: pre-wrap;
}

pre code, code pre {
	padding: 0;
	margin: 0;
	border: 0;
}

blockquote {
	max-width: 90%;
	margin: 0 auto 20px auto;
	padding: 0 30px;
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 10px;
		font-family: $font-02;
		@include quotes;
		content: '\00201C';
		margin: 0 10px 0 0;
	}
	blockquote {
		max-width: none;
		padding: 0 0 0 20px;
		&:before {
			left: 0;
		}
	}
	cite {
		border-bottom: 1px solid $color-04;
		display: block;
		margin: 0 0 10px 0;
		padding: 0 0 10px 0;
	}
}

hr {
	margin: 20px 0;
	@include sizing(100%, 0);
	border: 0;
	border-bottom: 1px solid $color-04;
	clear: both;
	display: none;
	&.dashed {
		border-bottom-style: dashed;
	}
}

[tabindex="-1"]:focus {
	outline: none !important;
}

abbr[title] {
	text-decoration: none;
}

.bullet {
	display: inline-block;
	padding: 0 5px;
	font-family: $sans-serif-fb;
	font-size: rem(20px);
	line-height: 1;
	position: relative;
	top: 2px;
}

a.anchor {
	display: block;
}

/* Utilities
========================================================================== */

.sr-only {
	position: absolute;
	@include sizing(1px, 1px);
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable {
	&:active, &:focus {
		position: static;
		@include sizing(auto, auto);;
		margin: 0;
		overflow: visible;
		clip: auto;
	}
}

.clearfix, .inner {
	@include clearfix('&');
}

.hidden {
	display: none;
}

.skiplink {
	position: absolute;
	left: -999px;
	width: 990px;
}

.ellipsis-text {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.top-anchor {
	display: block;
	position: absolute;
	top: -20px;
}

/* Smilies and Emojis
========================================================================== */

.emoji, .smilies {
	@include inline-block(text-bottom);
	max-width: 20px;
	max-height: 20px;
}

.emoji {
	min-height: 16px;
	min-width: 16px;
}
