/* CP - Layout
========================================================================== */

.cp-wrapper {
	@include flex-flow(row wrap);
	align-items: flex-start;
}

.cp-menu {
	flex: 0 0 201px;
	margin: 0 20px 20px 0;
	padding: 0 20px 0 0;
	border-right: 1px dashed $color-04;
	min-height: 150px;
	.navigation {
		ul {
			margin: 0;
			list-style: none;
			li {
				margin: 0 0 5px 0;
				&.active-subsection {
					a {
						font-weight: bold;
						color: $color-07;
					}
				}
			}
		}
	}
}

.cp-main {
	@include flex(base);
}

/* CP - Display Actions
========================================================================== */

fieldset.display-actions {
	text-align: right;
	margin: 30px -10px 20px -10px;
	direction: rtl;
	input, div {
		@include inline-block(middle);
	}
	div {
		margin: 0 10px;
	}
}

/* UCP - Attachments
========================================================================== */

.ucp-main .topiclist {
	& > li.header dl dt a {
		font-family: $font-01;
		font-variant: none;
		font-size: rem(14px);
	}
	& > li.row dl dt .topictitle.attachment-filename {
		margin: 0;
		display: inline;
	}
}

/* UCP - Notifications
   Note: UCP area only. Header notifications in header.scss
========================================================================== */

.ucp-main .notification_list .topiclist > li.row dl dt .list-inner {
	@include clearfix('&');
	img {
		float: left;
		max-width: 100px;
		max-height: 100px;
	}
	.notifications {
		margin: 0 0 0 120px;
		p {
			margin: 0 0 5px 0;
		}
		& > p:last-child {
			margin: 0;
		}
	}
}

/* UCP - Profile
========================================================================== */

.ucp-main fieldset dl dd label[for*='bday'] select {
	width: auto;
	margin: 0 0 0 5px;
}

/* UCP - Signature
========================================================================== */

.ucp-main .signature.standalone {
	margin-bottom: 30px;
	&:after {
		content: '';
		display: block;
		@include sizing(100%, 1px);
		border-bottom: 1px dashed $color-04;
		margin: 20px 0 0 0;
	}
}

















/* MCP - Front
========================================================================== */

.mcp-main {
	#mcp_queue .topiclist>li.header dl:after {
		display: block;
		content: 'Mark';
		flex: 0 0 80px;
		padding: 0 10px;
		box-sizing: border-box;
	}
}
