/* CP - Layout
========================================================================== */

.cp-wrapper {
	@include flex-flow(row wrap);
	align-items: flex-start;
}

.cp-menu {
	flex: 0 0 201px;
	margin: 0 20px 20px 0;
	padding: 0 20px 0 0;
	border-right: 1px dashed $color-04;
	min-height: 150px;
	.navigation {
		ul {
			margin: 0;
			list-style: none;
			li {
				margin: 0 0 5px 0;
				&.active-subsection {
					a {
						font-weight: bold;
						color: $color-07;
					}
				}
			}
		}
	}
}

.cp-main {
	@include flex(base);
}

/* CP - Display Actions
========================================================================== */

fieldset.display-actions {
	text-align: right;
	margin: 30px -10px 20px -10px;
	direction: rtl;
	input, div {
		@include inline-block(middle);
	}
	div {
		margin: 0 10px;
	}
}

/* UCP - Attachments
========================================================================== */

.ucp-main form[action*='mode=attachments'] .topiclist {
	& > li.header dl dt a {
		font-family: $font-01;
		font-variant: none;
		font-size: rem(14px);
	}
	& > li.row dl dt .topictitle.attachment-filename {
		margin: 0;
		display: inline;
	}
}

/* UCP - Notifications
   Note: UCP area only. Header notifications in header.scss
========================================================================== */

.ucp-main .notification_list .topiclist > li.row dl dt .list-inner {
	@include clearfix('&');
	img {
		float: left;
		max-width: 100px;
		max-height: 100px;
	}
	.notifications {
		margin: 0 0 0 120px;
		p {
			margin: 0 0 5px 0;
		}
		& > p:last-child {
			margin: 0;
		}
	}
}

/* UCP - Profile
========================================================================== */

.ucp-main form[action*='mode=profile_info'] fieldset dl dd label[for*='bday'] select {
	width: auto;
	min-width: 80px;
	margin: 0 0 0 5px;
}

/* UCP - Signature
========================================================================== */

.ucp-main form[action*='mode=signature'] .signature.standalone {
	margin-bottom: 30px;
	&:after {
		content: '';
		display: block;
		@include sizing(100%, 1px);
		border-bottom: 1px dashed $color-04;
		margin: 20px 0 0 0;
	}
}

/* UCP - Avatar
========================================================================== */

.cp-main form[action*='mode=avatar'] {
	.avatar {
		border: 5px solid $color-04;
		margin: 0 0 10px 0;
	}
	#avatar_option_avatar_driver_gravatar, #avatar_option_avatar_driver_local,
	#avatar_option_avatar_driver_remote, #avatar_option_avatar_driver_upload {
		& > p {
			margin: -10px 0 20px 250px;
			font-style: italic;
			font-size: rem(13px);
		}
	}
	#avatar_option_avatar_driver_local {
		fieldset {
			@include clearfix('&');
			label[for='category'] {
				float: left;
				@include flex-flow(row nowrap);
				width: 85%;
				font-size: 0;
				&:before, select {
					font-size: rem(14px);
				}
				&:before {
					content: 'Category:';
					flex: 0 0 250px;
				}
			}
			input[type='submit'][name='avatar_local_go'] {
				float: right;
				width: 14%;
				margin: 0 0 0 1%;
			}
		}
	}
	.gallery {
		clear: both;
		@include flex-flow(row wrap);
		margin: 0 -5px 10px -5px;
		label {
			@include flex;
			width: 16.6666%;
			margin: 0 0 10px 0;
			padding: 0 5px;
			text-align: center;
			position: relative;
			img {
				margin: 0 auto;
				padding: 10px;
			}
			input[type='radio'], &:before {
				position: absolute;
			}
			input[type='radio'] {
				top: 100%;
				margin: -20px 0 0 0;
			}
			&:before {
				content: '';
				display: block;
				background: $color-04;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: -1;
				margin: 0 5px;
			}
		}
	}
}

















/* MCP - Front
========================================================================== */

.mcp-main {
	#mcp_queue .topiclist>li.header dl:after {
		display: block;
		content: 'Mark';
		flex: 0 0 80px;
		padding: 0 10px;
		box-sizing: border-box;
	}
}
