/* Footer
========================================================================== */

#page-footer {
	background: url($images + 'footer-background.png') center -30px repeat-x;
	padding: 150px 0 0 0;
	.footer-inner {
		background: $color-04;
		padding: 0 0 30px 0;
		.flex-row .flex-column {
			.copyright, .bottom-line {
				font-size: rem(14px);
			}
			.bottom-line {
				text-align: center;
			}
			.button-link {
				display: inline-block;
				line-height: 0;
			}
			.button-wrapper {
				margin: 0 -2.5px 12px -2.5px;
				.button-link {
					vertical-align: middle;
					margin: 0 2.5px 8px 2.5px;
				}
			}
		}
	}
}

/* Darken wrapper
========================================================================== */

.darkenwrapper {
	display: none;
	position: relative;
	z-index: 44;
	.darken {
		position: fixed;
		left: 0;
		top: 0;
		@include sizing(100%, 100%);
		z-index: 45;
		background: rgba($color-02, 0.65);
	}
}

/* phpBB Alert
========================================================================== */

.phpbb_alert {
	display: none;
	position: fixed;
	right: 0;
	top: 150px;
	left: 0;
	z-index: 50;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background: $color-05;
	border: 1px solid $color-03;
	.alert_close {
		position: absolute;
		top: -10px;
		right: -10px;
		z-index: 2;
		@include sizing(24px, 24px);
		background: $color-05;	
		border-radius: 100%;
		text-align: center;
		color: $color-01;
		.icon {				
			line-height: 24px;
		}
		&:hover {
			color: $color-06;
		}
	}
	.alert_text h3 {
		color: $color-01;
		background: $color-04;
		padding: 10px 20px;
		margin: -20px -20px 20px -20px;
	}
}

/* Bottom hidden
========================================================================== */

.bottom-hidden {
	height: 0;
	overflow: hidden;
}