/* Form fields
========================================================================== */

@include placeholder {
	color: $color-02;
	@include transition(color 0.3s ease-in-out);
}

:focus{@include placeholder {
	color: $color-02;
}}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

.inputbox, select, .button, .button1, .button2 {
	border: 0;
	border-radius: 3px;
	line-height: rem(20px);
}

.inputbox, select {
	background: $color-01;
	color: $color-08;
	width: 100%;
	padding: 10px;
	margin: 0 0 20px 0;
}

select {
	min-height: 40px;
	option {
		color: $color-08;
	}
}

input[type='checkbox'], input[type='radio']  {
	position: relative;
	top: 2px;
}

label {
	display: block;
	margin: 0 0 5px 0;
	input[type='checkbox'], input[type='radio'], input[type='number'].inputbox {
		margin-right: 5px;
	}
}

button[disabled], html input[disabled], option[disabled] {
	cursor: not-allowed;
	color: $color-13;
}

input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-results-button, input[type='search']::-webkit-search-results-decoration {
	display: none;
}

input[type='search']::-webkit-search-cancel-button {
	cursor: pointer;
}


/* Search Box
========================================================================== */

.search-box form fieldset {
	position: relative;
	padding: 0 80px 0 0;
	background: $color-01;
	border-radius: 3px;
	input[type='search'] {
		margin: 0;
	}
	.button {
		width: 40px;
		position: absolute;
		top: 0;
		z-index: 1;
		padding: 10px 0;
		background: $color-01;
		.icon {
			color: $color-12;
			@include transition(color 0.3s ease-in-out);
		}
		&:hover .icon {
			color: $color-13;
		}
	}
	button {
		right: 40px;
	}
	a.button {
		right: 0;
	}
}

/* Buttons
========================================================================== */

.button, .button1, .button2 {
	display: inline-block;
	background: $color-10;
	color: $color-01;
	text-align: center;
	@include transition(background 0.3s ease-in-out);
	padding: 10px 20px;
	&:hover {
		background: $color-04;
		&, .icon {
			color: $color-01;
		}
	}
}

.button-icon-only, .mcp-main .postbody .post-buttons .button {
	@include small-form-ele($padding: 5px);
}

fieldset.submit-buttons {
	text-align: center;
	margin: 0 0 10px 0;
	.button1, .button2, .button3 {
		margin-bottom: 10px;
	}
}

/* Fieldset - DL
========================================================================== */

fieldset dl:not(.pmlist) {
	@include clearfix('&');
	margin: 0 -10px 20px -10px;
	dt, dd {
		padding: 0 10px;
		.inputbox, select, label {
			margin-bottom: 0;
		}
	}
	dt {
		float: left;
	}
	label {
		margin: 0 10px 0 0;
		@include inline-block(baseline);
	}
}

fieldset:not(.polls) {
	dl:not(.pmlist) {
		dt {
			width: $form-field-indent1;
			label {
				& + br {
					display: none;
				}
				& ~ span {
					font-style: italic;
					font-size: rem(13px);
					display: block;
				}
			}
		}
		dd {
			margin-left: $form-field-indent1;
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.fields1 dl:not(.pmlist) {
		dt {
			width: $form-field-indent2;
		}
		dd {
			margin-left: $form-field-indent2;
		}
	}
}

/* Auto Width Form Elements
========================================================================== */

input[type='number'].inputbox {
	width: auto;
}
