/* Form fields
========================================================================== */

@include placeholder {
	color: $color-02;
	font-style: italic;
	@include transition(color 0.3s ease-in-out);
}

:focus{@include placeholder {
	color: $color-02;
}}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='button'], input[type='reset'], input[type='submit'], button, textarea {
	outline: 0;
}

input[type='text'], input[type='password'], input[type='email'], input[type='url'], select {
	line-height: 35px;
	height: 35px;
	border: 0;
}

input[type='text'], input[type='password'], input[type='email'], input[type='url'], select, textarea {
	background: $color-12;
	border-radius: 3px;
	color: $color-02;
	width: 100%;
	margin: 0 0 20px 0;
}

input[type='text'], input[type='password'], input[type='email'], input[type='url'], select {
	padding: 0 10px;
}

textarea {
	padding: 10px;
	border: 0;
}

select option {
	color: $color-02;
}

input[type='submit'], .button {
	background: $color-10;
	color: $color-01;
	border-radius: 3px;
	border: 0;
	padding: 10px 20px;
	text-shadow: 1px 1px 0 rgba($color-02, 0.95);
	@include transition(background 0.3s ease-in-out);
	&:hover {
		background: $color-04;
	}
}

a.button {
	display: inline-block;
	line-height: normal;
	&:hover {
		color: inherit;
	}
}

label {
	display: block;
	margin: 0 0 5px 0;
}