/* Header
========================================================================== */

#page-header {
	margin: 0 0 60px 0;
}

/* Header - Header bar
========================================================================== */

#page-header .headerbar {
	background: url($images + 'header.jpg') center bottom no-repeat;
	background-size: cover;
	height: 500px;
	overflow: hidden;
	position: relative;
	padding: 0 20px;
	.header-content {
		@include flex-flow(row wrap);
		justify-content: center;
		align-items: center;
		align-content: center;
		height: 100%;
		@include position($type: relative, $z: 2);
		.site-description, .site-quotes {
			@include flex(base);
			max-width: 310px;
		}
		.site-description {
			text-align: right;
			h1, h3 {
				margin: 0;
			}
			h1 {
				font-family: $font-03;
				font-size: rem(100px);
				font-variant: none;
				text-shadow: 2px 2px 0 rgba($color-02, 0.65);
				a:hover {
					color: $color-01;
				}
			}
			h3 {
				font-family: $font-02;
				font-size: rem(30px);
				text-shadow: 2px 1px 0 rgba($color-02, 0.65), 2px 1px 5px rgba($color-02, 0.75);
				letter-spacing: 2px;
			}
		}
		.site-quotes {
			font-family: $font-02;
			text-shadow: 1px 1px 0 rgba($color-02, 0.65), 1px 1px 5px rgba($color-02, 0.75);
			font-size: rem($global-font-size);
			p {
				margin: 0 0 10px 0;
				&:last-child {
					margin: 0;
				}
			}
			span {
				@include quotes;
				@include position($type: relative, $top: -5px);
				&.quote-left {
					margin: 0 10px 0 0;
				}
				&.quote-right {
					margin: 0 0 0 10px;
				}
			}
			.quote-author {
				text-align: right;
			}
		}
		.header-divider {
			flex: 0 0 1px;
			margin: 0 40px;
			height: 40%;
			&:before {
				content: '';
				display: block;
				background: $color-01;
				@include sizing(100%, 100%);
				box-shadow: 1px 1px 0 0 rgba($color-02, 0.30);
			}
		}
	}
 	.header-overlay {
		height: 125px;
		background: url($images + 'header-background.png') center -65px repeat-x;
		@include position($type: absolute, $bottom: 0, $left: 0, $right: 0, $z: 1);
	}
}

/* Header - Nav top
========================================================================== */

#page-header .navbar {
	background: rgba($color-05, 0.75);
	border-bottom: 1px solid $color-04;
	@include position($type: fixed, $top: 0, $right: 0, $left: 0, $z: 20);
	text-align: center;
	padding: 10px 0;
	a {
		color: $color-01;
		&:hover {
			color: $color-06;
		}
	}
	.site-logo-text, & > ul, & > ul > li {
		@include inline-block(middle);
	}
	.site-logo-text {
		font-family: $font-03;
		font-size: rem(30px);
		line-height: 1;
		@include sizing(0, 0);
		overflow: hidden;
		opacity: 0;
		padding: 0;
		visibility: hidden;
		@include transition(all 0.5s ease);
	}
	& > ul {
		margin: 0;
		& > li {
			& > a {
				padding: 0 20px;
				display: block;
			}
			& > .icon {
				display: block;
				@include sizing(20px, 20px);
				line-height: 20px;
				@include position($type: absolute, $top: -1.5px, $right: 5px, $z: 10);
				// Setting the variable here to use multiple transitions
				$transform: color 0.3s ease-in-out, transform 0.8s ease-in-out;
				@include transition($transform);
				transform: rotate(0deg);
			}
			& > .icon:hover {
				color: $color-06;
			}
			&.dropdown-container > a {
				padding-right: 40px;;
			}
			&.dropdown-visible > .icon {
				transform: rotate(180deg);
			}
			.dropdown {
				top: 32px;
				background: $color-04;
				border: 1px solid $color-03;
				border-top: 0;
				border-radius: 0;
				.dropdown-contents {
					font-size: rem($global-font-size);
				}
			}
			&.dropdown-left .dropdown {
				left: 0;
				right: auto;
			}
		}
	}
	&.sticky {
		background: rgba($color-05, 1.0);
		.site-logo-text {
			padding: 0 10px 0 20px;
			opacity: 1;
			overflow: visible;
			visibility: visible;
			@include sizing(auto, auto);
		}
		& > ul > li .dropdown {
			top: 35px;
		}
	}
}

/* Header - Nav top - Search Box
========================================================================== */

#page-header .navbar > ul > li.dropdown-container .search-box {
	min-width: 400px;
	right: 0;
	left: auto;
}

/* Page welcome
========================================================================== */

#page-welcome {
	font-size: rem(13px);
	.site-callouts {
		order: -1;
		.introduction:first-line {
			@include spectral-common;
			font-size: rem(17px);
			line-height: 1.3;
		}
		.read-more {
			font-style: italic;
		}
		.flex-row .flex-column ul {
			margin: 0 0 20px 14px;
		}
	}
	.user-profile {
		text-align: center;
		.date-and-time {
			display: none;
		}
		.user-avatar {
			border-radius: 100%;
			border: 5px solid $color-04;
			overflow: hidden;
			width: 150px;
			margin: -75px auto 20px auto;
			.image-wrap {
				height: 0;
				padding: 0 0 100% 0;
			}
		}
		h5, p {
			margin: 0 0 10px 0
		}
		h5 {
			font-family: $font-03;
			font-variant: none;
			font-size: rem(40px);
		}
		p {
			font-size: rem($global-font-size);
			&:last-child, &:nth-last-child(2) {
				margin-bottom: 20px;
			}
		}
		.character-stats {
			.icon, .separator {
				vertical-align: middle;
			}
			.icon {
				font-size: rem(22px);
			}
			.separator {
				display: inline-block;
				font-weight: bold;
				@include position(relative, -2px);
			}
		}
		.guest-register {
			color: $color-06;
			&:hover {
				color: $color-07;
			}
		}
	}
	.user-buttons {
		text-align: center;
		@include flex-flow(row wrap);
		margin: 0 (-$ffs-half) $ffs-minus (-$ffs-half);
		& > li {
			@include flex(adapt);
			&.toggle {
				display: none;
				a {
					cursor: pointer;
				}
			}
			& > a {
				display: block;
				margin: 0 $ffs-half $ffs $ffs-half;
				padding-left: 10px;
				padding-right: 10px;
				min-width: 80px;
				font-size: rem($global-font-size);
			}
		}
	}
}

/* Badge
========================================================================== */

.badge {
	background-color: $color-11;
	color: $color-01;
	border-radius: 3px;
	text-align: center;
	font-weight: normal;
	font-size: rem(12px);
	display: inline-block;
	text-shadow: none;
	padding: 0 5px;
	margin: 0 0 0 5px;
	height: 20px;
	line-height: 20px;
	&.hidden {
		display: none;
	}
}

/* Notifications
   Note: Header area only. UCP notifications in cp.scss
========================================================================== */

.user-buttons {
	position: relative;
	.notification-container {
		position: static;
	}
}

#notification_list {
	min-width: 450px;
	top: 45px;
	right: 1.5px;
	left: auto;
	.header {
		@include spectral-common;
		font-size: rem(18px);
		background: $color-04;
		padding: 6.5px 150px 6.5px 20px;
		position: relative;
		margin: -20px -20px 20px -20px;
		.header_settings {
			@include position($type: absolute, $top: 11px, $right: 20px);
			font-family: $font-01;
			font-variant: none;
			font-size: rem(13px);
		}
	}
	ul {
		margin: 0;
		li {
			position: relative;
			padding: 0 0 10px 0;
			margin: 0 0 10px 0;
			border-bottom: 1px dashed $color-04;
			.notification-block {
				@include clearfix('&');
				display: block;
				.image-wrap, .notification_text {
					overflow: hidden;
				}
				.image-wrap {
					width: 50px;
					max-height: 50px;
					margin: 0 10px 0 0;
					float: left;
					border: 2px solid $color-04;
				}
				.notification_text {
					p {
						margin: 0 0 2px 0;
						&:last-child {
							margin: 0;
						}
					}
					.notification-title {
						padding: 0 25px 0 0;
					}
					.notification-time {
						text-align: right;
					}
				}
			}
			.icon-mark {
				display: block;
				@include position($type: absolute, $top: 0, $right: 0, $z: 2);
				.icon {
					width: auto;
				}
			}
		}
	}
	.footer {
		text-align: center;
	}
}

/* Featured Content
========================================================================== */

#featured-content {
	margin: 0 0 10px 0;
	.featured-title {
		text-align: center;
		margin: 0 -5px 20px -5px;
		.icon {
			margin: 0 5px;
			position: relative;
			top: -2.5px;
		}
	}
	.flex-row {
		align-items: center;
		.flex-column {
			position: relative;
			margin: 0 0 20px 0;
			h5, p {
				margin: 0;
			}
			&.featured-title {
				flex: 0 0 150px;
			}
			a {
				display: block;
				border: 5px solid rgba($color-02, 0.30);
				color: $color-01;
				&:hover {
					color: $color-07;
					img {
						transform: scale(1.2,1.2);
					}
				}
			}
			.featured-content {
				border: 1px solid $color-04;
			}
			.image-wrap {
				@include sizing(100%, 0);
				overflow: hidden;
				padding: 0 0 55% 0;
				position: relative;
				img {
					margin: -25% 0 0 0;
					width: 100%;
					@include transition(transform 0.5s ease-in-out);
				}
			}
			p {
				@include position($type: absolute, $bottom: 6px, $left: 11px, $right: 11px);
				padding: 0 10px;
				height: 30px;
				line-height: 30px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				background: rgba($color-02, 0.60);
				text-align: center;
			}
		}
	}
}

/* Mobile Button & Menu
========================================================================== */

.mobile-menu-button, #mobile-menu {
	display: none;
}

.mobile-menu-button {
	cursor: pointer;
	padding: 0 20px;
	.mobile-menu-icon, .mobile-menu-text {
		@include inline-block(middle);
	}
	.mobile-menu-text {
		font-size: rem(16px);
	}
	.mobile-menu-icon {
		@include sizing(25px, 20px);
		margin: 0 5px 0 0;
		position: relative;
		.lines {
			position: relative;
			display: block;
			@include sizing(100%, 100%);
			.line, &:before, &:after {
				display: block;
				@include sizing(100%, 4px);
				background: $color-01;
				@include position($type: absolute, $left: 0);
			}
			&:before, &:after {
				content: '';
			}
			.line {
				top: 0;
			}
			&:before {
				top: 8px;
			}
			&:after {
				top: 16px;
			}
		}
	}
}

#mobile-menu {
	background: $color-04;
	border-right: 1px solid mix($color-02, $color-04, 25%);
	@include position($type: fixed, $top: 0, $left: -($mobile-menu-width + 300), $z: 9999);
	@include sizing($mobile-menu-width, 100%);
	@include transition(left 0.3s ease-in-out);
	&.show {
		left: 0;
		box-shadow: 7px 0 5px -2px rgba($color-02, 0.35);
	}
	.mobile-menu-header .fa-times, ul .dropdown-container > .icon {
		text-align: center;
		cursor: pointer;
	}
	.mobile-menu-header {
		position: relative;
		border-bottom: 1px solid mix($color-02, $color-04, 25%);
		padding: 0 10px;
		.mobile-header, .fa-times {
			line-height: 50px;
		}
		.mobile-header {
			font-size: rem(24px);
			@include spectral-common;
		}
		.fa-times {
			@include sizing(50px, 50px);
			@include position($type: absolute, $top: 0, $right: 0);
			font-size: rem(25px);
			margin: 0;
		}
	}
	ul {
		margin: 0;
		li {
			border-top: 1px solid mix($color-01, $color-04, 05%);
			border-bottom: 1px solid mix($color-02, $color-04, 25%);
			a {
				color: $color-01;
				display: block;
				padding: 10px;
				font-size: rem(16px);
			}
			&:last-child:after {
				content: '';
				display: block;
				@include sizing(100%, 1px);
				border-bottom: 1px solid mix($color-01, $color-04, 05%);
			}
		}
	}
	& > ul {
		li {
			@include position($type: relative, $left: 0);
			@include transition(left 0.5s ease-in-out);
		}
		.dropdown-container {
			& > a {
				padding-right: 70px;
			}
			& > .fa-chevron-down {
				display: none;
			}
			& > .fa-chevron-right {
				@include sizing(50px, 100%);
				max-height: 44px;
				line-height: 44px;
				@include position($type: absolute, $top: 0, $right: 0, $z: 10);
				@include transition(all 0.5s ease-in-out);
			  	font-size: rem(20px);
				&:before {
					content: unicode($icon-chevron-right);
				}
			}
			.dropdown {
				width: 100%;
				min-width: 0;
				margin: 1px 0 0 0 !important;
				padding: 0;
				border: 0;
				background: none;
				@include position($type: absolute, $left: -($mobile-menu-width + 300));
				@include transition(left 0.5s ease-in-out);
				.dropdown-contents {
					max-height: none;
					overflow: visible;
					padding: 0;
				}
				&#search-box {
					padding: 20px 20px 20px 10px;
				}
			}
			&.dropdown-open {
				background: mix($color-02, $color-04, 25%);
				border-top: 1px solid transparent;
				& > a {
					font-weight: bold;
				}
				& > .icon {
					transform: rotate(-180deg);
				}
				.dropdown {
					@include position($top: auto, $left: 0, $z: 2);
					visibility: visible;
				    opacity: 1;
				}
			}
			&.dropdown-close > * {
				display: none;
			}
		}
		.dropdown-close {
			left: -($mobile-menu-width + 300);
			height: 0;
			overflow: hidden;
			padding: 0;
			border: 0;
		}
	}
}
