/* Header
========================================================================== */

#page-header {
	margin: 0 0 60px 0;
}

/* Header - Header bar
========================================================================== */

#page-header .headerbar {
	background: url($images + 'header.jpg') center bottom no-repeat;
	background-size: cover;
	height: 500px;
	overflow: hidden;
	position: relative;
	padding: 0 20px;
	.header-content {
		@include flex-flow(row wrap);
		justify-content: center;
		align-items: center;
		align-content: center;
		height: 100%;
		@include position($type: relative, $z: 2);
		.site-description, .site-quotes {
			@include flex;
			max-width: 310px;
		}
		.site-description {
			text-align: right;
			h1, h3 {
				margin: 0;
			}
			h1 {
				font-family: $font-03;
				font-size: rem(100px);
				font-variant: normal;
				text-shadow: 2px 2px 0 rgba($color-02, 0.65);
				a:hover {
					color: $color-01;
				}
			}
			h3 {
				font-family: $font-02;
				font-size: rem(30px);
				text-shadow: 2px 1px 0 rgba($color-02, 0.65), 2px 1px 5px rgba($color-02, 0.75);
				letter-spacing: 2px;
			}
		}
		.site-quotes {
			font-family: $font-02;
			text-shadow: 1px 1px 0 rgba($color-02, 0.65), 1px 1px 5px rgba($color-02, 0.75);
			font-size: rem($global-font-size);
			p {
				margin: 0 0 10px 0;
				&:last-child {
					margin: 0;
				}
			}
			span {
				@include quotes;
				@include position($type: relative, $top: -5px);
				&.quote-left {
					margin: 0 10px 0 0;
				}
				&.quote-right {
					margin: 0 0 0 10px;
				}
			}
			.quote-author {
				text-align: right;
			}
		}
		.header-divider {
			flex: 0 0 1px;
			margin: 0 40px;
			height: 40%;
			&:before {
				content: '';
				display: block;
				background: $color-01;
				@include sizing(100%, 100%);
				box-shadow: 1px 1px 0 0 rgba($color-02, 0.30);
			}
		}
	}
 	.header-overlay {
		height: 125px;
		background: url($images + 'header-background.png') center -65px repeat-x;
		@include position($type: absolute, $bottom: 0, $left: 0, $right: 0, $z: 1);
	}
}

/* Header - Nav top
========================================================================== */

#page-header .navbar {
	background: rgba($color-05, 0.75);
	border-bottom: 1px solid $color-04;
	@include position($type: fixed, $top: 0, $right: 0, $left: 0, $z: 999);
	text-align: center;
	padding: 10px 0;
	.wrapper {
		@include flex-flow(row wrap);
		align-items: center;
		a {
			color: $color-01;
			&:hover {
				color: $color-06;
			}
		}
		.site-logo-text {
			font-family: $font-03;
			font-size: rem(30px);
			line-height: 1;
			@include sizing(0, 0);
			overflow: hidden;
			@include toggle-content(hide, $transition: true);
		}
		.user-menu {
			margin: 0 -10px 0 auto;
		}
		.image-wrap {
			@include sizing(30px, 30px);
			border: 2px solid $color-04;
		}
		& > ul {
			margin: 0 -10px;
			& > li {
				padding: 0 10px;
				&, .user-name, .user-avatar {
					@include inline-block(middle);
				}
				.icon.fa-thumbs-o-up {
					font-size: 0;
					& + span {
						margin: 0;
					}
				}
				& > .icon {
					@include sizing(20px, 20px);
					margin: 0 0 0 10px;
					&.fa-chevron-down {
						// Setting the variable here to use multiple transitions
						$transform: color 0.3s ease-in-out, transform 0.8s ease-in-out;
						@include transition($transform);
						transform: rotate(0deg);
					}
					&:hover {
						color: $color-06;
					}
				}
				.dropdown {
					top: 34px;
					&.notification_list {
						top: 35px;
					}
					.dropdown-contents {
						font-size: rem($global-font-size);
					}
				}
				&.dropdown-user-info .dropdown {
					top: 40px;
				}
				&.dropdown-visible > .icon.fa-chevron-down {
					transform: rotate(180deg);
				}
				&.guest-info a {
					color: $color-06;
					&:hover {
						color: $color-01;
					}
				}
				.user-avatar {
					margin: 0 0 0 10px;
					.image-wrap {
						border-radius: 100%;
					}
				}
				.linked-account-title {
					margin: 7px 0 0 0;
					padding: 10px 0 3px 0;
					border-top: 1px dashed $color-04;
				}
				.linked-account {
					.image-wrap, .username-coloured {
						@include inline-block(middle);
					}
					.image-wrap {
						@include sizing(20px, 20px);
						border-width: 1px;
						margin: 0 5px 0 0;
					}
				}
			}
		}
	}
	&.sticky {
		background: rgba($color-05, 1.0);
		.wrapper .site-logo-text {
			margin: 0 20px 0 0;
			@include toggle-content(show);
			overflow: visible;
			@include sizing(auto, auto);
		}
	}
}

/* Header - Nav top - Search Box
========================================================================== */

#page-header .navbar .wrapper > ul > li.dropdown-container .search-box {
	min-width: 400px;
	@include position($left: -150%);
}

/* Notifications
   Note: Header area only. UCP notifications in cp.scss
========================================================================== */

#notification_list {
	min-width: 450px;
	&, .dropdown-contents {
		padding: 0;
	}
	.header, .footer, ul li {
		padding: 10px 20px;
	}
	.header, .footer {
		background: $color-04;
		font-size: rem(15px);
	}
	.header .header_settings, ul li {
		font-size: rem(13px);
	}
	.header {
		padding-right: 170px;
		position: relative;
		.header_settings {
			@include position($type: absolute, $top: 14px, $right: 20px);
			font-variant: normal;
		}
	}
	.footer {
		text-align: center;
	}
	.dropdown-contents {
		max-height: none;
		overflow: visible;
	}
	ul {
		margin: 0;
		max-height: 295px;
		overflow-y: auto;
		li {
			position: relative;
			border-bottom: 1px dashed $color-04;
			&:last-child {
				border-bottom: 0;
			}
			.notification-block {
				@include clearfix('&');
				display: block;
				.image-wrap {
					margin: 0 10px 0 0;
					float: left;
				}
				.notification_text {
					overflow: hidden;
					padding: 0 25px 0 0;
					p {
						display: inline;
					}
					.notification-time {
						&:before {
							content: ' on ';
						}
						&:after {
							content: '.';
						}
					}
				}
			}
			.icon-mark {
				display: block;
				@include position($type: absolute, $top: 10px, $right: 16px, $z: 2);
			}
		}
	}
}

/* Page welcome
========================================================================== */

#page-welcome {
	font-size: rem(13px);
	.site-callouts {
		order: -1;
		.introduction:first-line {
			@include spectral-common;
			font-size: rem(17px);
			line-height: 1.3;
		}
		.flex-row .flex-column ul {
			margin: 0 0 20px 14px;
		}
	}
	.user-profile {
		text-align: center;
		.date-and-time {
			display: none;
		}
		.user-avatar {
			max-width: 150px;
			margin: -75px auto 20px auto;
		}
		h5, p {
			margin: 0 0 10px 0
		}
		p {
			font-size: rem($global-font-size);
			&:last-child, &:nth-last-child(2) {
				margin-bottom: 20px;
			}
		}
		.welcome-header {
			font-family: $font-03;
			font-variant: normal;
			font-size: rem(40px);
		}
		.guest-register {
			color: $color-06;
			&:hover {
				color: $color-07;
			}
		}
	}
	.user-buttons {
		text-align: center;
		@include flex-flow(row wrap);
		margin: 0 (-$ffs-half) $ffs-minus (-$ffs-half);
		& > li {
			@include flex(adapt);
			&.toggle {
				display: none;
				a {
					cursor: pointer;
				}
			}
			& > a {
				display: block;
				margin: 0 $ffs-half $ffs $ffs-half;
				padding-left: 10px;
				padding-right: 10px;
				min-width: 80px;
				font-size: rem($global-font-size);
			}
		}
	}
}

/* Badge
========================================================================== */

.badge {
	display: inline-block;
	@include sizing(20px, 20px);
	line-height: 21px;
	background-color: $color-11;
	border-radius: 100%;
	text-align: center;
	font-weight: normal;
	font-size: rem(11px);
	margin: 0 0 0 10px;
	.fa-plus {
		font-size: rem(10px);
	}
}

a:hover .badge {
	color: $color-01;
}

/* Featured Content
========================================================================== */

#featured-content {
	margin: 0 0 10px 0;
	.featured-title {
		text-align: center;
		margin: 0 -5px 20px -5px;
		.icon {
			margin: 0 5px;
			@include position($type: relative, $top: -2.5px);
		}
	}
	.flex-row {
		align-items: center;
		margin-bottom: 20px;
		.flex-column {
			margin: 0 0 10px 0;
			a {
				display: block;
				border: 10px solid rgba($color-02, 0.30);
				overflow: hidden;
				color: $color-01;
				&:hover {
					color: $color-07;
					img {
						transform: scale(1.3,1.3);
					}
				}
			}
			p {
				@include position($type: absolute, $bottom: 0, $left: 0, $right: 0);
				padding: 0 10px;
				margin: 0;
				height: 30px;
				line-height: 30px;
				@include ellipsis;
				background: rgba($color-02, 0.60);
				text-align: center;
			}
			.featured-content {
				position: relative;
			}
			.image-wrap {
				@include sizing(100%, 0);
				padding: 0 0 55% 0;
				img {
					margin: -25% 0 0 0;
					width: 100%;
					@include transition(transform 0.5s ease-in-out);
				}
			}
		}
	}
}

/* Mobile Button & Menu
========================================================================== */

.mobile-menu-button, #mobile-menu {
	display: none;
}

.mobile-menu-button {
	cursor: pointer;
	padding: 0 20px;
	.mobile-menu-icon, .mobile-menu-text {
		@include inline-block(middle);
	}
	.mobile-menu-text {
		font-size: rem(16px);
	}
	.mobile-menu-icon {
		@include sizing(25px, 20px);
		margin: 0 5px 0 0;
		position: relative;
		.lines {
			position: relative;
			display: block;
			@include sizing(100%, 100%);
			.line, &:before, &:after {
				display: block;
				@include sizing(100%, 4px);
				background: $color-01;
				@include position($type: absolute, $left: 0);
			}
			&:before, &:after {
				content: '';
			}
			.line {
				top: 0;
			}
			&:before {
				top: 8px;
			}
			&:after {
				top: 16px;
			}
		}
	}
}

#mobile-menu {
	background: $color-04;
	border-right: 1px solid mix($color-02, $color-04, 25%);
	@include position($type: fixed, $top: 0, $left: -($mobile-menu-width + 300), $z: 9999);
	@include sizing($mobile-menu-width, 100%);
	@include transition(left 0.3s ease-in-out);
	&.show {
		left: 0;
		box-shadow: 7px 0 5px -2px rgba($color-02, 0.35);
	}
	.mobile-menu-header .fa-times, ul .dropdown-container > .icon {
		text-align: center;
		cursor: pointer;
	}
	.mobile-menu-header {
		position: relative;
		border-bottom: 1px solid mix($color-02, $color-04, 25%);
		padding: 0 10px;
		.mobile-header, .fa-times {
			line-height: 50px;
		}
		.mobile-header {
			font-size: rem(24px);
			@include spectral-common;
		}
		.fa-times {
			@include sizing(50px, 50px);
			@include position($type: absolute, $top: 0, $right: 0);
			font-size: rem(25px);
			margin: 0;
		}
	}
	ul {
		margin: 0;
		li {
			border-top: 1px solid mix($color-01, $color-04, 05%);
			border-bottom: 1px solid mix($color-02, $color-04, 25%);
			a {
				color: $color-01;
				display: block;
				padding: 10px;
				font-size: rem(16px);
			}
			&:last-child:after {
				content: '';
				display: block;
				@include sizing(100%, 1px);
				border-bottom: 1px solid mix($color-01, $color-04, 05%);
			}
		}
	}
	& > ul {
		li {
			@include position($type: relative, $left: 0);
			@include transition(left 0.5s ease-in-out);
		}
		.dropdown-container {
			& > a {
				padding-right: 70px;
			}
			& > .fa-chevron-down {
				display: none;
			}
			& > .fa-chevron-right {
				@include sizing(50px, 100%);
				max-height: 44px;
				line-height: 44px;
				@include position($type: absolute, $top: 0, $right: 0, $z: 10);
				@include transition(all 0.5s ease-in-out);
			  	font-size: rem(20px);
				&:before {
					content: unicode($icon-chevron-right);
				}
			}
			.dropdown {
				width: 100%;
				min-width: 0;
				margin: 1px 0 0 0 !important;
				padding: 0;
				border: 0;
				background: none;
				@include position($type: absolute, $left: -($mobile-menu-width + 300));
				@include transition(left 0.5s ease-in-out);
				.dropdown-contents {
					max-height: none;
					overflow: visible;
				}
				&#search-box {
					padding: 20px 20px 20px 10px;
				}
			}
			&.dropdown-open {
				background: mix($color-02, $color-04, 25%);
				border-top: 1px solid transparent;
				& > a {
					font-weight: bold;
				}
				& > .icon {
					transform: rotate(-180deg);
				}
				.dropdown {
					@include position($top: auto, $left: 0, $z: 2);
					visibility: visible;
				    opacity: 1;
				}
			}
			&.dropdown-close > * {
				display: none;
			}
		}
		.dropdown-close {
			left: -($mobile-menu-width + 300);
			height: 0;
			overflow: hidden;
			padding: 0;
			border: 0;
		}
	}
}
