/* Layout
========================================================================== */

.wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
}

.row {
	@include flex-flow(row wrap);
	.column {
		@include flex(base);
	}
	&.row-10 {
		margin: 0 -10px;
		.column {
			padding: 0 10px;
		}
	}
	&.row-20 {
		margin: 0 -20px;
		.column {
			padding: 0 20px;
		}
	}
}

/* Dropdown
========================================================================== */

.dropdown-container {
	position: relative;
	.dropdown-toggle {
		cursor: pointer;
	}
	.dropdown {
		opacity: 0;
		@include transition(opacity 0.5s ease-in-out);
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		margin: 0 !important;
		padding: 10px 20px;
		.dropdown-contents {
			list-style: none;
			margin: 0 0 -3px 0;
			min-width: 100px;
			li a {
				display: block;
				padding: 0 0 3px 0;
				white-space: nowrap; 
			}
		}
	}
	&.dropdown-visible .dropdown {
		opacity: 1;
		z-index: 2;
	}
}
