/* General layout
========================================================================== */

.wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
}

.flex-row {
	@include flex-flow(row wrap);
	.flex-column {
		@include flex(base);
	}
	&.flex-row-10 {
		margin: 0 -10px;
		.flex-column {
			padding: 0 10px;
		}
	}
	&.flex-row-20 {
		margin: 0 -20px;
		.flex-column {
			padding: 0 20px;
		}
	}
}

.image-wrap {
	line-height: 0;
	overflow: hidden;
}

/* Browser Upgrade / Browse Happy
========================================================================== */

.browserupgrade {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background: $color-09;
	border-bottom: 2px solid $color-09 - #333;
	padding: 20px;
	color: $color-08;
	text-align: center;
//	font-size: rem(18px);
	a {
		color: $color-07;
		font-weight: bold;
		&:hover {
			color: $color-08;
		}
	}
}

/* Dropdown
========================================================================== */

.dropdown-container {
	position: relative;
	.dropdown-toggle {
		cursor: pointer;
	}	
	.pointer {
		display: none;
	}
	.dropdown {
		visibility: hidden;
		opacity: 0;
		@include transition(opacity 0.5s ease-in-out);
		display: block !important;
		min-width: 150px;
		position: absolute;
		top: 3em;
		left: 0;
		z-index: -1;
		margin: 0 !important;
		padding: 20px;
		text-align: left;
		background: $color-05;
		border: 1px solid $color-03;	
		.dropdown-contents {
			list-style: none;
			margin: 0 0 -3px 0;			
			max-height: 300px;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 0 20px 0 0;
			&, .icon {
//				font-size: rem(15px);
			}
			a {
				color: $color-01;
				&:hover {
					color: $color-06;
				}				
			}
			& > li > a {
				display: block;
				padding: 0 0 3px 0; 
				white-space: nowrap;				
			}
			&.dropdown-nonscroll {
				max-height: none;
				overflow: visible;
				padding: 0;
			}
		}
 	}
	&.dropdown-up .dropdown {
		top: auto;
		bottom: 3em;
	} 	
	&.dropdown-left .dropdown {
		left: auto;
		right: 0;
	}	
	&.dropdown-visible .dropdown {
		visibility: visible;
		opacity: 1;
		z-index: 2;
	} 		
}

/* Loading Indicator
========================================================================== */

.loading_indicator {
	background: rgba($color-02, 0.65) url($images + 'loading.gif') center center no-repeat;
	border-radius: 5px;
	display: none;
	margin-top: -50px;
	margin-left: -50px;
	@include sizing(50px, 50px);
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 51;	
}

/* Breadcrumbs
========================================================================== */

#nav-breadcrumbs {
	margin: 0 0 20px 0;
	ul {
		list-style: none;
		margin: 0 -2.5px;
		padding: 0 150px 0 0;
		li {
			@include inline-block(middle);
			padding: 0 2.5px;
			span {
				margin: 0;
			}
			.icon {
				margin: 0 5px 0 0;
			}
			.fa-chevron-right {
//				font-size: rem(12px);
			}
		}
	}
}

/* Main Boxes (Inner)
========================================================================== */

#page-welcome, .forabg, .forumbg, .panel {
	.inner {
		padding: 20px 20px 0 20px;
		background: rgba($color-02, 0.20);
		border: 1px solid $color-04;
		box-shadow: 3px 3px 6px rgba($color-02, 0.30);	
		margin: 0 0 30px 0;	
	}
}

/* Page welcome
========================================================================== */

#page-welcome {
//	font-size: rem(15px);
	.introduction {
		p:first-child:first-line {
			font-family: $font-02;
			font-variant: small-caps;
//			font-size: rem(18px);
			line-height: 1.3;
		}
	}
	.user-information {
		position: relative;	
		&:before {
			content: '';
			display: block;			
			@include sizing(90px, 100px);
			float: right;
		}
		ul {
			list-style: none;			
		}		
		.user-avatar {
			position: absolute;
			right: -65px;
			top: -65px;		
			border-radius: 100%;
			border: 5px solid $color-04;
			box-shadow: 2px 2px 4px rgba($color-02, 0.30);
			overflow: hidden;
			width: 150px;
			.image-wrap {
				height: 0;	
				padding: 0 0 100% 0;				
			}
		}
		.welcome-buttons {
			clear: both;
			text-align: center;
			@include flex-flow(row wrap);
			margin: 0 -2.5px 15px -2.5px;
			& > li {
				width: 50%;
				@include flex(grow);
				& > a {
					display: block;
					margin: 0 2.5px 5px 2.5px;
				}				
			}																														
		}
	}
}

/* Badge
========================================================================== */

.badge {
	background-color: $color-11;
	color: $color-01;
	border-radius: 3px;
	text-align: center;
	font-weight: normal;
	display: inline-block;
	text-shadow: none;
	padding: 0 5px;
	margin: 0 0 0 5px;
	height: 20px;
	line-height: 20px;
	&.hidden {
		display: none;
	}
}

/* Notifications
========================================================================== */

#notification_list {
	min-width: 450px;
	.dropdown-contents {
		margin: 40px 0 0 0;
	}
	.header {
		font-family: $font-02;
		font-variant: small-caps;
//		font-size: rem(20px);
		background: $color-04;
		padding: 0 150px 0 10px;
		height: 40px;
		line-height: 40px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		&, .header_settings {
			position: absolute;
		}
		.header_settings {
			right: 10px;
			top: 0;			
			font-family: $font-01;
			font-variant: none;
//			font-size: rem(14px);
		}
	}
	ul {
		margin: 0;
		li {
			position: relative;
			padding: 0 0 10px 0;
			margin: 0 0 10px 0;
			border-bottom: 1px solid $color-03;
			.notification-block {
				@include flex-flow(row nowrap);				
				img {
					flex: 0 0 auto;
					max-width: 50px;
					max-height: 50px;
					border: 1px solid $color-03;
				}
				.notification_text {
					@include flex(base);
					margin: 0 0 0 10px;
					p {
						margin: 0 0 2px 0;
						&:last-child {
							margin: 0;
						}
					}
					.notification-time {
						text-align: right;
//						font-size: rem(13px);
					}
				}
			}
			.icon-mark {
				display: none;
				position: absolute;
				top: 2px;
				right: 2px;
				z-index: 2;
				color: $color-06;
				text-align: center;		
				.icon {
//					font-size: rem(16px);
				}
			}
			&:hover .icon-mark {
				display: block;
			}
		}
	}
	.footer {
		text-align: center;
	}
}

/* Action Bar
========================================================================== */

.action-bar {
	margin: 0 0 10px 0;
}