/* General layout
========================================================================== */

.wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
}

.flex-row {
	@include flex-flow(row wrap);
	.flex-column {
		@include flex(base);
	}
	&.flex-row-10 {
		margin: 0 -10px;
		.flex-column {
			padding: 0 10px;
		}
	}
	&.flex-row-20 {
		margin: 0 -20px;
		.flex-column {
			padding: 0 20px;
		}
	}
}

.column1, .column2 {
	width: 50%;
}

.column1 {
	float: left;
	clear: left;
	padding: 0 10px 0 0;
}

.column2 {
	float: right;
	clear: right;
	padding: 0 0 0 10px;
}

.image-wrap {
	line-height: 0;
	overflow: hidden;
}

/* Browser Upgrade / Browse Happy
========================================================================== */

.browserupgrade {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background: $color-09;
	border-bottom: 2px solid $color-09 - #333;
	padding: 20px;
	color: $color-08;
	text-align: center;
	a {
		color: $color-07;
		&:hover {
			color: $color-08;
		}
	}
}

/* Dropdown
========================================================================== */

.dropdown-container {
	position: relative;
	.dropdown-toggle {
		cursor: pointer;
	}
	.pointer {
		display: none;
	}
	.dropdown {
		visibility: hidden;
		opacity: 0;
		@include transition(opacity 0.5s ease-in-out);
		display: block !important;
		min-width: 160px;
		position: absolute;
		top: em(50px);
		left: -999px;
		z-index: -1;
		margin: 0 !important;
		padding: 20px;
		text-align: left;
		background: $color-05;
		border: 1px solid $color-03;
		.dropdown-contents {
			list-style: none;
			margin: 0 0 -3px 0;
			max-height: 300px;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 0 20px 0 0;
			font-size: rem(13px);
			a {
				color: $color-01;
				&:hover {
					color: $color-06;
				}
			}
			& > li > a {
				display: block;
				padding: 0 0 3px 0;
				white-space: nowrap;
			}
			&.dropdown-nonscroll {
				max-height: none;
				overflow: visible;
				padding: 0;
			}
		}
 	}
	&.dropdown-visible .dropdown {
		visibility: visible;
		opacity: 1;
		z-index: 2;
		left: 0;
	}
	&.dropdown-up .dropdown {
		top: auto;
		bottom: em(50px);
	}
	&.dropdown-left.dropdown-visible .dropdown {
		left: auto;
		right: 0;
	}
}

/* Loading Indicator
========================================================================== */

.loading_indicator {
	background: rgba($color-02, 0.65) url($images + 'loading.gif') center center no-repeat;
	border-radius: 5px;
	display: none;
	margin-top: -50px;
	margin-left: -50px;
	@include sizing(50px, 50px);
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 51;
}

/* Breadcrumbs
========================================================================== */

#nav-breadcrumbs {
	margin: 0 0 30px 0;
	ul {
		list-style: none;
		margin: 0 -2.5px;
		li {
			padding: 1.5px 2.5px;
			&, a {
				@include inline-block(middle);
			}
			span {
				margin: 0;
			}
			a {
				white-space: nowrap;
			    text-overflow: ellipsis;
			    vertical-align: bottom;
			    overflow: hidden;
			}
			.icon {
				margin: 0 5px 0 0;
			}
			.fa-chevron-right {
				font-size: rem(13px);
			}
			&.wrapped-max a {
				max-width: 120px;
			}
			&.wrapped-wide a {
				max-width: 100px;
			}
			&.wrapped-medium a {
				max-width: 80px;
			}
			&.wrapped-small a {
				max-width: 60px;
			}
			&.wrapped-tiny a {
				max-width: 40px;
			}
		}
	}
}

/* Main Boxes (Inner)
========================================================================== */

.forabg, .forumbg, .post, .panel {
	border: 20px solid rgba($color-02, 0.30);
	.inner {
		background: rgba($color-02, 0.20);
		margin: 1px;
		padding: 20px 20px 0 20px;
	}
}

.forabg, .panel {
	margin: 0 0 $main-margin 0;
}

.post, .topicreview, .forumbg, #qr_postform .panel, #agreement .panel, .topic_poll .panel {
	margin: 0 0 20px 0;
}

.panel .panel, .panel .post {
	border: 0;
	margin: 0;
	.inner {
		@include reset-inner;
	}
}

/* Pagination
========================================================================== */

.pagination {
	ul {
		margin: 0 -5px;
		list-style: none;
		@include inline-block(bottom);
		li {
			@include inline-block(middle);
			&.active span, a {
				padding: 0 5px;
			}
			&.active span {
				display: inline-block;
				color: $color-06;
				font-weight: bold;
			}
			a {
				background: none;
				border-radius: 0;
				color: $color-01;
				.icon {
					font-size: rem(13px);
					width: auto;
				}
				&, & .icon {
					@include transition(color 0.3s ease-in-out);
					&:hover {
						color: $color-06;
						background: none;
					}
				}
			}
		}
	}
}

/* Page Jump
========================================================================== */

.page-jump .dropdown {
	top: em(30px);
	.page-jump-form {
		input[type='number'].inputbox, .button2 {
			width: 100%;
		}
		input[type='number'].inputbox {
			margin: 10px 0;
		}
	}
}

/* Action Bar
========================================================================== */

.action-bar {
	margin: -10px -5px 20px -5px;
	@include flex-flow(row wrap);
	align-items: center;
	border: 1px solid red;
	& > * {
		margin: 10px 5px 0 5px;
		@include flex;
	}
	& > .dropdown-container, & > form, & > a:not(.button) {
		display: inline-block;
	}
	.pagination, .jumpbox {
		@include flex(base);
		text-align: right;
	}
	.pagination ul {
		padding-left: 10px;
	}
	&.bar-top .search-box {
		flex: 0 0 300px;
	}
	&.actions-jump {
		margin-top: 20px;
		margin-bottom: $main-margin;
		.jumpbox-return .icon {
			width: auto;
			margin: 0 5px 0 0;
		}
		& > br {
			display: none;
		}
	}
}

/* Jumpbox
========================================================================== */

.jumpbox .dropdown .dropdown-contents li {
	.jumpbox-cat-link {
		padding: 0 0 10px 0;
		margin: 10px 0;
		border-bottom: 1px dashed $color-03;
		font-weight: bold;
	}
	&:first-child .jumpbox-cat-link {
		margin: 0 0 10px 0;
	}
}

/* Sort Tools
========================================================================== */

.sort-tools .dropdown .display-options {
	label {
		position: relative;
		padding: 0 130px 0 0;
		margin: 0 0 10px 0;
		height: 40px;
		line-height: 40px;
		select {
			position: absolute;
			top: 0;
			right: 0;
			width: 120px;
			margin: 0;
		}
	}
	.button2 {
		width: 100%;
	}
}

/* Caret
   Note: Used on drop down menus buttons
========================================================================== */

.caret {
	border-left: 1px solid $color-01;
	padding: 0 0 0 5px;
	line-height: 1;
	font-size: rem(16px);
	.icon {
		position: relative;
		top: -2px;
	}
}

.jumpbox .caret {
	margin: 0 0 0 5px;
}

.dropdown-visible .caret .icon {
	transform: rotate(-180deg);
	top: 5px;
}

/* Contact Icons
   Note: User profile on viewtopic and viewpm
========================================================================== */

.contact-icons {
	a {
		@include inline-block(middle);
		@include sizing(20px, 20px);
		line-height: 20px;
		margin: 0 2.5px 5px 2.5px;
		text-align: center;
		.contact-icon {
			@include font-awesome;
			font-size: 0;
			&:before {
				font-size: rem(14px);
			}
			&.pm-icon:before {
				content: unicode($icon-inbox);
			}
			&.email-icon:before {
				content: unicode($icon-envelope);
			}
			&.phpbb_website-icon:before {
				content: unicode($icon-world);
			}
			&.phpbb_yahoo-icon:before {
				content: unicode($icon-yahoo);
			}
			&.phpbb_facebook-icon:before {
				content: unicode($icon-facebook);
			}
			&.phpbb_twitter-icon:before {
				content: unicode($icon-twitter);
			}
			&.phpbb_skype-icon:before {
				content: unicode($icon-skype);
			}
			&.phpbb_youtube-icon:before {
				content: unicode($icon-youtube);
			}
			&.phpbb_googleplus-icon:before {
				content: unicode($icon-gplus);
			}
			&.phpbb_wlm-icon:before {
				content: unicode($icon-windows);
			}
			&.jabber-icon, &.phpbb_aol-icon, &.phpbb_icq-icon {
				&:before {
					content: unicode($icon-heart);
				}
			}
		}
	}
}

/* Stat Blocks
========================================================================== */

.stat-block {
	margin: 0 0 $main-margin 0;
	h3 {
		margin: 0 0 10px 0;
	}
}

/* Online
========================================================================== */

.online {
	position: relative;
	&:before, &:after {
		display: block;
		position: absolute;
		z-index: 10;
	}
	&:before {
		content: '\f004\0000A0\0000A0 Online';
		@include sizing(80px, 0);
		font-family: 'FontAwesome', $font-01;
		font-size: rem(14px);
		border-right: 8px inset transparent;
		border-bottom: 12px solid $color-10;
		border-top: 12px solid $color-10;
		line-height: 0;
		padding: 0 10px;
		text-align: center;
	}
	&:after {
		content: '';
		@include sizing(0, 0);
		border-left: 12px inset transparent;
		border-top: 8px solid mix(black, $color-10, 35%);
	}
}

.section-viewtopic .post.online {
	&:before, &:after {
		left: -12px;
	}
	&:before {
		top: 20px;
	}
	&:after {
		top: 44px;
	}
}

.pm.post.online {
	&:before, &:after {
		left: -12px;
	}
	&:before {
		top: 15px;
	}
	&:after {
		top: 39px;
	}
}

#viewprofile .panel.online {
	&:before, &:after {
		left: -11px;
	}
	&:before {
		top: 15px;
	}
	&:after {
		top: 39px;
	}
}

/* Notice & Error
========================================================================== */

.notice, .error {
	margin: 0 0 20px 0;
}

.notice {
	font-size: rem(13px);
	&:before {
		content: 'Note:';
		font-weight: bold;
	}
}

.error {
	font-weight: bold;
}

/* Tabs & Minitabs
========================================================================== */

.tabs, .minitabs {
	& > ul {
		list-style: none;
		margin: 0;
		@include flex-flow(row wrap);
		align-items: flex-end;
		& > .tab {
			margin: 0 2px 0 0;
			&:last-child {
				margin: 0;
			}
			& > a {
				display: block;
				white-space: nowrap;
				padding: 5px 10px;
				color: $color-01;
				background: $color-10;
				@include transition(background 0.3s ease-in-out);
			}
			& > a:hover, &.activetab > a {
				background: $color-04;
			}
			&.activetab > a, &.responsive-tab > .responsive-tab-link {
				padding: 7px 12px;
				font-weight: bold;
			}
			&.responsive-tab > .responsive-tab-link {
				font-size: 0;
			}
		}
	}
}

.tabs > ul > .tab > a {
	border-radius: 3px 3px 0 0;
}

.minitabs > ul > .tab > a {
	border-radius: 3px;
	font-size: rem(13px);
}

.responsive-tab {
	position: relative;
	& > .responsive-tab-link {
		&:before, &:after {
			content: '';
			display: block;
			@include sizing(16px, 2px);
		}
		&:before {
			border-bottom: 2px solid $color-01;
			border-top: 2px solid $color-01;
		}
		&:after {
			border-bottom: 2px solid $color-01;
		}
	}
	.dropdown {
		top: 24px;
	}
}

/* Details
========================================================================== */

dl.details {
	@include clearfix('&');
	margin: 0 -10px 15px -10px;
	dt, dd {
		padding: 0 10px;
		margin: 0 0 5px 0;
	}
	dt {
		float: left;
		width: 200px;
	}
	dd {
		margin-left: 200px;
	}
}
