// Also includes functions in addition to mixins

// Clearfix
@mixin clearfix($selector) {
	#{$selector}:before, #{$selector}:after {
		content: '';
		display: table;
		zoom: 1;
	}
	#{$selector}:after {
		clear: both;
	}
}

// PX to EM conversion
// From https://css-tricks.com/snippets/sass/px-to-em-functions
@function em($pixels, $context: $base-font-size) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1em;
}

// PX to REM conversion
// Modified from https://css-tricks.com/snippets/sass/px-to-em-functions
@function rem($pixels, $context: $base-font-size) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

// Set flex flow property
// flex: grow - shrink - basis
@mixin flex($type: '') {
	@if $type == grow {
		flex: 1 0 auto;
	} @else if $type == base {
		flex: 1 1 0%;
	} @else if $type == full {
		flex: 1 1 100%;
	} @else if $type == max {
		flex: 0 0 auto;
	} @else if $type == adapt {
		flex: 1 1 auto;
	} @else {
		flex: 0 1 auto;
	}
}

// Flex flow
@mixin flex-flow($flow) {
	display: flex;
	flex-flow: $flow;
}

// Flex flow inline
@mixin flex-flow-inline($flow) {
	display: inline-flex;
	flex-flow: $flow;
}

// Responsive reset for flex
@mixin flex-reset($selector) {
	display: block;
	#{$selector} {
		width: auto;
	}
}

// FontAwesome properties
@mixin font-awesome {
	display: inline-block;
  	font-weight: normal;
  	font-style: normal;
  	font-variant: normal;
  	font-family: 'FontAwesome';
  	line-height: 1;
  	text-rendering: auto; /* optimizelegibility throws things off #1094 */
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

// Inline block
@mixin inline-block($vertical-align) {
	display: inline-block;
	vertical-align: $vertical-align;
}

// Placeholder
// Examples: @include placeholder {}, :focus{@include placeholder {}}, or input {@include placeholder {}}
@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}
}

// Quote characters
@mixin quotes {
	font-size: rem(30px);
	@include inline-block(middle);
	@include sizing(12px, 12px);
	line-height: 1.2;
}

@mixin reset-inner {
	background: none;
	margin: 0;
	padding: 0;
}

// Responsive max-width media query
@mixin respond($breakpoint) {
	@media only screen and (max-width: $breakpoint) {
		@content;
	}
}

// Sizing for elements
@mixin sizing($width, $height) {
	width: $width;
	height: $height;
}

// Smaller sized form elements
@mixin small-form-ele($padding: 5px 10px, $lh: '') {
	padding: $padding;
	@if ($lh != false) {
		line-height: 1;
	}
}

// Sortable headers
@mixin sortable-headers {
	a {
		color: $color-01;
		&:hover {
			color: $color-06;
		}
		&[href*='mode=']:after {
			@include font-awesome;
			margin: 0 0 0 10px;
			position: relative;
		}
		&[href*='mode='][href*='sd=d']:after {
			content: unicode($icon-sort-desc);
			top: -2px;
		}
		&[href*='mode='][href*='sd=a']:after {
			content: unicode($icon-sort-asc);
			top: 4px;
		}
	}
}

// Common spectral font styles
@mixin spectral-common {
	font-family: $font-02;
	font-variant: small-caps;
}

// Transition
@mixin transition($value) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
	transition: $value;
}

// Scrollable ucp containers
@mixin scrollable {
	overflow: visible !important;
	.scrollable-wrapper {
		max-height: 380px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0 20px 0 0;
	}
	&[style*='max-height'][style*='none'] {
		.scrollable-wrapper {
			max-height: none;
			overflow: visible;
			padding: 0;
		}
	}
}

// Unicode mixin
// Mostly for making sure icons output correctly
// https://github.com/sass/sass/issues/1395#issuecomment-65548751
@function unicode($str){
    @return unquote("\'") + $str + unquote("\'");
}
