/* Forum FAQ
========================================================================== */

dl.faq dt, dl.faq + .top, #faqlinks dl.faq dd {
	margin: 0 0 5px 0;
}

dl.faq + .top {
	display: inline-block;
	@include position($type: relative, $top: -15px, $left: -2px);
}

#faqlinks dl.faq dd:last-child {
	margin-bottom: 0;
}

/* Search Page
========================================================================== */

.section-search form[data-focus='keywords'] fieldset dl dd {
	#sk, #st, select[name='ch'] {
		max-width: 50%;
	}
	select[name='ch'] {
		margin-right: $ffs;
	}
}

/* Search Results
========================================================================== */

.section-search {
	.searchresults-title ~ .advanced-search-link {
		.icon {
			width: auto;
			margin: 0 5px 0 0;
		}
	}
	.post {
		.postprofile dt a[class*='username'] {
			display: inline;
		}
		.postbody {
			.posthilit {
				background: $color-09;
				color: $color-08;
				padding: 2.5px 5px;
			}
			h3 .posthilit {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		ul.searchresults li {
			direction: rtl;
			a {
				span {
					margin: 0 10px 0 0;
				}
				.icon {
					width: auto;
				}
			}
		}
	}
}

/* Memberlist
========================================================================== */

#memberlist_search {
	h2, #search_memberlist {
		background: rgba($color-02, 0.20);
	}
	h2 {
		margin: 1px 1px 0 1px;
		padding: 20px;
	}
	#search_memberlist {
		margin: 0 1px 1px 1px;
		padding: 0 20px;
	}
}

#search_memberlist .dropdown-container .dropdown.live-search {
	&[style*='block'] {
		visibility: visible;
		opacity: 1;
		@include position($top: 45px, $left: -1px, $z: 2);
	}
	.dropdown-contents.search-results li .search-result {
		cursor: pointer;
		display: block;
		padding: 0 0 3px 0;
	}
}

.member-search.panel {
	border: 0;
	strong {
		font-weight: normal;
	}
}

/* View Profile
========================================================================== */

#viewprofile {
	.profile-tabs ul li a {
		cursor: pointer;
	}
	.tab-panel {
		&.show-panel {
			display: block;
		}
		&.hide-panel {
			display: none;
		}
	}
	.profile-panel {
		position: relative;
		.inner {
			@include flex-flow(row nowrap);
			.postprofile {
			    flex: 0 0 231px;
				margin: 0 20px 20px 0;
				padding: 0 20px 0 0;
			}
			.profile-details {
				@include flex(base);
				.group-options select {
					width: auto;
					margin-bottom: 0;
					min-width: 50%;
				}
				.zebra a i {
					color: $color-01;
					font-size: rem(16px);
					margin: 0 5px 0 0;
					@include position($type: relative, $top: 1px);
				}
				.level, .stats {
					height: 70px;
					overflow: hidden;
				}
			}
		}
	}
	.user-contact .contact-icons {
		margin: 0 -5px 10px -5px;
		a {
			color: $color-01;
			&:hover {
				color: $color-06;
			}
			.contact-icon:before {
				font-size: rem(20px);
			}
		}
	}
	.user-stats dl.details dd {
		br {
			display: none;
		}
		strong a {
			display: inline-block;
			margin: 0 10px 0 0;
		}
	}
	.panel .signature {
		margin-top: 20px;
		padding-top: 20px;
	}
}

/* Pop Up - Find member, etc...
========================================================================== */

.popup-wrap {
	padding: 30px;
	.memberlist a[class*='username'] {
		margin: 0 5px 0 0;
		& + br {
			display: none;
		}
	}
	.copyright {
		text-align: center;
		font-size: rem(13px);
	}
	.page-body > a[onclick*='window.close'] {
		@include position($type: absolute, $top: 30px, $right: 30px);
	}
}

/* Who Is Online
========================================================================== */

.section-viewonline {
	.viewonline-title + p, .forumbg + p,
	.action-bar.bar-top, .action-bar.bar-bottom {
		float: left;
		width: 50%;
	}
	.viewonline-title + p, .forumbg + p {
		padding-right: 5px;
	}
	.action-bar.bar-top, .action-bar.bar-bottom {
		padding-left: 5px;
	}
	.forumbg, .action-bar.actions-jump {
		clear: both;
	}
	table.table1 td {
		span[style*='float'] {
			float: none !important;
			display: block;
			position: relative;
			margin: 5px 0;
			&:before {
				@include position($type: absolute, $top: 0, $left: 0);
				content: 'IP:';
				font-weight: bold;
			}
			& + br {
				display: none;
			}
		}
	}
}
