/* Forum FAQ
========================================================================== */

dl.faq {
	dt {
		margin: 0 0 5px 0;
	}
	& + .top {
		display: inline-block;
		margin: 0 0 10px 0;
		position: relative;
		top: -10px;
		left: -2px;
	}
}

#faqlinks dl.faq dd {
	margin: 0 0 5px 0;
	&:last-child {
		margin: 0;
	}
}

/* Search Page
========================================================================== */

.section-search form[data-focus='keywords'] fieldset dl dd {
	#sk, #st, select[name='ch'] {
		width: 33.33%;
	}
	select[name='ch'] {
		margin-right: 5px;
	}
}

/* Search Results
========================================================================== */

.section-search {
	.searchresults-title ~ .advanced-search-link {
		.icon {
			width: auto;
			margin: 0 5px 0 0;
		}
	}
	.postprofile dt .username-coloured {
		display: inline;
	}
	.post {
		.postbody {
			.posthilit {
				background: $color-09;
				color: $color-08;
				padding: 3px 5px;
			}
			h3 .posthilit {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		ul.searchresults {
			list-style: none;
			li {
				direction: rtl;
				a {
					span {
						margin: 0 10px 0 0;
					}
					.icon {
						width: auto;
					}
				}
			}
		}
	}
}

/* Memberlist
========================================================================== */

#search_memberlist {
	.dropdown-container .dropdown.live-search {
		&[style*='block'] {
			visibility: visible;
			opacity: 1;
			z-index: 2;
			left: 0;
		}
		.dropdown-contents.search-results li .search-result {
			cursor: pointer;
			display: block;
			padding: 0 0 3px 0;
		}
	}
	fieldset.fields1 dl dd {
		@include clearfix('&');
		select:not(#search_group_id) {
			&, & + .inputbox {
				float: left;
				width: 49%;
			}
		}
		select:not(#search_group_id):first-child {
			margin-right: 1%;
		}
		select:not(#search_group_id) + .inputbox, select[name='sd'] {
			margin-left: 1%;
		}
		input[type='number'].inputbox {
			margin-right: 0;
		}
	}
}

.member-search.panel {
	padding: 0;
	background: none;
	border: 0;
	box-shadow: none;
	strong {
		font-weight: normal;
	}
}

/* View Profile
========================================================================== */

#viewprofile {
	.panel:first-child {
		&.online .left-box.profile-details:first-child {
			margin-top: 35px;
		}
		.inner {
			@include flex-flow(row nowrap);
			.left-box:not(.profile-details) {
			    flex: 0 0 231px;
				margin: 0 20px 20px 0;
				padding: 0 20px 0 0;
				border-right: 1px dashed $color-04;
				.profile-avatar {
					overflow: hidden;
					border: 5px solid $color-04;
					border-radius: 100%;
					@include sizing(100%, 0);
					padding: 0 0 95.24% 0;
					margin: 0 0 10px 0;
					& + dd {
						font-style: italic;
						font-family: $font-02;
					}
				}
			}
			.left-box.profile-details {
				@include flex(base);
				dd {
					select[name='g'] {
						width: auto;
						min-width: 33.33%;
						margin: 0 5px 0 0;
					}
					span[style*='color'] {
						@include spectral-common;
						font-size: rem(22px);
						font-weight: normal !important;
					}
				}
			}
		}
	}
	.panel .signature {
		margin-top: 20px;
		padding-top: 20px;
	}
}

/* Pop Up - Find member, etc...
========================================================================== */

.popup-wrap {
	padding: 30px;
	.memberlist .username-coloured {
		margin: 0 5px 0 0;
		& + br {
			display: none;
		}
	}
	.copyright {
		text-align: center;
		font-size: rem(13px);
	}
}

/* Quick Login
========================================================================== */

.quick-login {
	margin: 0 -2.5px 30px -2.5px;
	label, a, span, .inputbox, .button2 {
		@include inline-block(middle);
	}
	label, a, .responsive-hide, .button2 {
		margin: 0 2.5px;
	}
	.inputbox {
		width: 200px;
		margin: 0;
	}
	label {
		span {
			margin: 0 5px 0 0;
		}
		input[type='checkbox'] {
			margin: 0 0 0 5px;
		}
	}
}

/* Registration
========================================================================== */

#register {
	.panel:first-child fieldset dl:first-child dd {
		margin-left: 0;
	}
	.captcha-panel .captcha.captcha-image + dd {
		@include flex-flow(row nowrap);
		.inputbox {
			@include flex(base);
		}
		.button2 {
			@include flex;
			margin: 0 0 0 5px;
		}
	}
}
