/* NOTE: Contains styles for posting topics, PMs, and signatures
============================================== */

/* Posting Box
============================================== */

.section-posting #preview ~ #postingbox {
	margin-top: 30px;
}

#postform {
	#colour_palette {
		margin: 0 0 20px 0;
	}
	#topic_desc {
		height: 75px;
	}
	#format-buttons {
		margin: 0 (-$ffs-half) $ffs-minus (-$ffs-half);
		@include flex-flow(row wrap);
		.button, select {
			vertical-align: top;
			margin: 0 $ffs-half $ffs $ffs-half;
			order: 20;
		}
		.bbcode-hidden, .bbcode-mention, .bbcode-speech, .bbcode-text-align, .bbcode-s, .bbcode-user, .bbcode-img-align, .bbcode-first-letter, .bbcode-first-line {
			font-size: 0;
			&:before {
				line-height: 13px;
			}
		}
		.bbcode-hidden, .bbcode-mention, .bbcode-speech, .bbcode-text-align, .bbcode-s, .bbcode-user, .bbcode-img-align {
			&:before {
				content: '';
				@include icon-font($lh: false);
			}
		}
		.bbcode-b, .bbcode-i, .bbcode-u, .bbcode-s {
			order: 0;
		}
		.bbcode-s:before {
			content: unicode($icon-strikethrough);
		}
		.bbcode-h3, .bbcode-h4, .bbcode-h5, .bbcode-h6 {
			order: 1;
		}
		.bbcode-color, .bbcode-speech {
			order: 2;
		}
		.bbcode-speech:before {
			content: unicode($icon-comment);
		}
		.bbcode-size, .bbcode-text-align {
			order: 3;
			&:before {
				content: unicode($icon-align-center);
			}
		}
		.bbcode-text-align {
			order: 3;
			&:before {
				content: unicode($icon-align-center);
			}
		}
		.bbcode-first-letter, .bbcode-first-line {
			order: 4;
			&:before, &:after {
				font-size: rem(13px);
				text-transform: none;
			}
			&:before {
				font-weight: bold;
				font-style: italic;
			}
		}
		.bbcode-first-letter {
			&:before {
				content: 'A';
				padding: 0 1px 0 0;
			}
			&:after {
				content: 'bc def';
				font-size: rem(10px);
			}
		}
		.bbcode-first-line:before {
			content: 'Abc def';
			font-variant: small-caps;
		}
		.bbcode-list, .bbcode-list-, .bbcode-asterisk, .bbcode-hidden {
			order: 5;
		}
		.bbcode-hidden:before {
			content: unicode($icon-eye);
		}
		.bbcode-quote, .bbcode-mention {
			order: 6;
		}
		.bbcode-mention:before {
			content: unicode($icon-bell);
		}
		.bbcode-img, .bbcode-img-align {
			order: 7;
		}
		.bbcode-img-align:before {
			content: unicode($icon-images);
		}
		.bbcode-user:before {
			content: unicode($icon-user);
		}
	}
	#smiley-box {
		margin: 0 (-$ffs-half);
		padding: 0 0 0 20px;
		float: right;
		width: 230px;
		& > a {
			margin: 0 $ffs-half;
			&, img {
				@include inline-block(middle);
			}
		}
		.bbcode-status {
			margin: 20px 0 0 0;
		}
	}
	#message-box {
		overflow: hidden;
	}
}

/* Color Palette
============================================== */

#color_palette_placeholder table {
	max-width: 600px;
	&, tbody, tr {
		display: block;
		line-height: 0;
	}
	td {
		@include inline-block(middle);
		@include sizing(4% !important, auto !important);
		border-right: 1px solid $dark-02;
		border-bottom: 1px solid $dark-02;
		a {
			@include sizing(100% !important, 0 !important);
			padding-bottom: 100%;
			overflow: hidden;
		}
	}
}

/* Options Panel
============================================== */

#options-panel fieldset {
	margin: 0 0 20px 0;
	& > div:last-child label {
		margin: 0;
	}
	& > div:last-of-type {
		margin: 0 0 15px 0;
	}
}

/* Attach Panel
============================================== */

.attach-row-tpl {
	display: none;
}

#attach-panel {
	#attach-panel-multi {
		margin: 0 0 20px 0;
		display: none;
	}
	#file-list-container table.table1 {
		margin: 0;
		tbody tr:last-child {
			border-bottom-color: transparent;
		}
		th {
			&.attach-name {
				width: 50%;
			}
			&.attach-comment {
				width: 30%;
			}
		}
		td {
			vertical-align: middle;
			&.attach-name {
				.file-name, .attach-controls {
					@include inline-block(middle);
					position: relative;
				}
				.file-name {
					width: 39%;
				}
				.attach-controls {
					width: 59%;
					@include position($type: relative, $right: -1%);
					text-align: right;
				}
			}
			&.attach-status .file-status {
				&:before {
					@include icon-font($fs: false);
					font-size: rem(20px);
				}
				&.file-uploaded:before {
					font-family: 'Khyeras Icons';
					content: unicode($misc-check-circle);
					color: $color-04;
				}
				&.file-error:before {
					content: unicode($icon-exclamation-triangle);
					color: $color-08;
				}
				&.file-working:before {
					content: unicode($icon-spinner);
					color: $color-03;
					animation: fa-spin 2s infinite linear;
				}
			}
		}
	}
}

.nojs .file-inline-bbcode {
	display: none;
}

/* File Progress Bars (for attachments)
============================================== */

.file-progress, .file-progress .file-progress-bar,
.file-total-progress, .file-total-progress-bar {
	display: block;
}

.file-progress-bar, .file-total-progress-bar {
	@include sizing(0, 100%);
	border-radius: 3px;
}

.file-progress {
	@include sizing(100%, 10px);
}

.file-progress-bar {
	background-color: $color-05;
}

.file-total-progress {
	@include sizing(100%, 5px);
	margin: 0 0 -5px 0;
}

.file-total-progress-bar {
	background-color: $color-04;
}
