/* NOTE: Contains styles for posting topics, PMs, and signatures
========================================================================== */

/* Posting Box
========================================================================== */

#postform {
	fieldset {
		@include clearfix('&');
		dl dd label[for*='icon'] img {
			@include sizing(20px, 20px);
			position: relative;
			top: 4px;
		}
	}
	#colour_palette, #format-buttons {
		margin: 0 0 20px 0;
	}
	#colour_palette #color_palette_placeholder table tr td {
		@include sizing(16px !important, 16px !important);
	}
	#format-buttons select {
		width: auto;
		display: inline-block;
		margin: 0;
		padding: 5px 10px;			
		line-height: 1;
		font-size: rem(13px);
	}
	#smiley-box {
		margin: 0 -2.5px;
		padding: 0 0 0 20px;
		float: right;
		width: 230px;
		& > a {
			margin: 0 2.5px;
			&, img {
				@include inline-block(middle);
			}
		}
		.bbcode-status {
			margin: 20px 0 0 0;
		}
	}
	#message-box {
		overflow: hidden;
	}
}

/* Options Panel
========================================================================== */

#options-panel fieldset > div:last-of-type {
	margin: 0 0 20px 0;
}

/* Attach Panel
========================================================================== */

#attach-panel {
	#attach-panel-multi {
		margin: 0 0 20px 0;
	}
	#file-list-container table.table1 {
		.attach-name {
			width: 50%;
		}
		.attach-comment {
			width: 30%;
		}
		td {
			vertical-align: middle;
			&.attach-name {
				.file-name, .attach-controls {
					@include inline-block(middle);
					position: relative;
				}
				.file-name {
					width: 39%;
					left: -1%;
				}
				.attach-controls {
					width: 59%;
					right: -1%;
					text-align: right;
				}
			}
		}
	}
}