/* Responsive *CP navigation
----------------------------------------*/
@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	.nojs .minitabs a span {
		max-width: 40px;
		overflow: hidden;
		text-overflow: ellipsis;
		letter-spacing: -.5px;
	}
}

/* Responsive
========================================================================== */

@media (max-width: 500px) {
	dd label {
		white-space: normal;
	}

	.captcha-panel dd.captcha {
		margin-left: 0;
	}

	.captcha-panel dd.captcha-image img {
		width: 100%;
	}

	p.responsive-center {
		float: none;
		text-align: center;
		margin-bottom: 5px;
	}

	.attach-controls {
		margin-top: 5px;
		width: 100%;
	}
}

@media (max-width: 700px) {
	/* Search
	----------------------------------------*/
	.responsive-search { display: block !important; }

	.attach-comment dfn {
		width: 100%;
	}
}
