/* Profile - View Topic, PM, & Memberlist View
   Note: More specific styling like layout sizing is located in their specific sections
========================================================================== */

.postprofile {
	border-right: 1px dashed $color-04;
	dt a[class*='username'], dt span[class*='username'], dd.profile-rank {
		font-family: $font-02;
	}
	dt {
		& > strong {
			font-weight: normal;
		}
		text-align: center;
		margin: 0 0 10px 0;
		&.has-avatar .avatar-container {
			display: inline-block;
			overflow: hidden;
			border: 5px solid $color-04;
			border-radius: 100%;
			a.avatar, div.avatar {
				display: block;
				@include sizing(100%, 0);
				padding: 0 0 100% 0;
			}
		}
		a, span {
			&[class*='username'] {
				display: block;
				font-size: rem(22px);
				font-variant: small-caps;
			}
		}
	}
	dd {
		margin: 0 0 3px 0;
		&.profile-rank {
			text-align: center;
			margin: -10px 0 10px 0;
			font-style: italic;
		}
		&.profile-contact {
			position: relative;
			.dropdown-container {
				display: inline-block;
				position: static;
				.dropdown .dropdown-contents > div {
					display: inline;
				}
				&.dropdown-visible .dropdown {
					left: 0;
				}
			}
		}
		&.profile-permissions {
			font-size: rem(12px);
			text-align: center;
		}
	}
}

/* View Profile
========================================================================== */

#viewprofile {
	.user-contact {
		.contact-icons {
			margin: 0 -2.5px 15px -2.5px;
			a {
				@include sizing(28px, 28px);
				line-height: 28px;
				color: $color-01;
				&:hover {
					color: $color-06;
				}
				.contact-icon:before {
					font-size: rem(20px);
				}
			}
		}
	}
	.user-stats dl.details {
		dd {
			br {
				display: none;
			}
			strong a {
				display: inline-block;
				margin: 0 10px 0 0;
			}
		}
	}
}

/* Search Profile - User name
========================================================================== */

.section-search .postprofile dt a[class*='username'] {
	display: inline;
}

/* HP / MP Stat Bars
========================================================================== */

.stat-bar {
	position: relative;
	height: 20px;
	border: 2px solid;
	box-shadow: inset 0px 0px 6px 3px rgba($color-02, 0.40);
	border-radius: 3px;
	.stat-bar-inner {
		height: 100%;
	}
	.stat-bar-label {
		position: absolute;
		bottom: -50%;
		left: 0;
		right: 0;
		line-height: 1;
		text-align: center;
		text-shadow: 1px 1px 0 rgba($color-02, 0.40), 2px 2px 0 rgba($color-02, 0.40);
		@include spectral-common;
	}
	& + .stat-bar {
		margin: 15px 0 0 0;
	}
	&.hp-bar {
		border-color: mix($color-02, $color-18, 33.33%);
		background: mix($color-02, $color-18, 50%);
		.stat-bar-inner {
			background: $color-18;
		}
	}
	&.mp-bar {
		border-color: mix($color-02, $color-17, 33.33%);
		background: mix($color-02, $color-17, 50%);
		.stat-bar-inner {
			background: $color-17;
		}
	}
}

#viewprofile .stat-bar {
	max-width: 200px;
}

/* Online Badge - Typically shows near profile
========================================================================== */

.online {
	position: relative;
	&:before, &:after {
		display: block;
		@include position($type: absolute, $z: 10);
	}
	&:before {
		content: '\f004\0000A0\0000A0 Online';
		@include sizing(80px, 0);
		font-family: 'FontAwesome', $font-01;
		font-size: rem($global-font-size);
		border-right: 8px inset transparent;
		border-bottom: 12px solid $color-10;
		border-top: 12px solid $color-10;
		line-height: 0;
		padding: 0 10px;
		text-align: center;
	}
	&:after {
		content: '';
		@include sizing(0, 0);
		border-left: 12px inset transparent;
		border-top: 8px solid mix(black, $color-10, 35%);
	}
}

.online .postprofile dt.no-avatar {
	margin-top: 30px;
}

.section-viewtopic .post.online {
	&:before, &:after {
		left: -12px;
	}
	&:before {
		top: 20px;
	}
	&:after {
		top: 44px;
	}
}

.pm.post.online {
	&:before, &:after {
		left: -12px;
	}
	&:before {
		top: 15px;
	}
	&:after {
		top: 39px;
	}
}

#viewprofile .panel.online {
	&:before, &:after {
		left: -11px;
	}
	&:before {
		top: 15px;
	}
	&:after {
		top: 39px;
	}
}
