/* Responsive *CP navigation
----------------------------------------*/
@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	.nojs .minitabs a span {
		max-width: 40px;
		overflow: hidden;
		text-overflow: ellipsis;
		letter-spacing: -.5px;
	}
}

/* Responsive
========================================================================== */

@media (max-width: 500px) {
	dd label {
		white-space: normal;
	}

	.captcha-panel dd.captcha {
		margin-left: 0;
	}

	.captcha-panel dd.captcha-image img {
		width: 100%;
	}

	p.responsive-center {
		float: none;
		text-align: center;
		margin-bottom: 5px;
	}

	.attach-controls {
		margin-top: 5px;
		width: 100%;
	}
}

@media (max-width: 700px) {
	// .responsive-hide { display: none !important; }
	// .responsive-show { display: block !important; }
	// .responsive-show-inline { display: inline !important; }
	// .responsive-show-inline-block { display: inline-block !important; }

	/* Common block wrappers
	----------------------------------------*/
	.post, .panel {
		border-radius: 0;
		margin-left: -5px;
		margin-right: -5px;
	}

	.cp-main .forumdb, .cp-main .post, .cp-main .panel {
		border-radius: 7px;
	}

	/* Search
	----------------------------------------*/
	.responsive-search { display: block !important; }

	/* Forums and topics lists
	----------------------------------------*/

	li.row .responsive-show strong {
		font-weight: bold;
		color: inherit;
	}

	/* Forms
	----------------------------------------*/

	.bbcode-status {
		display: none;
	}

	.colour-palette, .colour-palette tbody, .colour-palette tr {
		display: block;
	}

	.colour-palette td {
		display: inline-block;
		margin-right: 2px;
	}

	.horizontal-palette td:nth-child(2n), .vertical-palette tr:nth-child(2n) {
		display: none;
	}

	/* Misc stuff
	----------------------------------------*/
	h2 {
		margin-top: .5em;
	}

	p {
		margin-bottom: .5em;
		overflow: hidden;
	}
	.attach-comment dfn {
		width: 100%;
	}
}
