/* 1200 Breakpoint
========================================================================== */

@include respond(em(1200)) {
	// layout.scss
	.flex-row .flex-column {
		@include flex(grow);
		width: 33.33%;
	}

	// viewlisting.scss
	.topiclist > li dl dd {
		&.topics, &.posts, &.views {
			flex: 0 0 80px;
		}
		&.lastpost, &.time, &.info {
			flex: 0 0 180px;
		}
		&.moderation {
			flex: 0 0 300px;
		}
		&.redirect {
			flex: 0 0 340px;
		}
	}
	.styled-listing .topiclist > li.row dl[class*='forum'].has-forum-image {
		padding-left: 130px;
		min-height: 110px;
		dt .forum-image {
			@include sizing(110px, 110px);
		}
	}

	// cp.scss
	.cp-menu {
		flex: 0 0 150px;
	}
	.section-ucp-front-page .cp-main .topiclist {
		&:before {
			padding-right: 200px;
		}
		&:after {
			width: 190px;
		}
	}
	.section-ucp-manage-groups .cp-main .topiclist > li dl dd.info {
		flex: 0 0 250px;
	}

	// header.scss
	#featured-content .flex-row .flex-column {
		width: 25%;
		&.featured-title {
			min-width: 1px;
			@include flex(full);
			text-align: center;
		}
	}
}

/* 1000 Breakpoint
========================================================================== */

@include respond(em(1000)) {
	// base.scss
	pre, code {
		font-size: rem(12px);
	}

	// layout.scss
	.flex-row .flex-column {
		width: 50%;
	}
	.action-bar {
		.pagination > ul {
			display: block;
			margin-top: 2.5px;
			padding-left: 0;
		}
		&.bar-top .search-box {
			flex: 0 0 218px;
		}
	}
	dl.details {
		dt {
			width: 150px;
		}
		dd {
			margin-left: 150px;
		}
	}

	// viewlisting.scss
	.topiclist > li {
		dl {
			&[class*='forum'] dd.posts, &:not([class*='forum']) dd.views {
				&:before {
					content: '/';
					position: relative;
					left: -10px;
				}
			}
			dd {
				&.lastpost, &.redirect {
					flex: 0 0 200px;
				}
			}
		}
		&.header dl dd {
			&.topics, &.posts, &.views {
				display: none;
			}
		}
		&.row dl {
			&:before {
				content: '';
				@include flex(full);
				order: 1;
			}
			dt {
				order: -1;
			}
			dd {
				&.topics, &.posts, &.views {
					order: 2;
					@include flex;
					dfn {
						position: static;
					}
				}
			}
		}
	}
	.styled-listing .topiclist > li {
		dl dd {
			&.lastpost, &.redirect {
				text-align: right;
			}
		}
		&.row dl dd {
			&.topics, &.posts, &.views {
				margin-top: 5px;
			}
		}
	}

	// viewtopic.scss
	.postbody .attachbox > dd {
		width: 33.3333%;
	}
	.post .postprofile {
		flex: 0 0 176px;
	}

	// posting.scss
	#attach-panel #file-list-container table.table1 td.attach-name {
		.file-name, .attach-controls {
			width: auto;
		}
		.file-name {
			vertical-align: bottom;
		}
		.attach-controls {
			display: block;
			right: 0;
			text-align: left;
			margin-top: $ffs;
		}
	}

	// other-sections.scss
	#viewprofile .panel:first-child .inner .left-box:not(.profile-details) {
		flex: 0 0 176px;
	}
	#search_memberlist fieldset.fields1 dl {
		dt {
			width: auto;
			float: none;
			margin-bottom: $ffs;
		}
		dd {
			margin-left: 0;
		}
	}

	// cp.scss
	.cp-wrapper {
		display: block;
	}
	.cp-menu {
		margin-right: 0;
		min-height: 0;
		.navigation, .cp-mini .mini {
			margin: 0 -10px;
		}
		.navigation ul li, .cp-mini .mini dt, .cp-mini .mini dd {
			@include inline-block(baseline);
			padding: 0 10px;
		}
		.navigation ul {
			display: inline;
		}
		.cp-mini .mini {
			dt {
				width: 100%;
			}
			.pm-legend {
				padding: 0 10px 0 31px;
				.imageset {
					left: 10px;
				}
			}
		}
	}
	.cp-main .gallery label {
		width: 20%;
	}
	.section-ucp-front-page .cp-main .topiclist {
		&:before {
			padding-right: 220px;
		}
		&:after {
			width: 210px;
		}
	}
	.section-mcp-user-details, .section-mcp-warnings {
		.cp-main h2 + .panel h3 + div {
			.column1 > div {
				max-width: 171px;
			}
		}
	}

	// header.scss
	#page-welcome .user-profile {
		order: -2;
	}
	#notification_list {
		left: 1.5px;
		right: auto;
	}
}

/* 850 Breakpoint
========================================================================== */

@include respond(em(850)) {
	// form-fields.scss
	fieldset:not(.polls) dl:not(.pmlist) {
		dt {
			width: $ffi-01 - 100;
		}
		dd {
			margin-left: $ffi-01 - 100;
		}
	}

	// layout.scss
	.display-actions .display-actions-wrapper .left-box label[for='export_option'] {
		@include reset-font-size('select');
	}

	// viewlisting.scss
	.topiclist > li {
		&.header dl {
			dt {
				max-height: 32px;
				white-space: nowrap;
				overflow: hidden;
			}
			dd.lastpost {
				font-size: 0;
			}
		}
		&.row {
			// creating a fake header for topics
			// there is no class differentiation between headers on forums and topics
			&:first-child dl:not([class*='forum']) dd.lastpost {
				position: relative;
				&:before {
					display: block;
					width: 200px;
					padding: 0 10px;
					content: 'Last Post';
					position: absolute;
					top: -51px;
					left: 0;
				}
			}
			dl[class*='forum'] dd.lastpost {
				order: 2;
				@include flex;
				margin: 5px 0 0 0;
				dfn {
					position: static;
				}
				br:first-of-type {
					display: none;
				}
			}
		}
	}
	.styled-listing .topiclist > li.row {
		&:first-child dl:not([class*='forum']) dd.lastpost:before {
			left: auto;
			right: 0;
		}
		dl[class*='forum'] dd.lastpost {
			margin-left: auto;
		}
	}

	// cp.scss
	.cp-main {
		[id*='avatar_option_avatar_driver'] > p {
			margin-left: $ffi-01 - 100;
		}
		#avatar_option_avatar_driver_local fieldset label[for='category'] {
			margin-left: $ffi-01 - 100;
		}
		.gallery label {
			width: 25%;
		}
	}
	.mcp-main {
		.forum-selection, .action-bar.actions-jump, .tabs-container .minitabs {
			margin-bottom: 20px;
		}
		.forum-selection, .tabs-container .minitabs {
			position: static;
		}
		.forum-selection + h2, .action-bar.actions-jump + h2, .tabs-container h2 {
			padding: 0;
		}
		.forum-selection, .action-bar.actions-jump {
			height: auto;
		}
		.action-bar.actions-jump {
			position: relative;
			.jumpbox {
				text-align: left;
				&.dropdown-visible .dropdown {
					left: 0;
					right: auto;
				}
			}
		}
	}

	// header.scss
	#page-header .navbar {
		.site-logo-text {
			display: block;
		}
		&.sticky {
			.site-logo-text {
				padding-right: 20px;
				margin: 0 0 10px 0;
			}
			& > ul > li .dropdown {
				top: 32px;
			}
		}
	}
}

/* 768 Breakpoint
========================================================================== */

@include respond(em(768)) {
	// form-fields.scss
	fieldset:not(.polls) {
		&, &.fields1 {
			dl:not(.pmlist) {
				dt {
					width: auto;
				}
				dd {
					margin-left: 0;
				}
			}
		}
		dl dt.empty-space {
			display: none;
		}
		dl:not(.pmlist) dt {
			float: none;
			margin-bottom: $ffs;
		}
	}

	// layout.scss
	.flex-row .flex-column, .column1, .column2 {
		width: auto;
	}
	.flex-row {
		display: block;
	}
	.column1, .column2 {
		float: none;
		padding: 0;
	}
	.action-bar .pagination, .display-actions .display-actions-wrapper .left-box,
	.display-actions .display-actions-wrapper .select-actions {
		@include flex(full);
	}
	.action-bar .pagination, .display-actions .display-actions-wrapper .mark-actions {
		text-align: left;
	}
	.action-bar {
		.pagination {
			@include clearfix('&');
			& > ul {
				float: right;
				margin-top: 0;
				padding-left: 10px;
			}
		}
		&.bar-top .search-box {
			@include flex(base);
		}
	}
	.display-actions .display-actions-wrapper {
		justify-content: flex-start;
		.left-box, .select-actions {
			select, label {
				width: 100%;
			}
		}
		.left-box {
			margin-right: 5px;
		}
		.mark-actions {
			font-size: rem(14px);
			a {
				display: inline-block;
				&:first-child {
					margin-right: $ffs-half;
				}
				&:last-child {
					margin-left: $ffs-half;
				}
			}
		}
	}

	// viewlisting.scss
	.topiclist {
		& > li {
			dl, &.row dl dd.mark {
				display: block;
			}
			&.header dl dt {
				max-height: none;
				white-space: normal;
				overflow: visible;
			}
			&.row dl {
				&:before {
					display: none;
				}
				&[class*='read'], &[class*='link'], &[class*='moved'] {
					padding-left: 0;
					dt {
						min-height: ($list-icon-size + 2 + 5);
						&:before {
							position: static;
							margin: 0 10px 5px 0;
							float: left;
							clear: right;
						}
					}
				}
				dd.mark:before {
					content: 'Mark: \0000A0';
					font-weight: bold;
				}
			}
		}
	}
	.simple-listing .topiclist {
		& > li {
			dl dd {
				display: none;
			}
			&.row dl {
				dt .responsive-show, dd.mark {
					margin-top: 5px;
				}
			}
			&.row dl dt {
				.responsive-hide {
					display: none !important;
				}
				.responsive-show {
					display: block !important;

				}
			}
		}
	}
	.styled-listing .topiclist {
		& > li {
			&.header dl dd, &.row dl dd.lastpost br,
			&.row:first-child dl:not([class*='forum']) dd.lastpost:before {
				display: none;
			}
			&.row dl {
				dd.redirect, &:not([class*='forum']) dd.lastpost {
					margin-top: 5px;
				}
				dd {
					&.lastpost, &.redirect {
						text-align: left;
					}
					&.topics, &.posts, &.views {
						@include inline-block(baseline);
					}
				}
				&[class*='forum'].has-forum-image {
					padding-left: 0;
					min-height: 0;
					dt {
						padding-top: 80px;
						.forum-image, .forumtitle {
							top: -20px;
							left: -10px;
							right: -10px;
						}
						.forum-image {
							@include sizing(auto, 80px);
							border-radius: 0;
							border: 0;
							img {
								width: 100%;
								margin-top: -25%;
							}
						}
						.forumtitle {
							height: 40px;
							line-height: 40px;
							position: absolute;
							margin-top: 40px;
							padding: 0 20px;
							background: rgba($color-02, 0.5);
							color: $color-01;
							@include spectral-common;
							font-size: rem(20px);
							font-weight: normal;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							& + br {
								display: none;
							}
						}
					}
					&[class*='read'], &[class*='link'], &[class*='moved'] {
						dt {
							&:before {
								position: absolute;
							}
							.forumtitle {
								padding-left: 80px;
							}
						}
					}
				}
				&:not([class*='forum']) dd.lastpost dfn {
					position: static;
				}
			}
		}
	}
	table.table1 {
		&, thead, tbody, tr, th, td {
			display: block;
		}
		thead {
			display: none;
		}
		tbody tr {
			padding: 20px;
		}
		td {
			padding: 0;
			margin-top: 5px;
			&:first-child {
				padding-left: 0;
				margin-top: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			&.posts, &.mark, &.active, &.joined, &.reportby, &.info {
				width: auto;
			}
			&[style*='width'] {
				width: auto !important;
			}
			&[align='center'] {
				text-align: left;
			}
			&.empty, strong + br {
				display: none;
			}
			dfn {
				position: static;
				display: inline-block !important;
				font-weight: bold;
				&:after {
					content: ': \0000A0';
				}
			}
		}
		.rank-img {
			float: none;
			text-align: left;
			padding-right: 5px;
		}
		&:not(.show-header) {
			tbody tr {
				padding: 20px 0;
			}
		}
		&.show-header {
			thead {
				&, th:first-child {
					display: block;
				}
				th {
					&, &:first-child .rank-img {
						display: none;
					}
				}
			}
		}
	}

	// viewtopic.scss
	.post {
		 .inner {
			 display: block;
		 }
		 .postprofile {
			 margin: 0 0 20px 0;
			 padding: 0 0 20px 0;
		 }
	}
	.postbody {
		& > div > h3, & > h3 {
			padding-right: 80px;
		}
		.post-buttons {
			max-width: 20%;
		}
	}
	.section-viewtopic {
		.post {
			.inner {
				position: relative;
			}
			.postbody > div > h3 {
				padding-right: 0;
			}
		}
		.postbody {
			position: static;
			.post-buttons {
				top: 20px;
				right: 20px;
			}
		}
	}
	.postprofile {
		border-right: 0;
		border-bottom: 1px dashed $color-04;
		@include clearfix('&');
		dt, dd.profile-rank {
			text-align: left;
		}
		dt {
			margin-bottom: 0;
			a[class*='username'] {
				padding-right: 50px;
			}
			&.has-avatar {
				.avatar-container {
					float: left;
					width: 130px;
					margin-right: 20px;
				}
				& ~ dd {
					margin-left: 150px;
				}
			}
		}
		dd.profile-rank {
			margin: 0 0 3px 0;
			font-size: rem(16px);
		}
	}

	// posting.scss
	#postform #smiley-box {
		float: none;
		width: auto;
		padding: 0;
		margin-bottom: 20px;
		.bbcode-status {
			br {
				display: none;
			}
			em {
				&:after {
					content: '\002022';
					display: inline-block;
					padding: 0 5px 0 10px;
				}
				&:last-child:after {
					display: none;
				}
			}
		}
	}
	#attach-panel #file-list-container table.table1 {
		border-top: 1px dashed $color-04;
		td.attach-status .file-status:before {
			font-size: rem($global-font-size);
		}
	}

	// other-sections.scss
	#viewprofile .panel:first-child .inner .left-box {
		&:not(.profile-details) {
			border-right: 0;
			padding-right: 0;
			flex: 0 0 130px;
		}
		&.profile-details dd select[name='g'] {
			max-width: 120px;
			& + .button2 {
				padding: 10px;
			}
		}
	}
	.popup-wrap {
		padding: 20px;
		.page-body > a[onclick*='window.close'] {
			top: 20px;
			right: 20px;
		}
	}
	.section-viewonline {
		.viewonline-title + p, .forumbg + p,
		.action-bar.bar-top, .action-bar.bar-bottom {
			float: none;
			width: auto;
			padding: 0;
		}
	}

	// cp.scss
	.cp-main {
		table.table1 {
			border-top: 1px dashed $color-04;
		}
		[id*='avatar_option_avatar_driver'] > p {
			margin-left: 0;
		}
		#avatar_option_avatar_driver_local fieldset {
			label[for='category'] {
				font-size: rem(14px);
				margin-left: 0;
				&:before {
					display: none;
				}
				select {
					margin-top: $ffs;
				}
			}
			input[type='submit'][name='avatar_local_go'] {
				top: 26px;
			}
		}
		.gallery label {
			width: 33.3333%;
		}
	}
	.section-ucp-edit-avatar, .section-ucp-manage-groups, .section-mcp-user-details {
		.cp-main {
			.avatar, img[src*='no_avatar.gif'] {
				margin-top: 10px;
			}
		}
	}
	.section-ucp-front-page .cp-main .topiclist {
		&:before {
			padding-right: 20px;
		}
		&:after {
			display: none;
		}
	}
	.section-ucp-manage-notifications .cp-main .notification_list .topiclist > li.row dl dt .list-inner .image-wrap {
		width: 50px;
		max-height: 75px;
		border-width: 2px;
	}
	.section-ucp-edit-notification-options .cp-main table.table1 tbody tr.big-column {
		border: 0;
		padding: 10px 20px;
		background: $color-04;
		margin-top: -1px;
		td {
			padding: 0;
		}
		& ~ tr {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.section-ucp-edit-profile .cp-main fieldset dl dd {
		label[for*='bday'] select {
			width: 100%;
		}
		label[for='bday_day'], label[for='bday_month'] {
			@include flex(base);
		}
		label[for='bday_year'] {
			@include flex(full);
		}
	}
	.section-ucp-compose-message .cp-main #pmheader-postingbox .column1 {
		overflow: visible;
	}
	.section-ucp-view-messages .cp-main #viewfolder > .display-options {
		text-align: left;
		position: relative;
		.left-box, .right-box {
			width: 50%;
			.icon {
				top: 4px;
				bottom: auto;
			}
		}
		.right-box {
			text-align: right;
		}
		label:before, .button2 {
			position: absolute;
		}
		label {
			clear: both;
			display: block;
			padding: 0 (60px + $ffs) 0 (100px + $ffs);
			@include reset-font-size('&:before, select');
			&:before {
				content: 'Move to folder:';
				left: 0;
				bottom: 10px;
			}
			select {
				width: 100%;
			}
		}
		.button2 {
			right: 0;
			bottom: 0;
			width: 60px;
		}
		&:not(.clearfix) {
			line-height: 1.5;
			.left-box, .right-box {
				margin: 0 0 20px 0;
			}
		}
	}
	.section-ucp-rules-folders-settings .cp-main fieldset dl dt input[value='Previous'] {
		float: left;
		position: relative;
		top: $ffs;
		margin-right: -($ffs + 1);
	}
	.section-ucp-edit-memberships .cp-main fieldset {
		.left-box {
			width: 40%;
		}
		.right-box {
			width: 60%;
		}
	}
	.mcp-main #mcp_queue {
		& ~ .panel table.table1 {
			th, td {
				&:first-child {
					width: auto;
				}
			}
		}
		.topiclist > li.header dl:after {
			display: none;
		}
	}
	.section-mcp-user-details, .section-mcp-moderator-logs {
		.cp-main .action-bar.bar-top .inputbox[type='search'] {
			flex: 1 1 0%;
		}
	}
	.section-mcp-user-details .cp-main #mcp .display-actions {
		padding-right: 0;
		& + .display-actions {
			position: static;
			width: auto;
			margin-top: -10px;
		}
	}
	.section-mcp-user-details, .section-mcp-warnings {
		.cp-main h2 + .panel h3 + div {
			.column1 > div {
				max-width: 131px;
			}
		}
	}
	.section-mcp-warnings .cp-main table.table1 td a[href*='user_notes'] {
		position: relative;
		left: -10px;
		z-index: 2;
		background: $color-05;
	}

	// header.scss
	.mobile-open {
		position: relative;
		overflow: hidden;
	}
	.mobile-menu-button {
		@include inline-block(middle);
	}
	#mobile-menu {
		display: block;
	}
	#page-header {
		.headerbar .header-content {
			.site-description, .header-divider, .site-quotes {
				min-width: 1px;
				@include flex(full);
			}
			.site-description, .site-quotes, .site-quotes .quote-author {
				text-align: center;
			}
			.site-description, .site-quotes {
				max-width: 90%;
			}
			.site-description {
				h1 {
					font-size: rem(60px);
					margin-bottom: 10px;
				}
				h3 {
					font-size: rem(24px);
				}
			}
			.header-divider {
				height: 1px;
				margin: 20px 0;
				&:before {
					width: 50%;
					margin: 0 auto;
				}
			}
		}
		.navbar {
			.site-logo-text {
				display: inline-block;
			}
			&.sticky .site-logo-text {
				margin-bottom: 0;
			}
		}
	}
	#page-welcome {
		.user-buttons {
			position: relative;
			& > li {
				&.dropdown-container {
					position: static;
				}
				&.toggle {
					display: block;
				}
				& > a {
					padding: 5px 10px;
				}
			}
		}
		.user-profile {
			.user-avatar {
				width: 125px;
			}
			h5 {
				font-size: rem(35px);
			}
		}
		.user-information > p:first-child {
			text-align: center;
		}
		.site-callouts {
			.introduction, .site-links {
				display: none;
			}
			.site-links.toggle-show {
				display: block;
			}
			.flex-row {
				display: flex;
				.flex-column {
					width: 50%;
				}
			}
		}
	}
	#notification_list {
		width: auto !important;
		min-width: 0;
		top: 35px;
		right: 1.5px;
	}
	#featured-content {
		display: none;
		&.toggle-show {
			display: block;
		}
		.flex-row {
			display: flex;
			.flex-column {
				width: 50%;
				.image-wrap {
					padding-bottom: 30%;
				}
			}
		}
	}
}

/* 600 Breakpoint
========================================================================== */

@include respond(em(600)) {
	// base.scss
	blockquote {
		max-width: none;
		padding-left: 20px;
	}

	// form-fields.scss
	.button, .button1, .button2 {
		padding: 10px;
	}
	.button-icon-only, .mcp-main .postbody .post-buttons .button {
		padding: 5px;
	}
	fieldset:not(.polls) dl:not(.pmlist) dd.has-multiple-fields > [class*='button'] {
		max-width: 100px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	input[type='number'].inputbox {
		width: 100%;
	}
	label input[type='number'].inputbox {
		width: auto;
	}

	// layout.scss
	#nav-breadcrumbs ul li.home a {
		.icon {
			margin-right: 0;
		}
		span {
			display: none;
		}
	}
	.action-bar, .display-actions .display-actions-wrapper {
		display: block;
		& > {
			.inputbox, select {
				width: calc(100% - 10px);
			}
		}
		.pagination > ul {
			float: none;
			margin: 5px 0 0 0;
			padding-left: 0;
		}
	}
	.action-bar {
		position: relative;
		.dropdown-container {
			position: static;
			.dropdown {
				min-width: 1px;
			}
			&.dropdown-visible {
				.dropdown {
					left: 5px;
					right: 5px;
					top: auto;
					margin-top: 10px !important;
				}
				&.dropdown-up {
					.dropdown {
						bottom: auto;
						-webkit-font-smoothing: subpixel-antialiased;
						transform: translateY(-100%);
						margin-top: -30px !important;
					}
					.button ~ .dropdown {
						margin-top: -50px !important;
					}
					.button-icon-only ~ .dropdown {
						margin-top: -35px !important;
					}
				}
			}
		}
		.pagination > ul {
			position: static;
			& > li.page-jump .dropdown {
				max-width: none;
			}
		}
	}
	dl.details {
		dt {
			float: none;
			width: auto;
			font-weight: bold;
			&.empty-space {
				display: none;
			}
		}
		dd {
			margin-left: 20px;
		}
	}

	// viewtopics.scss
	.postbody {
		.content, .signature {
			blockquote cite {
				padding-right: 0;
				.responsive-hide {
					position: static;
					margin: 3px 0 0 0;
				}
			}
		}
		.attachbox > dd {
			width: 50%;
		}
		.post-notice {
			& > span {
				float: left;
			}
			& > strong {
				display: block;
				clear: right;
				& ~ .button1, & ~ .button2 {
					margin-top: 5px;
				}
			}
		}
	}
	fieldset.polls {
		border-top: 1px dashed $color-04;
		padding-top: 10px;
		position: relative;
		dl {
			margin-bottom: 10px;
			&:after {
				border-bottom: 1px dashed $color-04;
				display: block;
				margin: 0 10px;
				padding: 9px 0 0 0;
			}
			&:last-child:after {
				height: 0;
				border-bottom: 0;
				padding-top: 0;
				margin: 0;
			}
			dt {
				float: none;
				width: auto;
				margin-bottom: 3px;
				padding-right: 80px;
				&.empty-space {
					display: none;
				}
			}
			.resultbar {
				width: 70%;
			}
			.poll_option_percent {
				width: 30%;
				text-align: right;
			}
			&.poll_vote, &.poll_view_results {
				.resultbar {
					float: none;
					width: auto;
					text-align: right;
				}
			}
		}
	}
	fieldset.polls dl .poll_option_select, #preview fieldset.polls dl dd {
		left: auto;
		right: 0;
		&:before {
			content: 'Vote: \0000A0';
		}
		& + .resultbar {
			padding-left: 10px;
		}
	}
	.topic_poll .panel .content .vote-submitted {
		margin-left: 0;
		padding: 0;
	}
	.postprofile {
		dt.has-avatar {
			.avatar-container {
				width: 80px;
			}
			& ~ dd {
				margin-left: 100px;
			}
		}
		dd {
			display: none;
			&.profile-rank, &.profile-posts, &.profile-joined, &.profile-contact {
				display: block;
			}
		}
	}
	.post.online .postprofile dt.has-avatar .avatar-container {
		margin-top: 40px;
	}

	// posting.scss
	#color_palette_placeholder table {
		max-width: none;
		td {
			width: 5.88% !important;
			&:nth-child(3n) {
				display: none;
			}
		}
	}

	// other-sections.scss
	#search_memberlist .dropdown-container .dropdown.live-search[style*='block'] {
		min-width: 1px;
		left: -1px;
		right: -1px;
	}
	#viewprofile .panel:first-child .inner {
		display: block;
		.left-box {
			&:not(.profile-details) {
				border-right: 0;
				margin: 0;
				padding: 0;
				.profile-avatar {
					@include sizing(80px, 80px);
					padding-bottom: 0;
					margin: 0 auto 10px auto;
				}
			}
			&.profile-details {
				dt:first-child + dd {
					& > span {
						display: block;
						text-align: center;
						border-bottom: 1px dashed #15212c;
						margin: 0 0 20px 0;
					    padding: 0 0 20px 0;
					}
				}
				dd select[name='g'] {
					max-width: none;
				}
			}
		}
	}
	#register .captcha-panel .captcha .g-recaptcha {
		max-width: 220px;
		max-height: 50px;
		transform-origin: 0 0;
		transform: scale(0.66);
		& > div {
			@include sizing(auto !important, auto !important);
		}
	}
	.section-search form[data-focus='keywords'] fieldset dl dd #sk {
		@include flex(full);
		max-width: none;
	}

	// cp.scss
	.cp-main .gallery label {
		width: 50%;
	}
	.section-ucp-edit-memberships .cp-main fieldset {
		.left-box, .right-box {
			float: none;
			width: auto;
		}
		.right-box {
			margin-top: 10px;
		}
	}
	.mcp-main .action-bar.actions-jump .jumpbox.dropdown-visible .dropdown {
		right: 0;
	}
	.section-mcp-view-topic .cp-main #display-panel dl dd.has-multiple-fields.has-space select#st + label {
		@include flex(full);
		select {
			margin-top: $ffs;
			width: 100%;
		}
		& + label {
			@include flex(base);
		}
	}
	.section-mcp-user-details, .section-mcp-moderator-logs {
		.cp-main .action-bar.bar-top .inputbox[type='search'] {
			margin-top: $ffs;
			& + .button2 {
				top: -4px;
			}
		}
	}
	.section-mcp-user-details, .section-mcp-warnings {
		.cp-main h2 + .panel h3 + div {
			display: block;
			.column1 {
				& > div {
					margin-right: 0;
					padding: 0 0 20px 0;
					border-right: 0;
					border-bottom: 1px dashed $color-04;
					max-width: none;
				}
				.avatar {
					max-height: 200px;
				}
			}
		}
	}

	// header.scss
	#featured-content .flex-row .flex-column .image-wrap {
		padding-bottom: 0;
		height: 75px;
	}

	// footer.scss
	#page-footer .footer-inner {
		padding-bottom: 70px;
	}
	.scroll-to-top, .scroll-to-bottom {
		margin: auto;
	}
	.scroll-to-top {
		bottom: 20px;
		left: 50px;
		right: 0;
	}
	.scroll-to-bottom {
		left: 0;
		right: 50px;
	}
}

/* 450 Breakpoint
========================================================================== */

@include respond(em(450)) {
	// form-fields.scss
	.button, .button1, .button2 {
		display: block;
	}
	input.button, input.button1, input.button2 {
		width: 100%;
	}
	.button-icon-only, .mcp-main .postbody .post-buttons .button {
		display: inline-block;
		width: auto;
		padding: 5px;
	}
	fieldset.submit-buttons {
		@include reset-font-size('& > *');
		& > strong {
			display: block;
		}
	}
	fieldset:not(.polls) dl:not(.pmlist) dd {
		&.has-multiple-fields {
			display: block;
			& > {
				.inputbox, select, input.button, input.button1, input.button2 {
					width: calc(100% - 5px);
				}
			}
			& > [class*='button'] {
				max-width: none;
			}
		}
		&#tz_select_date {
			display: block !important;
		}
	}

	// layout.scss
	.forabg, .forumbg, .post, .panel {
		border-width: 10px;
	}
	.action-bar, .display-actions .display-actions-wrapper {
		& > {
			input.button, input.button1, input.button2 {
				width: calc(100% - 10px);
			}
		}
	}
	.action-bar .topic-tools + .search-box {
		float: right;
		width: 100%;
		margin-top: -40px;
		padding-left: 90px;
	}
	.display-actions .display-actions-wrapper {
		[class*='button'] + [class*='button'] {
			margin-left: 5px;
			margin-top: $ffs;
		}
		.left-box, .select-actions {
			display: block;
			.button1, .button2 {
				margin-left: 0;
				margin-top: $ffs;
			}
		}
	}

	// viewlisting.scss
	$responsive-icon-size: $list-icon-size - 8px;
	.topiclist > li.row dl {
		dt .row-item-link {
			@include sizing($responsive-icon-size + 2, $responsive-icon-size + 2);
		}
		&[class*='read'], &[class*='link'], &[class*='moved'] {
			dt {
				min-height: ($responsive-icon-size + 2 + 5);
				&:before {
					@include sizing($responsive-icon-size, $responsive-icon-size);
					line-height: $responsive-icon-size;
					font-size: rem(16px);
				}
			}
		}
	}
	.styled-listing .topiclist > li.row dl[class*='forum'].has-forum-image {
		dt .row-item-link, &[class*='read'] dt:before, &[class*='link'] dt:before,
		&[class*='moved'] dt:before, &[class*='mine'] dt:after {
			top: 5px;
		}
		&[class*='read'], &[class*='link'], &[class*='moved'] {
			dt .forumtitle {
				padding-left: 62px;
			}
		}
	}

	// viewtopic.scss
	.postbod .attachbox {
		display: block;
		& > dd {
			width: auto;
			padding: 0;
		}
	}
	.postbody {
		& > div > h3, & > h3 {
			padding-right: 50px;
		}
	}
	fieldset.polls dl {
		&.poll_view_results .resultbar {
			text-align: left;
		}
		dt {
			padding-right: 0;
		}
	}
	fieldset.polls dl .poll_option_select, #preview fieldset.polls dl dd {
		position: static;
	}
	.review {
		padding-right: 0;
		padding-bottom: 20px;
		.right-box {
			top: auto;
			right: auto;
			left: 0;
			bottom: 0;
		}
	}

	// posting.scss
	#color_palette_placeholder table td {
		width: 7.69% !important;
		&:nth-child(3n) {
			display: inline-block;
		}
		&:nth-child(2n) {
			display: none;
		}
	}
	#attach-panel #file-list-container table.table1 td.attach-name .attach-controls {
		@include reset-font-size('input');
		input + input {
			margin-top: $ffs;
		}
	}

	// other-sections.scss
	#viewprofile .panel:first-child .inner .left-box.profile-details dd select[name='g'] {
		width: 100%;
		& + .button2 {
			margin-top: $ffs;
		}
	}
	.section-search form[data-focus='keywords'] fieldset dl dd {
		#st, select[name='ch'] {
			max-width: none;
		}
		select[name='ch'] {
			margin-bottom: $ffs;
		}
	}

	// cp.scss
	.cp-main {
		.panel, .post.pm, .topicreview {
			padding: 20px 10px 0 10px;
		}
		.topicreview.scrollable .scrollable-wrapper {
			padding-right: 10px;
		}
		#avatar_option_avatar_driver_local fieldset {
			label[for='category'] {
				margin-right: 0;
				select {
					margin-bottom: 0;
				}
			}
			input[type='submit'][name='avatar_local_go']  {
				position: static;
				width: 100%;
				margin: $ffs 0 20px 0;
			}
		}
		.gallery {
			display: block;
			label {
				width: auto;
			}
		}
	}
	.section-ucp-manage-notifications .cp-main .notification_list .topiclist > li.row dl dt .list-inner {
		.image-wrap, img {
			display: none;
		}
	}
	.section-ucp-manage-groups .cp-main fieldset dd span[style*='background-color'] {
		width: calc(100% - 5px);
		top: 0;
	}
	.section-ucp-compose-message .cp-main #pmheader-postingbox .recipients ul li .button2 {
		display: inline-block;
	}
	.section-ucp-view-messages .cp-main #viewfolder > .display-options {
		label {
			font-size: rem(14px);
			padding: 0;
			&:before {
				display: none;
			}
			select {
				margin: $ffs 0;
			}
		}
		.button2 {
			position: static;
			width: 100%;
		}
	}
	.section-ucp-rules-folders-settings .cp-main {
		.def-rules li {
			position: relative;
			padding: 0 0 30px 0;
			.right-box {
				top: auto;
				right: auto;
				left: 0;
				bottom: 3px;
			}
		}
		fieldset dl dt input[value='Previous'] {
			float: none;
			top: 0;
			margin-right: 0;
		}
	}
	.section-ucp-edit-memberships .cp-main fieldset .right-box {
		display: block;
		select {
			margin: $ffs 0;
		}
	}
	.mcp-main {
		.action-bar.actions-jump .jumpbox {
			display: block;
		}
		.forum-selection label {
			display: block;
			select {
				width: 100%;
				max-width: none;
				margin: $ffs 0;
			}
		}
	}
	.section-mcp-moderation-queue, .section-mcp-post-details {
		.cp-main .postbody .post-notice {
			&.unapproved, &.deleted {
				[class*='button'] + [class*='button'] {
					margin-top: -15px;
				}
			}
		}
	}

	// header.scss
	#page-welcome .site-callouts, #featured-content {
		.flex-row {
			display: block;
			.flex-column {
				width: auto;
			}
		}
	}
	#notification_list {
		.header {
			padding-right: 50px;
			.header_settings {
				font-size: 0;
				a:before {
					@include icon-font($fs: false);
					font-size: rem($global-font-size);
				}
				& > a:before {
					content: unicode($icon-cogs);
				}
				& > #mark_all_notifications a:before {
					content: unicode($icon-check-circle);
					margin-left: 10px;
				}
			}
		}
		ul li {
			.notification-block {
				.image-wrap, img {
					display: none;
				}
				.notification_text {
					.notification-title {
						padding-right: 20px;
					}
					.notification-time {
						text-align: left;
					}
				}
			}
			.icon-mark .icon {
				font-size: rem($global-font-size);
			}
		}
	}
}

/* 397 Breakpoint
========================================================================== */

@include respond(em(397)) {
	// viewtopics.scss
	fieldset.polls dl {
		.resultbar, .poll_option_percent {
			float: none;
			width: auto;
		}
		.resultbar {
			margin-bottom: 3px;
		}
		.poll_option_percent {
			text-align: left;
			&:before {
				content: 'Count: \0000A0';
			}
		}
	}
	.postprofile {
		dt, dd, dd.profile-rank {
			text-align: center;
		}
		dt a[class*='username'] {
			padding-right: 0;
		}
		dt.has-avatar {
			.avatar-container {
				float: none;
				margin-right: 0;
			}
			& ~ dd {
				margin-left: 0;
			}
		}
		dd {
			&.profile-posts, &.profile-joined {
				display: none;
			}
		}
	}
	.post.online .postprofile dt.has-avatar .avatar-container {
		margin-top: 0;
	}

	// header.scss
	#notification_list {
		top: 70px;
	}
}
