/* 1200 Breakpoint
========================================================================== */

@include respond(em(1200)) {
	// layout.scss
	.flex-row .flex-column {
		@include flex(grow);
		width: 33.33%;
	}

	// viewlisting.scss
	.topiclist.forums > li.row dl.has-forum-image {
		padding-left: 130px;
		min-height: 110px;
		dt .forum-image {
			@include sizing(110px, 110px);
		}
	}
	.has-listing .topiclist li dl dd {
		&.topics, &.posts, &.views {
			flex: 0 0 80px;
		}
		&.lastpost {
			flex: 0 0 180px;
		}
		&.redirect {
			flex: 0 0 340px;
		}
	}

	// header.scss
	#featured-content .flex-row .flex-column {
		width: 25%;
		&.featured-title {
			min-width: 1px;
			flex: 1 1 100%;
			text-align: center;
		}
	}
}

/* 1000 Breakpoint
========================================================================== */

@include respond(em(1000)) {
	// base.scss
	pre, code {
		font-size: rem(12px);
	}

	// layout.scss
	.flex-row .flex-column {
		width: 50%;
	}
	.action-bar {
		&.bar-top .search-box {
			flex: 0 0 218px;
		}
		.pagination {
			text-align: right;
			ul {
				display: block;
				margin: 2.5px -5px 0 -5px;
			}
		}
	}

	// viewlisting.scss
	.has-listing .topiclist {
		& > li {
			dl dd {
				&.lastpost, &.redirect {
					flex: 0 0 200px;
					text-align: right;
				}
			}
			&.header dl dd {
				&.topics, &.posts, &.views {
					display: none;
				}
			}
			&.row dl {
				dt {
					order: -1;
				}
				dd {
					&.lastpost {
						order: 0;
					}
					&.topics, &.posts, &.views {
						order: 2;
						@include flex;
						margin: 10px 0 0 0;
						dfn {
							position: static;
						}
					}
				}
				&:before {
					content: '';
					flex: 1 1 100%;
					order: 1;
				}
			}
		}
		&.forums > li.row dl dd.topics, &.topics > li.row dl dd.posts {
			&:after {
				content: '/';
				position: relative;
				right: -12.5px;
			}
		}
		&.topics > li.row dl dt {
			.responsive-hide, .pagination {
				display: block;
				width: auto;
			}
			.pagination {
				text-align: left;
				margin: 10px 0 0 0;
			}
		}
	}

	// viewtopic.scss
	.post .postprofile {
		flex: 0 0 176px;
	}

	// header.scss
	#page-welcome .user-profile {
		order: -2;
	}
}

/* 850 Breakpoint
========================================================================== */

@include respond(em(850)) {
	// viewlisting.scss
	.has-listing {
		.forabg .topiclist > li.header dl dd.lastpost {
			display: none;
		}
		.topiclist.forums > li.row dl dd.lastpost {
			order: 2;
			@include flex;
			margin: 10px 0 0 auto;
			dfn {
				position: static;
			}
			br:first-of-type {
				display: none;
			}
		}
	}
}

/* 768 Breakpoint
========================================================================== */

@include respond(em(768)) {
	// layout.scss
	.flex-row {
		display: block;
		.flex-column {
			width: auto;
		}
	}
	.action-bar {
		display: block;
		&.bar-top {
			.search-box {
				float: right;
				width: 218px;
				margin-right: 0;
			}
			.pagination {
				clear: both;
			}
		}
		.pagination {
			@include clearfix('&');
			text-align: left;
			ul {
				float: right;
				margin: 0 -5px;
			}
		}
	}

	// viewlisting.scss
	.topiclist {
		& > li.row dl {
			&[class*='read'], &[class*='link'], &[class*='moved'] {
				padding-left: 0;
				dt {
					min-height: 43px;
				}
				dt:before {
					position: static;
					margin: 0 10px 1px 0;
					float: left;
					clear: right;
				}
			}
		}
		&.forums li.row dl.has-forum-image {
			padding-left: 0;
			min-height: 0;
			dt {
				padding-top: 80px;
				.forum-image, .forumtitle {
					top: -20px;
					left: -10px;
					right: -10px;
				}
				.forum-image {
					@include sizing(auto, 80px);
					border-radius: 0;
					border: 0;
					img {
						width: 100%;
					    margin-top: -25%;
					}
				}
				.forumtitle {
					display: block;
					height: 40px;
					line-height: 40px;
					position: absolute;
					margin: 40px 0 0 0;
					padding: 0 20px;
					background: rgba($color-02, 0.5);
					color: $color-01;
					@include spectral-common;
					font-size: rem(20px);
					font-weight: normal;
					overflow: hidden;
					& + br {
						display: none;
					}
				}
			}
			&[class*='read'], &[class*='link'], &[class*='moved'] {
				dt {
					&:before {
						position: absolute;
					}
					.forumtitle {
						padding-left: 80px;
					}
				}
			}
		}
	}
	.has-listing .topiclist {
		 & > li {
			dl {
				display: block;
				dd {
					&.lastpost, &.redirect {
						text-align: left;
					}
				}
			}
			&.header dl dd.lastpost {
				display: none;
			}
			&.row dl {
				&:before {
					display: none;
				}
				dd {
					&.topics, &.posts, &.views {
						@include inline-block(baseline);
					}
					&.redirect {
						margin: 10px 0 0 0;
					}
					&.lastpost br {
						display: none;
					}
				}
			}
		}
		&.topics > li.row dl dd.lastpost {
			margin: 10px 0 0 0;
			dfn {
				position: static;
			}
		}
	}

	// viewtopic.scss
	.post {
		 .inner {
			 display: block;
			 position: relative;
		 }
		 .postprofile {
			 margin: 0 0 20px 0;
			 padding: 0 0 20px 0;
		 }
	}
	.postbody {
		position: static;
		.post-buttons {
			top: 20px;
			right: 20px;
			max-width: 20%;
		}
	}
	.postbody > div > h3, .postbody > h3,
	.section-viewtopic .post .postbody > div > h3 {
		padding-right: 0;
	}
	.postprofile {
		border-right: 0;
		border-bottom: 1px dashed $color-04;
		@include clearfix('&');
		dt, dd.profile-rank {
			text-align: left;
		}
		dt {
			margin: 0;
			&.has-avatar {
				.avatar-container {
					float: left;
					width: 130px;
					margin-right: 20px;
				}
				& ~ dd {
					margin-left: 150px;
				}
			}
		}
		dd {
			&.profile-rank {
				margin: 0 0 3px 0;
				font-size: rem(16px);
			}
		}
	}

	// header.scss
	.mobile-open {
		position: relative;
		overflow: hidden;
	}
	html.mobile-open {
	    height: 100%;
	}
	.mobile-menu-button {
		display: inline-block;
	}
	#mobile-menu {
		display: block;
	}
	#page-header {
		.navbar {
			display: none;
		}
		.headerbar .header-content {
			.site-description, .header-divider, .site-quotes {
				min-width: 1px;
				flex: 1 1 100%;
			}
			.site-description, .site-quotes, .site-quotes .quote-author {
				text-align: center;
			}
			.site-description, .site-quotes {
				max-width: 90%;
			}
			.site-description {
				h1 {
					font-size: rem(60px);
					margin-bottom: 10px;
				}
				h3 {
					font-size: rem(24px);
				}
			}
			.header-divider {
				height: 1px;
				margin: 20px 0;
				&:before {
					width: 50%;
					margin: 0 auto;
				}
			}
		}
	}
	#page-welcome {
		.user-buttons {
			position: relative;
			& > li {
				&.dropdown-container {
					position: static;
				}
				&.toggle {
					display: block;
				}
				& > a {
					padding: 5px 10px;
					.icon {
						font-size: rem(12px);
					}
				}
			}
		}
		.user-profile {
			.user-avatar {
				width: 125px;
			}
			h5 {
				font-size: rem(35px);
			}
		}
		.user-information > p:first-child {
			text-align: center;
		}
		.site-callouts {
			.introduction, .site-links {
				display: none;
			}
			.site-links.toggle-show {
				display: block;
			}
			.flex-row {
				display: flex;
				.flex-column {
					width: 50%;
				}
			}
		}
	}
	#notification_list {
		min-width: 0;
		top: 35px;
		left: 2.5px;
		right: 2.5px;
		width: auto !important;
	}
	#featured-content {
		display: none;
		&.toggle-show {
			display: block;
		}
		.flex-row {
			display: flex;
			.flex-column {
				width: 50%;
				.image-wrap {
					padding: 0 0 30% 0;
				}
			}
		}
	}
}

/* 600 Breakpoint
========================================================================== */

@include respond(em(600)) {
	// layout.scss
	.action-bar.bar-top .search-box {
		float: none;
		width: auto;
	}

	// header.scss
	#featured-content .flex-row .flex-column .image-wrap {
		padding: 0;
		height: 75px;
	}
}

/* 450 Breakpoint
========================================================================== */

@include respond(em(450)) {
	// header.scss
	#page-welcome .site-callouts, #featured-content {
		.flex-row {
			display: block;
			.flex-column {
				width: auto;
			}
		}
	}
	#notification_list {
		.header {
			padding-right: 20px;
			.header_settings {
				position: static;
				display: block;
			}
		}
		ul li {
			.notification-block {
				img {
					display: none;
				}
				.notification_text {
					margin: 0;
					.notification-title {
						padding-right: 20px;
					}
					.notification-time {
						text-align: left;
					}
				}
			}
			.icon-mark .icon {
				font-size: rem(14px);
			}
		}
	}
}

/* 421 Breakpoint
========================================================================== */

@include respond(em(421)) {
	// layout.scss
	.action-bar .pagination ul {
		float: none;
		margin-top: 10px;
	}

	// header.scss
	#notification_list {
		top: 70px;
	}
}
