/* Forums & Topics
========================================================================== */

.topiclist {
	list-style-type: none;
	margin: 0;
	& > li {		
		.row-item {
			@include flex-flow(row nowrap);
			justify-content: flex-end;			
			margin: 0 -10px;
			dt, dd {
				padding: 0 10px;
			}	
			dt {
				@include flex(base);
			}	
			dd {
				margin: 0;
				dfn {
					font-style: normal;
					position: absolute;
					top: -9999px;
					left: -9999px;
				}
				&.topics, &.posts, &.views {
					flex: 0 0 100px;	
				}
				&.lastpost {
					flex: 0 0 250px;
				}
			}							
		}
		&.header {
			margin: -20px -10px 20px -10px;
			.row-item {
				background: $color-04;
				padding: 10px;
				align-items: center;
				dt a {
					font-family: $font-02;
					font-variant: small-caps;
					font-size: rem(22px);
					color: $color-01;
					&:hover {
						color: $color-06;
					}					
				}
			}
		}				
		&.row {
			margin: 0 0 20px 0;
			padding: 0 0 20px 0;
			border-bottom: 1px solid $color-04;		
			.row-item {
				background-repeat: no-repeat;
				background-position: 10px 5px;
				dt {
					.list-inner {
						padding: 0 0 0 45px;
					}
					.forumtitle, .topictitle {
						font-weight: bold;
						@include inline-block(baseline);
						margin: 0 0 5px 0;
					}
				}					
			}
			&:last-child {
				padding: 0;
				border-bottom: 0;
			}				
		}
	}
}

/* Forums
========================================================================== */

.topiclist.forums > li.row .row-item dt {
	br + strong, .subforum {
		@include inline-block(baseline);
		margin: 5px 0 0 0;
	}
	.subforum .icon {
		position: relative;
		top: -1px;
		margin: 0 5px;
	}
}

/* Topics
========================================================================== */

.topiclist.topics > li.row .row-item dt {
	.responsive-hide, .pagination {
		@include inline-block(top);
		width: 49%;
	}
	.pagination {
		text-align: right;
		& > span:after {
			content: 'Pages: ';
			font-weight: bold;
			padding: 0 0 0 5px;
		}
		ul {
			margin: 0;
		}		
	}
}

/* Forums & Topic Icons
========================================================================== */

.global_read						{ background-image: url("./images/announce_read.gif"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.gif"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.gif"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.gif"); }
.global_unread						{ background-image: url("./images/announce_unread.gif"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.gif"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.gif"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.announce_read						{ background-image: url("./images/announce_read.gif"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.gif"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.gif"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.gif"); }
.announce_unread					{ background-image: url("./images/announce_unread.gif"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.gif"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.gif"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.forum_link							{ background-image: url("./images/forum_link.gif"); }
.forum_read							{ background-image: url("./images/forum_read.gif"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.gif"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.gif"); }
.forum_unread						{ background-image: url("./images/forum_unread.gif"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.gif"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.gif"); }

.sticky_read						{ background-image: url("./images/sticky_read.gif"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.gif"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.gif"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.gif"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.gif"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.gif"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.gif"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.gif"); }

.topic_moved						{ background-image: url("./images/topic_moved.gif"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.gif"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.gif"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.gif"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.gif"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.gif"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.gif"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.gif"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.gif"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.gif"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.gif"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.gif"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.gif"); }