/* Font kits
========================================================================== */

@font-face {
	font-family: 'Selima';
	src: url($fonts + 'selima.woff2') format('woff2'),
		 url($fonts + 'selima.woff') format('woff'),
		 url($fonts + 'selima.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url($fonts + 'firasans-light.woff2') format('woff2'),
		 url($fonts + 'firasans-light.woff') format('woff'),
		 url($fonts + 'firasans-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url($fonts + 'firasans-light-italic.woff2') format('woff2'),
		 url($fonts + 'firasans-light-italic.woff') format('woff'),
		 url($fonts + 'firasans-light-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url($fonts + 'firasans-medium.woff2') format('woff2'),
		 url($fonts + 'firasans-medium.woff') format('woff'),
		 url($fonts + 'firasans-medium.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url($fonts + 'firasans-medium-italic.woff2') format('woff2'),
		 url($fonts + 'firasans-medium-italic.woff') format('woff'),
		 url($fonts + 'firasans-medium-italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Spectral';
	src: url($fonts + 'spectral.woff2') format('woff2'),
		 url($fonts + 'spectral.woff') format('woff'),
		 url($fonts + 'spectral.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Spectral';
	src: url($fonts + 'spectral-italic.woff2') format('woff2'),
		 url($fonts + 'spectral-italic.woff') format('woff'),
		 url($fonts + 'spectral-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Khyeras Icons';
	src: url($fonts + 'khyeras-icons.woff2') format('woff2'),
		 url($fonts + 'khyeras-icons.woff') format('woff'),
		 url($fonts + 'khyeras-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* General text elements
========================================================================== */

html {
	font-size: $base-font-size + px;
}

body {
	font-family: $font-01;
	font-size: rem(14px);
	line-height: 1.5;
	font-weight: normal;
	color: $color-01;
}

a {
	color: $color-06;
	@include transition(color 0.3s ease-in-out);
	text-decoration: none;
	&:hover {
		color: $color-07;
	}
}

.username-coloured:hover {
	color: $color-07 !important;
}

p.right {
	text-align: right;
}

/* Headers
========================================================================== */

h1, h2, h3, h4, h5, h6 {
	font-family: $font-02;  
	font-weight: normal;  
	font-variant: small-caps;
	line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
	a {
		color: $color-01;
		&:hover {
			color: $color-07;
		}
	}
}

h1 {
	// Forum name
	font-size: rem(32px);
}

h2 {
	// Forum header titles
	font-size: rem(28px);
}

h3 {
	// Sub-headers (also used as post headers, but defined later)
	font-size: rem(24px);
}

h4 {
	// Forum and topic list titles
	font-size: rem(22px);
}

h5, h6 {
	font-size: rem(20px);
}

/* Icons
========================================================================== */

.icon  {
	@include font-awesome;
	font-size: rem(16px);
}

.icon.rpg-icon {
	font-family: 'Khyeras Icons'; 
}

.icon.icon-xl {
	font-size: rem(20px);
}

.icon.icon-lg {
	font-size: rem(16px);
}

.icon.icon-md {
	font-size: rem(10px);
}

.icon.icon-sm {
	font-size: rem(8px);
}

.icon-tiny {
	width: 12px;
	transform: scale(0.65, 0.75);
	vertical-align: text-bottom;
	font-size: rem(16px);
}

.icon + span:not(.sr-only), span:not(.sr-only) + .icon {
	margin: 0 0 0 5px;
}