// Paths
// ============================================== //

$assets: '../theme';
$fonts: $assets + '/fonts/';
$images: $assets + '/images/';
$phpbb-images: '../../../images/content/';

// Classes
// ============================================== //

$overall: section-overall;
$ucp: section-ucp;
$mcp: section-mcp;

// Fonts
// ============================================== //

$base-font-size: 16;
$global-font-size: 14px;
$serif-fb: garamond, times new roman, serif;
$sans-serif-fb: arial, sans-serif;
$font-01: 'Fira Sans', $sans-serif-fb;
$font-02: 'Spectral', $serif-fb;
$font-03: 'Selima', $sans-serif-fb;

// Other
//
// ffi = form field indent
// ffs = form field spacing
// ============================================== //

$alt-field-width: 50%;
$ffi-01: 300px;
$ffi-02: 200px;
$ffs: 5px;
$ffs-minus: (20 - $ffs);
$ffs-half: ($ffs / 2);
$list-icon-size: 42px;
$list-icon-lg-size: 62px;
$responsive-icon-size: $list-icon-size - 10px;
$responsive-icon-lg-size: $list-icon-lg-size - 10px;
$main-margin: 30px;
$mobile-menu-width: 300px;
