/* Paths
========================================================================== */

$assets: '../theme';
$fonts: $assets + '/fonts/';
$images: $assets + '/images/';

/* Colors
========================================================================== */

$color-01: #ffffff; // white
$color-02: #000000; // black
$color-03: #1e2f43; // very dark blue
$color-04: #15212c; // very dark blue
$color-05: #0d171b; // very dark blue
$color-06: #a4c27e; // green
$color-07: #7ea8c2; // blue
$color-08: #333333; // blackish
$color-09: #fcfcce; // pale yellow
$color-10: #324d3c; // green
$color-11: #333333; // 
$color-12: #333333; // 
$color-13: #333333; // 
$color-14: #333333; // 

/* Fonts
========================================================================== */

$base-font-size: 16;
$serif-fb: garamond, times new roman, serif;
$sans-serif-fb: arial, sans-serif;
$font-01: 'Alegreya Sans', $sans-serif-fb;
$font-02: 'Alegreya', $serif-fb;
$font-03: 'Selima', $sans-serif-fb;

/* Other
========================================================================== */

$mobile-menu-width: 300px;