/* View Topic - Topic & PM
========================================================================== */

.post {
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid $color-04;
	&.last {
		border-bottom: 0;
		padding: 0;
	}
	.inner {
		@include flex-flow(row wrap);
		align-items: flex-start;
	}
	.postprofile, .postbody, .back2top {
		min-width: 1px;
	}
	.postprofile {
		flex: 0 0 231px;
		margin: 0 20px 0 0;
		padding: 0 20px 0 0;
	}
	.postbody {
		@include flex(base);
	}
	.back2top {
		@include flex(full);
		text-align: right;
		margin: 20px 0 0 0;
	}
}

/* View Topic - Profile
========================================================================== */

.post .postprofile {
	border-right: 1px solid $color-04;
	dt .username-coloured, dd.profile-rank {
		font-family: $font-02;
	}
	dt {
		text-align: center;
		&, &.has-avatar .avatar-container {
			margin: 0 0 10px 0;
		}
		&.has-avatar {			
			.avatar-container {
				display: inline-block;
				overflow: hidden;
				border: 5px solid $color-04;
				border-radius: 100%;
				a.avatar {
					display: block;
					@include sizing(100%, 0);
					padding: 0 0 100% 0;
				}
			}
		}
		.username-coloured {
			display: block;
			font-size: rem(22px);
			font-variant: small-caps;
		}
	}
	dd {
		margin: 0 0 3px 0;
		&.profile-rank {
			text-align: center;
			margin: -10px 0 10px 0;			
			font-style: italic;
		}
		&.profile-contact .dropdown-container {
			display: inline-block;
			.dropdown {
				left: 0;
				right: auto;
				top: em(30px);
			}
		}		
	}
}

/* View Topic - Body
========================================================================== */

.post .postbody {
	position: relative;
	& > div > h3 {
		padding: 0 225px 0 0;
		margin: 0 0 5px 0;
	}
	.post-buttons {
		list-style: none;
		margin: 0;
		position: absolute;
		top: 0;
		right: 0;
		&, li {
			@include inline-block(middle);
		}
		li {
			.button {
				padding: 5px;
				line-height: 1;
			}
			&.responsive-menu {
				display: none;
			}
		}
	}
	.author {
		font-size: rem(13px);
	}
	.content {
		margin: 30px 0;
	}
}

/* View Topic - Body - BBCode & Attachments
========================================================================== */

.post .postbody .content {
	ol, ul {
		margin-top: 20px;
	}
	blockquote, .codebox {
		margin: 20px auto;
	}
	blockquote cite {
		position: relative;
		padding: 0 200px 10px 0;
		.responsive-hide {
			position: absolute;
			top: 2px;
			right: 0;						
			font-size: rem(13px);		
		}
	}
	.codebox {
		& > p, pre {
			margin: 0;
		}
		& > p {
			margin: 0;
			padding: 10px 20px;
			background: $color-04;
			color: $color-01;			
		}
	}	
}

/* View Topic - Body - Attachments
========================================================================== */

.post .postbody {
	.inline-attachment .file .attach-image, .attachbox .file dt, .attachbox .file dd {
		max-width: 200px;	
	}
	.inline-attachment, .attachbox {
		margin: 20px auto;
		.file .attach-image {
			cursor: pointer;
			margin: 0 0 5px 0;
			line-height: 0;				
			& + dd:first-of-type:before {
				content: 'Click to expand image';
				display: block;
				font-size: rem(13px);
				font-style: italic;
			}
		}		
	}
	.inline-attachment .file {
		margin: 0;
		.attach-image[style*="height: auto"] {
			max-width: 100%;
		}
	}
	.attachbox {
		border: 1px solid $color-04;
		padding: 20px 20px 10px 20px;
		& > dt {
			background: $color-04;
			color: $color-01;
			padding: 10px 20px;
			margin: -20px -20px 20px -20px;
		}
		& > dd {
			@include inline-block(top);
			.file {
				margin: 0 0 10px 0;
				dt, dd {
					padding: 0 10px 0 0;
				}
				.attach-image[style*="height: auto"] {
					&, & ~ dd {
						max-width: 100%;
						padding: 0;
					}
				}
			}
		}
	}
}

/* View Topic - Poll Vote
========================================================================== */

.topic_poll {
	.content {
		.author {
			br {
				display: none;
			}
			br + .poll_max_votes:before {
				content: '.\0000A0';
			}
			.poll_max_votes:after {
				content: '.';
			}
		}
		.polls {
			dl {
				&.voted {
					font-weight: bold;		
				}
				dt {
					flex: 0 0 30%;
				}
				.poll_option_select input[type='radio'] {
					margin-top: 4px;
				}
				.resultbar {
					@include flex;
					width: 50%;
					div[class*='pollbar'] {
						padding: 0 10px;
					}
					div[style='width:0%;'] {
						width: 20px !important;
						padding: 0;
						text-align: center;
					}
					.pollbar5 {
						background: mix(white, $color-10, 10%);
					}
					.pollbar4 {
						background: $color-10;
					}
					.pollbar3 {
						background: mix(black, $color-10, 10%);
					}
					.pollbar2 {
						background: mix(black, $color-10, 20%);
					}
					.pollbar1 {
						background: mix(black, $color-10, 30%);
					}																				
				}
			}
		}
		.vote-submitted {
			margin: 0 0 20px 30%;
			padding: 0 5px;
			font-style: italic;
		}
	}
}