/*! phpBB3 Print Style Sheet
    --------------------------------------------------------------
	Style name:			Khy'eras (version 1.0)
	Based on style:     prosilver
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ )
    --------------------------------------------------------------
*/

// Helpers
@import 'variables';
@import 'mixins';

// Vendor
@import 'normalize';

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-01;
	font-size: 10.5pt;
	line-height: 1.7;
	font-weight: normal;
	color: $color-02;
}

h1, h2, h3, h4, h5, h6, p, figure, pre, code, dl, hr, .content, .page-number {
	margin: 20px 0;
}

h1 {
	font-size: 20pt;
}

h2 {
	font-size: 16pt;
}

h3 {
	font-size: 14pt;
}

h4, h5, h5 {
	font-size: 12pt;
}

ul, ol {
	margin: 20px 0 20px 40px;
}

a {
	&, &:link, &:visited, &:active {
		text-decoration: underline;
		color: $color-22;
	}
}

hr {
	border: 0;
	background: $color-02;
	height: 1px;
}

.wrap {
	margin: 0 auto;
	padding: 20px;
	max-width: 90%;
}

img, .noprint, .navbar, .box1, .divider, .signature, .skip_link, .codebox p, .postprofile, .grip-show {
	display: none;
}

.content {
	overflow: hidden;
	img {
		display: inline;
	}
	/* CSS2 Print tip from: http://www.alistapart.com/articles/goingtoprint/ */
	a:link:after, a:visited:after {
		content: ' (' attr(href) ')';
		font-size: 90%;
	}
}

.copyright {
	font-size: 75%;
}

//
// .author {
// 	font-family: Verdana, Arial, Helvetica, sans-serif;
// 	font-size: 75%;
// 	margin-bottom: 0.6em;
// }
//
// .date {
// 	font-family: Verdana, Arial, Helvetica, sans-serif;
// 	float: right;
// 	position: relative;
// 	text-align: right;
// 	font-size: 75%;
// }
//
// /* Dont want to print url for names or titles in content area */
// .postbody .author a:link, .postbody .author a:visited,
// html>body .postbody .author a:link:after,
// html>body .postbody .author a:visited:after,
// .postquote .quote-by a:link, .postquote .quote-by a:visited,
// html>body .postquote .quote-by a:link:after,
// html>body .postquote .quote-by a:visited:after,
// html>body .postbody h1 a:link:after, html>body .postbody h2 a:link:after {
// 	text-decoration: none;
// 	content: "";
// }

//
// /* Quote */
// .postquote, blockquote {
// 	font-size: 85%;
// 	margin: 1em 18% 1em 4%;
// 	padding: 0.5em;
// 	position: relative;
// 	line-height: 1.5em;
// 	border: 1px #999999 solid;
// }
//
// .postquote img { display: none; }
// .postquote span { display: block; }
// .postquote span .postquote { font-size: 100%; }
// .quote-by, blockquote cite {
// 	color: black;
// 	display : block;
// 	font-weight: bold;
// }
//

// /* Misc page elements */
// div.spacer { clear: both; }
//
// code { display: block; }

//
// /* stylelint-disable declaration-property-unit-whitelist */
// .emoji {
// 	min-height: 18px;
// 	min-width: 18px;
// 	height: 1em;
// 	width: 1em;
// }
// /* stylelint-enable declaration-property-unit-whitelist */
