/*! Character Speech Colors
    --------------------------------------------------------------
	Style name: Khy'eras (version 1.0)
    --------------------------------------------------------------
*/

.bbcode-character-speech {
	&[data-name='Artemis Black'] {
		color: #9aa7b3;
	}
	&[data-name='Aurae'] {
		color: #ff8080;
	}
	&[data-name='Charlotte'] {
		color: #a65300;
	}
	&[data-name='Dáire'] {
		color: #00bf80;
	}
	&[data-name='Dash ODell'] {
		color: #008040;
	}
	&[data-name='Deborah'] {
		color: #ec489a;
	}
	&[data-name='Elára Vëa'] {
		color: #bf4000;
	}
	&[data-name='Galynhun-Khan Tinnudir'] {
		color: #778899;
	}
	&[data-name='Harroc Crownegrove'] {
		color: #40bf00;
	}
	&[data-name='Inessa Marcant'] {
		color: #daf7f3;
	}
	&[data-name='Inya'] {
		color: #bfbfbf;
	}
	&[data-name='Katarya Frost'] {
		color: #4080ff;
	}
	&[data-name='Ksenia'] {
		color: #c699f3;
	}
	&[data-name='Lanae Ofnowhere'] {
		color: #687e5a;
	}
	&[data-name='Leiven Loramrai'] {
		color: #4080ff;
	}
	&[data-name='Loxiel'] {
		color: #40ff80;
	}
	&[data-name='Mara Whitewood'] {
		color: #eedd82;
	}
	&[data-name='Marcy Faen'] {
		color: #bf40bf;
	}
	&[data-name='Raen Silver'] {
		color: #80bfbf;
	}
	&[data-name='Robert Jenn'] {
		color: #ffdead;
	}
	&[data-name='Sir Archibald'] {
		color: #8080ff;
	}
	&[data-name='Terrance Khadar'] {
		color: #ff00ff;
	}
	&[data-name='The Cook'] {
		color: #ff4040;
	}
	&[data-name='Tommy'] {
		color: #ffff80;
	}
	&[data-name='Vanessa LaNore'] {
		color: #8040ff;
	}
}
