{% macro card_loop(cards, completed_cards, script_name) %}
	{% if cards %}
		{% if completed_cards %}
			<section class="page-content-section">
				<div class="card-filter">
					<a class="card-filter-button">
						<i class="icon rpg-icon rpg-pokecog"></i>
						{% set toggle_label = 'cards' %}
						{% if script_name == 'gameplay-achievements' %}
							{% set toggle_label = 'completed achievements' %}
						{% elseif script_name == 'lore-races-half-breed' %}
							{% set toggle_label = 'incompatible races' %}
						{% endif %}
						<span>Show/hide {{ toggle_label }}</span>
					</a>
				</div>
			</section>
		{% endif %}
		{% for key, card in cards %}
			{% set section_id = _self.create_class(key) %}
			<section id="{{ section_id }}" class="page-content-section">
				<h3>{{ key }}</h3>
				<div class="card-grid">
					{% for detail in card %}
						{% set card_id = section_id  ~ '-' ~ _self.create_class(detail.title) %}
						{% set card_changed = false %}
						{% if (completed_cards && card_id in completed_cards) || ('fa-remove' in detail.icon) %}
							{% set card_changed = true %}
						{% endif %}
						<div id="{{ card_id }}" class="card-block{% if card_changed %} card-changed{% endif %}{% if detail.title == 'Not Applicable'%} card-full{% endif %}">
							<h5 class="card-title">{{ detail.title }}</h5>
							{% if card_changed && script_name == 'gameplay-achievements' %}
								<p class="card-completed-text"><i class="icon rpg-icon rpg-stars-stack" aria-hidden="true"></i>Achievement complete!</p>
							{% endif %}
							<div class="icon-wrapper">
								<i class="icon icon-round {{ detail.icon }}" aria-hidden="true"></i>
							</div>
							<p class="card-description">{{ detail.description }}</p>
							{% if detail.requirements || detail.reward %}
								<dl class="details details-small">
									{% if detail.requirements %}
										<dt>Requirements:</dt>
										<dd>{{ detail.requirements }}</dd>
									{% endif %}
									{% if detail.reward %}
										<dt>Rewards:</dt>
										<dd>{{ detail.reward }}</dd>
									{% endif %}
								</dl>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</section>
		{% endfor %}
	{% endif %}
{% endmacro %}

{% macro create_class(value) %}{% spaceless %}
	{{ value | replace({'"' : '', '\'' : '', '(' : '', ')' : '', ',' : '', '!' : '', ' ' : '-'}) | lower }}
{% endspaceless %}{% endmacro %}

{% macro display_avatar(avatar, theme_path) %}
	<div class="user-avatar">
		<div class="image-wrap">
			{% if avatar %}
				{{ avatar }}
			{% else %}
				<img src="{{ theme_path }}/images/no_avatar.gif" alt="Default Avatar" />
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro field_lists(name, value) %}
	{% if value %}
		<dt>{{ name }}{{ lang('COLON') }}</dt>
		<dd>{{ value }}</dd>
	{% endif %}
{% endmacro %}

{% macro message_count(count) %}
	{% if count > 0 %}
		{% if count < 100 %}
			<span class="badge">{{ count }}</span>
		{% else %}
			<span class="badge badge-plus">+</span>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro nav_main(url, label) %}
	<div class="menu-label">
		<a href="{{ url }}" title="{{ label }}" role="menuitem"><span>{{ label }}</span></a>
		<i class="icon icon-lg fa-chevron-down menu-trigger"></i>
	</div>
{% endmacro %}

{% macro nav_li(url, label, attr) %}
	<li>
		<a href="{{ url }}" title="{{ label }}" role="menuitem"{% if attr %} {{ attr }}{% endif %}><span>{{ label }}</span></a>
	</li>
{% endmacro %}

{% macro nav_loop(links, check, main_url) %}
	{% for key, link in links %}
		{% set is_sublinks = (link.parent is iterable) ? false : true %}

		{% if key == 'lore-races-half-breed' %}
			{% set is_sublinks = true %}
		{% elseif key == 'lore-short-history' %}
			{% set is_sublinks = false %}
		{% endif %}

		{% if check in key && is_sublinks %}
			{{ _self.nav_li(main_url ~ key, link.label) }}
		{% endif %}
	{% endfor %}
{% endmacro %}
