{% macro create_handle(value) %}{% spaceless %}
	{{ value | replace({'"' : '', '\'' : '', '(' : '', ')' : '', ',' : '', '!' : '', ' ' : '-'}) | lower }}
{% endspaceless %}{% endmacro %}

{% macro create_nav_main(url, label, children) %}
	<div class="menu-label">
		<a href="{{ url }}" title="{{ label }}" role="menuitem"><span>{{ label }}</span></a>
		{% if children %}
			<i class="icon icon-lg fa-angle-down menu-trigger"></i>
		{% endif %}
	</div>
{% endmacro %}

{% macro create_nav_li(url, label, class) %}
	<li{% if class %} class="{{ class }}"{% endif %}>
		<a href="{{ url }}" title="{{ label }}" role="menuitem"{% if label == 'Logout' %}  accesskey="x"{% endif %}><span>{{ label }}</span></a>
	</li>
{% endmacro %}

{% macro display_avatar(avatar, theme_path) %}
	<div class="user-avatar">
		<div class="image-wrap">
			{% if avatar %}
				{{ avatar }}
			{% else %}
				<img src="{{ theme_path }}/images/no_avatar.gif" alt="Default Avatar" />
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro display_counts(count) %}
	{% if count > 0 %}
		{% if count < 100 %}
			<span class="badge">{{ count }}</span>
		{% else %}
			<span class="badge badge-plus">+</span>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro display_currency(copper, silver, gold, platinum) %}
	{% set separator = ' / ' %}
	<div class="character-currency">
		<i class="icon icon-xl rpg-icon rpg-two-coins" aria-hidden="true"></i>
		{% if copper %}
			{% if platinum %}
				{{ platinum }}<span class="currency-p"></span>
				{{ separator }}
			{% endif %}
			{% if gold %}
				{{ gold }}<span class="currency-g">g</span>
				{{ separator }}
			{% endif %}
			{% if silver %}
				{{ silver }}<span class="currency-s">s</span>
				{{ separator }}
			{% endif %}
			{% if copper %}
				{{ copper }}<span class="currency-c">c</span>
			{% endif %}
		{% else %}
			0<span class="currency-c">c</span>
		{% endif %}
	</div>
{% endmacro %}

{% macro loop_cards(cards, completed_cards, script_name) %}
	{% if cards %}
		{% set code = 'zzz' %}
		{% if script_name == 'gameplay-achievements' %}
			{% set code = 'ach' %}
		{% elseif script_name == 'gameplay-leveling' %}
			{% set code = 'lvl' %}
		{% elseif script_name == 'lore-races-half-breed' %}
			{% set code = 'hlf' %}
		{% endif %}

		{% if completed_cards %}
			<section class="page-content-section">
				<div class="card-filter">
					<a class="card-filter-button">
						<i class="icon rpg-icon rpg-pokecog"></i>
						{% set toggle_label = 'cards' %}
						{% if code == 'ach' %}
							{% set toggle_label = 'completed achievements' %}
						{% elseif code == 'lvl' %}
							{% set toggle_label = 'completed levels' %}
						{% elseif code == 'hlf' %}
							{% set toggle_label = 'incompatible races' %}
						{% endif %}
						<span>Show/hide {{ toggle_label }}</span>
					</a>
				</div>
			</section>
		{% endif %}
		{% for key, card in cards %}
			{% set section_id = _self.create_handle(key) %}
			<section id="{{ section_id }}" class="page-content-section">
				{% if code != 'lvl' %}
					<h3>{{ key }}</h3>
				{% endif %}
				<div class="card-grid">
					{% for detail in card %}
						{% set card_id = section_id  ~ '-' ~ _self.create_handle(detail.title) %}
						{% set card_changed = false %}
						{% if (completed_cards && card_id in completed_cards) || ('card-trigger' in detail.icon) %}
							{% set card_changed = true %}
						{% endif %}
						<div id="{{ card_id }}" class="card-block{% if card_changed %} card-changed{% endif %}{% if detail.title == 'Not Applicable'%} card-full{% endif %}">
							<h5 class="card-title">{{ detail.title }}</h5>
							{% if card_changed && (code == 'ach' || code == 'lvl') %}
								<p class="card-completed-text"><i class="icon rpg-icon rpg-stars-stack" aria-hidden="true"></i>{{ code == 'ach' ? 'Achievement' : 'Level' }} complete!</p>
							{% endif %}
							<div class="icon-wrapper">
								<i class="icon icon-round {{ detail.icon }}" aria-hidden="true"></i>
							</div>
							<p class="card-description">{{ detail.description }}</p>
							{% if detail.requirements || detail.reward || detail.experience || detail.bonus %}
								<dl class="details details-small">
									{% if detail.requirements %}
										<dt>Requirements:</dt>
										<dd>{{ detail.requirements }}</dd>
									{% endif %}
									{% if detail.reward %}
										<dt>Rewards:</dt>
										<dd>{{ detail.reward }}</dd>
									{% endif %}
									{% if detail.experience %}
										<dt>Experience:</dt>
										<dd>{{ detail.experience }}</dd>
									{% endif %}
									{% if detail.bonus %}
										<dt>Bonus:</dt>
										<dd>{{ detail.bonus }}</dd>
									{% endif %}
								</dl>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</section>
		{% endfor %}
	{% endif %}
{% endmacro %}
