{% macro create_handle(value) %}{% spaceless %}
	{{ value | replace({'"' : '', '\'' : '', '(' : '', ')' : '', ',' : '', '!' : '', ' ' : '-'}) | lower }}
{% endspaceless %}{% endmacro %}

{% macro create_nav_main(url, label, children) %}
	<div class="menu-label">
		<a href="{{ url }}" title="{{ label }}" role="menuitem"><span>{{ label }}</span></a>
		{% if children %}
			<i class="icon icon-lg fa-angle-down menu-trigger"></i>
		{% endif %}
	</div>
{% endmacro %}

{% macro create_nav_li(url, label, class) %}
	<li{% if class %} class="{{ class }}"{% endif %}>
		<a href="{{ url }}" title="{{ label }}" role="menuitem"{% if label == 'Logout' %}  accesskey="x"{% endif %}><span>{{ label }}</span></a>
	</li>
{% endmacro %}

{% macro display_avatar(avatar, theme_path) %}
	<div class="user-avatar">
		<div class="image-wrap">
			{% if avatar %}
				{{ avatar }}
			{% else %}
				<img src="{{ theme_path }}/images/no_avatar.gif" alt="Default Avatar" />
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro display_counts(count) %}
	{% if count > 0 %}
		{% if count < 100 %}
			<span class="badge">{{ count }}</span>
		{% else %}
			<span class="badge badge-plus">+</span>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro display_currency(currency) %}
	{% set separator = ' / ' %}
	<div class="character-currency">
		<i class="icon icon-xl rpg-icon rpg-two-coins" aria-hidden="true"></i>
		{% for key, value in currency%}
			{% set coin_value = key | first | lower %}
			{{ value }}<span class="currency-{{ coin_value }}">{{ coin_value }}</span>
			{% if !loop.last %}{{ separator }}{% endif %}
		{% endfor %}
	</div>
{% endmacro %}

{% macro display_level(level, small) %}
	<div class="level{% if small == 'true' %} level-small{% endif %}">
		<div class="level-wrap">
			<div class="level-name khy-text">Level</div>
			{% set zero = level < 10 ? '0' : ''  %}
			<div class="level-value khy-text">{{ zero }}{{ level }}</div>
		</div>
	</div>
{% endmacro %}

{% macro display_stats(hp, mp, hp_loss, mp_loss, small) %}
	{% if hp || mp %}
		{% set remaining_hp = hp - hp_loss %}
		{% set remaining_mp = mp - mp_loss %}
		<div class="stats{% if small == 'true' %} stats-small{% endif %}">
			{% if hp %}
				<div class="stat-bar stat-bar-small hp-bar">
					<div class="stat-bar-inner" style="width: {{ ((remaining_hp / hp) * 100) | number_format(2) }}%"></div>
					<div class="stat-bar-label khy-text">
						{{ remaining_hp }} / {{ hp }} HP
					</div>
				</div>
			{% endif %}
			{% if mp %}
				<div class="stat-bar stat-bar-small mp-bar">
					<div class="stat-bar-inner" style="width: {{ ((remaining_mp / mp) * 100) | number_format(2) }}%"></div>
					<div class="stat-bar-label khy-text">
						{{ remaining_mp }} / {{ mp }} MP
					</div>
				</div>
			{% endif %}
		</div>
	{% endif %}
{% endmacro %}

{% macro create_pie_chart(title, type, data, total) %}
	{% if data %}
		{% set previous_value = 0 %}
		<div class="pie-chart pie-chart-{{ type }} flex-column">
			<div class="pie-chart-circle">
				<div class="pie-chart-circle-wrapper">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" preserveAspectRatio="xMinYMid">
						{% for key, value in data %}
							{% if loop.index0 != 0 %}
								{% set previous_value = previous_value + percentage %}
							{% endif %}
							{% set percentage = ((100 / total) * value) | round(1, 'ceil') %}
							<circle class="pie-chart-slice pie-chart-slice-{{ loop.index0 }}" r="16" cx="16" cy="16" stroke-dashoffset="-{{ previous_value }}" stroke-dasharray="{{ percentage }} 100" data-circle-name="{{ key }}" />
						{% endfor %}
					</svg>
				</div>
			</div>
			<h5 class="pie-chart-title">{{ title }}</h5>
			<div class="pie-chart-key">
				<ul>
					{% for key, value in data %}
						<li>
							<span class="pie-chart-key-color pie-chart-key-color-{{ loop.index0 }}"></span><strong>{{ key }}:</strong> {{ value }}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}
{% endmacro %}

{% macro loop_cards(cards, completed_cards, script_name) %}
	{% if cards %}
		{% set code = 'zzz' %}
		{% if script_name == 'gameplay-achievements' %}
			{% set code = 'ach' %}
		{% elseif script_name == 'gameplay-leveling' %}
			{% set code = 'lvl' %}
		{% elseif script_name == 'lore-races-half-breed' %}
			{% set code = 'hlf' %}
		{% endif %}

		{% if completed_cards %}
			<section class="page-content-section">
				<div class="card-filter">
					<a class="card-filter-button">
						<i class="icon rpg-icon rpg-pokecog"></i>
						{% set toggle_label = 'cards' %}
						{% if code == 'ach' %}
							{% set toggle_label = 'completed achievements' %}
						{% elseif code == 'lvl' %}
							{% set toggle_label = 'completed levels' %}
						{% elseif code == 'hlf' %}
							{% set toggle_label = 'incompatible races' %}
						{% endif %}
						<span>Show/hide {{ toggle_label }}</span>
					</a>
				</div>
			</section>
		{% endif %}
		{% for key, card in cards %}
			{% set section_id = _self.create_handle(key) %}
			<section id="{{ section_id }}" class="page-content-section"{% if code != 'lvl' %} data-quick-name="{{ key }}"{% endif %}>
				{% if code != 'lvl' %}
					<h3>{{ key }}</h3>
				{% endif %}
				<div class="card-grid">
					{% for detail in card %}
						{% set card_id = section_id  ~ '-' ~ _self.create_handle(detail.title) %}
						{% set card_changed = false %}
						{% if (completed_cards && card_id in completed_cards) || ('card-trigger' in detail.icon) %}
							{% set card_changed = true %}
						{% endif %}
						<div id="{{ card_id }}" class="card-block{% if card_changed %} card-changed{% endif %}{% if detail.title == 'Not Applicable'%} card-full{% endif %}">
							<h5 class="card-title">{{ detail.title }}</h5>
							{% if card_changed && (code == 'ach' || code == 'lvl') %}
								<p class="card-completed-text"><i class="icon rpg-icon rpg-stars-stack" aria-hidden="true"></i>{{ code == 'ach' ? 'Achievement' : 'Level' }} complete!</p>
							{% endif %}
							<div class="icon-wrapper">
								<i class="icon icon-round {{ detail.icon }}" aria-hidden="true"></i>
							</div>
							<p class="card-description">{{ detail.description }}</p>
							{% if detail.requirements || detail.reward || detail.experience || detail.bonus %}
								<dl class="details details-small">
									{% if detail.requirements %}
										<dt>Requirements:</dt>
										<dd>{{ detail.requirements }}</dd>
									{% endif %}
									{% if detail.reward %}
										<dt>Rewards:</dt>
										<dd>{{ detail.reward }}</dd>
									{% endif %}
									{% if detail.experience %}
										<dt>Experience:</dt>
										<dd>{{ detail.experience }}</dd>
									{% endif %}
									{% if detail.bonus %}
										<dt>Bonus:</dt>
										<dd>{{ detail.bonus }}</dd>
									{% endif %}
								</dl>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</section>
		{% endfor %}
	{% endif %}
{% endmacro %}
